body {
    background-color: #582985;
    background-image: url('/static/img/merepresenta/FE3.png');
}
h2 {
    font-family: ProximaNovaSoft-Bold;
    text-transform: uppercase;
    color: #097e74;
    font-size: 1.2em;
    text-align: center;
}
.conteudo {
    margin: 2em 0;
    font-family: ProximaNovaSoft-Bold;
}
h1 {
    color: #d8b212;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}
p {
    color: #fff;
    margin: 2em 0;
}
.btn-2 {
    border: 2px solid #d8b212;
    padding: 1em;
    margin: auto;
    display: block;
    width: 36ch;
    max-width: 100%;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 4em;
    font-size: 1.2em;
}
.btn.invisivel {
    display: none;
}
.conteudo a, .conteudo a:hover {
    color: white;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}
@media screen and (min-width: 768px) {
    h2 {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 1200px) {
    th {
        background-color: #097e74;
        border: 1em solid #582985;
        padding: 1em;
    }
    h2 {
        font-size: 2em;
    }
    label {
        display: block;
        font-size: .8em;
    }
}

.candidatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.candidato {
    background-color: #097e74;
    display: inline-block;
    width: 300px;
    margin: 1em;
    padding: 1.5em;
}
.can-pic {
    display: block;
    margin: 0 auto 1em auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.info-text {
    text-transform: uppercase;
    color: #fff;
    display: block;
    text-align: center;
}
.info-text.name {
    font-weight: bolder;
}
.candidate-number {
    font-size: 3em;
}
.info-text.party, .info-text.contagem {
    color: #d8b212;
}
.info-text.nota {
    padding-top: .2em;
    background-color: #d8b212;
    color: #532985;
    border-radius: .3em;
}
