#sadface {
    max-width: 270px;
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 3em;
}
body {
    background-color: gray;
    background-image: url('/assets/FE4.png');
}
div.cities {
	background-color: white;
	border-radius: .5em;
	padding: 2em;
}
div.cities>div {
	margin-top: 1em;
}
h2, p {
    color: #d8b212;
    line-height: 1.3em;
}
h2 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bolder;
}
.conteudo {
    width: 90%;
    margin: 0 auto;
}
.btn {
    margin: 3em auto 0 auto;
    display: table;
    text-transform: uppercase;
}
.mensagem>p {
    color: #582985;
    letter-spacing: .17em;
}
@media screen and (min-width: 400px) {
    main {
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 800px) {
    .conteudo {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;            
        min-width: 400px;
    }
    .left {
        position: absolute;
        top: 0;
        left: 0;
        right: 60%;
        bottom: 0;
    }
    .right {
        position: absolute;
        top: 0;
        left: 40%;
        right: 0;
        bottom: 0;
    }
    .right>div, #sadface {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: inline-table;
        margin: auto;
    }
    #sadface {
    }
}
