.main-menu-item {
    background-color: transparent;
    border: none;
}
.main-menu-item:hover {
    border-left: 1px dotted lightgray;
    box-shadow: inset 1 -1 0px lightgray;
}
.user-image {
    display: none;
}
.user {
    color: #fff;
    font-weight: bolder;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: bolder;
}
.navbar-light .navbar-nav .disabled.nav-link, .navbar-light .navbar-nav .disabled.nav-link:hover {
    color: lightgray;
    border: none;
    color: #582985;
}
.navbar-light .navbar-nav .nav-link.dropdown-toggle:hover {
    border-bottom: none;
}
.dropdown-menu {
    left: inherit;
    right: 0;
}
@media screen and (min-width: 768px){
    .user-image {
        display: initial; 
        border-radius: 1.5em;
        width: 3em;
        position: absolute;
        left: -4em;
        top: -.4em;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        border-bottom: 1px solid #fff;
    }
}