.erros {
    margin: 0;
}
body, option {
    background-color: #097e74;
    background-image: url('/assets/FC3.png');
}
.btn-1 {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    white-space: normal;
}
.container {
    margin-top: 2em;
}
.header, .div-user {
    display: inline-block;
    width: 100%;
}
.form-content {
    width: 100%;
    margin-bottom: 2em;
    color: #fff;
}
h1 {
    font-family: ProximaNovaSoft-Bold;
    color: #d8b212;
    margin: auto;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: .15em;
}
p {
    color: #fff;
    display: block;
    font-size: 1.1em;
    margin: 1em 0 3em 0;
}
#busca_cidade, #busca_cidade~input {
    display: none;
}
#busca_cidade:checked~input {
    display: block;
}
#busca_cidade + label {
    cursor: pointer;
    color: #d8b212;
}
#city_name {
    color: #fff;
    font-weight: bold;
}
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 2em;
    }
}
