{% load votainteligente_extras %}
{% load i18n %}
      
{% if temporary_proposals %}
      <h2>Tus propuestas</h2>
      <span>Potencia tus propuestas utilizando nuestro <a href="http://votainteligente.cl/pages/herramientas_de_activismo">Kit de Activismo</a></span>
      <table class="table">
        <tr>
            <td>{% trans 'Estado' %}</td>
            <td>{% trans 'Título propuesta' %}</td>
            <td>{% trans 'Comuna' %}</td>
            <td>{% trans 'Antecedentes' %}</td>
        </tr>
    {% for proposal in temporary_proposals %}
        <tr>
            <td>
                {% if proposal.status == 'in_our_side' %}
                    {% blocktrans %}<span class="label label-default"><i class="fa fa-clock-o"></i> En revisión</span>{% endblocktrans %}     
                {% endif %}
                {% if proposal.status == 'in_their_side' %}
                <div>
                    <a href="{% url 'backend_citizen:temporary_data_update' pk=proposal.id %}">
                        <span class="label label-primary"><i class="fa fa-pencil"></i>
                        {% blocktrans %}Modifíca tu propuesta{% endblocktrans %}
                        </span> 
                    </a>
                </div>
                {% endif %}
                {% if proposal.status == 'accepted' %}
                <div class="label label-success"><i class="fa fa-check"></i> {% trans 'Aceptada' %}</div>

                {% endif %}
                {% if proposal.status == 'rejected' %}
                <span class="label label-danger"><i class="fa fa-times"></i> {% trans 'Rechazada' %}</span>
                {% endif %}
            </td>
            <td><a href="{{ proposal.created_proposal.get_absolute_url }}">{{proposal.data.title}}
                {% include 'popular_proposal/_show_proposal_comments_to_user.html' with comments=proposal.comments.title %}</a>
            </td>
            <td><a href="{% url 'area' slug=proposal.area.id %}">{{proposal.area}}</a></td>
            <td>
                {% if proposal.status == 'accepted' %}
                {% if proposal.created_proposal %}
                    <span>
                        <a href="{% url 'popular_proposals:citizen_update' slug=proposal.created_proposal.slug %}"><i class="fa fa-pencil" aria-hidden="true"></i> Agregar{% blocktrans %}{% endblocktrans %}</a>
                    </span>
                {% endif %}
                {% endif %}
            </td>
        </tr>
    {% empty %}

    {% endfor %}
        </table>
    {% else %}
    {% trans 'Aún no tienes propuestas haz la primera' %}
    <a href="{% url 'popular_proposals:propose_wizard_full' %}" class="btn btn-success login"
          role="button"> {% blocktrans %}¡Sube tu propuesta!{% endblocktrans %}</a>
    {% endif %}
