{% extends "backend_base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block sidebar %}
<ul class="nav nav-pills nav-stacked">
	{% url 'backend_citizen:index' as backend_index %}
   <li role="presentation" class="{% ifequal request.path backend_index%} active{% endifequal %}">
	<a href="{{backend_index}}">{% trans 'Mis propuestas' %}</a></li>
	{% url 'backend_citizen:update_my_profile' as my_profile_url %}
   <li role="presentation" class="{% ifequal request.path my_profile_url %} active{% endifequal %}">
   	<a href="{{my_profile_url}}">
   	{% blocktrans %}Actualizar mi perfil{% endblocktrans %}</a></li>
</ul>

{% endblock sidebar %}

{% block main_content %}
{% endblock main_content %}

