{% extends "backend_base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block content %}

<div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
  <!-- Featured Elections  -->
  <h1>{% blocktrans %}¡Bienvenid@ {{user}}!{% endblocktrans %}</h1>
  <h2><a href="{% url 'backend_citizen:update_my_profile' %}">{% blocktrans %}Actualiza tu perfil{% endblocktrans %}</a></h2>
  <div class="contenedorDestacado fondo-blanco">
    <div class="row">
      <div class="col-md-12">
        <a href="{% url 'popular_proposals:home' %}" class="btn btn-primary" role="button">{% trans 'Sube tu Propuesta Ciudadana' %}</a>
      </div>
    </div>
  </div> 
  
      {% include 'backend_citizen/_proposals-table.html' %}
      {% include 'backend_citizen/_orgs-table.html' %}

{% endblock content %}


