{% extends "backend_base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap_tags %}

{% block content %}

<div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
  <!-- Featured Elections  -->
  <div class="contenedorDestacado fondo-blanco">
      <h1>{% blocktrans %}¡Bienvenid@ {{user}}!{% endblocktrans %}</h1>
      {% if user.enrollments.all %}<!--Si tengo alguna org-->
            {% trans 'Puedes agregar otra org o crear nueva propuesta ...' %}
      {% else %}<!--Si no tengo alguna org-->
            {% trans 'Aún no perteneces a ninguna organización, pero puedes ...' %}
      {% endif %}
        <a href="{% url 'backend_citizen:create_organization' %}" class="btn btn-success active btn-block" role="button">{% trans 'Registra tu organización' %}</a>
        <a href="{% url 'popular_proposals:home' %}" class="btn btn-primary btn-lg active btn-block" role="button">{% trans 'Crear una propuesta Ciudadana' %}</a>
  </div> 
  
      {% include 'backend_citizen/_proposals-table.html' %}
      {% include 'backend_citizen/_orgs-table.html' %}

{% endblock content %}


