{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load votainteligente_extras %}

{% url 'backend_citizen:my_proposals' as backend_index %}
 <li role="presentation" class="{% ifequal request.path backend_index%} active{% endifequal %}{% if not mobile %} hidden-xs{% endif %}">
<a class="small" href="{{backend_index}}">{% trans 'Mis propuestas' %}</a></li>
  {% url 'backend_citizen:my_supports' as my_supports_url %}
 <li role="presentation" class="{% ifequal request.path my_supports_url %} active{% endifequal %}{% if not mobile %} hidden-xs{% endif %}">
  <a class="small" href="{{my_supports_url}}">
  {% blocktrans %}Mis apoyos{% endblocktrans %}</a></li>
  <!-- Mi agenda de actividades-->
  {% url 'backend_citizen:all_my_activities' as all_my_activities %}
 <li role="presentation" class="{% ifequal request.path all_my_activities %} active{% endifequal %}{% if not mobile %} hidden-xs{% endif %}">
  <a class="small" href="{{all_my_activities}}">
  {% blocktrans %}Mis eventos{% endblocktrans %}</a></li>
  <!-- Mi agenda de actividades-->


{% if user.profile.is_organization %}
  {% url 'organization_profiles:update' as org_profile %}
 <li role="presentation" class="{% ifequal request.path org_profile %} active{% endifequal %}{% if not mobile %} hidden-xs{% endif %}">
  <a class="small" href="{{org_profile}}" data-toggle="dropdown" data-target="submenu">
  {% blocktrans %}Actualizar mi organización{% endblocktrans %} <span class="caret"></span></a>
  <ul class="dropdown-menu" id="submenu">
    <li><a href="{% url 'organization_profiles:update' %}">{% blocktrans %}
      Pagina Organizacion
    {% endblocktrans %}</a></li>
    {% for extra_page in user.organization_template.extra_pages.all %}
    <li><a href="{% url 'organization_profiles:update_extrapage' extra_page.id %}">{{extra_page.title}}</a></li>
    {% endfor %}
  </ul>
 </li>
{% else %}
{% url 'backend_citizen:update_my_profile' as my_profile_url %}
 <li role="presentation" class="{% ifequal request.path my_profile_url %} active{% endifequal %}{% if not mobile %} hidden-xs{% endif %}">
  <a class="small" href="{{my_profile_url}}">
  {% blocktrans %}Mi perfil{% endblocktrans %}</a></li>
{% endif %}
{% comment %}
{% url 'backend_citizen:stats' as stats_url %}
 <li role="presentation" class="{% ifequal request.path stats_url %} active{% endifequal %}{% if not mobile %} hidden-xs{% endif %}">
  <a class="small" href="{{stats_url}}">
  {% blocktrans %}Estadísticas{% endblocktrans %}</a></li>
{% endcomment %}
{% if config.SEARCH_SUBSCRIPTION_ENABLED %}
  {% url 'proposal_subscriptions:list' as search_proposal_subscriptions_url %}
   <li role="presentation" class="{% ifequal request.path search_proposal_subscriptions_url%} active{% endifequal %}{% if not mobile %} hidden-xs{% endif %}">
    <a class="small" href="{{search_proposal_subscriptions_url}}">
    {% blocktrans %}Búsquedas{% endblocktrans %}</a></li>
{% endif %}
