{% extends "backend_citizen/base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block main_content %}
<script type="text/javascript">
var unlike_proposal = function(url){
    $.post(url, function(data){
        $('.proposal_' + data.deleted_item).remove();
    })
};
$(function(){
    $('.unlike_proposal').click(function(event){
        event.preventDefault();
        var target = $(event.target);
        var url = target.parent().attr('href');
        unlike_proposal(url);
    })
});
</script>
	<h2 class="page-header">Tus apoyos</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
              <th>{% trans 'Comuna' %}</th>
              <th>{% trans 'Título propuesta' %}</th>
              <th>{% trans 'Autor' %}</th>
              <th>{% trans 'Acciones' %}</th>
          </tr>
        </thead>
        <tbody>
    {% for support in supports %}
        <tr class="proposal_{{support.id}}">
            <td><a href="{% url 'area' slug=support.proposal.area.id %}">{{support.proposal.area}}</a></td>
            <td><a href="{{ support.proposal.get_absolute_url }}">{{support.proposal.title}}</a></td>
            <td>{{support.proposal.proposer}}</td>
            <td><a title="{% trans 'Quitar apoyo' %}" class="unlike_proposal" href="{% url 'popular_proposals:unlike_proposal' pk=support.id %}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a></td>
        </tr>
    {% empty %}
    {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock main_content %}
