{% extends "backend_citizen/base.html" %} {% load staticfiles %} {% load votainteligente_extras %} {% load i18n %} {% load thumbnail %} {% load bootstrap3 %} {% block main_content %}

<h2 class="page-header">Estadísticas</h2>

<p>Tus propuestas están presentes en un total de {{total_stats.areas_present.count}} comunas, de las cuales has logrado compromisos en {{total_stats.areas_with_commitments.count}}, de ellos {{total_stats.pronouncing__alcalde.count}} son de alcalde y {{total_stats.pronouncing__concejal.count}}
  son de concejal</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Comuna</th>
      <th>Nombre</th>
      <th>Posición</th>
      <th>Mail de contacto</th>
    </tr>
  </thead>
  <tbody>
    {% for proposal in user.proposals.all %}
      {% for commitment in proposal.commitments.all %}
      <tr>
        <td><a href="{{ proposal.area.get_absolute_url }}">{{ proposal.area }}</a></td>
        <td><a href="{{ commitment.candidate.get_absolute_url }}">{{ commitment.candidate }}</a>
          <td>{{ commitment.candidate.election.position }}</td>
          <td>{% for contact in commitment.candidate.contacts.all %}{{contact.mail}}{% if not forloop.last %},{% endif %}{% endfor %}</td>
      </tr>
      {% endfor%}
    {% endfor %}
  </tbody>
</table>

<h3>Las estadísticas sobre tus propuestas</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans 'Comuna' %}</th>
      <th>{% trans 'Título propuesta' %}</th>
      <th>{% trans 'Concejales que se han pronunciado' %}</th>
      <th>{% trans 'Alcaldes que se han pronunciado' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for id, stat in stats.items %}
    <tr class="proposal_{{support.id}}">
      <td><a href="{{stat.proposal.area.get_absolute_url}}">{{stat.proposal.area}}</a></td>
      <td><a href="{{ stat.proposal.get_absolute_url }}">{{stat.proposal.title}}</a></td>
      <td><a data-toggle="modal" data-target="#citizens_stats_concejal_{{id}}">{{stat.pronouncing__concejal.count}}</a>
        <!-- Modal -->
        <div id="citizens_stats_concejal_{{id}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Concejales que se han pronunciado sobre {{stat.proposal.title}} en {{stat.proposal.area}}</h4>
              </div>
              <div class="modal-body">
                <ul>
                  {% for commitment in stat.pronouncing__concejal.all %}
                  <li><a href="{{commitment.candidate.get_absolute_url}}">{{commitment.candidate}}</a>
                    {% if commitment.commited %}
                    <span class="label label-success">Te apoyará desde el concejo</span>{% else %}<span class="label label-danger">Dijo que NO</span>
                    {% endif %}(<a href="{{commitment.get_absolute_url}}">ver el compromiso</a>)</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td><a data-toggle="modal" data-target="#citizens_stats_alcalde_{{id}}">{{stat.pronouncing__alcalde.count}}</a>
        <!-- Modal -->
        <div id="citizens_stats_alcalde_{{id}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alcaldes que se han pronunciado sobre {{stat.proposal.title}} en {{stat.proposal.area}}</h4>
              </div>
              <div class="modal-body">
                <ul>
                  {% for commitment in stat.pronouncing__alcalde.all %}
                  <li><a href="{{commitment.candidate.get_absolute_url}}">{{commitment.candidate}}</a>
                    {% if commitment.commited %}
                      <span class="label label-success">Se comprometió</span>
                    {% else %}
                      <span class="label label-danger">Dijo que NO</span>
                    {% endif %}(<a href="{{commitment.get_absolute_url}}">ver el compromiso</a>)</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% empty %} {% endfor %}
  </tbody>
</table>
{% endblock main_content %}
