{% extends "backend_citizen/base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
- {% trans "Backend Ciudadano - Perfil" %}
{% endblock title %}

{% block main_content %}
	<h2 class="page-header">{% trans "Tu perfil" %}</h2> {% include '_profile_info.html' with user=user %}
	<form enctype="multipart/form-data" action="{% url 'backend_citizen:update_my_profile' %}" method="POST" role="form">
	    {% csrf_token %}
        {% bootstrap_form form %}
	    <div class="form-actions">
	        <button type="submit" class="btn btn-success">{% trans 'Actualizar'%}</button>
	    </div>
	</form>
{% endblock main_content %}
