{% extends "elections/election_base.html" %}
{% load staticfiles %}
{% load candideitorg_templetags %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}

{% block url_face_to_face %}{% url 'face_to_face_one_candidate_detail_view' slug=election.slug slug_candidate_one=candidate.slug %}{% endblock url_face_to_face %}

{% block title %} - {{election}} - {{candidate.name}}{% endblock title%}

{% block mainelection %}

	<div class="container-profile">
		<div>
			<h3>{{ candidate.name }}</h3>
		</div>

		<div class="profile-candidate">
			<div class="row">
				<div class="col-md-3">
					{% if candidate.photo %}
					{% thumbnail candidate.photo "300x300" crop="center" as im %}
					<img src="{{im.url}}" alt="{{candidate.name}}" border="0" class="img-responsive">
					{% endthumbnail %}
					{% else %}
					<img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive">
					{% endif %}
				</div>
				<div class="col-md-5">
					<table class="table">
						{% for personal_data in election.can_election.personaldata_set.all %}
						<tr>
							<td>
								<span>{{personal_data.label}}:</span>
									{% relation_personal_data_candidate candidate personal_data %}
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled">
						{% for link in candidate.link_set.all %}
							<li><a href="{{link.url}}" onclick="_gaq.push(['_trackEvent', 'SocialButtonCandidate', click]);" class="social-link-candidate"><i class="{{ link.icon_class }}"></i> {{link.name}}</a></li>
						{% endfor %}
					</ul>

					{% if 'ask'|val_navbars  %}
					<button type="button" class="btn btn-success btn-lg btn-block" onClick="location.href='{% url 'ask_detail_view' slug=election.slug %}'"><i class="icon-edit"></i> {% trans "Hazle una pregunta" %}</button>
					{% endif %}
					{% if 'facetoface'|val_navbars  %}
					<button type="button" class="btn btn-danger btn-lg btn-block" onClick="location.href='{% url 'face_to_face_one_candidate_detail_view' slug=election.slug slug_candidate_one=candidate.slug %}'"><i class="icon-bolt"></i> {% trans "Compáralo con otro candidato" %}</button>
					{% endif %}
				</div>
			</div>
			
			<div class="row">
				<div class="antecedentes col-md-12">
					<p>
					{% for background_category in election.can_election.backgroundcategory_set.all %}
			 			{% for background in background_category.background_set.all %}
			 				{% for background_candidate in background.backgroundcandidate_set.all %}
				 				{{background_candidate.value}}
			 				{% endfor %}
			 			{% endfor %}
			 		{% endfor %}
			 		</p>
			 	</div>
			</div>
		</div>

	</div>

	<div class="questionary">
		<h3>{% trans "Cuestionario" %}</h3>

		{% for category in election.can_election.category_set.all %}
		<div class="panel panel-default">
			<div class="panel-heading">{{category.name}}</div>
			<div class="panel-body">
				{% for question in category.question_set.all %}
				<div class="question-answer" {% if forloop.counter >= 2 %}style="margin-top:5px;" {% endif %}>
					<p class="question">
						{{question.question}}
					</p>
					<p class="answer">
						<i class="icon-quote-left"></i> {% answer_for_candidate_and_question candidate question %} <i class="icon-quote-right"></i> - <a href="" class="pop-fuente" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quas blanditiis eos corrupti odio. Rerum, placeat, pariatur, aspernatur, optio dolore debitis autem atque nobis necessitatibus perferendis dolorem magnam quis minus." data-title="Fuente"><i class="icon-file-text"></i></a>
					</p>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}

	</div>
	
{% endblock mainelection %}

{% block extrajs %}
	$(document).ready(function() {
		$('div.antecedentes p').expander({
			expandText: '<i class="icon-chevron-down"></i>',
			userCollapseText: '<i class="icon-chevron-up"></i>',
			slicePoint: 180,
		});

		$('.pop-fuente').popover();
	});
{% endblock extrajs %}