{% extends "elections/election_base.html" %}
{% load i18n %}
{% load candideitorg_templetags %}

{% block title %} - {{election}} - {% trans "Frente a Frente"%}{% endblock title%}

{% block last_breadcrumb %}{% trans "Frente a Frente"%}{% endblock last_breadcrumb %}

{% block tab_facetoface %}class="active"{% endblock %}

{% block mainelection %}
<!-- face-to-face -->
<div id="compare-candidates">
	<div class="row">
		<div class="col-md-6">
			<select data-placeholder="{% trans "Selecciona un candidato" %}" name="candidate_one" id="candidate_one" class="chosen-select" style="width:100%">
				<option value=""></option>
				{% for candidato in election.can_election.candidate_set.all %}
					{% if second_candidate.slug != candidato.slug %}
				<option value="{{candidato.slug}}" {% if candidato.slug and candidato.slug == first_candidate.slug %}selected="selected"{% endif %}>{{candidato.name}}</option>
					{% endif %}
				{% endfor %}
				<i class="icon-chevron-down"></i>
			</select>
		</div>
		<div class="col-md-6">
			<select data-placeholder="{% trans "Selecciona un candidato" %}" name="candidate_two" id="candidate_two" class="chosen-select" style="width:100%">
				<option value=""></option>
				{% for candidato in election.can_election.candidate_set.all %}
					{% if first_candidate.slug != candidato.slug %}
				<option value="{{candidato.slug}}" {% if candidato.slug and candidato.slug == second_candidate.slug %}selected="selected"{% endif %}>{{candidato.name}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>

	<!-- hidden for small devices -->
	<div class="hidden-xs">
		{% if first_candidate.slug and second_candidate.slug %}
			{% for category in election.can_election.category_set.all %}
				{% for question in category.question_set.all %}
			<div class="row">
				<div class="col-md-12">
					<h5>{{ question.question }}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="fondo-blanco">
						<p>
							<i class="icon-quote-left"></i> {% answer_for_candidate_and_question first_candidate question %} <i class="icon-quote-right"></i>
						</p>
						<p class="text-right">{{ first_candidate.name }}</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="fondo-blanco">
						<p>
							<i class="icon-quote-left"></i> {% answer_for_candidate_and_question second_candidate question %} <i class="icon-quote-right"></i>
						</p>
						<p class="text-right">{{ second_candidate.name }}</p>
					</div>
				</div>
			</div>
				{% endfor %}
			{% endfor %}
		{% else %}
		<div class="alert alert-info">{% trans "Aquí se mostraran las diferencias y similitudes entre los candidatos que selecciones." %}</div>
		{% endif %}
		
	</div>
	<!-- EOF hidden for small devices -->
	<!-- display only for small devices -->
	<div class="visible-xs">
		{% if first_candidate.slug and second_candidate.slug %}
		{% for category in election.can_election.category_set.all %}
			{% for question in category.question_set.all %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ question.question }}</h3>
			</div>
			{% if first_candidate.slug and second_candidate.slug %}
			<div class="panel-body">
				<div class="response-candidate-one">
					<p>
						{% answer_for_candidate_and_question first_candidate question %}
					</p>
					<p class="text-right"><small>{{ first_candidate.name }}</small></p>
				</div>
				<div class="response-candidate-two">
					<p>
						{% answer_for_candidate_and_question second_candidate question %}
					</p>
					<p class="text-right"><small>{{ second_candidate.name }}</small></p>
				</div>
			</div>
			{% endif %}
		</div>
			{% endfor %}
		{% endfor %}
		{% else %}
		<div class="alert alert-info">{% trans "Aquí se mostraran las diferencias y similitudes entre los candidatos que selecciones." %}</div>
		{% endif %}
	</div>
	<!-- display only for small devices -->
	
</div>

<!-- eof face-to-face -->
{% endblock mainelection %}