{% extends "base.html" %}
{% load i18n %}

{% block extrajs %}
{% endblock extrajs %}

{% block content %}
<div class="hero-unit">
	<h1>{{ election }}</h1>
	<p>{% trans "Esta elección tiene los siguientes tags" %}</p>
	<ul>
		{% for tag in election.tags.all %}
		<li>{{tag}}</li>
		{% endfor %}
	</ul>
	


	<p>{% trans "Candidatos" %}</p>
	<ul>
		{% for candidato in election.can_election.candidate_set.all %}
		<li><a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidato.slug %}">{{candidato.name}}</a></li>
		{% endfor %}
	</ul>

</div>
{% endblock content %}