{% extends "elections/election_base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block mainelection %}
<!--
<div class="row">
	<div class="col-md-3 col-md-offset-9">
		<button class="btn btn-primary">{% trans "Quieres preguntar algo más?" %}</button>
	</div>
</div>
-->

<div id="questionary">
	<div class="questionary">
		{% for category in election.can_election.category_set.all %}
		<div class="panel panel-default">
			<div class="panel-heading">{{category.name}}</div>
			<div class="panel-body">
				{% for question in category.question_set.all %}
				<div class="question-answer" {% if forloop.counter >= 2 %}style="margin-top:5px;" {% endif %}>
					<p class="question">
						{{question.question}}
					</p>
					{% for answer in question.answer_set.all %}
						<p class="answer">
							{{answer.caption}}
						</p>

						<!-- for desktop version -->
						<div class="row hidden-xs">
							{% for candidate in answer.candidate_set.all %}
							
							<div class="col-md-1 hidden-xs">
								{% thumbnail candidate.photo "300x300" crop="center" as im %}
								<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.slug %}"><img src="{{im.url}}" alt="{{candidate.name}}" border="0" class="img-responsive"></a>
								{% endthumbnail %}
							</div>
							
								{% if forloop.counter >= 12 %}
								</div><div class="row hidden-xs">
								{% endif %}
							{% endfor %}
						</div>
						<!-- end desktop version-->
						<!-- mobile version, no image of candidate -->
						<div class="visible-xs">
							<ul class="list-inline">
								{% for candidate in answer.candidate_set.all %}
								<li><a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.slug %}">{{candidate.name}}</a></li>
								{% endfor %}
							</ul>
						</div>
						<!-- end mobile version -->
						
					{% endfor %}
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class="row">
	<div class="col-md-3 col-md-offset-9">
		<button class="btn btn-primary">{% trans "Quieres preguntar algo más?" %}</button>
	</div>
</div>

{% endblock mainelection %}