{% extends "elections/election_base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load static %}

{% block title %} - {{election}} - {% trans "Cuestionario"%}{% endblock title%}

{% block last_breadcrumb %}{% trans "Cuestionario"%}{% endblock last_breadcrumb %}

{% block tab_questionary %}class="active"{% endblock %}

{% block mainelection %}
<div id="questionary">
	<div class="questionary">		

		{% for category in election.can_election.category_set.all %}
		<div class="panel panel-default">
			<div class="panel-heading">{{category.name}}</div>
			<div class="panel-body">
				{% for question in category.question_set.all %}
				<div class="question-answer" {% if forloop.counter >= 2 %}style="margin-top:5px;" {% endif %}>
					<p class="question">
						{{question.question}}
					</p>
					{% if question.number_of_answers > 0%}

					{% for answer in question.answer_set.all %}
						{% if answer.candidate_set.all|length > 0 %}

						<div class="row hidden-xs hidden-sm">
							<div class="col-md-5">
								<ul class="list-inline">
								{% for candidate in answer.candidate_set.all %}
									<li>
									{% if candidate.photo %}
										{% thumbnail candidate.photo "100x100" crop="center" as im %}
										<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.slug %}"><img src="{{im.url}}" alt="{{candidate.name}}" border="0" class="img-responsive" title="{{candidate.name}}"></a>
										{% endthumbnail %}
									{% else %}
										{% static "img/candidate-default.jpg" as candidate_default %}
										{% thumbnail candidate_default "100x100" crop="center" as im %}
										<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.slug %}"><img src="{{im.url}}" alt="{{candidate.name}}" border="0" class="img-responsive" title="{{candidate.name}}"></a>
										<span>{{candidate.name}}</span>
										{% endthumbnail %}
									{% endif %}
									</li>
								{% endfor %}
								</ul>
							</div>
							<div class="col-md-7">
								<i class="icon-quote-left"></i> {{answer.caption}} <i class="icon-quote-right"></i>
							</div>
						</div>
						{% endif %}
					<!-- end desktop version-->
					<!-- mobile version, no image of candidate -->
					<div class="visible-xs visible-sm">
						<div >
							<div>
								<div>
									<i class="icon-quote-left"></i> {{answer.caption}} <i class="icon-quote-right"></i>
								</div>
								{% for candidate in answer.candidate_set.all %}
									{% if forloop.first %}
										<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.slug %}">{{candidate.name}}</a>
									{% elif forloop.last %}
										{% trans "y" %} <a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.slug %}">{{candidate.name}}</a>
									{% else %}
										, <a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.slug %}">{{candidate.name}}</a>
									{% endif %}
								{% endfor %}
								<hr>
							</div>
						</div>
					</div>
					
						<!-- end mobile version -->
					{% endfor %}
					{% else %}
					<div>{% trans "Ningún candidato ha respondido." %}</div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% if 'ask'|val_navbars  %}
<div class="row">
	<div class="col-md-3 col-md-offset-9">
		<button class="btn btn-primary" onClick="location.href='{% url 'ask_detail_view' slug=election.slug %}'"><i class="icon-edit"></i> {% trans "Quieres preguntar algo más?" %}</button>
	</div>
</div>
{% endif %}

{% endblock mainelection %}