{% extends "elections/election_base.html" %}
{% load i18n %}

{% block mainelection %}
<div class="row">
	<div class="col-md-3 col-md-offset-9">
		<button class="btn btn-primary">{% trans "Quieres preguntar algo más?" %}</button>
	</div>
</div>

<div class="row questionary">
	{% for category in election.can_election.category_set.all %}
	<div class="panel panel-default">
		<div class="panel-heading">{{category.name}}</div>
		<div class="panel-body">
			{% for question in category.question_set.all %}
			<div class="question-answer" {% if forloop.counter >= 2 %}style="margin-top:5px;" {% endif %}>
				<p class="question">
					{{question.question}}
				</p>
				{% for answer in question.answer_set.all %}
					<p class="answer">
						{{answer.caption}}
					</p>

					<ul class="list-inline">
					{% for candidate in answer.candidate_set.all %}
						<li><img src="{{candidate.photo}}" class="img-responsive" alt="{{candidate.name}}"></li>
					{% endfor %}
					</ul>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
<div class="row">
	<div class="col-md-3 col-md-offset-9">
		<button class="btn btn-primary">{% trans "Quieres preguntar algo más?" %}</button>
	</div>
</div>

{% endblock mainelection %}