{% extends "base.html" %}
{% load i18n %}

{% block extrajs %}
{% endblock extrajs %}

{% block content %}
<section id="election">
	<div>
		<h1 class="text-center">{{ election }}</h1>
	</div>

	<div class="row">
		<div class="nav-candidator">
			<div class="col-md-12">
				<ul class="list-inline">
					<li><a href="{% url 'election_view' slug=election.slug %}"><i class="icon-group"></i> {% trans "Perfiles" %}</a></li>
					<li><a href="{% url 'questionary_detail_view' slug=election.slug %}"><i class="icon-list"></i> {% trans "Cuestionario" %}</a></li>
					<li><a href="{% url 'soul_mate_detail_view' slug=election.slug %}"><i class="icon-heart"></i> {% trans "1/2 Naranja" %}</a></li>
					<li><a href="{% block url_face_to_face %}{% url 'face_to_face_no_candidate_detail_view' slug=election.slug %}{% endblock url_face_to_face %}"><i class="icon-bolt"></i> {% trans "Frente a Frente" %}</a></li>
					<li><a href=""><i class="icon-edit"></i> {% trans "Pregúntales" %}</a></li>
					<li><a href=""><i class="icon-trophy"></i> {% trans "Ranking" %}</a></li>
					<li><a href=""><i class="icon-plus"></i> {% trans "Más Info" %}</a></li>
				</ul>
			</div>
		</div>
	</div>

	{% block mainelection %}
	{% endblock mainelection %}

</section>
{% endblock content %}