{% extends "elections/election_base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block extrajs %}
{% endblock extrajs %}

{% block mainelection %}
<div class="row">
	<div class="container-candidates">
		{% for candidato in election.can_election.candidate_set.all %}
		<div class="col-md-2">
			
			{% if candidato.photo %}
				{% thumbnail candidato.photo "300x300" crop="center" as im %}
				<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidato.slug %}"><img src="{{im.url}}" alt="{{candidato.name}}" border="0" class="img-responsive"></a>
				{% endthumbnail %}
			{% else %}
				<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidato.slug %}"><img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidato.name}}" border="0" class="img-responsive"></a>
			{% endif %}
			
			<p>
				<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidato.slug %}">{{candidato.name}}</a>
			</p>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock mainelection %}
