{% extends "elections/election_base.html" %}
{% load i18n %}

{% block extrajs %}
{% endblock extrajs %}

{% block mainelection %}
<div class="row container-candidates" style="margin-top: 20px;">
	{% for candidato in election.can_election.candidate_set.all %}
	<div class="col-md-2">
		<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidato.slug %}"><img src="http://placehold.it/800x600" alt="{{candidato.name}}" border="0" class="img-responsive"></a>
		<p>
			<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidato.slug %}">{{candidato.name}}</a>
		</p>
	</div>
	{% endfor %}
</div>
{% endblock mainelection %}
