{% extends "base.html" %}
{% load i18n %}

{% block extrajs %}
{% include 'elections/home.js' %}
{% endblock extrajs %}

{% block content %}
<div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">
            Este 18 de Septiembre los chilenos elegiremos Presidente, Senadores, Diputados y Consejeros Regionales (CORE). Aquí encontrarás info para votar informado:
        </h2>
    </div>
  </div>

<!-- Featured Elections  -->

    {% if featured_elections|length = 1 %}
     
     <!-- Featured Election block -->
      <div class="contenedorDestacado">
        <ul>
          {% for featured_election in featured_elections %}
            <li class="col-md-12">
                  <a href="{{ featured_election.get_absolute_url }}">
                    <h2>{{featured_election.name}}</h2>
                  </a>
                    <div class="ia-container">
                       {% for candidate in featured_election.can_election.candidate_set.all %}
            
                            <figure>
                              <img src="{{ candidate.photo }}" alt="{{ candidate.name }}" />
                              <input type="radio" name="radio-set"/>
                              <figcaption><span>{{ candidate.name }}</span></figcaption>

                      {% endfor %}
                      {% for candidate in featured_election.can_election.candidate_set.all %}
                            </figure>
                      {% endfor %}
                    </div>
                  <div class="election-description">
                    <p>{{ featured_election.description|truncatewords:20 }}</p> 
                  </div>
            </li>
          {% endfor %}
        </ul>
      </div><!-- /contenedorDestacado -->
      <!-- /FeaturedBlock -->

    {% elif featured_elections|length = 2 %}
      <!-- Featured Election block -->
     <div class="contenedorDestacado">
        <ul>
          {% for featured_election in featured_elections %}
            <li class="col-md-6">
                  <a href="{{ featured_election.get_absolute_url }}">
                    <h2>{{ featured_election.name }}</h2>
                  </a>
                   {% for candidate in featured_election.can_election.candidate_set.all %}
                  <img src="{{ candidate.photo }}">
                  
                  {% endfor %}
                  <div class="election-description">
                    <p>{{ featured_election.description|truncatewords:20 }}</p> 
                  </div>
            </li>
          {% endfor %}
        </ul>
      </div><!-- /contenedorDestacado -->

    {% elif featured_elections|length >= 3 %}
      <!-- Featured Election block -->
     <div class="contenedorDestacado">
        <ul>
          {% for featured_election in featured_elections %}
            <li class="col-md-4">
                  <a href="{{ featured_election.get_absolute_url }}">
                    <h2>{{featured_election.name}}</h2>
                  </a>
                   {% for candidate in featured_election.can_election.candidate_set.all %}
                  <img src="{{ candidate.photo }}">
                  
                  {% endfor %}
                  <div class="election-description">
                    <p>{{ featured_election.description|truncatewords:20 }}</p> 
                  </div>
            </li>
          {% endfor %}
        </ul>
      </div><!-- /contenedorDestacado -->


    {% endif %}

<!--     <div class="row imgs-mosaico">
        <div class="col-md-4">
            <div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                </div>
                                <div class="row">
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-2">
                        <img src="http://placehold.it/800x600" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, nobis molestias earum cum perferendis non consequuntur soluta sed.
            </p>
        </div>
    </div> -->

  <!-- Searchable Elections  -->

  {% if elecciones_buscables = true %}
    
    <div id="home-search" class="row" ng-controller="searchFormController">
        <form action="{% url 'tags_search' %}" method="get" class="form-horizontal" rol="form">
            
            <div class="form-group">

                <div class="col-md-8 col-md-offset-2">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-default"><i class="icon-search"></i></button>
                      </span>
                      <input type="text" class="form-control" id="id_q" name="q" placeholder="{% trans "Ingresa el nombre de tu candidato, distrito, comuna" %}" autocomplete="off" ng-model="searchElection">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">{% trans "Buscar" %}</button>
                      </span>
                    </div>
                </div>

            </div>
        </form>
        <div>
            <ul class="list-inline" ng-show="searchElection">
                <li ng-repeat="election in elections | filter:searchElection:comperator">
                    <span class="label label-info">
                        <a href="[[election.detaillink]]">[[election.name]]</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
  {% endif %}

</div>
{% endblock content %}