{% extends "elections/election_base.html" %}
{% load i18n %}

{% block mainelection %}
<!-- soulmate -->
<div id="question-soulmate">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Democracia</h3>
			</div>
			<div class="panel-body">
				<div class="row fondo-gris">
					<div class="col-md-8">
					<p class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
						<ul class="list-unstyled">
							<li>
								<input name="answer-1" type="radio"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</li>
							<li>
								<input name="answer-1" type="radio"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</li>
							<li>
								<input name="answer-1" type="radio"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<p class="question">{% trans "Que importancia le das a esta pregunta?" %}</p>
						<ul id="importancia" class="list-inline">
							<li><input type="radio" name="voto" value="1"> 1</li>
							<li><input type="radio" name="voto" value="2"> 2</li>
							<li><input type="radio" name="voto" value="3"> 3</li>
							<li><input type="radio" name="voto" value="4"> 4</li>
							<li><input type="radio" name="voto" value="5"> 5</li>
						</ul>
					</div>
				</div>

				<div class="row fondo-gris">
					<div class="col-md-8">
					<p class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
						<ul class="list-unstyled">
							<li>
								<input name="answer-1" type="radio"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</li>
							<li>
								<input name="answer-1" type="radio"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</li>
							<li>
								<input name="answer-1" type="radio"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<p class="question">{% trans "Que importancia le das a esta pregunta?" %}</p>
						<ul id="importancia" class="list-inline">
							<li><input type="radio" name="voto" value="1"> 1</li>
							<li><input type="radio" name="voto" value="2"> 2</li>
							<li><input type="radio" name="voto" value="3"> 3</li>
							<li><input type="radio" name="voto" value="4"> 4</li>
							<li><input type="radio" name="voto" value="5"> 5</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Educación</h3>
			</div>
			<div class="panel-body">
				<div class="row fondo-gris">
					<div class="col-md-8">
						<p class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
						<ul class="list-unstyled">
							<li>
								<input name="answer-1" type="radio"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</li>
							<li>
								<input name="answer-1" type="radio"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</li>
							<li>
								<input name="answer-1" type="radio"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<p class="question">{% trans "Que importancia le das a esta pregunta?" %}</p>
						<ul id="importancia" class="list-inline">
							<li><input type="radio" name="voto" value="1"> 1</li>
							<li><input type="radio" name="voto" value="2"> 2</li>
							<li><input type="radio" name="voto" value="3"> 3</li>
							<li><input type="radio" name="voto" value="4"> 4</li>
							<li><input type="radio" name="voto" value="5"> 5</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div>
			<button class="btn btn-success"><i class="icon-heart"></i> {% trans "Encontrar mi 1/2 naranja" %}</button>
		</div>
	</div>
</div>

<div id="soulmate-result">
	<div class="row">
		<div class="col-md-3">
			<img src="http://placehold.it/800x600" alt="" class="img-responsive">
		</div>
		<div class="col-md-5">
			<h3><a href="#">Perico los Palotes </a><i class="icon-heart"></i></h3>
			<h2>66<span>% </span></h2>
				<div>{% trans "de afinidad" %}</div>
			<div class="row fondo-azuloscuro">
				<div class="col-md-5">
					{% trans "Declara tu amor publicamente:" %}
				</div>
				<div class="col-md-7">
					<ul class="list-inline">
						<li><a href="#"><i class="icon-twitter-sign icon-4x"></i></a></li>
						<li><a href="#"><i class="icon-facebook-sign icon-4x"></i></a></li>
						<li><a href="#"><i class="icon-google-plus-sign icon-4x"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="container-progress">
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
					</div>
				</div>
				<p>Corrupción<span>80%</span></p>
			</div>
			<div class="container-progress">
				<div class="progress">
					<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					</div>
				</div>
				<p>Corrupción <span>40%</span></p>
			</div>
			<div class="container-progress">
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
					</div>
				</div>
				<p>Corrupción <span>65%</span></p>
			</div>
			<div class="container-progress">
				<div class="progress">
					<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
					</div>
				</div>
				<p>33% Corrupción</p>
			</div>
		</div>
	</div>
</div>

<div id="other-soulmate">
		<h3>Compatibilidad con otros candidatos</h3>
	<div class="row">
		<div class="col-md-4">
			<div class="other-soulmate-box">
				<h4>60% <a href="#">Perico los Palotes</a></h4>
				<ul class="list-unstyled">
					<li>80% Corrupción</li>
					<li>40% Corrupción</li>
					<li>65% Corrupción</li>
					<li>33% Corrupción</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="other-soulmate-box">
				<h4>60% <a href="#">Perico los Palotes</a></h4>
				<ul class="list-unstyled">
					<li>80% Corrupción</li>
					<li>40% Corrupción</li>
					<li>65% Corrupción</li>
					<li>33% Corrupción</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="other-soulmate-box">
				<h4>60% <a href="#">Perico los Palotes</a></h4>
				<ul class="list-unstyled">
					<li>80% Corrupción</li>
					<li>40% Corrupción</li>
					<li>65% Corrupción</li>
					<li>33% Corrupción</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- EOF soulmate -->
{% endblock mainelection %}