/*Home temporal*/
html .navbar_visible, body .navbar_visible{
  padding-top: 55px;
}
html .navbar_invisible, body .navbar_invisible{
  padding-top: 0px;
}
.navbar{
  min-height: 55px;
}

.high-home{
  font-family: 'Arvo', serif;
  font-size: 18px;
}

#video-home{
  background-color: #FEC70D;
  padding: 40px 0 30px 0}
#text-home{
  background-color: #4A90E2;
  color: #233346;
  padding: 50px 0 30px 0;
}

.text-box{
  background-image: url("../img/white.svg");
  padding: 30px 30px 20px 30px;
}

#calendar-home{
  background-color: #233346;
  color: white;
  font-family: 'Arvo', serif;
  padding: 40px 0 40px 0;
}
#map-home{
  background-color: #F1ECE1;
  padding: 70px 0 70px;
}
#bye-home{
  background-color: #FEC70D;
  padding: 40px 0 30px 0;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

td.cal-date{
  color: #FEC70D;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.4px;
}

.landing-phrase{
  padding: 20px 0 20px 0;
  margin: 0 auto;
}

/*Home sitio1*/
.grey-one{
  background-color: $grey-one;
}
.blue{
  background-color: $blue;
  .bajada{
    color: white;
  }
}
.blue-light{
  background-color: $blue-light;
}
.blue-light-txt{
  color: $blue-light;
}

#home-elected-candidate{
  background: $yellow ;
  background-size: cover;
  padding: 20px 0 70px;
  .panel-default{
    border: none;
  }
  .panel{
    box-shadow: none;
  }
  .panel-body{
    margin: 48px 0 0;
  }
  h1{
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 50px 0 20px;
  }
  h2{
    margin: 50px 0 -40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
  }
  h3{
    font-weight: 700;
    font-size: 78px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: -12px 0 0;
  }
  .commitments-home{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $grey-one;
    line-height: 1.3;
  }
}


#home-results {
  background: $yellow ;
  background-size: cover;
  padding: 20px 0 20px;
  .panel-default{
    border: none;
  }
  .panel{
    box-shadow: none;
  }
  h1{
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 50px 0 20px;
  }
  h2{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0;
    margin: 10px 0 40px;
    font-weight: 400;
    font-size: 24px;
  }
  h3{
    font-weight: 700;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .commitments-home{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $grey-one;
    line-height: 1.3;
  }
}

#candidatos{
  background: $yellow ;
  padding: 30px 0 30px;
  h1 {
    font-size: 32px;
  }
  a {
    color: $grey-one;
    font-weight: bold;
  }
}

.hashtag{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0;
  font-size: 30px;
  margin: -40px 0 60px;
}

.presidents{
  position: relative;
  margin: 0 auto;
  bottom: -166px;
}

#proposals-counter{
  min-height: 60px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding-top: 18px;
}

.counter-number{
  font-family: 'Arvo', serif;
  color: $blue;
  font-weight: 700;
  font-size: 44px;
  position: relative;
  top: 9px;
  &:hover{
    color: $blue-light;
  }
}

.bajada{
  font-size: 19px;
  font-family: 'Arvo', sans-serif;
  color: $grey-three;
  margin: -30px 0 20px;
}
.bajada-cores {
  b {
    color: $grey-one;
  }
  font-size: 19px;
  font-family: 'Arvo', sans-serif;
  color: $grey-three;
  padding-top: 15px;
  a {
    color: $grey-three;
    text-decoration: underline;
  }
}

#highlighted-proposals{
  padding: 70px 0 50px;
  .bajada {
    margin: 0 0 10px;
  }
}

#home-search-candidate{
  padding: 60px 0 90px;
  h2 {
    margin: 0px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

#you-org{
  @extend .small-basic;
  min-height: 60px;
  color: white;
  font-size: 10px;
  padding-top: 12px;
  line-height: 12px;
  margin-top: 50px;
  .btn{
    font-size: 10px;
  }
}

#actions{
  margin: 70px 0 60px;
  h3 > a{
    color: $grey-one;
    &:hover{
      color: $blue;
    }
  }
  .bajada {
    margin: 0 0 10px;
  }
}
.action{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.2;
}

.action-encuentro{
  color: $grey-two;
  background: url("../img/a-encuentro.svg") no-repeat;
  height: 170px;
  background-position: center;
  padding-top: 180px;
  margin: 40px 0 110px;
}

.action-crea{
  color: $grey-two;
  background: url("../img/a-crea.svg") no-repeat;
  height: 170px;
  background-position: center;
  padding-top: 180px;
  margin: 40px 0 110px;
}

.action-apoya{
  color: $grey-two;
  background: url("../img/a-apoya.svg") no-repeat;
  height: 170px;
  background-position: center;
  padding-top: 180px;
  margin: 40px 0 110px;
}

#home-search-candidate {
  .bajada {
    margin: 0 0 10px;
  }
}

#education{
  margin-bottom: 60px;
  padding-top: 40px;
  .btn{
    font-size: 11px;
  }
  h3 > a{
    color: $grey-one;
    &:hover{
      color: $blue;
    }
  }
  .bajada {
    margin: 0 0 10px;
  }
}

.edu-1{
  height: 250px;
  padding-top: 40px;
  background: url("../img/e-1.svg") no-repeat $blue;
  background-position: center 120px;
}

.edu-2{
  height: 250px;
  padding-top: 40px;
  background: url("../img/e-2.svg") no-repeat $blue-light;
  background-position: center 110px;
}


.logo-org-home{
  background: #9BA9C1;
  width: 100px;
  height: 100px;
  margin: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  &:hover{
    background: transparent;
  }
  img{
    mix-blend-mode: screen;
    -webkit-filter: grayscale(1) contrast(100%) opacity(1);
    filter: grayscale(1) contrast(100%) opacity(1);
    &:hover{
      -webkit-filter: opacity(1);
      filter: opacity(1);
      mix-blend-mode: normal;
    }
  }
}

/*Perfil organizaciones*/
.org-background{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  margin-top: 50px;
  min-height: 400px;
}

.landing-org{
  position: relative;
  top: 270px;
}

.org-info{
  h2{
    font-weight: 700;
    margin-top: 70px;
  }
  p{
    font-size: 20px;
    line-height: 25px;
  }
}

.org-rrss{
  font-family: 'Arvo', serif;
  font-weight: 700;
  a{
    color: white;
    &:hover{
      color: $grey-one;
    }
  }
}

.edit-org{
  height: 250px;
  width: 250px;
}

.edit-bg-org{
  max-width: 70%;
  max-height: 50%;
}

#difunde {
  padding: 15px 0;
  background-color: #233346;
  p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.3;
    font-size: 12px;
  }
}

/*Forms*/
.form-control{
  background-color: $grey-five;
  border-radius: 10px;
}

.help-block{
  margin: 0;
}

input[type=checkbox], input[type=radio]{
  margin: 0;
}

input[type=file]{
  display: initial;
}

.has-success .form-control{
  border-color: transparent;
  box-shadow: none;
  &:focus{
    border-color: transparent;
    box-shadow: none;
  }
}

.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label{
  color: $grey-one;
}

/*General*/
.img-responsive{
  margin: 0 auto;
}

.bg-info{
  padding: 5px;
  border-radius: 8px;
}

.modal-body{
  text-align: left;
}

/*Detalle*/
#proposal-details{
  h3{
    text-transform: none;
    font-weight: 300;
    letter-spacing: 0;
    color: $grey-one;
  }
}
.nav-detalle-propuesta{
  border: none;
  margin-top: -55px;
  border-bottom: 1px solid $grey-four;
  border-radius: 0;
}

.apoyo-orgs{
  background-color: $blue;
  padding: 20px;
  margin-top: -90px;
  h4{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.2px;
  }
}

.apoyo-ciudadano{
  color: $grey-one;
}

.apoya-comparte{
  background-color: $yellow;
  color: $grey-one;
  padding: 0px 0 10px 0;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.light-text{
  color: $grey-three;
  h3{
    color: $grey-three;
  }
}

.detalle-propuesta{
  box-shadow: none;
  h1{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-transform: none;
    letter-spacing: 0;
  }
  .proposal-tools {
    padding-top: 20px;
    margin-bottom: -15px;
    i {
      font-size: 1.5em;
    }
  }
}

.llamado{
  font-family: 'Arvo', sans-serif;
  font-weight: 700;
  margin-top: 20px;
}

.share-detail{
  .btn-apoyo{
    background-color: $yellow;
    top: 11px;
    width: 100%;
    &:hover{
      color: white;
      background-color: $grey-one;
    }
  }
  .btn-no-apoyo{
    width: 100%;
  }
}

.fa-stack{
  top: 8px;
}

.share-detail .fa-inverse {
    color: white;
}

.share-detail a .fa-stack {
    color: $blue;
    top: 7px;
}

.share-detail a .fa-stack:hover {
    color: $grey-one;
}

#proposal-side {
  .apoyo-btn {
    .btn-apoyo {
      background-color: $blue;
    }
  }
  ul.social-buttons>li {
    a>.fa-stack {
      color: $blue;
    }
  }
}

a.candidate-commit-name {
    font-weight: 700;
    font-family: 'Arvo', sans-serif;
    color: $grey-three;
    font-size: 13px;
    &:hover{
      color: $blue;
    }
}

/*Propuestas*/
.badge{
  font-size: 11px;
  font-weight: 700;
  color: white;
  background-color: $yellow;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Montserrat',sans-serif;
  &:hover{
    background-color: $blue;
  }
}


/*filters*/
.filter {
  padding: 20px 0px 20px;
  margin-bottom: 10px;
  select.form-control{
    background-color: white;
  }
  .form-control{
    background-color: white;
  }
}

.propuesta{
  border: 3px solid $grey-one;
  min-height: 550px;
  padding: 0;
  position: relative;
  border-radius: 10px;
}

.propuesta-content{
  padding: 25px 20px 35px;
  .logo-ong{
    position: absolute;
    right: 8%;
  }
}

.label-default{
  background-color: $blue;
  color: white;
}
.label-success{
  background-color: $blue-light;
  color: white;
}
.label-warning{
  background-color: $yellow;
  color: white;
}
.label-danger{
  background-color: $red;
  color: white;
}
.propuesta:after{
  display: none;
}

.share{
  text-align: right;
}

.share-card{
  background-color: $grey-one;
  min-height: 122px;
  padding: 5px 17px 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.share-card .fa-inverse {
    color: $grey-one;
}

.share-card a .fa-stack {
    color: white;
    margin-left: -10px;
}

.share-card a .fa-stack:hover {
    color: $yellow;
}

.apoyo{
  min-height: 38px;
}

.apoyo-contador{
  padding-left: initial;
  max-width: initial;
}

.nota{
  font-size: 14px;
  color: white;
  margin-top: -6px;
}

.conteo{
  font-family: 'Arvo', sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: relative;
  top: 5px;
}

.btn-apoyo{
  background-color: $yellow;
  color: white;
  position: relative;
  top: 0;
  &:hover{
    color: $grey-one;
  }
}

.btn-no-apoyo{
  background-color: $blue;
  color: white;
  position: relative;
  top: 9px;
  &:hover{
    color: $grey-one;
  }
}

.propuesta h4{
  margin: 0 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

p.intro{
  line-height: 1.3;
}
.logo-ong img{
  max-width: inherit;
  max-height: inherit;
  margin-left: inherit;
}

.logo-color{
    background: #9BA9C1;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    &:hover{
      background: transparent;
    }
  img{
    mix-blend-mode: screen;
    -webkit-filter: grayscale(1) contrast(100%) opacity(1);
    filter: grayscale(1) contrast(100%) opacity(1);
    &:hover{
      -webkit-filter: grayscale(0%) contrast(100%) opacity(100%);
      filter: grayscale(0) contrast(100%) opacity(100%);
      mix-blend-mode: normal;
    }
  }
}

#raiseToTop {
    bottom: 15px;
    display: block;
    position: sticky;
    width: 100%;
    a {
      color: white;
      i {
        background-color: $blue-light;
        padding: 10px;
        border-radius: 30px;
      }
    }
}

/*Material ciudadano*/
#video-encuentro{
  margin-bottom: 40px;
}

#manual-encuentro{
  margin: 70px 0 80px;
}

.set-guide{
  background-color: $blue-light;
  border-radius: 10px;
  height: 230px;
  padding: 30px 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;
  color: $grey-one;
  &:hover{
    color: $blue;
  }
  img{
    margin: 0 auto;
    height: 140px;
    margin-bottom: 15px;
  }
}

.set-guide-rep{
  background-color: $blue-light;
  border-radius: 10px;
  padding: 30px 15px;
  line-height: 1.4;
  color: $main-landing-section-color;
  margin-bottom: 10px;
  .content {
    min-height: 340px;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    line-height: 1.2;
    color: $main-landing-section-color;
    margin: 0 0 15px 0;
  }
  img{
    margin: 0 auto;
    height: 140px;
    margin-bottom: 15px;
  }
  .btn{
    font-size: 11px;
    &.btn-lg {
      padding: 10px 16px;
      height: 36px;
    }
  }
}


/*Botones*/
.btn-dark{
  background-color: $grey-one;
  color: white;
  &:hover{
    background-color: $yellow;
    color: white;
  }
}

.btn-blue{
  background-color: $blue;
  color: white;
  &:hover{
    background-color: white;
    color: $blue;
  }
}

.btn-white{
  background-color: white;
  color: $grey-one;
  &:hover{
    background-color: $grey-one;
    color: white;
  }
}

.btn-line{
  background-color: white;
  color: $grey-one;
  border: 3px solid $grey-five;
  &:hover{
    border: 3px solid $grey-one;
    background-color: $grey-one;
    color: white;
  }
}

.btn{
  word-wrap: break-word;
  white-space: normal;
  &:hover{
  box-shadow: none;
  }
}

/*RIBBONS*/
.product {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border: 1px solid #333;
  position: relative;
  z-index: 90;
}
.ribbon-wrapper {
  width: 303px;
  height: 198px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  .ribbon {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 6px 40px 4px 40px;
    top: 41px;
    right: 122px;
    width: 270px;
    background-color: #FF645B;
    color: white;
  }
}
.pill-clasification {
  z-index: -2;
}

.ribbon-wrapper-candidate {
  width: 333px;
  height: 288px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  .ribbon-candidate {
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 6px 0 5px 0;
    top: 107px;
    right: -93px;
    width: 188px;
    color: white;
    word-wrap: break-word;
    white-space: normal;
    background-color: #FF645B;
    border-radius: 6px;
    a {
      color: white;
      span.no-commitments{
        padding: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
      }
    }
  }
}
/*Pasos creando propuesta*/
.tips, .tips-invert{
  background: $grey-one;
  margin: 10px 0 0 0;
  border-radius: 10px;
  .main-title{
    color: $yellow;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-size: 12px;
  }
  .step-title{
    font-family: 'Arvo', serif;
    font-weight: 700;
  }
}

.tips:after{
  display: none;
}

label{
  @extend .small-basic;
  color: $grey-one;
  margin: 10px 0 0 0;
  line-height: 1.3;
  font-size: 11px;
}

.proposal-step{
  margin-top: 30px;
  h2{
    margin: 0 0 40px 0;
  }
}

.wizard{
  font-family: 'Arvo', serif;
  font-weight: 700;
  color: $grey-one;
  .badge{
    padding: 6px 10px;
    background-color: $grey-one;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 14px;
  }
}

.preview.fondo-blanco{
  margin: 30px 0 30px 0;
}

.panel{
  border-radius: 10px;
}

.small{
  line-height: 1.4;
}

.small-basic{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1.3;
}

/*LOGIN*/
.nav-pills.list-inline{
  margin-bottom: 40px;
}

.line-space{
  height: 30px;
}

/*CANDIDATES*/
#candidato-programa {
  background-color: $blue-light;
  color: $grey-one;
  padding-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
  @extend .small-basic;
  font-size: 11px;
}
.content_padding #agenda-candidato li.impar{
  background-color: white;
}
.content_padding #agenda-candidato li.par{
  border-top: 1px solid $grey-one;
  margin-top: 10px;
  padding-top: 14px;
}
.candidate-name{
  margin: 30px 0 -10px;
}
.candidate-diary{
  color: $grey-one;
}

/*MEDIA NARANJA*/
.media-naranja{
  background-color: #646F9D;
  background-image: url("../img/temcompromisso_header.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 60px;
  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: 700;
    line-height: 1;
  }
}
.media-naranja-info{
  margin-top: 30px;
  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 22px 0 0;
  }
}
.tem-compromisso-info {
  margin-top: 30px;
  color: white;
  h2 {
    color: white;
  }
  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 28px;
    // font-weight: 700;
    // letter-spacing: 2px;
    margin: 22px 0 0;
  } 
}

.naranja-form{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 60px;
  h1{
    text-transform: none;
    letter-spacing: 0;
  }
  .checkbox label, .radio label{
    font-family: 'Nunito', sans-serif;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
  }
  .badge{
    font-size: 30px;
    color: $grey-one;
    background-color: $blue-light;
    border-radius: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    padding: 4px 13px;
  }
  .label-default{
    background-color: $yellow;
    color: white;
    padding: 2px 5px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    border-bottom: 5px solid;
  }
  .label-warning{
    @extend .label-default;
    background-color: $yellow;
  }
  .pregunta{
    border: 3px solid $yellow;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
  }
  .candidate-result-name{
    font-family: 'Arvo', sans-serif;
    font-weight: 700;
    color: $grey-one;
    a{
      color: $grey-one;
      &:hover{
        color: $blue;
      }
    }
  }
  .candidate-result-value{
    font-family: 'Arvo', serif;
    font-size: 30px;
    font-weight: 700;
    margin: 40px 0 10px;
    color: $yellow;
  }
  h3{
    letter-spacing: 0;
    text-transform: none;
  }
  .bajada{
    font-family: 'Arvo', serif;
    font-size: 16px;
  }
}

.resultado.ayuda {
  background-color: $yellow;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 15px;
  color: $grey-one;
}
.exp_orgs {
  font-size: 15px;
}

.mano{
  background-image: url("../img/mano.svg");
  min-height: 410px;
  background-repeat: no-repeat;
  background-position: 90%;
  margin-bottom: -70px;
  margin-top: -40px;
}

.naranja-medida{
  .small-basic, #you-org, label, #candidato-programa{
    font-family: 'Nunito', sans-serif;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
  }
}

/*IMAGE GALLERY*/
.gallery {
  margin: 0 auto;
  padding: 5px;
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 100%;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(2,2);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

/*CANDIDATE CARD*/
.candidate-name-card{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.candidate-commitment-card{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: $blue;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 6px;
  font-size: 13px;
}

.candidate-elected-card{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: $yellow;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 6px;
  font-size: 13px;
}

img.img-responsive.img-circle.no-gano-na{
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#other-commitments{
  margin: 60px 0 40px;
  .candidate-name-card{
    font-size: 14px;
    margin: -20px 0 10px;
  }
  .candidate-commitment-card{
    font-size: 9px;
  }
  .panel-default{
    box-shadow: none;
  }
}

#you-proposal{
  background-color: $yellow;
  padding: 5px 0 15px;
  h2{
      color: $main-landing-section-color;
      margin: 40px 0 10px;
  }
}

#orgs-repo{
  padding: 60px 0 20px;
}

#welcome {
  background: $yellow ;
  background-size: cover;
  padding: 20px 0 20px;
  h1{
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 50px 0 20px;
  }
  h3{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0;
    margin: 10px 0 40px;
    font-weight: 400;
  }
  .tool-description{
    color: $grey-one;
    font-weight: 700;
    line-height: 1.2;
    margin: 10px 0 40px;
  }
}
@import 'activities';
