.activity{
    margin-bottom: 10px;
    .title-and-location {
        position: absolute;
        bottom: 33%;
        .title{
            font-weight: bold;
            font-size: large;

        }
        .location{

        }
    }
    .body{
        background-size: cover;
        background-blend-mode: screen;
        background-color: currentColor;
        min-height:300px;
        cursor: pointer;
    }
    .date{
    }
    p {
        color: #FFF;
        background-color: hsla(0, 0, 0, 0.6);
        padding-left: 10px;
    }
}
.inner-activity-image {
    max-height: 300px;
}
