/* ==========================================================================
   Definición de los colores
   ========================================================================== */
$letters-color: #323a45;
$hover-letters: #0e778a;
$anchor-color: #14b9d5;
$main-background-color: #fff;
$main-landing-section-color: #000;
$footer-background-color: #fff;
$warning-text: #b79800;
$alert-info-background: #DDF6FA;
$alert-warning-background: #FFED93;
$alert-warning-border: #ffd200;
$btn-success-background-color: #3ee0cb;
$btn-success-hover-background-color: #44938e;
$btn-danger-hover-background-color: #af373c;
$nav-anchor-background-color: #e8cc14;
$navbar-color: #000;
$elections-result-list: #a38400;
$alert-info-border-color: #AFE9F3;
$question-answer-background: #ebedf2;
$progress-bar-background: #000;
$footer-color: #000;
$myCandidate-modal-footer: #4b4b4b;
$category_name_background_color: #41FF35;
$proposal-card-background-color: #fff;
$responden-span: #006577;
$no-responden-span: #920006;
$ribbon-color: #9e8000;

$grey-one:  #3d5144;
$grey-two:  #5E6D82;
$grey-three:  #9BA9C1;
$grey-four:  #D1D8E6;
$grey-five:  #EAEDF2;

$blue: #6b77af;
$blue-light: #6b77af;
$red: #FE635F;
$yellow: #e8cc14;
$yellow-dark: #E6B408;
$light-green: #a3b74f;
$laranja: #F0992E;
