/*Header*/

.yellow .navbar-brand {
  background: url(../img/logo-blanco_rpi.svg) center center no-repeat;
  max-width: 294px;
  min-width: 200px;
  background-size: contain;
}

.yellow .navbar-brand img {
  display: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: $grey-three;
}

.navbar-inverse.yellow .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: $grey-five;
}

.navbar-inverse.yellow .fa-inverse {
    color: $navbar-color;
}
/*Menu*/
.navbar {
  min-height: 50px;
  background-color: $main-background-color;
  .important {
    background-color: $blue-light;
  }
}
.navbar-inverse .navbar-nav > li > a {
  color: $grey-three;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: $grey-two;
}

.navbar-inverse.yellow .navbar-nav > li > a {
  color: $navbar-color;
}

.navbar-inverse.yellow .navbar-nav>li>a:hover {
  color: white;
}

.navbar-nav {
  float: right;
}

.navbar-brand {
  padding: 10px 15px;
}

.navbar-inverse{
  border-bottom: 1px solid $grey-five;
}

.navbar-inverse.white {
  color: $grey-three;
  background-color: white;
}

.navbar-inverse.yellow {
  color: white;
  background-color: $yellow;
}

.navbar-inverse.yellow {
  border-bottom: 0px solid darken($yellow,10%);
}

.navbar .btn {
  margin-bottom: 0px;
}
