.pull-bottom
{
    float: none;
    display: table-cell;
    vertical-align: bottom;
}
#call-to-action{
  @extend .small-basic;
  background-color: $laranja;
  min-height: 60px;
  color: white;
  font-size: 10px;
  padding-top: 12px;
  line-height: 12px;
  .btn{
    font-size: 10px;
  }
}
.logo_landing {
    max-width: 54%;
}
.green-up-section {
    background-image: url("../img/retangulo_CIMA.svg");
    background-repeat: repeat;
    min-height: 66px;
    background-color: $yellow;
    // margin-top: 60px;
}
.green-bottom-section {
    background-image: url("../img/retangulo_BAIXO.svg");
    background-repeat: repeat;
    min-height: 28px;
    background-color: transparent;
}
