

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import 'colors';
@import 'rioxinteiro';

html, body {
  color: $grey-two;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  .navbar_visible {
    padding-top: 25px;
  }
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0px;
}

.text-width {
  max-width: 800px;
  margin: 0 auto;
}

.rotate {
  -ms-transform: rotate(-180deg); /* IE 9 */
  -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
  transform: rotate(-180deg);
  margin-right: 5px;
}

h1 {
  font-weight: 700;
  font-family: 'Arvo', serif;
  letter-spacing: 6px;
  font-size: 34px;
  text-transform: uppercase;
  color: $grey-one;
  margin: 40px 0;
}

h2 {
  font-weight: 300;
  font-family: 'Arvo', serif;
  font-size: 32px;
  color: $grey-one;
  line-height: 33px;
  margin: 40px 0;
}

h3 {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 22px;
  color: $grey-one;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h4 {
  font-family: 'Arvo', serif;
  font-size: 18px;
  line-height: 28px;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: $grey-one;
  line-height: 24px;
}


a {
  color: $blue;
}

a:hover {
  color: darken($blue,15%);
  text-decoration: none;
}

strong {
  font-weight: 900;
}

.small {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}

h1 .small {
  font-size: 11px;
  line-height: 31px;
  color: #9BA9C1;
}

hr {
    border-top: 1px solid $grey-five;
}

.width-cien {
  width: 100%;
}

.epigrafe {
    margin-bottom: -35px;
}

.line-space {
    height: 60px;
}

.text-light {
  color: $grey-three;
}

.text-white {
  color: white;
}

.text-dark {
  color: $grey-one;
}

.content_padding {
    padding-top: 40px;
    padding-bottom: 0;
    #info-candidato {
      color: #233346;
      a {
        color: #233346;
        &hover {
          color: #233346;
        }
      }
      .table>tbody>tr>td {
        border: 0px;
      }
    }
    #agenda-candidato {
      background-color: #FFF;
      padding: 10px 15px;
      border-radius: 10px;
      li {
        &.impar {
          background-color: #DDD;
        }
        &.par {
         background-color: #FFF;
        }
      }
    }
}

.fondo-blanco {
  background: white;
  padding: 60px 60px 100px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.17);
  margin-bottom: 50px;
}

.fondo-blanco h1 {
    margin: 0 0 30px;
}

.text-warning {
  color: $warning-text;
}

.alert-info {
  color: $anchor-color;
  background-color: $alert-info-background;
  border-color: $alert-info-border-color;
}

.alert-warning {
  color: $warning-text;
  background-color: $alert-warning-background;
  border-color: $alert-warning-border;
}

.form-control::-webkit-input-placeholder {
   font-weight: 300;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   font-weight: 300;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   font-weight: 300;
}

.form-control:-ms-input-placeholder {
   font-weight: 300;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

select.form-control {
    background: #EAEDF2;
    border-radius: 30px;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    color: $grey-two;
}

.right {
  float: right;
}

/*Breadcrumb*/

.breadcrumb {
  padding: 8px 0px;
  background-color: transparent;
  border-radius: 0;
  color: $grey-three;
}

.breadcrumb a {
  color: $grey-three;
}

.breadcrumb>.active {
  color: $grey-three;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: $grey-three;
    content: "/\00a0";
}

.yellow-breadcrumbs .breadcrumb a, .yellow-breadcrumbs .breadcrumb>.active, .yellow-breadcrumbs .breadcrumb>li+li:before {
  color: white;
}

/*FORM*/

.form-control {
    height: 38px;
    color: $grey-one;
    border: 1px solid $grey-five;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.form-control::-webkit-input-placeholder {
   color: $grey-three;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: $grey-three;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: $grey-three;
}

.form-control:-ms-input-placeholder {
   color: $grey-three;
}

label.control-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*Selector*/

.chosen-container-single .chosen-single {
  background: $grey-five;
  box-shadow: none;
  color: $grey-two;
  font-weight: 700;
  padding: 6px 0px 0px 15px;
  height: 38px;
  border: 0px;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.chosen-container-single.chosen-container-active.chosen-with-drop .chosen-single {
  background: $grey-five;
  box-shadow: none;
  color: $grey-two;
  font-weight: 700;
  padding: 6px 0px 0px 15px;
  height: 38px;
  border: 0px;
  border-radius: 30px 30px 0px 0;
}

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/arrow_down.svg") no-repeat 0px 15px;
}

.chosen-container-single .chosen-single div {
  width: 34px;
}

.chosen-container .chosen-drop {
    border-top: 0;
    background: $grey-five;
    box-shadow: none;
    border-radius: 0 0 30px 30px;
    padding: 15px;
    color: $grey-three;
    border: none;
}

.chosen-container-single .chosen-search {
    margin-bottom: 15px;
}

.chosen-container-single .chosen-search input[type=text] {
  border: 1px solid $grey-four;
  box-shadow: none;
  height: 38px;
}

.chosen-container .chosen-results li {
  line-height: 24px;
  color: $grey-two;
}

.chosen-container .chosen-results li.highlighted {
  background: $yellow;
  border-radius: 30px;
}




/*Section Hero*/

#hero {
  /*background: url(../img/hero.svg) bottom right no-repeat $yellow;*/
  /*color: white;*/
  padding: 90px 0;
  min-height: 450px;
}

#hero h1 {
  margin: 0 0 40px;
}

#hero h1 .small {
  color: white;
  font-size: 14px;
  letter-spacing: 4px;
}

#hero .btn {
  margin-right: 6px;
  margin-bottom: 11px;
}

.extra {
  background: #4A90E2;
  padding-top: 11px;
}

/*Section banner*/

section.banner {
  background: $grey-one;
  padding: 15px 0 0px;
}

.counter span {
  background: white;
  margin-right: 3px;
  padding: 6px;
  border-radius: 3px;
}

.inner-banner {
    background: $grey-four;
    padding: 15px;
}

/*Section como funciona*/

section#como-funciona {
    padding: 80px 0;
}

#como-funciona img {
    width: 100%;
    max-width: 63px;
}

#como-funciona .item {
    height: 220px;
}

/*Section que hago*/

section#que-hago {
  background: $blue;
  padding: 15px 0 21px;
}

#que-hago .arrow {
  margin-left: 10px;
}

#que-hago .col-md-1.col-xs-2 {
  margin-top: 13px;
}

/*Section propuestas en home*/

section#propuestas-mas-apoyo {
    padding: 60px 0;
}

/*Elecciones destacadas*/

.text-center.intro-home {
  margin: 65px 0px 45px;
}

.paginasPlanasDestacadas {
  *zoom: 1;
  margin: 20px 0 60px;
  padding: 30px;
  &:after {
    content: "";
      display: table;
      clear: both;
  }
}

.contenedorDestacado {
  *zoom: 1;
  padding: 30px;
}

.contenedorDestacado:after {
  content: "";
  display: table;
  clear: both;
}

.accordion
{
  position:relative;
  overflow:hidden;
}


.accordion .panel
{
  background-color:$progress-bar-background;
  background-image:url(../img/preloader.gif);
  background-repeat:no-repeat;
  background-position:center center;
  position:absolute;
  overflow:hidden;
}


.accordion .shadow
{
  background:url(accordion-assets/images/shadow.png) repeat-Y;
  position:absolute;
  right:0px;
  width:25px;
  height:100%;
}


.accordion .preloader
{
  background:url(accordion-assets/images/preloader2.gif) no-repeat;
  width:62px;
  height:14px;
  position:absolute;
  z-index:15;
}


.accordion .caption
{
  overflow:hidden;
  position:absolute;
  z-index:20;
}


.accordion .caption-background
{
  background:transparent url(accordion-assets/images/captionBg.png);
  background:rgba(0,0,0,0.5);
  position:absolute;
  width:100%;
  height:100%;
}


.accordion .caption p
{
  color:$main-background-color;
  margin:0px;
  padding:10px;
}


.accordion .caption p a
{
  color:$main-background-color;
}

/*Home search*/

#home-search {
  position: relative;
}

#home-search input {
    padding: 14px 10px;
    margin-left: 10px;
    color: #5E6D82;
    position: relative;
    width: 100%;
}

#home-search:before {
  /*content: url(../img/flechas-hero.svg);*/
  position: absolute;
  bottom: -90px;
  left: 0px;
}

#home-search:after {
  content: url(../img/acento-hero.svg);
  position: absolute;
  top: 0px;
  right: -45px;
}

.elections-results {
    left: 15px;
    margin: 40px 0px;
}

.elections-results .list-inline>li {
    margin-right: 5px;
    a {
      color: inherit;
    }
}


/*Botones*/

.btn {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 30px;
  font-size: 12px;
  padding: 9px 14px;
  margin-bottom: 7px;
}

.btn:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.disabled {
    opacity: 0.4;
}

.btn img {
    margin-left: 15px;
}

.btn svg {
    vertical-align: bottom;
}

.arrow.btn img {
  margin-left: 0;
}

.btn-lg {
    height: 55px;
    padding: 17px;
}


.btn-sm {
}


.btn-xs {
    padding: 2px 7px;
    font-size: 11px;
    letter-spacing: 1px;
}

.btn-success {
  background-color: $yellow;
  border: 3px solid $yellow;
}

.btn-success:hover, .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover, .btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success, .btn-success.focus, .btn-success:focus {
  background-color: lighten($yellow,10%);
  border: 3px solid lighten($yellow,10%);
}

.btn-primary {
  background-color: $grey-five;
  border: 3px solid $grey-five;
  color: $grey-two;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  background-color: lighten($grey-five,5%);
  border: 3px solid lighten($grey-five,5%);
  color: $grey-two;
}

.btn-danger {
  background-color: transparent;
  color: $grey-one;
  border: 3px solid white;
}


.btn-danger:hover, .btn-danger:focus, .btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
  background-color: lighten($yellow,5%);
  color: lighten($grey-two,5%);
  border: 3px solid white;
}

.btn-default {
    color: $grey-two;
    background-color: white;
    border: 3px solid $grey-five;
}

.btn-default:hover, .btn-default:focus, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover {
  color: $grey-three;
  background-color: white;
  border: 3px solid $grey-five;
}

.btn-info {
  background: $grey-one;
  border: 3px solid $grey-one;
  color: white;
}

.btn-info:hover, .btn-info:focus, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover {
  background: lighten($grey-one,10%);
  border: 3px solid lighten($grey-one,10%);
}

.btn-warning {
  background-color: white;
  border: 3px solid white;
  color: $grey-two;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover {
  background-color: white;
  border: 3px solid white;
  color: $grey-three;
}

.fa-stack {
  color: $yellow;
}

/*Labels*/

.label {
    padding: 0.4em .6em .3em;
    TEXT-TRANSFORM: uppercase;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.label-default {
    background-color: $grey-five;
    color: $grey-two;
}

.label-danger {
    background-color: $red;
}

@import "navbar";
/*Nav-pills*/

.nav-pills>li {
  padding-right: 0px;
  padding-left: 0px;
}

.nav-pills>li.active{
  border-bottom: 3px solid $yellow;
  margin-bottom: -3px;
}

.nav-pills>li>a {
    border-radius: 0px;
    color: $grey-two;
    padding: 10px 12px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: transparent;
    color: $grey-one;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: $grey-one;
}

.nav-pills.list-inline {
  border-bottom: 3px solid $grey-five;
  margin-bottom: 70px;
  margin-left: 0;
}

/*Menu Interno*/


/* Wizard creacion propuesta */
.panel.panel-default.pasos{
  border: none;
}

.list-unstyled{
  margin-bottom: 5px;
}

.paso {
  border-bottom: 9px solid $grey-five;
  margin-bottom: 20px;
}

.paso.paso_completado {
    border-bottom: 9px solid $yellow;
}

.well {
    margin: 20px 0;
    background-color: darken($grey-two,10%);
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.well li {
    margin-bottom: 10px;
}

p.destacado-tips {
    color: lighten($blue,25%);
}

.nota {
  font-size: 12px;
  color: $grey-three;
  line-height: 18px;
}

.terms label {
    font-weight: 300;
}

section.terms {
    margin-bottom: 40px;
}

.wizard {
    margin-top: 20px;
}


/*Perfiles*/

.img-candidato {
    width: 96px;
    margin: 0 auto;
    height: 96px;
}

.img-candidato {
    width: initial;
    margin: 0 auto;
    height: initial;
}



.img-candidato-small {
    max-width: 60px;
    margin: 0 auto;
}

.btn-bajada {
    margin-top: -20px;
}

.bajada .btn {
    margin: 16px 0;
}

.small-bajada {
  margin-top: -10px;
}

.bajada {
    margin-top: -30px;
    margin-bottom: 70px;
}

p.answer {
    margin-bottom: 40px;
}

/*Perfil candidato*/

.profile {
    background: $yellow;
}

.profile h1 {
    margin: -10px 0 20px;
}

ul.profile.dropdown-menu  {
  top: 79%;
  left: 7%;
  background: rgb(255, 255, 255);
}

.social-link-candidate {
  color: $main-background-color;
}

.container-candidates p {
  background: $main-background-color;
  padding: 5px;
}

.icon-quote-left, .icon-quote-right {
  color: $grey-five;
}

.question {
    margin: 50px 0 0;
}


/* Frente a frente*/
.progress-bar .fondo {
  background-color: $progress-bar-background
}
/*EOF frente a frente*/



/*Media naranja*/

input[type=checkbox], input[type=radio] {
    margin: 15px 10px 0px 0px;
}

/*Media naranja - Resultado */

#soulmate-result {
    padding: 55px 25px;
    border: 1px solid $grey-five;
}

#soulmate-result h2 {
    margin: 10px 0px 20px;
    line-height: 44px;
}

#candidate-img-profile svg {
  position: absolute;
  top: 0px;
  right: 50px;
}

.progress {
  height: 26px;
  margin-bottom: 5px;
  background-color: $grey-five;
}

.progress-bar-success {
  background-color: $btn-success-background-color;
}

.progress-bar-warning {
  background-color: $alert-warning-border;
}

.progress-bar-danger {
}

#soulmate-result .container-progress p span {
  float: right;
}

#other-soulmate h3 {
    margin: 70px 0;
}

.other-soulmate-box {
    margin-bottom: 70px;
}

.other-soulmate-box h4 {
  color: $grey-one;
  margin: 0px;
}

#form-soulmate label {
  font-weight: normal;
}

.other-soulmate-box h2 {
    margin: 0;
}

/*Frente a frente*/

.porcentaje-similitud {
  background: $anchor-color;
  color: $main-background-color;
  border-radius: 6px;
}

.porcentaje-similitud h3 {
  padding: 10px;
}

.panel-default>.panel-heading {
  color: $main-background-color;
  background-color: $letters-color;
  border-color: transparent;

}
.panel-heading.extra-info {
    background-color: $blue;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

  }
#compare-candidates i {
  color: $grey-five;
}

#compare-candidates .text-center i {
  color: $anchor-color;
}

#compare-candidates div.col-md-12:first-child {
  margin-top: 20px;
}

#compare-candidates div.col-md-6:last-child {
margin-bottom: 20px;
}

.globo-texto, .globo-texto-right {
  border: 1px solid $grey-five;
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
}

.globo-texto:after, .globo-texto:before {
  top: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.globo-texto-right:after, .globo-texto-right:before {
  top: 100%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.globo-texto:after, .globo-texto-right:after  {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 20px;
  margin-left: -20px;
}
.globo-texto:before, .globo-texto-right:before  {
  border-color: rgba(234, 237, 242, 0);
  border-top-color: #EAEDF2;
  border-width: 21px;
  margin-left: -21px;
}

/*Cuestionario*/

.questionary .col-md-4 {
  float: right;
  padding: 5px 0px 5px 15px;
}

div.question-answer div.row.hidden-xs {
  border-top: 1px solid $main-background-color;
  padding: 10px 0px;
}

div.question-answer div.row.hidden-xs:nth-of-type(2), div.question-answer div.row.hidden-xs:nth-of-type(1) {
  border-top: none;
}

.tooltip-inner {
  max-width: 500px;
}

/* Footer */

#footer {
  padding: 30px 0;
  color: $footer-color;
  background-color: $footer-background-color;
  margin: 0px 0px 0px;
  border-top: 0px solid #EAEDF2;
}

#footer a {
  color: $footer-color;
}

#footer a:hover {
  color: $yellow;
}

#footer ul {
  list-style: none;
}

#footer i {
  margin-right: 15px;
}

#footer img {
  opacity: 0.6;
}

#footer svg {
  vertical-align: middle;
  margin-left: 10px;
}

#footer img:hover {
  opacity: 1;
}

#footer .col-md-4:nth-child(2) {
  text-align: center;
}

.extra-footer .col-md-4 {
  padding: 10px;
}

#footer .extra-footer img {
  opacity: 1;
  width: 100%;
}

.redes {
    margin-top: 17px;
}

.read-more a, .read-less a, .read-more a:hover, .read-less a:hover {
  display: block;
  text-align: center;
  margin: 0px 0px -28px;
  color: $yellow-dark;
}

.social-side button.btn-success {
  margin: 10px 0;
}

.social-side button.btn-primary {
  margin: 10px 0 25px;
}

.social-link-candidate {
  color: $main-background-color;
}

.social-link-candidate:hover {
  color: $btn-success-background-color;
}


/*Ranking*/

.panel-primary>.panel-heading {
  background-color: $hover-letters;
  border-color: transparent;
}

.panel-primary {
  border-color: transparent;
  background-color: transparent;


}

.responden .panel-body {
  background: $anchor-color;
  color: $main-background-color;
  border-radius: 0px 0px 6px 6px;
}

.responden .panel-body p span {
  color: $responden-span;
}

.responden .panel-body p a {
  color: $main-background-color;
  font-size: 12px;
}

.no-responden .panel-body p span {
  color: $no-responden-span;
}

.no-responden .panel-body p a {
  color: $main-background-color;
  font-size: 12px;
}

.responden .table tbody>tr>td {
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.responden .table tbody>tr>td.second {
  border-bottom: 1px solid $hover-letters;
}

.no-responden .table tbody>tr>td {
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.no-responden .table tbody>tr>td.second {
  border-top: none;
  border-left: none;
  border-right: none;
}

.no-responden .panel-body {
  color: $main-background-color;
  border-radius: 0px 0px 6px 6px;
}

.panel-danger>.panel-heading {
  color: $main-background-color;
  border-color: transparent;
}

.panel-danger {
  border-color: transparent;
  background-color: transparent;
}

.table>tbody>tr.danger>td {
  background-color: transparent;
}

.responden .icon-smile {
  font-size: 18px;
}

.no-responden .icon-frown {
  font-size: 18px;
}

.table tbody>tr>td.ranking-icon {
  padding: 8px 4px 8px 0px;
}

.responden tr.primary:first-child, .no-responden tr.danger:first-child {
  font-size: 18px;
}

tr.primary p:first-child, tr.danger p:first-child {
  margin: 0 0 0px;
}

.responden tr.primary:first-child .icon-smile, .no-responden tr.danger:first-child .icon-frown {
  font-size: 26px;
}

.bt-twitter {
  background: white;
  border-radius: 6px;
  color: $letters-color;
  text-align: center;
  font-size: 12px;
  padding: 3px 6px;
  cursor: pointer;
  display: inline-flex;
}

.bt-twitter:hover {
  background: $letters-color;
  color: white;
}

.bt-twitter i {
  margin: 3px 3px 0px 0px;
}

.responden h4, .no-responden h4 {
  font-weight: 900;
}

/*Preguntales*/

.ask-form {
  background: $main-background-color;
  border-radius: 6px;
  padding: 20px;
  *zoom: 1;
  margin-bottom: 40px;
}

.ask-form:after {
  content: "";
  display: table;
  clear: both;
}

.ask-form .form-control {
  background-color: white;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.recent-questions h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.search-questions .form-control {
  color: $main-background-color;
  background-color: $grey-five;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-questions .input-group-addon {
  background-color: $nav-anchor-background-color;
  border: none;
  border-radius: 0px;
  color: $main-background-color;
}

.panel-heading .text-right {
  color: $grey-five;
}

.candidate-answer .btn-primary {
  padding: 3px 6px;
  font-size: 12px;
  float: right;
}

.search-questions .form-control::-webkit-input-placeholder {
   color: white;
}

.search-questions .form-control:-moz-placeholder { /* Firefox 18- */
   color: white;
}

.search-questions .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

.search-questions .form-control:-ms-input-placeholder {
   color: white;
}

/*No responde*/

.not_answered_small a:after {
  content: url(../img/no-responde-small.png);
  position: absolute;
  top: 35px;
  left: 16px;
}

.not_answered:after {
  content: url(../img/no-responde.png);
  position: absolute;
  top: 52px;
  left: 8px;
}

/*breadscrumb-social*/
.breadscrumb-social .social-button {
  padding-top: 8px;
}


/*404*/

.ups.fondo-blanco {
  text-align: center;
  margin: 40px 0px;
}

.ups p {
  font-weight: 200;
}
.ups i {
}

#apoya {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 253px;
  height: 253px;
  display: none;
}

/*Cara a cara*/
.container_pic #text-support {
  position: absolute;
  z-index: 10;
  right: 15px;
}

#myCandidate .modal-header {
  background-color: $letters-color;
  border-radius: 3px 3px 0px 0px;
  border-bottom: 0px;
}

#myCandidate .modal-footer {
  background-color: $myCandidate-modal-footer;
  margin-top: -4px;
}

@keyframes doscaras
{
0%   {background-color: $main-background-color;}
50%  {background-color: $main-background-color;}
75%  {background-color: $alert-warning-border;}
100% {background-color: $main-background-color;}
}

@-webkit-keyframes doscaras /* Safari and Chrome */
{
0%   {background-color: $main-background-color;}
50%  {background-color: $main-background-color;}
75%  {background-color: $alert-warning-border;}
100% {background-color: $main-background-color;}
}

/*video*/
#videocontainer, canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 578px;
    min-height: 450px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#videocontainer img {
    position: absolute;
    display: block;
    bottom: -5px;
    left: 0px;
}
.container_pic {
    overflow: hidden;
    width: 578px;
    height: 450px;
}

/*Custom ribbon */

.ribbon {
  position: absolute;
  transform: rotate(-25deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-25deg);
  top: 44px;
  left: 110px;
}

.ribbon-noimg {
    top: 3px;
    transform: rotate(-20deg);
}

#candidate-img-profile > .ribbon {
  left: 27px;
}

/*percentage facetoface*/
#compare-candidates .candidate-percentage-txt {
  background: $anchor-color;
  border-radius: 3px;
}

#compare-candidates .candidate-percentage-txt p.text-center {
  color: $main-background-color;
  font-size: 14px;
  font-weight: bolder;
  padding: 5px 0px;
}
/*login form*/
.base-login {
  margin-top: 45px;
}

.base-login form {
  margin-bottom: 15px;
}

.base-login form .btn-default.btn-lg {
  padding: 5px 16px;
}

@media (max-width: 480px) {

  .carousel.candidato{
    min-height: 712px;
  }

  .profile-candidate {
    min-height: 425px;
  }

  .other-soulmate-box {
    margin-top: 5px;
  }

  .not_answered_small a:after {
    top: 65px;
    left: 75px;
  }

  .not_answered_small a:after {
    content: url(../img/no-responde.png);
    position: absolute;
    top: 55px;
    left: 30px;
  }
  #hero {
    padding: 0 !important;
    min-height: 258px;
  }
  #home-search::after {
    content: none;
  }

}

@media (max-width: 604px) {

  .nav-candidator ul.list-inline {
    background: transparent;
  }

  .nav-candidator .list-inline>li {
    padding: 1px 0px;
  }

}

@media (max-width: 800px) {
  .not_answered:after {
    /*top: 75px;
    left: 35px;*/
  }

  .not_answered_small a:after {
    content: url(../img/no-responde.png);
    position: absolute;
    top: 80px;
    left: 30px;
  }
}


.explanation-container {
  color: $letters-color;
}
.category_name .red {
}
.category_name .green {
  background-color: $category_name_background_color;
}

/*Wizard*/

.tips, .tips-invert {
  background: $grey-two;
  padding: 30px;
  color: white;
  margin: 30px 0;
  position: relative;
}

.tips:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(120, 130, 145, 0);
  border-top-color: $grey-two;
  border-width: 20px;
  margin-left: -20px;
}

.tips-invert:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(120, 130, 145, 0);
  border-bottom-color: $grey-two;
  border-width: 20px;
  margin-left: -20px;
}

.tips a, .tips-invert a {
  color: $yellow;
}

.tips-invert a.btn-primary {
  color: $grey-two;
}

.tips-invert a.btn-success {
  color: white;
}

.tips a.btn {
  color: white;
}

.example {
  color: $grey-one;
}

span.number {
  background: $yellow;
  border-radius: 30px;
  padding: 1px 6px 3px;
  color: white;
  font-family: monospace;
  font-weight: 800;
  font-size: 14px;
}

input#id_4-title {
    text-align: center;
}

/*Propuesta*/

.propuesta {
    border: 2px solid $blue;
    border-radius: 5px;
    padding: 25px 20px 35px;
    border-bottom: 18px solid $blue;
    position: relative;
    min-height: 510px;
}

.propuesta:after {
  content: 'Propuesta local';
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 10px;
  letter-spacing: 2px;
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.propuesta .btn-primary {
    width: 100%;
}

.propuesta.transversal {
    border: 2px solid $grey-four;
    border-bottom: 18px solid $grey-four;
}

.propuesta.transversal:after {
  content: 'Propuesta para todas las comunas';
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 10px;
  letter-spacing: 2px;
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.propuesta hr, .electo hr {
    max-width: 20%;
}

.logo-ong {
    margin: 20px 0px 0px;
}

.logo-ong img {
  max-width: 140px;
  max-height: 65px;
  margin-left: 5px;
}

.propuesta h4 a {
    color: $grey-one;
}


.propuesta h4 a:hover {
    color: $blue;
}

.propuesta h4 {
    margin: 0px 0 20px;
    &.modal-title {
      margin:0;
    }
}

.propuesta .small {
    margin: 25px 0 0px;
}

.share a .fa-stack {
    color: $grey-four;
}

.share a .fa-stack:hover {
    color: $yellow;
}

.btn-apoyo .fa-heart {
  font-size: 14px;
}

.btn-apoyo {
  color: $yellow;
  cursor: pointer;
}


.btn-apoyo:hover {
  color: $yellow-dark;
}

.apoyo {
    margin-top: 5px;
    min-height: 60px;
}

.apoyo-contador {
  padding-top: 12px;
  padding-left: 60px;
  max-width: 200px;
  text-align: center;
}

.detail-number h3 {
    margin: 6px 0;
}

.detail-numbers .col-md-4:nth-child(2) {
    border-right: 1px solid $grey-five;
    border-left: 1px solid $grey-five;
}

.detail-numbers .row {
    margin-top: 17px;
}

.compromiso {
    margin-bottom: 40px;
}

.compromiso h5 {
  margin: -3px 0;
}

/*Pagination*/

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: $grey-two;
    background-color: $grey-five;
    border-color: $grey-five;
}

.pagination>li>a, .pagination>li>span {
    margin-left: -2px;
    color: #9BA9C1;
    border: 2px solid #EAEDF2;
    font-family: 'Montserrat', sans-serif;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: $grey-one;
    background-color: $grey-five;
    border-color: $grey-five;
}

.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

/*Comuna*/

.comuna-concejales {
    background: $grey-two;
    padding: 40px 0 60px;
    color: white;
}

.ranking {
    max-width: 200px;
    margin: 0 auto;
}

.small.ranking {
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 14px;
}

.ranking-content {
  position: relative;
  background: #8EC2FF;
  height: 37px;
  padding: 5px 0;
}

.ranking.small .num {
    font-size: 24px;
    margin-top: 7px;
}

.ranking-content:after {
  content: url(../img/ribbon-deco-right.svg);
  position: absolute;
  bottom: -9px;
  right: -15px;
}

.ranking-content:before {
  content: url(../img/ribbon-deco.svg);
  position: absolute;
  bottom: -9px;
  left: -15px;
}

.ribbon-medianaranja {
  @extend .ranking-content;
  padding: 0px;
  background: $yellow;
  &:before {
    content: url(../img/ribbon-deco-median.png);
  }
  &:after {
    content: url(../img/ribbon-deco-right-median.png);
  }
}
.medianaranja {
  @extend .wizard;
  .checkbox{
    label {
      text-transform: none;
    }

  }
  .paso_title {
    font-size: 2em;
    .badge {
      background-color: $blue-light;

    }
  }
  .pregunta {
    border: 3px solid $blue-light;
    border-radius: 10px;
    padding: 0 5px;
    margin-bottom: 5px;
  }
}
/*Tabs*/

.nav-tabs.nav-justified li.active a{
  border-bottom: 3px solid $yellow;
  color: #233346;
}

.nav-tabs.nav-justified li a{
  border-bottom: 3px solid #EAEDF2;
  color: #5E6D82;
}

.nav-tabs>li>a:hover {
    border-color: transparent transparent $grey-five;
    color: $grey-one;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-color: transparent transparent $yellow;
    border-width: 3px;
    border-right: none;
    border-left: none;
}

.nav-tabs.nav-justified>li>a {
    border-radius: 0px;
}

/*Input*/

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 55px;
    padding: 15px 16px;
    font-size: 12px;
    line-height: initial;
    background: $grey-one;
    border: 3px solid $grey-one;
    color: white;
}

/*Panel*/

.panel {
  background-color: transparent;
  border: 3px dotted transparent;

}


.panel-default {
  border-color: #fff;
}
.extra-info {
    border: 3px solid $blue;
  }
/*Slides*/

.carousel-control.left,.carousel-control.right  {background:none;width:25px;}

.broun-block {
    padding-bottom: 34px;
}

.block {
    display: block;
}
.zmin {
    z-index: 1;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #ffcc00;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}
.rel {
    position: relative;
}

.carousel-control {
  opacity: 1;
}

.block-text .btn {
    margin-top: 50px;
}

.carousel-indicators li {
  background: $grey-four;
}

.carousel-indicators .active {
  background-color: $yellow;
}

.carousel-indicators {
  top: -40px;
}


.print_only {
  display:none;
}
/*Masonry*/

/* Grid */

#posts { margin: 30px auto 0; }
.post {
  margin: 0 0 50px;
  width: 100%;
}

#grid.container .post img { padding: 0; }


/*Post elecciones*/

.post.electo {
  border: 1px solid $grey-five;
  border-radius: 6px;
  padding: 40px 15px;
}

/*Profile Organization*/
.button-org {
  position: sticky;
  bottom: 10px;
  background-color: $yellow;
  width: 50px;
  padding: 8px 8px 8px 11px;
  border-radius: 40px;
  color: white;
  left: 90%;
  a {
    color: $grey-two;
  }
}
.propuesta.popular_proposal {

}
.post.propuesta.votita {
  background-image: url(../img/nna-proposal.svg);
  background-position: 24% 78%;
  background-repeat: no-repeat;
  .ribbon{
    display: none;
  }
}

.agenda-rio-ribbon {
    background-color: $laranja;
}

.fixed_recomendations {
    float: right;
    width: 40px; /* Set the width of the sidebar */
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    // z-index: -1; /* Stay on top */
    top: 33%; /* Stay at the top */
    right: 0;
    background-color: $laranja;
    font-size: 15px;
    overflow-x: hidden;
    display: block;
    writing-mode: tb-rl;
    transform: rotate(-180deg);

}

.material_ciudadano_information {
    cursor: pointer;
}
 .material_cidadao_container {
     margin-bottom: 10px;
 }

/* Medium devices */

@media (min-width: 768px) {
  #grid > #posts .post { width: 335px; }
  #grid > #posts .post.cs2 { width: 100%; }
  .post img { padding: 0; }
}



/* Medium devices */

@media (min-width: 992px) {
  #grid > #posts .post { width: 445px; }
  #grid > #posts .post.cs2 { width: 100%; }
}



/* Large devices */

@media (min-width: 1200px) {
  #grid > #posts .post { width: 346px; }
  #grid > #posts .post.cs2 { width: 742px; }
}



/* Large devices min-width (1200px) + a .post margin (50px) * 2 (100px) = 1300px */
/* 1300px gives me the clearance I need to keep the margins of the entire #grid (the
bleed if you will) the same width as the .post margins posts (50px). Basically I'm
being really picky about whitespace. If you don't care, no problem, just delete this.
Can this be done with Masonry options? */

@media (min-width: 1300px) {
  #grid {
    position: relative;
      }
  #grid.container {
    left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.print-share-urls { display:none; }

@import 'mediaqueries';
@import '2017sitio1';
@import 'media-2017sitio1';
@import 'media-print'
