

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
	background-color: #eaedf2;
	color: #323a45;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

/*Menu*/

.list-inline>li {
	padding: 0px;
}

.list-inline>li a {
	background: #FFF;
	border-right: 3px solid #eaedf2;
	padding: 10px;
}

.list-inline>li:first-child a {
	border-left: 3px solid #eaedf2;
}

.list-inline>li.active a, .list-inline>li:hover a {
	background: #5e6d82;
	color: #FFF;
}

.list-inline>li.active a {
	color: #FFF;
}

.list-inline>li a {
	color: #9fa7b4;
	text-decoration: none;
}

ul.list-inline {
	margin-bottom: 0px;
	padding: 8px;
}

.nav-candidator {
	background-color: #FFF;
	text-align: center;
}

.navbar-inverse {
	color: #FFF;
	background-color: #323a45;
}

.list-inline i.icon-group, .list-inline i.icon-edit {
	color: #14b9d5;
}

.list-inline i.icon-heart {
	color: #fe635f;
}

.list-inline i.icon-list {
	color: #3ee0cb;
}

.list-inline i.icon-bolt, .list-inline i.icon-trophy {
	color: #ffd200;
}

/*
profile
*/
.profile-candidate {
	padding: 10px;
	background-color: #14b9d5;
	color: #FFF;
}
.img-profile {
	padding-bottom: 5px;
}
.social-link-candidate {
	color: #FFF;
}
/*
eof profile
*/
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

#footer {
	height: 60px;
	padding-top: 10px;
	color: #FFF;
	background-color: #323a45;
}











