

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
	background-color: #eaedf2;
	color: #323a45;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family:  'Lato', sans-serif;
}

h1 {
	font-weight: 300;
}

h3 {
	font-weight: 900;
}

h5 {
	font-weight: 900;
	font-size: 14px;
}


a {
	color: #14b9d5;
}

a:hover {
	color: #0e778a;
	text-decoration: none;
}

strong {
	font-weight: 900;
}

.txt-gris {
	color: #9fa7b4;
}

.fondo-blanco {
	background: #fff;
	border-radius: 6px;
	padding: 10px;
}

.container {
	margin-bottom: 20px;
}

.text-warning {
	color: #b79800;
}

.alert-info {
	color: #14b9d5;
	background-color: #DDF6FA;
	border-color: #AFE9F3;
}

.form-control::-webkit-input-placeholder {
   font-weight: 300;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   font-weight: 300;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   font-weight: 300;  
}

.form-control:-ms-input-placeholder {  
   font-weight: 300;  
}

.right {
	float: right;
}

/*Elecciones destacadas*/

.contenedorDestacado {
	*zoom: 1;
	margin: 20px 0 60px;
}

.contenedorDestacado:after {
  content: "";
  display: table;
  clear: both;
}

.contenedorDestacado ul {
	list-style: none;
}

.accordion
{
	position:relative;
	overflow:hidden;
}


.accordion .panel
{
	background-color:#000;
	background-image:url(accordion-assets/images/preloader.gif);
	background-repeat:no-repeat;
	background-position:center center;
	position:absolute;
	overflow:hidden;
}


.accordion .shadow
{
	background:url(accordion-assets/images/shadow.png) repeat-Y;
	position:absolute;
	right:0px;
	width:25px;
	height:100%;
}


.accordion .preloader
{
	background:url(accordion-assets/images/preloader2.gif) no-repeat;
	width:62px;
	height:14px;
	position:absolute;
	z-index:15;
}


.accordion .caption
{
	overflow:hidden;
	position:absolute;
	z-index:20;
}


.accordion .caption-background
{
	background:transparent url(accordion-assets/images/captionBg.png);
	background:rgba(0,0,0,0.5);
	position:absolute;
	width:100%;
	height:100%;
}


.accordion .caption p
{
	color:#FFF;
	margin:0px;
	padding:10px;
}


.accordion .caption p a
{
	color:#FFF;
}


/*Botones*/

.btn {
	font-weight: 300;
}

.btn-lg {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	padding: 17px 16px;
}

.btn-success {
	background-color: #3ee0cb;
	border-color: transparent;
	float: right;
}

.btn-success:hover {
	background-color: #44938e;
	border-color: transparent;
}

.btn-primary {
	background-color: #14b9d5;
	border-color: transparent;
}

.btn-primary:hover {
	background-color: #0e778a;
	border-color: transparent;
}

.btn-danger {
	background-color: #fe635f;
	border-color: transparent;
}

.btn-danger:hover {
	background-color: #af373c;
	border-color: transparent;
}

input, button, select, textarea {
	font-family: 'Lato', sans-serif;
}

/*Menu*/

.navbar-inverse .navbar-nav>li>a {
	color: #FFF;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #14b9d5;
}


/*Menu Interno*/

.nav-candidator .list-inline>li {
	padding: 9px 0px 8px;
	margin-left: -4px;
	height: auto;
}

.nav-candidator .list-inline>li a {
	background: #FFF;
	border-right: 3px solid #eaedf2;
	/*border-top: 2px solid #eaedf2;*/
	padding: 10px;
	color: #9fa7b4;
	text-decoration: none;
}

.nav-candidator .list-inline>li:first-child a {
	border-left: 2px solid #eaedf2;
}

.nav-candidator .list-inline>li:last-child a {
	border-right: 2px solid #eaedf2;
}

.nav-candidator .list-inline>li.active a, .nav-candidator .list-inline>li:hover a {
	background: #5e6d82;
	color: #FFF;
	position: relative;
}

.nav-candidator .list-inline>li.active a:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.nav-candidator .list-inline>li.active a:after {
	border-color: rgba(94, 109, 130, 0);
	border-top-color: #5e6d82;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}

.nav-candidator ul.list-inline {
	margin-bottom: 0px;
	background: #fff;
	height: auto;
}

.nav-candidator {
	text-align: center;
	margin-bottom: 17px;
}

.navbar-inverse {
	color: #FFF;
	background-color: #323a45;
}

.navbar .container {
	margin-bottom: 0px;
}

.nav-candidator .list-inline i.icon-group, .nav-candidator .list-inline i.icon-edit {
	color: #14b9d5;
}

.nav-candidator .list-inline i.icon-heart {
	color: #fe635f;
}

.nav-candidator .list-inline i.icon-list, .nav-candidator .list-inline i.icon-info {
	color: #3ee0cb;
}

.nav-candidator .list-inline i.icon-bolt, .nav-candidator .list-inline i.icon-trophy {
	color: #ffd200;
}

@media (max-width: 604px) {

	.nav-candidator ul.list-inline {
		background: transparent;
	}

	.nav-candidator .list-inline>li {
		padding: 9px 0px 10px;
	}

}

/*Home*/

.intro-home {
	/*margin-top: 60px;*/
}

#home-search .form-control {
	color: #fff;
	background-color: #5e6d82;
	border-left: 1px solid #9fa7b4;
	border-radius: 0px;
	border-top: none;
	border-bottom: none;
	border-right: none;
	margin-top: 10px;
	box-shadow: none;
}

#home-search .form-control::-webkit-input-placeholder {
   color: #9fa7b4;
   font-weight: 300;
}

#home-search .form-control:-moz-placeholder { /* Firefox 18- */
   color: #9fa7b4;
   font-weight: 300;  
}

#home-search .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #9fa7b4;
   font-weight: 300;  
}

#home-search .form-control:-ms-input-placeholder {  
   color: #9fa7b4;
   font-weight: 300;  
}

#home-search .btn-default {
	color: #fff;
	background-color: #5e6d82;
	border-color: #5e6d82;
}

#home-search .btn {
	border-radius: 0px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 16px 20px;
}

#home-search button.btn[type="button"] {
	background-color: #9fa7b4;
	border-color: #9fa7b4;
}

#home-search .input-group {
	background: #5e6d82;
}

.imgs-mosaico .col-md-2 {
	padding-right: 0px;
	padding-left: 0px;
}

.containerAccordion .accordion .caption {
	height: 40px !important;
	text-align: left;
	left: 0 !important;
}

.containerAccordion .accordion .caption p {
	color: #FFF;
}

.containerAccordion .accordion .caption .caption-background {
	background: rgba(50, 58, 69, 0.8);
}

.elections-results li {
	background: #FFF;
	border-radius: 6px;
	padding: 10px;
	margin: 5px; 
}

/*Perfil candidato*/

.profile-candidate {
	background-color: #5e6d82;
	color: #FFF;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-height: 210px;
	padding: 20px 20px 0 20px;
}

.img-profile {
	padding-bottom: 5px;
}

.social-link-candidate {
	color: #FFF;
}

.container-candidates p {
	background: #fff;
	padding: 5px;
}

.questionary .panel-heading {
	background-color: #323a45;
	color: #FFF;
	font-weight: 900;
}

.question-answer {
	background-color: #ebedf2;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.question {
	font-weight: 900;
}


.icon-quote-left, .icon-quote-right {
	color: #9fa7b4;
}



/* Frente a frente*/
.progress-bar .fondo {
	background-color: #000
}
/*EOF frente a frente*/



/*Media naranja*/

.panel-default>.panel-heading {
	color: #fff;
	background-color: #323a45;
	border-color: transparent;
}

.panel-title {
	font-size: 14px;
}

.other-soulmate-box {
	background-color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 1px 15px;
}

.fondo-gris {
	background: #eaedf2;
	border-radius: 6px;
	margin-bottom: 15px;
}

#question-soulmate .fondo-gris {
	padding: 15px 0px;
}

#question-soulmate .row {
	margin-right: 0px;
	margin-left: 0px;
}

/*Media naranja - Resultado */

#soulmate-result {
	background: #5e6d82;
	padding: 15px;
	border-radius: 6px;
	color: #fff;
}

#soulmate-result .icon-heart {
	color: #fe635f;
}

#soulmate-result a {
	color: #3ee0cb;
}

#soulmate-result a:hover {
	color: #fff;
}

#soulmate-result h3 {
	margin-top: 0px;
}

#soulmate-result h2 {
	font-size: 98px;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
	margin: -10px 0px;
}

#soulmate-result h2 span {
	font-weight: 300;
}

#soulmate-result .fondo-azuloscuro {
	background: #323a45;
	padding: 9px 0px 0px;
	border-radius: 6px;
	margin-top: 20px;
}

#soulmate-result .fondo-azuloscuro i {
	color: #fff;
}

#soulmate-result .fondo-azuloscuro i:hover {
	color: #3ee0cb;
}

.progress {
	height: 26px;
	margin-bottom: 5px;
	background-color: #9fa7b4;
}

.progress-bar-success {
	background-color: #3ee0cb;
}

.progress-bar-warning {
	background-color: #ffd200;
}

.progress-bar-danger {
	background-color: #fe635f;
}

#soulmate-result .container-progress p span {
	float: right;
}

.other-soulmate-box h4 {
	font-weight: 900;	
}

/*Frente a frente*/

.porcentaje-similitud {
	background: #14b9d5;
	color: #fff;
	border-radius: 6px;
}

.porcentaje-similitud h3 {
	padding: 10px;
}

.chosen-container-single .chosen-single {
	padding: 12px 0px 0px 15px;
	height: 47px;
	border: transparent;
	border-radius: 0px;
	background: #323a45;
	box-shadow: none;
	color: #fff;
	font-weight: 900;
	position:relative;
	font-size: 14px;
}

.chosen-container-single .chosen-single:after {
	position: absolute;
	top: 11px;
	content: "\f078";
	font-family: FontAwesome;
	font-weight: normal;
	right: 15px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
	border: none;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	background: #323a45;
	box-shadow: none;
}

.chosen-container .chosen-results li.highlighted{
	background: #ffd200;
	color: inherit;
}

.panel-default>.panel-heading {
	color: #fff;
	background-color: #323a45;
	border-color: transparent;
}

#compare-candidates .text-right, #compare-candidates .text-center {
	color: #9fa7b4;
}

#compare-candidates i {
	color: #9fa7b4;
}

#compare-candidates .text-center i {
	color: #14b9d5;
}

#compare-candidates div.col-md-12:first-child {
	margin-top: 20px;
}

#compare-candidates div.col-md-6:last-child {
margin-bottom: 20px;
}

/*Cuestionario*/

.questionary .col-md-4 {
	float: right;
	padding: 5px 0px 5px 15px;
}

div.question-answer div.row.hidden-xs {
	border-top: 1px solid #FFF;
	padding: 10px 0px;
}

div.question-answer div.row.hidden-xs:nth-of-type(2), div.question-answer div.row.hidden-xs:nth-of-type(1) {
	border-top: none;
}

/* Footer */

#footer {
	padding-top: 10px;
	color: #FFF;
	background-color: #323a45;
}

.container-profile {
	background: #5e6d82;
	border-radius: 6px;
	color: #fff;
	margin: auto;
}

.container-profile h3 {
	margin-top: 0;
	padding: 20px 20px 0 20px;
}

.read-more a, .read-less a {
	display: block;
	background: #323a45;
	text-align: center;
	font-size: 14px;
	border-radius: 0px 0px 6px 6px;
	margin: 0px -20px;
}

.antecedentes p {
	margin: 0;
}

.profile-candidate {
	padding: 5px 20px;
}

.profile-candidate .table tbody>tr>td {
	border-bottom: 1px solid rgba(142, 146, 167, 1);
	border-top: none;
	font-weight: 400;
	padding: 4px;
}

.profile-candidate .table tbody>tr>td span {
	opacity: 0.8;
	font-weight: 300;
}

.profile-candidate .btn-success {
	margin: 10px 0;
}

.profile-candidate .btn-primary {
	margin: 10px 0 25px;
}

.social-link-candidate {
	color: #FFF;
}

.social-link-candidate:hover {
	color: #3ee0cb;
}

.panel-heading {
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.panel {
	border-radius: 6px;
}

@media (max-width: 480px) {

	.profile-candidate {
		min-height: 425px;
	}

	.other-soulmate-box {
		margin-top: 5px;
	}
}

/*Ranking*/

.panel-primary>.panel-heading {
	background-color: #0e778a;
	border-color: transparent;
}

.panel-primary {
	border-color: transparent;
	background-color: transparent;
}

.responden .panel-body {
	background: #14b9d5;
	color: #fff;
	border-radius: 0px 0px 6px 6px;
}

.responden .panel-body p span {
	color: #006577;
}

.no-responden .panel-body p span {
	color: #920006;
}

.responden .table tbody>tr>td {
	border-bottom: 1px solid #0e778a;
	border-top: none;
}

.no-responden .table tbody>tr>td {
	border-bottom: 1px solid #af373c;
	border-top: none;
}

.no-responden .panel-body {
	background: #fe635f;
	color: #fff;
	border-radius: 0px 0px 6px 6px;
}

.panel-danger>.panel-heading {
	color: #fff;
	background-color: #af373c;
	border-color: transparent;
}

.panel-danger {
	border-color: transparent;
	background-color: transparent;
}

.table>tbody>tr.danger>td {
	background-color: transparent;
}

.responden .icon-smile {
	font-size: 18px;
}

.no-responden .icon-frown {
	font-size: 18px;
}

.table tbody>tr>td.ranking-icon {
	padding: 8px 4px 8px 0px;
}

.responden tr.primary:first-child, .no-responden tr.danger:first-child {
	font-size: 18px;
}

tr.primary p:first-child, tr.danger p:first-child {
	margin: 0 0 0px;
}

.responden tr.primary:first-child .icon-smile, .no-responden tr.danger:first-child .icon-frown {
	font-size: 26px;
}

.bt-twitter {
	background: #eaedf2;
	border-radius: 6px;
	color: #323a45;
	text-align: center;
	font-size: 12px;
	padding: 2px;
	cursor: pointer;
}

.bt-twitter:hover {
	background: #323a45;
	color: #eaedf2;
}

.responden h4, .no-responden h4 {
	font-weight: 900;
}

/*Preguntales*/

.ask-form {
	background: #FFF;
	border-radius: 6px;
	padding: 20px;
	*zoom: 1;
	margin-bottom: 40px;
}

.ask-form:after {
  content: "";
  display: table;
  clear: both;
}

.ask-form .form-control {
	background-color: #eaedf2;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.recent-questions h3 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.search-questions .form-control {
	color: #fff;
	background-color: #9fa7b4;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.search-questions .input-group-addon {
	background-color: #5e6d82;
	border: none;
	border-radius: 0px;
	color: #fff;
}

.panel-heading .text-right {
	color: #9fa7b4;
}

.candidate-answer {
	background-color: #ebedf2;
	padding: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 8px;
}

.candidate-answer .btn-primary {
	padding: 3px 6px;
	font-size: 12px;
	float: right;
}

.search-questions .form-control::-webkit-input-placeholder {
   color: #eaedf2;
}

.search-questions .form-control:-moz-placeholder { /* Firefox 18- */
   color: #eaedf2;
}

.search-questions .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #eaedf2;
}

.search-questions .form-control:-ms-input-placeholder {  
   color: #eaedf2;
}
