*.log
*.pot
*.pyc
local_settings.py
.coverage
*.db
popit-api-for-testing
cache/*
.DS_Store
.travis*
.tm_properties
candidator
src/
*.sqlite3
*.swp
votai_general_theme/static/sass/*.css
static/
celerybeat-schedule
node_modules/
