*.log
*.pot
*.pyc
local_settings.py
.coverage
*.db
popit-api-for-testing
cache/*
.DS_Store
.travis*
.tm_properties
candidator
src/
*.sqlite3
*.swp
/static
*/static/sass/*.css
*/static/sass/*.css.map
*/static/merep_sass/*.css
*/static/merep_sass/*.css.map
celerybeat-schedule
node_modules/
preguntales/tests/testing_mails/attachments/fiera_parque_*.jpg
preguntales/tests/testing_mails/attachments/hello.pd_*.pdf
.ropeproject
.idea/
glenv/
whoosh_index/
