Django==1.5.1
django-nose
django-autoslug
django-taggit
loremipsum
South
pyelasticsearch
django-haystack
-e git://github.com/ciudadanointeligente/candideitorg-django.git#egg=candideitorg-django
PyYAML
django-markdown-deux==1.0.4
django-extensions
sorl-thumbnail
pillow
pgmagick
django_admin_bootstrapped
django-tinymce
-e git://github.com/ciudadanointeligente/popit-django.git@posts_a_person_to_the_api#egg=popit-django
-e git://github.com/ciudadanointeligente/writeit-django.git#egg=writeit-django
django-registration
mimeparse
django-tastypie
django-pagination==1.0.5
django-celery
python-memcached