{% load i18n %}

<p><b>{% trans "Ejemplo:" %}</b> {% trans "Las causas de la contaminación ambiental en la ciudad son:" %}
<p>{% trans "1. Excesivo uso de autos" %}<br>{% trans "2. El uso de estufas a leña" %}<br>{% trans "3. Poca educación ambiental" %}<br>{% trans "4. Uso excesivo de bolsas plásticas" %}</p>

<div class="pull-left">
  <svg id="i-reply" class="rotate" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
    <path d="M10 6 L3 14 10 22 M3 14 L18 14 C26 14 30 18 30 26" />
  </svg>
</div>
<p><b>{% trans "Causa elegida para nuestra propuesta" %}</b> {% trans "El uso excesivo de bolsas plásticas en los supermercados." %}</p>
