{% extends 'popular_proposal/steps/base_steps.html' %}
{% block step_title %}Paso 3: ¿Por qué existe el problema?{% endblock step_title %}
{% block tips %}
Luego de reconocer el problema a grandes rasgos, como grupo deben reflexionar sobre dónde surge el problema. Para esto se puede utilizar el ejercicio de los ¿por qués? Este consiste en preguntarse el porqué de un problema repetidas veces para saber un poco más acerca de sus causas.
Aquí se muestra un ejemplo del ejercicio de los ¿por qués?:

Problema: Los alumnos de los liceos municipales de la comuna de Pelarco obtuvieron en su mayoría bajo 500 puntos en la PSU del proceso de admisión 2016.

- **¿Por qué?** Porque el colegio municipal no les entrega las herramientas suficientes para preparar la prueba.

- **¿Por qué?** Porque la municipalidad no destina los recursos necesarios para el buen funcionamiento de los establecimientos educacionales.

- **¿Por qué?** Porque faltan recursos para contratar más profesores y comprar materiales.

Al finalizar con el ejercicio, se puede tener una idea más clara de la causa del problema. Esto los ayudará a construir a una mejor propuesta, ya que la solución que ofrezcan podrá atacar el problema de raíz.

{% endblock tips %}
