{% extends 'popular_proposal/steps/base_steps.html' %}
{% block step_title %}Paso 2: ¿Cuál sería la situación ideal (y realizable) a la que se busca llegar?{% endblock step_title %}


{% block tips %}
  <p>Habiendo identificado el problema que afecta a los habitantes de la comuna, es momento de pensar en la meta a la que queremos llegar. Lo importante de este ejercicio es poder definir la situación ideal (el cambio deseado) y también la fecha o momento apropiado para su cumplimiento.</p>
{% endblock tips %}


{% block ejemplo %}
<b><i>Situación ideal:</i></b> El año 2020, el 50% de los alumnos de los liceos municipales de la comuna de Pelarco obtendrán más de 500 puntos en la PSU.
{% endblock ejemplo %}
