{% extends 'popular_proposal/steps/base_steps.html' %}
{% block step_title %}¿Por qué existe el problema?{% endblock step_title %}
{% block tips %}
<p>Luego de reconocer el problema a grandes rasgos, reflexionen en grupo desde  dónde surge el problema. Para esta reflexión utilizaremos el ejercicio de los ¿por qués? Este ejercicio consiste en preguntarse el porqué de un problema repetidas veces para saber un poco más acerca de sus causas.</p>

<p>A partir del mismo problema planteado en el paso anterior, desarrollaremos a el ejercicio de los porqués. Al finalizar con el ejercicio, el último por qué les indicará la raíz del problema que quieren atacar. Anotenlo y trabajen sobre él, esto les ayudará a construir una mejor propuesta
</p>


{% endblock tips %}

{% block ejemplo_titulo %}<p>Ejemplo del ejercicio de los <i>¿por qués?</i>:</p>{% endblock ejemplo_titulo %}

{% block ejemplo %}

<p><b><i>Problema:</i></b> Los alumnos de los liceos municipales de la comuna de Pelarco obtuvieron en su mayoría bajo 500 puntos en la PSU del proceso de admisión 2016.</p>

<p><b><i>¿Por qué?</i></b> Porque el colegio municipal no les entrega las herramientas suficientes para preparar la prueba.</p>

<p><b><i>¿Por qué?</i></b> Porque la municipalidad no destina los recursos necesarios para el buen funcionamiento de los establecimientos educacionales.</p>

<p><b><i>¿Por qué?</i></b> Porque faltan recursos para contratar más profesores y comprar materiales.</p>

{% endblock ejemplo %}
