{% extends 'popular_proposal/steps/base_steps.html' %}
{% block step_title %}¿Cuál es el problema o necesidad que se busca solucionar?{% endblock step_title %}


{% block tips %}
  <p>El primer paso para crear una propuesta ciudadana consiste en: </p>
  <ul>
    <li><span class="number">a</span> identificar un problema que como comunidad quieran que se solucione y</li>
    <li><span class="number">b</span> reconocer si se puede resolver con el <a role="button" data-toggle="collapse" href="#atribuciones-municipio" aria-expanded="false" aria-controls="collapseExample">alcance que tiene el trabajo del alcalde o la municipalidad.</a></li>
    <div class="collapse" id="atribuciones-municipio">
      <div class="well">
        <h4>¿De qué se encarga un municipio?</h4>
        <ul>
        <li><p>El municipio debe velar por el desarrollo de la comuna y mejorar la calidad de vida de sus habitantes. Para ello, se encarga de las siguientes tareas que ayudan a cumplir esta labor:</p></li>
        <li><span class="number">1</span> Aplicar en la comuna en la comuna las políticas que se implementen a nivel nacional desde los ministerios (Ministerio de Salud, Transporte, Educación, etc).</li>
        <li><span class="number">2</span> Administrar bienes nacionales de uso público, es decir que son de uso y propiedad de todos los chilenos (como playas, puentes, edificios patrimoniales, etc), que se encuentren dentro del territorio de la comuna.</li>
        <li><span class="number">3</span> Preocuparse por el aseo y embellecimiento de la comuna.
        <li><span class="number">4</span> Subvencionar a organizaciones sin fines de lucro que apoyen el funcionamiento del municipio.</li>
        <li><span class="number">5</span> Cuando sea necesario, establecer normas que apunten a mejorar la convivencia entre los vecinos de la comuna. Estas normas se establecen por medio de “ordenanzas municipales”.</li>
        <li><span class="number">6</span> Preocuparse por incorporar a la comunidad en la elaboración de planes y programas que contribuyan al desarrollo de la comuna y a mejorar la calidad de vida de sus habitantes.
        </ul>
      </div>
    </div>
  </ul>
  <p>  
    La propuesta debe apuntar a una situación que afecta a una gran cantidad de vecinos de una comuna. Esto le dará prioridad a la petición a ojos del alcalde. Por esto es importante identificar si son muchos los vecinos que comparten el problema.
  </p>
{% endblock tips %}

{% block ejemplo %}
  <b><i>Problema:</i></b> Los alumnos de los liceos municipales de la comuna de Pelarco obtuvieron en su mayoría bajo 500 puntos en la PSU del proceso de admisión 2016.
{% endblock ejemplo %}



