{% extends 'popular_proposal/steps/base_steps.html' %}
{% load bootstrap3 %}
{% load votainteligente_extras %}
{% block step_title %}¿Cómo se puede lograr la situación ideal?{% endblock step_title %}


{% block tips %}
<div class="hidden ayuda_comuna">{% include 'ayuda_municipalidad_categoria.html' %}</div>
<p> Una vez que tenemos claro el objetivo que queremos para la comuna y las causas del problema, debemos pensar en las medidas que el alcalde puede tomar para obtenerlo. Esta es la acción concreta que se le solicitará a los candidatos. </p>


<p> Para proponer esta solución al problema, es muy importante tomar en consideración las causas que se identificaron en el paso anterior. Al atacar las causas, que son como nudos que atan el problema, este se resolverá como consecuencia. </p>

<p> Es importante que la solución esté dentro de lo que un alcalde puede hacer. <b>Selecciona la categoría* de tu propuesta para revisar la labor de las municipalidades y alcaldes en ese ámbito.</b> </p>

{% if field %}
  {% bootstrap_field field show_help=false show_label=false %}
{% endif %}
<p class="nota"> *Nota: las categorías muestran algunos ejemplos, el trabajo de la municipalidad no se limita solamente a esto. </p>
<div class="collapse" id="collapseCategorias">
  <div class="well">
    <div id="selector-categorias"></div>
  </div>
</div>

<script type="text/javascript">
$(function(){
    $("[name$='clasification']").change(function(event){
    	$('#ayuda_desplegada').remove();
    	var select = $(event.target);
    	var value = select.val();
    	var help = $('.ayuda_comuna .ayuda.' + value);
    	if(help.length) {
	    	var element_to_be_inserted = '<div id="ayuda_desplegada">' + help.html() + "</div>";
	    	$('#selector-categorias').append(element_to_be_inserted);
        $('#collapseCategorias').collapse()
    	}
    })
})
</script>
{% endblock tips %}

{% block ejemplo_titulo %}Aquí se toma la última respuesta del ejercicio de los ¿por qués? y se utiliza para proponer una solución:<br />
{% endblock ejemplo_titulo %}


{% block ejemplo %}

<p>
  <p><b><i>¿Por qué?</i></b> Porque faltan recursos para contratar más profesores y comprar materiales.</p>

  <p><b><i>Propuesta</i></b> Que la Municipalidad de Pelarco otorgue más recursos para educación.</p>
  <p><b><i>Tu respuesta anterior fue</i></b> {{preview_data.causes|popular_proposal_when}}.</p>
</p>

{% endblock ejemplo %}
