{% extends 'popular_proposal/steps/base_steps.html' %}
{% load bootstrap3 %}
{% load votainteligente_extras %}
{% block step_title %}¿Cuál es el escenario ideal al que queremos llegar? {% endblock step_title %}


{% block tips %}
<p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> Imagina cómo sería el país sin el problema que describiste anteriormente. Cuéntanos aquí cómo sería esa situación ideal a la que buscamos llegar.  </li>
<p>
{% if field %}
  {% bootstrap_field field show_help=false show_label=false %}
{% endif %}
<div class="collapse" id="collapseCategorias">
  <div class="well">
    <div id="selector-categorias"></div>
  </div>
</div>
{% endblock tips %}


{% block ejemplo %}
<p>
  <p><b><i> Situación ideal a la que queremos llegar:</i></b>
<p> Que tengamos un ambiente limpio en la ciudad.<p>

{% endblock ejemplo %}
