{% extends 'popular_proposal/steps/base_steps.html' %}
{% block step_title %}¿Qué solución creemos que nos hará pasar del problema a la situación ideal?{% endblock step_title %}

{% block tips %}
<p> Desarrollando nuestra propuesta  </p>
<ul class="list-unstyled">
  <li><span class="number">a</span> Escribe la propuesta que soluciona este problema y nos puede hacer pasar a la situación ideal. <li>
  <li><span class="number">b</span> Esta propuesta debe ser lo más detallada posible, de esta forma podrás encontrar apoyo en candidatos/as, en la ciudadanía o en organizaciones que encuentren atractiva tu propuesta.<li>
  <li><span class="number">c</span> Pon un límite de tiempo para que el/la candidato/a se comprometa a cumplir. <li>
{% endblock tips %}

{% block ejemplo %}

<p>
  <p><b><i>Propuesta:</i></b>
<p>Se puede regular el uso de bolsas plásticas en los supermercados a solo tres por persona, las otras bolsas que se usen deben ser reutilizables.<p>


</p>

{% endblock ejemplo %}
