{% extends 'popular_proposal/steps/base_steps.html' %}
{% block messages %}
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Sabemos que las propuestas que vienen de un Encuentro local son más exitosas ya que se formulan a partir de la colectividad y el malestar/bienestar de las perssonas que habitan un espacio fisico común. Te invitamos a conocer sobre como relizar encuentros locales en el <a href="//docs.google.com/document/d/1vpUEqJZdbKOKoKftQXGGDNywwvkNCGX9LTEefha8OxI/edit?usp=sharing">siguiente enlace</a>
</div>
{% endblock messages %}
{% block step_title %}¿Cuál es el problema que quieres solucionar?{% endblock step_title %}


{% block tips %}
  <p>¿Cómo se define un problema?: </p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> Un problema es una situación que, de ser superada, traería beneficios a la sociedad o a una parte de esta. Por lo mismo, se debe tener en consideración a quién afecta y acotarlo a un contexto geográfico y temporal.</li>
    <li><span class="number">b</span> Es importante identificar si son muchos ciudadanos/as los/as que comparten el problema. La propuesta debe apuntar a una situación que involucre a un gran número de vecinos. Así será más visible para el/la candidato/a.</li>
    <li><span class="number">c</span> Elige una categoria para tu propuesta. Así los/as ciudadanos/as y candidatos/as podrán encontrar más fácil tu propuesta.  </li>

  </p>
 <script type="text/javascript">
$(function(){
    $("[name$='clasification']").change(function(event){
    	$('#ayuda_desplegada').remove();
    	var select = $(event.target);
    	var value = select.val();
    	var help = $('.ayuda_comuna .ayuda.' + value);
    	if(help.length) {
	    	var element_to_be_inserted = '<div id="ayuda_desplegada">' + help.html() + "</div>";
	    	$('#selector-categorias').append(element_to_be_inserted);
        $('#collapseCategorias').collapse()
    	}
    })
})
</script>

{% endblock tips %}


{% block ejemplo %}
  <b><i>Problema:</i></b> Contaminación en la ciudad
{% endblock ejemplo %}
