{% extends 'popular_proposal/steps/base_steps.html' %}
{% block step_title %}¿Qué propuesta puede solucionar este problema?{% endblock step_title %}

{% block tips %}
<p> Desarrollando nuestra propuesta  </p>
<ul class="list-unstyled">
  <li><span class="number">a</span> Ahora llegó el momento de proponer cómo podemos solucionar el problema. <li>
  <li><span class="number">b</span> Mientras más detallada sea tu propuesta, más apoyo podrá generar de parte de la ciudadanía, organizaciones, y candidaturas.<li>
  <li><span class="number">c</span> No olvides establecer un plazo de tiempo para que el candidato o la candidata cumplan con la propuesta si se comprometen.  <li>
{% endblock tips %}

{% block ejemplo %}

<p>
  <p><b><i>Propuesta:</i></b>
<p>Se puede regular el uso de bolsas plásticas en los supermercados a solo tres por persona, las otras bolsas que se usen deben ser reutilizables.<p>


</p>

{% endblock ejemplo %}
