{% extends 'popular_proposal/steps/base_steps.html' %}
{% block step_title %}¿Cuál es la causa de este problema?{% endblock step_title %}
{% block tips %}

  <ul class="list-unstyled">
    <li><span class="number">a</span> Una causa es la razón por la que existe el problema que queremos combatir.</li>
    <li><span class="number">b</span> Aunque tu problema pueda tener más de una causa, elige sólo una (la que se pueda abordar a través de tu propuesta). </li>
    <li><span class="number">c</span> Si quieres enfrentar otra causa del mismo problema, puedes añadir otra propuesta.  </li>
  </p>

{% endblock tips %}

{% block ejemplo_titulo %}<p>Ejemplo de la elección de una causa{% endblock ejemplo_titulo %}

{% block ejemplo %}

<p><b><i>Causas del problema:</i></b> Las causas de la contaminación ambiental en la ciudad son:
</p>1.- Excesivo uso de autos</p>
</p>2.- El uso de estufas a leña</p>
</p>3.- Poca educación ambiental</p>
</p>4.- Uso excesivo de bolsas plásticas</p>

<div class="pull-left">
  <svg id="i-reply" class="rotate" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
    <path d="M10 6 L3 14 10 22 M3 14 L18 14 C26 14 30 18 30 26" />
  </svg>
</div>
<p><b><i>Causa elegida para nuestra propuesta</i></b> El uso excesivo de bolsas plásticas en los supermercados.</p>
<div class="pull-left">

{% endblock ejemplo %}
