{% extends 'popular_proposal/steps/base_steps.html' %}
{% block step_title %}¿Cuál es el problema que quieres solucionar?{% endblock step_title %}


{% block tips %}
  <p>¿Cómo se define un problema?: </p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> Un problema es una situación que, de ser superada, traería beneficios a la sociedad o a una parte de esta. Por lo mismo, se debe tener en consideración a quién afecta y acotarlo a un contexto geográfico y temporal.</li>
    <li><span class="number">b</span> Es importante identificar si son muchos ciudadanos/as los/as que comparten el problema. La propuesta debe apuntar a una situación que involucre a un gran número de vecinos. Así será más visible para el/la candidato/a.</li>
    <li><span class="number">c</span> Elige una categoria para tu propuesta. Así los/as ciudadanos/as y candidatos/as podrán encontrar más fácil tu propuesta.  </li>

  </p>
{% endblock tips %}


{% block ejemplo %}
  <p><b>¡CATEGORIAS DE TEMAS AQUÍ!</b><p>
  <b><i>Problema:</i></b> Contaminación en la ciudad
{% endblock ejemplo %}
