{% extends 'popular_proposal/steps/base_steps.html' %}
{% load bootstrap3 %}
{% load votainteligente_extras %}
{% block step_title %}¿Cuál es el escenario ideal al que queremos llegar? {% endblock step_title %}


{% block tips %}
<p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> La situación ideal a la que queremos llegar es la contraposición al problema que tenemos. </li>
    <li><span class="number">b</span> De esta forma tendremos claro cual es nuestro problema y el escenario ideal al que queremos llegar. </li>
<p>
{% if field %}
  {% bootstrap_field field show_help=false show_label=false %}
{% endif %}
<p class="nota"> *Nota: las categorías muestran algunos ejemplos, el trabajo del Congreso, Gobierno o Consejo Regional puede ser más extenso. </p>
<div class="collapse" id="collapseCategorias">
  <div class="well">
    <div id="selector-categorias"></div>
  </div>
</div>

<script type="text/javascript">
$(function(){
    $("[name$='clasification']").change(function(event){
    	$('#ayuda_desplegada').remove();
    	var select = $(event.target);
    	var value = select.val();
    	var help = $('.ayuda_comuna .ayuda.' + value);
    	if(help.length) {
	    	var element_to_be_inserted = '<div id="ayuda_desplegada">' + help.html() + "</div>";
	    	$('#selector-categorias').append(element_to_be_inserted);
        $('#collapseCategorias').collapse()
    	}
    })
})
</script>

{% endblock tips %}


{% block ejemplo %}
<p>
  <p><b><i> Situación ideal a la que queremos llegar:</i></b>
<p> Que tengamos un ambiente limpio en la ciudad.<p>

{% endblock ejemplo %}
