<h1>Paso 1: ¿Cuál es el problema que se busca solucionar?</h1>

<div class="tips">
  <b class="text-dark">TIPS</b>
  <p>El primer paso para crear una propuesta ciudadana consiste en: </p>
  <ul>
    <li><span class="number">a</span> identificar una problemática social que quieran que se solucione.</li>
    <li><span class="number">b</span> reconocer si se puede resolver con el alcance que tiene el trabajo del alcalde o la municipalidad.</li>
  </ul>
  <p>  
    El problema debe ser una situación negativa o dañina que afecta a una gran cantidad de vecinos de una comuna. Esto le dará prioridad a la petición a ojos del alcalde. Por esto es importante identificar si son muchos los vecinos que comparten el problema.
  </p>
</div>

<span class="text-light">Ejemplo:</span>
<div class="example">
  <b><i>Problema:</i></b> Los alumnos de los liceos municipales de la comuna de Pelarco obtuvieron en su mayoría bajo 500 puntos en la PSU del proceso de admisión 2016.
</div>