{% load markdown_deux_tags %}
{% markdown %}
##Para escribir una propuesta ciudadana
**¿Por qué escribir una propuesta ciudadana?**
La importancia de escribir una propuesta ciudadana está en que, a través de estas, los candidatos a alcalde podrán conocer y recoger las ideas de diversas agrupaciones. Esto ayudará a representar de mejor forma los intereses y necesidades de los vecinos de la comuna. Por lo mismo, las propuestas deben pensarse en grupo siempre que sea posible.


**Paso 1: ¿Cuál es el problema que se busca solucionar?**

El primer paso para crear una propuesta ciudadana consiste en A) identificar una problemática social que quieran que se solucione y B) reconocer si se puede resolver con el alcance que tiene el trabajo del alcalde o la municipalidad. Entendemos un problema social como una situación negativa o dañina que afecta a una gran cantidad de vecinos de una comuna.

Aquí podemos ver un ejemplo de un problema:

Problema: Los alumnos de los liceos municipales de la comuna de Pelarco obtuvieron en su mayoría bajo 500 puntos en la PSU del proceso de admisión 2016.

Siguiendo el modelo, escriban su problema contestando esta pregunta: ¿Cuál es la problemática que afecta a su comuna de la que el alcalde debería hacerse cargo?
{% endmarkdown %}
