{% load markdown_deux_tags %}
{% markdown %}
**Paso 4: ¿Cómo se puede lograr la situación ideal?**

Una vez que tenemos claro el objetivo que queremos para la comuna y las causas del problema, debemos pensar en las medidas que el alcalde puede tomar para obtenerlo. Esta es la acción concreta que se le solicitará a los candidatos.


Para proponer esta solución al problema, es muy importante tomar en consideración las causas que se identificaron en el paso anterior. Al atacar las causas, que son como nudos que atan el problema, este se resolverá como consecuencia.

Ejemplo. Aquí se toma la última respuesta del ejercicio de los ¿por qués? y se utiliza para proponer una solución:

**¿Por qué?** Porque faltan recursos para contratar más profesores y comprar materiales.

**Propuesta** Que la Municipalidad de Pelarco otorgue más recursos para educación.

Siguiendo el ejemplo, propongan la(s) medida(s) que el alcalde debe tomar para solucionar la causa del problema y poder alcanzar la situación ideal.

Nota: Es importante que la solución esté dentro de lo que un alcalde puede hacer. Si es necesario, pueden recurrir nuevamente al [anexo](http://2016.votainteligente.cl/pages/paso1/que-hace-una-muni/ "¿Qué hace una municipalidad?") para recordarles qué hacen las municipalidades y alcaldes.

{% endmarkdown %}
