{% load markdown_deux_tags %}
{% markdown %}
**Paso 6: ¿En qué plazo debe quedar lista la acción que proponen?**

Una vez teniendo la propuesta, debemos ponerle un plazo. ¿Para cuándo deben quedar listas y finalizadas las acciones que proponen? Recuerden que los alcaldes están en el municipio por 4 años, por lo que los candidatos no se pueden comprometer a soluciones más allá de ese tiempo.

Aquí tenemos los mismos ejemplos de propuestas del punto anterior pero hemos agregado y subrayado su plazo límite: :

- Que la Municipalidad de Pelarco destine un 20% más de recursos al año para colegios o liceos a partir del segundo año del alcalde.
- Que para el año 2018 la Municipalidad de Pelarco elabore e implemente un plan junto a los profesores de Educación Media para optimizar los recursos en educación. 
{% endmarkdown %}
