@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
@import 'colors';
@import 'bootstrap/bootstrap';
@import 'partes/landing';
@import 'partes/_voluntarios';
@import 'partes/_perfil_candidato';

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $cinza;
    color: $preto;
}
.title {
    
}

.btn-roxo {
    @include button-variant($roxo, $roxo);
  }
.btn-gris {
   @include button-variant($gris, $gris); 
}

section.profile-question {
    margin-top: 2em;
    margin-bottom: 2em;
}
.desc_candidato {
    li {
        padding: 0;
        border: none;
        margin-top: 0.5em;
    }
}
.label_question{

    label {
        font-weight: bolder;
        margin-bottom: 1.5em;
    }
}

@mixin paso($background-color) {
    min-height: 5px;
    width: 100%;
    display: block;
    background-color: $background-color;
}

.paso_incompletado{
    @include paso($gris);
}
.paso_completado {
    @include paso($verde);
}

.question-pauta {
    margin-top: 2em;
    margin-bottom: 2em;
    .question-label {
        font-weight: bolder;
        font-size: x-large;
    }
    .enquiri {
        font-weight: bolder;   
    }
    .description {
        margin-bottom: 1em;
        padding-left: 1em;
    }
    .radio {

        label {
            @include border-radius($radius: $border-radius)
            background-color: $gris;
            padding: 0.4em;
        }
    }
}

div.categories-select {
    @include make-row();
    .cat-selected {
        background-color: $roxo;
    }
    .cat-unselected {
        background-color: $branco;
    }
    div.checkbox {
        @include make-col(4);
        label {
            height: 100%;
            width: 100%;
        }
        min-height: 4em;
        input[type=checkbox] {
            visibility: hidden;
        }
    }
}

.btn-verde {
   @include button-variant($verde, $verde); 
}

.obrigada-candidato {
    color: $roxo;
    font-weight: bolder;
    text-transform: uppercase;

}