@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
@import 'bootstrap/bootstrap';
@import 'variables';
@import 'partes/_candidato-form';
@import 'partes/_footer';
@import 'partes/_perfil_candidato';
@import 'partes/_voluntarios';
@import 'partes/eleitores';
@import 'partes/landing';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $cinza;
  color: $preto;
}

a:hover {
    color: #1B9AAA;
}

.header {
  padding: 50px 0;
}

.btn {
  font-weight: bold;
  padding: 10px 30px;

  .nav-link {
    color: #fff !important;
  }
}

.nav-link {
  font-weight: bold;
  margin-right: 1em;
}

.btn-uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

.btn-azul {
  @include button-variant(#1B9AAA, #1B9AAA);
}

.btn-roxo {
  @include button-variant($roxo, $roxo);
}

.btn-gris {
  @include button-variant($gris, $gris); 
}

.sobre-container {
  margin-top: 40px;

  span {
      font-weight: bold;
  }

  img {
    width: 100%;
  }

  .uniao {
    margin-top: 20px;
    margin-bottom: 20px;
    }

  h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    color: #000;
  }
    
  & h2 {
    color: #39393A;
    font-size: 36px;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
  }

  & h3 {
    color: #39393A;
    font-size: 28px;
    margin-bottom: 20px;
  }

  & p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
  }

  .col-lg-12:not(:first-of-type){
    margin-top: 40px;
  }

  .col-lg-6 {
    margin-top: 40px;
  }

  .flex {
    align-items: center;
    display: flex;
  }

  .ilustracao {
    display: flex;
    justify-content: center;
    margin-top: 0;

    img {
    width: 50%;
    }
  }
}

section.profile-question {
    margin-top: 2em;
    margin-bottom: 2em;
}
.desc_candidato {
    li {
        padding: 0;
        border: none;
        margin-top: 0.5em;
    }
}
.label_question{

    label {
        font-weight: bolder;
        margin-bottom: 1.5em;
    }
}

@mixin passo($background-color) {
    min-height: 5px;
    width: 100%;
    display: block;
    background-color: $background-color;
}

.passos {
  margin: 50px 0;

  .passo-incompleto{
      @include passo($gris);
  }
  .passo-completo {
      @include passo($roxo);
  }
}

.title-pauta {
  margin-bottom: 60px;
}

.opcoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-pauta {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 20px;

  .question-label {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .description {
    margin-bottom: 30px;
  }

  .posicionamento {
    font-weight: bold;
  }
}

.question-title {
  font-weight: bold;
}

.question-estado > div {
  font-weight: bold;
  display: flex;
  align-items: center;

  label,
  select {
    flex: 1;
  }

  label {
  font-size: 20px;
  }

}

.categories-select {
    @include make-row();

    .cat-selected {
        background-color: $roxo;
        color: $white;
    }
    .cat-unselected {
        background-color: #F7F7F7;
        color: $preto;
    }
    .checkbox {
        box-shadow: 1px 2px 4px rgba(0,0,0,.25);
        flex: 0 0 32%;
        max-width: 32%;
        min-height: 230px;
        padding: 0 20px;
        margin: 5px;
        transition: 0.2s ease-in;

        @media screen and (max-width: $break-large) {
          flex: 0 0 31%;
          max-width: 31%;
        }

        @media screen and (max-width: $break-small) {
          flex: 0;
          min-width: 98%;
        }

        &:hover {
          border: 3px solid $roxo;
        }

        label {
          height: 100%;
          width: 100%;
          font-weight: bolder;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        input[type=checkbox] {
            visibility: hidden;
        }
    }
}

// Radio A Favor ou Contra
.options > .form-group > div > .radio {
  background-color: #F9F9F9;
  border: solid 3px #F9F9F9;
  transition: 0.2s ease-in;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-bottom: 10px;

  &:hover {
    border: solid 3px #FFC43D;
  }

  label {
    padding: 15px;
    width: 100%;
    cursor: pointer;
  }
}

.option-selected {
  background-color: #FFC43D !important;
  border: 3px solid #FFC43D !important;
}

.btn-verde {
   @include button-variant($verde, $verde); 
}

.obrigada-candidato {
  margin-top: 50px;

  h1 {
    color: $roxo;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 100px;
  }

  h2 {
    font-size: 46px;
    margin-bottom: 30px;
  }

  p {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
  }
}

.obrigada-pautas {

  img {
    width: 100%;
  }

  h1 {
    color: #4F4F4F;
    display: flex;
    flex-direction: column;
    font-size: 47px;
    font-weight: bold;
    margin-bottom: 20px;

    span {
      color: #1B9AAA;
    }
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
  }
}


footer {
  margin-top: 1em;
}

#mc_embed_signup {
   background:#fff; 
  clear: left; 
  font-size: 14px;
}

.pautas-page {

  h1 {
    font-weight: bold;
    margin-bottom: 40px;
    color: #000000;
  }

  h3 {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
  }

  h4 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 20px;

    @media screen and (max-width: $break-large) {
      text-align: center;
      font-size: 18px !important;
      font-weight: bold;
    }
  }

  p {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
  }

  .voltar {
    margin-bottom: 40px;
  }

  .pauta-container {
    margin-bottom: 80px;
  }
}

.current {
  background-color: #FFC43D;
}

// .tab-content {
//   display: none;
// }

.tab :first-child {
  display: block;
}

.tabs-menu {
  list-style: none;
  padding: 0;

  .link{ 
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    min-width: 123px;
    min-height: 100px;
  
    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-weight: bold;
      color: #000;
    }

    a:hover {
      color: #000;
      text-decoration: none;
    }
  }  
}

.termos {
  h1 {
    font-size: 40px;
    font-weight: bold;
  }

  h2 {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
  }

  h3 {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 40px 0;
  }

  p,
  li {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .bold {
    font-weight: bold;
  }

}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: right;

  a {
    cursor: pointer;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }

  a:hover {
    text-decoration: none;
  }
}

.modal {

  textarea {
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    text-align: center;
  }

  .options {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
  }
}

.continuar {
  margin-top: 40px;
}

.faq {
  h1 {
    font-size: 40px;
    font-weight: bold;
  }

  h2 {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
  }

  h3 {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 40px 0;
    color: $roxo;
  }

  iframe {
    margin-bottom: 40px;
    width: 100%;
  }

  .faq-accordion {

    .faq-accordion-header {
      padding: 1.25rem 0;

      .btn,
      .btn-link {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 0;
        color: #4F4F4F;
        font-size: 28px;
        font-family: 'Lato', sans-serif;

        div {
          white-space: pre-line;
          text-align: left;
        }
      }

      .btn-link:hover,
      .btn-link:active {
        text-decoration: none !important;
      }
    }

    .card-body {
      padding: 1.25rem 0;
      font-size: 22px;
      font-family: 'Lato', sans-serif;
    }
  }
}
