@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
@import 'bootstrap/bootstrap';
@import 'colors';
@import 'partes/_candidato-form';
@import 'partes/_footer';
@import 'partes/_perfil_candidato';
@import 'partes/_voluntarios';
@import 'partes/eleitores';
@import 'partes/landing';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $cinza;
  color: $preto;
}

a:hover {
    color: #1B9AAA;
}

.header {
  padding: 50px 0;
}

.btn {
  font-weight: bold;
  padding: 10px 30px;
}

.nav-link {
  font-weight: bold;
  margin-right: 1em;
}

.btn-uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

.btn-azul {
  @include button-variant(#1B9AAA, #1B9AAA);
}

.btn-roxo {
  @include button-variant($roxo, $roxo);
}

.btn-gris {
  @include button-variant($gris, $gris); 
}

.sobre-container {
  margin-top: 80px;

  h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 80px;
  }
    
  & h2 {
    color: #39393A;
    font-size: 36px;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
  }

  & h3 {
    color: #39393A;
    font-size: 36px;
    margin-bottom: 20px;
  }

  & p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }

  .col-lg-12 {
    margin-top: 40px;
  }

  .flex {
    align-items: center;
    display: flex;
  }
}

section.profile-question {
    margin-top: 2em;
    margin-bottom: 2em;
}
.desc_candidato {
    li {
        padding: 0;
        border: none;
        margin-top: 0.5em;
    }
}
.label_question{

    label {
        font-weight: bolder;
        margin-bottom: 1.5em;
    }
}

@mixin paso($background-color) {
    min-height: 5px;
    width: 100%;
    display: block;
    background-color: $background-color;
}

.paso_incompletado{
    @include paso($gris);
}
.paso_completado {
    @include paso($verde);
}

.question-pauta {
    margin-top: 2em;
    margin-bottom: 2em;
    .question-label {
        font-weight: bolder;
        font-size: x-large;
    }
    .enquiri {
        font-weight: bolder;   
    }
    .description {
        margin-bottom: 1em;
    }
    .radio {

        label {
            @include border-radius($radius: $border-radius);
            background-color: $gris;
            padding: 0.4em;
        }
    }
}

div.categories-select {
    @include make-row();
    .cat-selected {
        background-color: $roxo;
        color: $white;
    }
    .cat-unselected {
        background-color: $branco;
        color: $preto;
    }
    div.checkbox {
        @include make-col(4);
        border: 2px solid $gris;
        label {
        
            padding-top: 3em;
            padding-left: 27%;
            height: 100%;
            width: 100%;
            font-weight: bolder;
        }
        min-height: 8em;
        input[type=checkbox] {
            visibility: hidden;
        }
    }
}

.btn-verde {
   @include button-variant($verde, $verde); 
}

.obrigada-candidato {
    color: $roxo;
    font-weight: bolder;
    text-transform: uppercase;

}

.nav-item {
    color: $preto;
}

footer {
    margin-top: 1em;
}

#mc_embed_signup {
    background:#fff; 
    clear: left; 
    font-size: 14px;
}
