<p>Hola <b>{{candidate.name}}</b>:</p>

<p><a href="https://Votainteligente.cl">Vota Inteligente</a> es una plataforma, SIN COSTO ASOCIADO, de la Fundación Ciudadano Inteligente que recibe propuestas ciudadanas y de la sociedad civil en el marco de las elecciones presidenciales y parlamentarias de este año.</p>

<p>Cada candidatura cuenta con un perfil básico, al que puedes acceder para difundir información sobre tu campaña y comprometerse con aquellas propuestas ciudadanas que te sean afines.</p>

<p>Hemos seleccionado algunas propuestas que consideramos podrían ser de tu interés:</p>
<ul>
	{% for proposal in proposals %}
<li><a href="https://{{site.domain}}{{proposal.get_absolute_url}}">{{proposal.title}}</a> de {{proposal.title.proposer}}</li>
{% endfor %}
</ul>

{% with candidate.contacts.last as contact %}
{% if not candidate.has_joined %}

<p>Para comprometerte con éstas y otras propuestas debes ingresar a <a href="https://{{site.domain}}{% url 'backend_candidate:candidate_auth_login' %}">aquí</a> tu usuario y password son:</p>
<ul>
<li><b>Usuario:</b> {{contact.candidacy.user.username}}</li>
<li><b>Password:</b> {{contact.initial_password}}</li>
</ul>
{% else %}
<p>Para comprometerte con éstas y otras propuestas debes ingresar a <a href="https://{{site.domain}}{% url 'backend_candidate:candidate_auth_login' %}">aquí</a> con tu usuario: <b>{{contact.candidacy.user.username}}</b>.</p>
{% endif %}

{% endwith %}
<p>Si quieres que utilicemos otra dirección de correo electrónico para comunicarnos contigo, o si tienes alguna duda, puedes responder a este mismo mail.</p>

<p>¡Súmate a VotaInteligente!</p>

--
El equipo de VotaInteligente.cl