<div style="font-family: 'Arial', sans-serif;">
<p>Hola <b>{{candidate.name}}</b>:</p>

<p><a href="https://Votainteligente.cl">Vota Inteligente</a> es una plataforma, SIN COSTO ASOCIADO, de la Fundación Ciudadano Inteligente que recibe propuestas ciudadanas y de la sociedad civil en el marco de las elecciones presidenciales y parlamentarias de este año.</p>

{% if text %}
<p>{{text|linebreaksbr}}</p>
{% endif %}

{% include 'backend_candidate/_suggestions_formset.html' with formset=formset object=candidate_incremental %}

{% with candidate.contacts.last as contact %}
{% if not candidate.has_joined %}

<p>Cada candidatura cuenta con un perfil básico, al que puedes acceder <a href="https://{{site.domain}}{% url 'backend_candidate:candidate_auth_login' %}">aquí</a> con tu usuario y password:</p>
<ul>
<li><b>Usuario:</b> {{contact.candidacy.user.username}}</li>
<li><b>Password:</b> {{contact.initial_password}}</li>
</ul>
{% else %}
<p>Cada candidatura cuenta con un perfil básico, al que puedes acceder <a href="https://{{site.domain}}{% url 'backend_candidate:candidate_auth_login' %}">aquí</a> con tu usuario: <b>{{contact.candidacy.user.username}}</b>.</p>
{% endif %}

{% endwith %}
<p>Desde ahí podrás difundir información sobre tu campaña y comprometerse con aquellas propuestas ciudadanas que te sean afines.</p>

<p>Hemos seleccionado algunas propuestas que consideramos podrían ser de tu interés:</p>



<p>Si quieres que utilicemos otra dirección de correo electrónico para comunicarnos contigo, o si tienes alguna duda, puedes responder a este mismo mail.</p>

<p>¡Súmate a VotaInteligente!</p>

--<br>
El equipo de VotaInteligente.cl
</div>
