<div style="font-family: 'Arial', sans-serif;">
<p>Hola <b>{{candidate.name}}</b>:</p>

<p><a href="https://Votainteligente.cl">Vota Inteligente</a> es una plataforma, SIN COSTO ASOCIADO, de la Fundación Ciudadano Inteligente que recibe propuestas ciudadanas y de la sociedad civil en el marco de las elecciones de este año.</p>
<p>A continuación hemos seleccionado algunas propuestas que creemos te pueden interesar. En caso de que así sea y quieras comprometerte con ellas, basta que marques en el casillero de bajo de la propuesta y luego nos envíes tu respuesta presionando “enviar compromisos”. Tus respuestas se verán reflejados en tu perfil en la página web.
</p>
<p>Además, tus respuestas serán utilizadas para construir la <b>Media Naranja Política</b>, herramienta que facilita que los votantes encuentren a la candidatura que responde a las propuestas e ideas que más los identifican.</p>

{% if text %}
<p>{{text|linebreaksbr}}</p>
{% endif %}

{% include 'backend_candidate/_suggestions_formset.html' with formset=formset object=candidate_incremental site=site %}

{% with candidate.contacts.last as contact %}
{% if not candidate.has_joined %}

<p>En cualquier momento puedes ingresar y editar la información que consta en tu perfil o comprometerte con otras propuestas. Para ello debes ingresar a <a href="https://{{site.domain}}{% url 'backend_candidate:candidate_auth_login' %}">{{site.domain}}{% url 'backend_candidate:candidate_auth_login' %}</a> con tu usuario ({{contact.candidacy.user.username}}) y contraseña ({{contact.initial_password}}).</p>
{% else %}
<p>En cualquier momento puedes ingresar y editar la información que consta en tu perfil o comprometerte con otras propuestas. Para ello debes ingresar a <a href="https://{{site.domain}}{% url 'backend_candidate:candidate_auth_login' %}">{{site.domain}}{% url 'backend_candidate:candidate_auth_login' %}</a> con tu usuario: <b>{{contact.candidacy.user.username}}</b>.</p>
{% endif %}

{% endwith %}

<p>Si quieres que utilicemos otra dirección de correo electrónico para comunicarnos contigo, o si tienes alguna duda, puedes responder a este mismo mail.</p>

<p>¡Súmate a VotaInteligente!</p>

--<br>
El equipo de VotaInteligente.cl
</div>
