{% load votainteligente_extras %}Temos uma boa notícia {% if person.get_short_name %}{{ person.get_short_name}}{% else %}{{ person.get_username}}{% endif %}!<br />
Estamos escrevendo para contar que {{commitment.candidate.name}} acaba de se comprometer com a proposta {{proposal.title}}.<br />
<img alt="Parabens!" src="https://s3-sa-east-1.amazonaws.com/rioxinteiro/get-down.gif">
{% if commitment.detail %}
{{ commitment.candidate.name }} se compromete nos seguintes termos:<br />

{{commitment.detail}}<br />
{% endif %}
<br />
Para revisar o compromisso com a proposta, você pode acessar:<br />
https://{{site}}{{commitment.get_absolute_url}}<br />
<br />
Obrigado pelo seu apoio, esperamos que você entenda que este é um grande passo para mudar o Estado do Rio de Janeiro.<br />
Ainda temos muito pela frente e queremos que você esteja por perto para acompanhar essa proposta.<br />
<br />
Este é um e-mail automático, mas se você respondê-lo, chegará a toda a equipe Rio por Inteiro ;)<br />
<br />
{% mail_signature_txt %}
