{% extends "backend_base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap_tags %}

{% block content %}
{% include 'modal.html' with modalId='proposalComments' title='Actualiza los comentarios' %}
{% include 'modal.html' with modalId='moderateProposal' title='¿Deseas aceptar la Propuesta Popular?' %}

<div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
  <!-- Featured Elections  -->
  <div class="contenedorDestacado fondo-blanco">
    <h1>{% blocktrans %}¡Terrible de bienvenid@!{% endblocktrans %}</h1>
    <h2>{% blocktrans %}¡Eres parte de nuestro equipo!{% endblocktrans %}</h2>
    <p>Aquí podrás ver y moderar los elementos de VotaInteligente </p>

    <table class="table">
        <tr>
            <td>Area</td>
            <td>Problema</td>
            <td>Solución</td>
            <td>Y a los 4 años?</td>
            <td>Cuándo?</td>
            <td>Aliados</td>
            <td>Organización</td>
            <td>Comentarios del usuario</td>
            <td>Acciones</td>
        </tr>
    {% for proposal in proposals.all %}
        <tr>
            <td>{{proposal.area}}</td>
            <td>{{proposal.data.problem}}{% include 'popular_proposal/_show_proposal_comments.html' with comments=proposal.comments.problem %}
            </td>
            <td>{{proposal.data.solution}}{% include 'popular_proposal/_show_proposal_comments.html' with comments=proposal.comments.solution %}
            </td>
            <td>{{proposal.data.solution_at_the_end}}{% include 'popular_proposal/_show_proposal_comments.html' with comments=proposal.comments.solution_at_the_end %}
            </td>
            <td>{{proposal.data.when|popular_proposal_when}}{% include 'popular_proposal/_show_proposal_comments.html' with comments=proposal.comments.when %}
            </td>
            <td>{{proposal.data.allies}}{% include 'popular_proposal/_show_proposal_comments.html' with comments=proposal.comments.allies %}
            </td>
            <td>
                {{proposal.data.organization}}{% include 'popular_proposal/_show_proposal_comments.html' with comments=proposal.comments.organization %}
            </td>
            <td>{% if proposal.overall_comments %}<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{% endif %}
                {{proposal.overall_comments}}
                </td>
            <td>
                <a data-toggle="modal" data-target="#proposalComments" 
                    data-url="{% url 'backend_staff:popular_proposal_comments' pk=proposal.id %}">
                    <i class="fa fa-pencil-square-o"></i> Editame!
                </a>
                <a data-toggle="modal" data-target="#moderateProposal"
                    data-url="{% url 'backend_staff:moderate_proposal' pk=proposal.id %}">
                    <i class="fa fa-gavel"></i> Moderame!
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
  </div>

</div>
{% endblock content %}

{% block extrafooter %}
{% endblock extrafooter %}

