{% extends "backend_base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
{% load cache %}
{% load bootstrap3 %}

{% block content %}
<h1>Las instituciones van a intentar preservar el problema para el cual ellas son la solución</h1>
<h2>Los números por comuna:</h2>

<h3>Le cuento que le tenimoh:</h3>
<span>Esta página podría tener un desfase de hasta 500 segundos.</span>
<div class="table-responsive">
  <table class="table">
  	<thead>
      <tr>
        <th>Comuna</th>
        <th>Promesas Ciudadanas locales</th>
        <th>Promesas Ciudadanas totales</th>
        <th>Compromisos</th>
        <th>Candidatos</th>
        <th>1/2 Naranja Alcaldes</th>
        <th>1/2 Naranja concejales</th>
      </tr>
    </thead>
    <tbody>
    	{% cache 500 comunas %}
    	{% for id, stats_per_area in stats.items %}
      <tr class="{% if stats_per_area.area|is_marked_area %}success{% endif %}">
        <td><a href="{{ stats_per_area.area.get_absolute_url }}">{{ stats_per_area.area }}</a></td>
        <td><a data-toggle="modal" data-target="#stats_per_area_local_{{id}}">{{ stats_per_area.proposals__for_all_areas__.count }}</a>
        	<!-- Modal -->
			<div id="stats_per_area_local_{{id}}" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Propuestas locales para {{stats_per_area.area}}</h4>
			      </div>
			      <div class="modal-body">
			        <ul>
			        	{% for proposal in stats_per_area.proposals__for_all_areas__.all %}
			        		<li><a href="{{proposal.get_absolute_url}}">{{proposal}}</a></li>
			        	{% endfor %}
			        </ul>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>
        </td>
        <td><a data-toggle="modal" data-target="#stats_per_area_all_{{id}}">{{ stats_per_area.proposals.count }}</a>
        	<!-- Modal -->
			<div id="stats_per_area_all_{{id}}" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">todas las propuestas para {{stats_per_area.area}}</h4>
			      </div>
			      <div class="modal-body">
			        <ul>
			        	{% for proposal in stats_per_area.proposals.all %}
			        		<li><a href="{{proposal.get_absolute_url}}">{{proposal}}</a></li>
			        	{% endfor %}
			        </ul>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>

        </td>
        <td><a data-toggle="modal" data-target="#commitments_{{id}}">{{ stats_per_area.commitments.count }}</a>
        	<!-- Modal -->
			<div id="commitments_{{id}}" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">todas los compromisos en {{stats_per_area.area}}</h4>
			      </div>
			      <div class="modal-body">
			        <ul>
			        	{% for commitment in stats_per_area.commitments.all %}
                        <li><a href="{{commitment.get_absolute_url}}">{{commitment.candidate}} ({% get_personal_data candidate=commitment.candidate personal_data='Partido' as partido %}{{partido.value}}) - {{commitment.proposal}}</a></li>
			        	{% endfor %}
			        </ul>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>
        
        </td>
        <td><a data-toggle="modal" data-target="#commiters_{{id}}">{{stats_per_area.commiters.count}}</a>/ {{stats_per_area.area.candidates.count}}
        
        	<!-- Modal -->
			<div id="commiters_{{id}}" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Los candidatos que se han comprometido en {{stats_per_area.area}}</h4>
			      </div>
			      <div class="modal-body">
			        <ul>
			        	{% for candidate in stats_per_area.commiters.all %}
                        <li><a href="{{candidate.get_absolute_url}}">{{candidate}} ({% get_personal_data candidate=candidate personal_data='Partido' as partido %}{{partido.value}}) - {{candidate.commitments.count}} compromisos</a></li>
			        	{% endfor %}
			        </ul>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>
        
        </td>
        <td>{{stats_per_area.candidates_that_have_12_naranja__alcalde.count}}/{{stats_per_area.total_candidates__alcalde.count}}</td>
        <td>{{stats_per_area.candidates_that_have_12_naranja__concejal.count}}/{{stats_per_area.total_candidates__concejal.count}}</td>
      </tr>
      	{% endfor %}
      	{% endcache %}
    </tbody>

  </table>
 </div>
{% endblock content %}
