{% extends "backend_base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
{% load cache %}
{% load bootstrap3 %}

{% block content %}
<h1>{% trans "Las instituciones van a intentar preservar el problema para el cual ellas son la solución" %}</h1>
<h2>{% trans "Los números por comuna:" %}</h2>

<div class="table-responsive">
  <table class="table table-striped">
  	<thead>
      <tr>
        <th>{% trans "Comuna" %}</th>
        <th>{% trans "Promesas Ciudadanas locales" %}</th>
        <th>{% trans "Promesas Ciudadanas totales" %}</th>
        <th>{% trans "Compromisos" %}</th>
        <th>{% trans "Candidatos" %}</th>
      </tr>
    </thead>
    <tbody>
    {% cache 500 comunas %}
    {% for id, stats_per_area in stats.items %}
      {% if stats_per_area.area.candidates.count %}
      <tr class="{% if stats_per_area.area|is_marked_area %}success{% endif %}">
        <td><a href="{{ stats_per_area.area.get_absolute_url }}">{{ stats_per_area.area }}</a></td>
        <td>{{ stats_per_area.proposals__for_all_areas__.count }}</td>
        <td>{{ stats_per_area.proposals.count }}</td>
        <td>{{ stats_per_area.commitments.count }}</td>
        <td>{{stats_per_area.commiters.count}}/ {{stats_per_area.area.candidates.count}}</td>
        <!--td>{{stats_per_area.candidates_that_have_12_naranja__alcalde.count}}/{{stats_per_area.total_candidates__alcalde.count}}</td>
        <td>{{stats_per_area.candidates_that_have_12_naranja__concejal.count}}/{{stats_per_area.total_candidates__concejal.count}}</td-->
      </tr>
      {% endif %}
    {% endfor %}
    {% endcache %}
    </tbody>
  </table>
 </div>
{% endblock content %}
