{% extends "backend_base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block content %}
<h1>Se abrirán las grandes alamedas por donde caminen los grandes números libres.</h1>
<h2>Mientras no se pueda están acá:</h2>

<h3>Le cuento que le tenimoh:</h3>
<p>Un total de {{stats.total_candidates}} candidatos.</p>



<hr><!--
<p>Un total de {{stats.participation.with_us}} candidatos se unieron al sitio y están con losotros.</p>
<p>Un total de {{stats.participation.got_email}} candidatos recibieron el mail pero no han cachao na.</p>
<p>Un total de {{stats.participation.no_contact}} candidatos no tienen mail.</p>
<p>De todos los candidatos {{stats.candidates_that_have_12_naranja.count}} han respondido la media naranja.</p>
<p>De los que han respondido la media naranja {{stats.candidates_that_have_12_naranja__alcalde.count}} son candidatos a alcalde.</p>
<p>De los que han respondido la media naranja {{stats.candidates_that_have_12_naranja__concejal.count}} son candidatos a concejal.</p>
<hr>
<h4>Por Alcaldes:</h4>
<p>Existe un total de {{stats.total_candidates_alcalde}} candidatos a alcalde en el portal.</p>
<p>{{stats.participation_alcalde.with_us}} candidatos a alcalde de un total de {{stats.total_candidates_alcalde}} se unieron al sitio y están con losotros.</p>
<p>Un total de {{stats.participation_alcalde.got_email}} candidatos a alcalde recibieron el mail pero no han cachao na.</p>
<p>Un total de {{stats.participation_alcalde.no_contact}} candidatos a alcalde no tienen mail.</p>

<hr>
<h4>Por concejal:</h4>
<p>Existe un total de {{stats.total_candidates_concejal}} candidatos a concejal en el portal.</p>
<p>{{stats.participation_concejal.with_us}} candidatos a concejal de {{stats.total_candidates_concejal}} se unieron al sitio y están con losotros.</p>
<p>Un total de {{stats.participation_concejal.got_email}} candidatos a concejal recibieron el mail pero no han cachao na.</p>
<p>Un total de {{stats.participation_concejal.no_contact}} candidatos a concejal no tienen mail.</p>
<hr> -->
<h4>Propuestas Ciudadanas:</h4>
<p>Hay un total de {{stats.proposals}} propuestas ciudadanas.</p>
<hr>
<h4>Organizaciones pulentas:</h4>
<p>Hay un total de {{stats.organizations_online.count}} organizaciones con perfil arriba con nosotros!.</p>
<p>Estas organizaciones pulentas han hecho un total de {{stats.proposals_made_by_organizations.count}} propuestas.</p>
<p>Y más maravilloso, aún han apoyado un total de {{stats.likes_by_organizations}} propuestas hechas por alguien más.</p>
<h5>Hermana: además te contamos que acá está todo el mote de las organizaciones</h5>
<div class="table-responsive">
  <table class="table">
  	<thead>
      <tr>
        <th>Loguito</th>
        <th>Nombre</th>
        <th>N Propuestas</th>
        <th>N <i class="fa fa-heart" aria-hidden="true"></i>s </th>
        <th>email de contacto</th>
      </tr>
    </thead>
    <tbody
    {{stats.organizations}}
    	{% for org in stats.organizations %}
      <tr>
        <td>{% if org.organization_template.logo %}
          {% thumbnail org.organization_template.logo "25x25" as im %}
            <img src="{{ im.url }}"
            width="{{ im.width }}"
            height="{{ im.height }}">

            {% endthumbnail %}
          {% else %}SL{% endif %}</td>
        <td><a href="{{ org.get_absolute_url }}">{{ org.get_full_name }}</a>
        </td>
        <td>{{ org.proposals.count }}

        </td>
        <td>{{ org.likes.count }}

        </td>
        <td>{{org.email}}

        </td>
      </tr>
      	{% endfor %}
    </tbody>

  </table>
<!-- <hr>
<h4>Compromisos:</h4>
<p>Hay un total de {{stats.commitments}} compromisos de candidatos con propuestas ciudadanas.</p>
<p>Estos compromisos corresponden a <a data-toggle="modal" data-target="#proposals_with_commitments">{{stats.proposals_with_commitments.count}}</a> propuestas.</p>

<div id="proposals_with_commitments" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Propuestas con compromisos</h4>
      </div>
      <div class="modal-body">
        <ul>
            {% for proposal in stats.proposals_with_commitments.all %}
                <li><a href="{{proposal.area.get_absolute_url}}">{{proposal.area}}</a> - <a href="{{proposal.get_absolute_url}}">{{proposal.title}}</a></li>
            {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</div>

<p>Estos compromisos han sido adquiridos por un total de {{stats.candidates_that_have_commited}} candidatos.</p>
<p>De los cuales {{stats.candidates_that_have_commited_alcalde}} son candidatos a alcalde.</p>
<p>Y {{stats.candidates_that_have_commited_concejal}} son candidatos al concejo.</p>

-->

{% endblock content %}

{% block extrafooter %}
{% endblock extrafooter %}
