{% extends "base.html" %}
{% load i18n %}

{% load staticfiles %}

{% load votainteligente_extras %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="ups fondo-blanco">
            <h2><i class="icon-warning-sign icon-2x"></i><br></h2>
            <h2>
              {% blocktrans %}
              Lo sentimos, esta página ya no existe. <p>Comienza de nuevo desde el <a href="/">home.</a></p></h2>
              {% endblocktrans %}

        </div>
    </div>
</div>

{% endblock content %}
