{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
    <div data-ng-app="votainteligente">
      <div id="home-search" class="row" data-ng-controller="searchFormController">      

            <div class="row form-group">
              <div class="col-md-8 col-md-offset-2">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default"><i class="icon-search"></i></button>
                  </span>
                  <input type="text" class="form-control" ng-enter="console.log('something')" id="id_q" name="q" placeholder="{% trans "Ingresa el nombre de tu comuna" %}" autocomplete="off" data-ng-model="searchElection">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">{% trans "Buscar" %}</button>
                  </span>
                </div>
              </div>
            </div>
      
          <div class="elections-results">
              <ul class="list-inline" data-ng-show="searchElection">
                  <li data-ng-repeat="election in (filteredItems = (elections | filter:searchElection:comperator))">
                    <a href="[[election.detaillink]]">[[election.name]]</a>
                      <ul>
                        <li data-ng-repeat="tag in election.tags | filter:searchElection:comperator">[[tag]]</li>
                      </ul>
                  </li>
              </ul>
          </div>
        </div>
    </div>



