{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}

<script data-cfasync="false" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.js"></script>

<div data-ng-app="votainteligente" data-ng-controller="searchFormController">
  <div class="input-group input-group-lg">
    <span class="input-group-addon small" id="sizing-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
    <div>
      <div id="home-search" class="row">
        <div>
          <input type="" id="id_q" name="q" placeholder="{% trans "Ingresa aquí tu Comuna" %}" autocomplete="off" ng-enter="console.log('something')"  data-ng-model="searchElection">
        </div>
      </div>
    </div>
  </div>

  <div class="elections-results" data-ng-show="searchElection">
    <h4>{% trans "Resultado para " %}"[[searchElection]]"</h4>
    <ul class="list-inline">
      <li class="label label-default" data-ng-repeat="election in (filteredItems = (elections | filter:searchElection:comperator))">
        <a href="[[election.detaillink]]">[[election.name]]</a>
        <ul>
          <li data-ng-repeat="tag in election.tags | filter:searchElection:comperator">[[tag]]</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<script data-cfasync="false">
{% include 'elections/home.js' %}
</script>
