{% load staticfiles %}
{% load i18n %}
{% load votainteligente_extras %}
<footer id="footer" class="{% if show_xs %} hidden-sm hidden-xs{% endif %}">
    {% block extrafooter %}
    {% endblock extrafooter %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <span class="small">{% trans "Un proyecto de" %}</span> <a href="https://ciudadaniai.org/" target="_blank">{% include '_logo_fci.html' %}</a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-right redes">
                <ul class="list-inline">
                    <li><a href="info@ciudadaniai.org" class="email-prensa" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="//github.com/ciudadanointeligente/votainteligente-portal-electoral"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/ciudadaniai/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.twitter.com/ciudadania_i"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/ciudadaniai/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://docs.google.com/document/d/16_6kaGPtZm4P9LAHz2yC2M380hp3ZfZD3pBEi8MHKeA/edit" onclick="ga('send', 'event', 'nav-dedicatoria', 'click')">{% trans "Dedicatoria y Agradecimientos" %}</a></li>
                </ul>
            </div>
        </div>
        <div>
            {% if "extra_footer.html"|template_exists %}
                {% include 'extra_footer.html' %}
            {% endif %}
        </div>
    </div>
</footer>
