{% load staticfiles %}
{% load i18n %}
{% load votainteligente_extras %}
{% load sass_tags %}
<head>
    <meta charset="utf-8">
    <title>{% trans "Vota Inteligente" %} {% block title %}- {{ config.WEBSITE_GENERAL_SETTINGS_HOME_TITLE }}{% endblock title %}</title>
    <meta name="author" content="{{ config.WEBSITE_METADATA_AUTHOR }}">
    <meta name="description" content="{% block description %}{{ config.WEBSITE_METADATA_DESCRIPTION }}{% endblock description %}">
    <meta name="keywords" content="{{ config.WEBSITE_METADATA_KEYWORD }}{% block keywords %}{% endblock keywords %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="google-site-verification" content="{{ config.WEBSITE_GA_GSITE_VERIFICATION }}">
    <!--for facebook fans-->
    {% block ogp %}
    <meta property="og:title" content="{{ config.WEBSITE_OGP_TITLE }}">
    <meta property="og:type" content="{{ config.WEBSITE_OGP_TYPE }}">
    <meta property="og:url" content="https://{% url_domain %}">
    <meta property="og:image" content="https://{% url_domain %}{% static 'img/logo_vi_og.jpg' %}">
    <meta property="og:description" content="{{ config.WEBSITE_OGP_DESCRIPTION }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ciudadanoi">
    <meta name="twitter:creator" content="@ciudadanoi">
    <meta name="twitter:title" content="{{config.WEBSITE_TWITTER_HASHTAG}}">
    <meta name="twitter:description" content="{{config.WEBSITE_TWITTER_TEXT}}">
    <meta name="twitter:image" content="https://{% url_domain %}{% static 'img/logo_vi_og.jpg' %}">
    {% endblock ogp %}
    <meta property="fb:app_id" content="{{ config.WEBSITE_OGP_APP_ID }}">
    <!--eoff-->
    <link rel="shortcut icon" sizes="196x196" href="{% static 'img/votai-196.png' %}">
    <!-- Browser out of date -->
    <script type="text/javascript">
    var $buoop = {}
    $buoop.ol = window.onload;
    window.onload=function(){
     try {if ($buoop.ol) $buoop.ol();}catch (e) {}
     var e = document.createElement("script");
     e.setAttribute("type", "text/javascript");
     e.setAttribute("src", "//browser-update.org/update.js");
     document.body.appendChild(e);
    }
    </script>
    <!-- Latest compiled and minified CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.css">
    <link href="{% sass_src 'sass/main.scss' %}" rel="stylesheet" type="text/css" />

    <link href='//fonts.googleapis.com/css?family=Nunito+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Nunito:400,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">

    <link type="text/plain" rel="author" href="{% static 'humans.txt' %}" />
    <script  data-cfasync="false"  src="//code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="//use.fontawesome.com/9304d8597d.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
    <script src="{% static 'js/masonry-script.js' %}"></script>
    <script  data-cfasync="false" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js" type="text/javascript"></script>
    <script  data-cfasync="false" src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
    {% block extra_css %}
    {% endblock extra_css %}
</head>
