{% if user.profile.is_journalist %}
<div class="tips">
<p class="small text-dark">Para periodistas:</p>
	<div class="row">
		<div class="col-md-8">
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#incrustaEnTuPagina" aria-expanded="false" aria-controls="incrustaEnTuPagina">
		  ¡Incrusta esto en tu página!
		</button>
		<div class="collapse" id="incrustaEnTuPagina">
			  	<textarea style="width:700px;" readonly><iframe src="//{{ request.get_host }}{{url}}" width="600px" height="500px"></iframe></textarea>
		</div>
		</div>
	</div>
</div>
{% endif %}