{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
<section id="login-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">{% trans "Para enviar una propuesta debes crearte un usuario primero" %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
      <!-- formulario de loggeo -->
        <h4 class="text-center">{% trans '¿Representas a un grupo ciudadano? Regístrate acá:' %}</h4>
        <div class="panel panel-default">
          <div class="panel-body">
            {% group_register %}
          </div>
        </div>
        <!-- fin del formulario de registro -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h4 class="text-center">{% trans "Ingresa con Facebook o Gmail" %}</h4>
        {% include '_social_login_buttons.html' %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-2">
      <!-- formulario de loggeo -->
        <h4 class="text-center">{% trans "Regístrate" %}</h4>
        <div class="panel panel-default">
          <div class="panel-body">
            {% user_register %}
          </div>
        </div>
        <!-- fin del formulario de registro -->
      </div>

      <div class="col-md-4">
      <!-- formulario de loggeo -->
        <h4 class="text-center">{% trans "¿Ya tienes un usuario? Ingrésalo" %}</h4>
        <div class="panel panel-default">
          <div class="panel-body">
            {% basic_login url=next %}
            </form>
          </div>
        </div>
    <!-- fin del formulario de loggeo -->
      </div>
    </div>


  </div>
</section>
