{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}


    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.svg' %}{% block navbar_logo %}{% endblock navbar_logo %}" class="img-responsive" title="Vota Inteligente" alt="Vota Inteligente"></a>
        </div>
        {% block extra_nav %}
        {% endblock extra_nav %}

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% include 'flat_pages_menu.html' with suffix='/paso1/' title='Paso 1' %}
                <li><a href="{% url 'home' %}#como-funciona">¿Cómo funciona?</a></li>
                <li><a href="{% url 'popular_proposals:propose_wizard_full' %}">Crea tu propuesta</a></li>
                <li><a href="{% url 'popular_proposals:home' %}">Conoce propuestas</a></li>
                <li><a class="btn disabled" href="">Tus candidatos</a></li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                  
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <!-- {% user_image user=user height=16 width=12 %} -->
                      {% include '_user_printable.html' %}
                      <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% if user.is_superuser %}
                    <li><a href="/admin">
                            <i class="fa fa-beer" aria-hidden="true"></i>
                            {% blocktrans %}Sección de administración{% endblocktrans %}</a></li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li><a href="{% url 'backend_staff:index' %}">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            {% blocktrans %}Sección del Staff{% endblocktrans %}</a></li>
                    {% endif %}

                    {% if user|is_candidate %}
                    <li><a href="{% url 'backend_candidate:home' %}">
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            {% blocktrans %}Sección del candidato{% endblocktrans %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'backend_citizen:index' %}">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            {% blocktrans %}Tu perfil ciudadano{% endblocktrans %}
                        </a>
                    </li>
                    {% if user.enrollments.all %}
                    <li role="separator" class="divider"></li>
                    {% endif %}
                    {% for enrollment in user.enrollments.all %}

                    <li>
                        <a target="_blank" href="{{enrollment.organization.get_absolute_url}}">
                            {% if enrollment.organization.primary_image %}

                            {% thumbnail enrollment.organization.primary_image "x16" as im %}
                            <img src={% static im.url %}>
                            {% endthumbnail %}
                            {% else %}
                            <i class="fa fa-home" aria-hidden="true"></i>
                            {% endif %}

                            {{enrollment.organization}}
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="{% url 'auth_logout' %}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            {% blocktrans %}Salir{% endblocktrans %}
                        </a>
                    </li>
                  </ul>
                </li>
                {% else %}
                <li><a href="{% url 'auth_login' %}">{% blocktrans %}Ingresar{% endblocktrans %}</a></li>
                {% endif %}
              </ul>
        </div><!--/.nav-collapse -->

    </div>
