{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}

{% block entire_navbar %}
<div class="navbar navbar-inverse navbar-fixed-top {% block navbar_background %} white {% endblock navbar_background %} hidden">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.svg' %}{% block navbar_logo %}{% endblock navbar_logo %}" class="img-responsive" title="Vota Inteligente" alt="Vota Inteligente"></a>
        </div>
        {% block navbar %}
        {% block extra_nav %}
        {% endblock extra_nav %}

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if not user|is_candidate %}
                {% get_proposals_enabled as proposals_enabled %}
                    {% if proposals_enabled  %}
                    <li><a href="{% url 'popular_proposals:propose_wizard_full' %}">Crea tu propuesta</a></li>
                    {% endif %}
                {% endif %}
                <!-- <li><a class='' href="{% url 'compromisos' %}">Candidatos electos comprometidos</a></li> -->
                {% if proposals_enabled  %}
                <li><a href="{% url 'popular_proposals:home' %}">Conoce propuestas</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="dropdown">

                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <!-- {% user_image user=user height=16 width=12 %} -->
                      <!--{% include '_user_printable.html' %}-->
                      Perfil
                      <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% if user.is_superuser %}
                    <li><a href="/admin">
                            <i class="fa fa-beer" aria-hidden="true"></i>
                            {% blocktrans %}Sección de administración{% endblocktrans %}</a></li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li><a href="{% url 'backend_staff:index' %}">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            {% blocktrans %}Sección del Staff{% endblocktrans %}</a></li>
                    <li><a href="{% url 'backend_staff:stats' %}">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                            {% blocktrans %}Estadísticas{% endblocktrans %}</a></li>
                    <li><a href="{% url 'backend_staff:per_area_stats' %}">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            {% blocktrans %}Estadísticas por area{% endblocktrans %}</a></li>

                    {% endif %}

                    {% if user|is_candidate %}
                    <li><a href="{% url 'backend_candidate:home' %}">
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            {% blocktrans %}Sección del candidato{% endblocktrans %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'backend_citizen:index' %}">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            {% blocktrans %}Tu perfil ciudadano{% endblocktrans %}
                        </a>
                    </li>
                    {% if user.profile.is_journalist %}
                        <li><a href="{% url 'backend_staff:all_commitments' %}">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            {% blocktrans %}Todos los compromisos{% endblocktrans %}
                        </a>
                    </li>
                    {% endif %}
                    {% if user.enrollments.all %}
                    <li role="separator" class="divider"></li>
                    {% endif %}
                    {% for enrollment in user.enrollments.all %}

                    <li>
                        <a target="_blank" href="{{enrollment.organization.get_absolute_url}}">
                            {% if enrollment.organization.primary_image %}

                            {% thumbnail enrollment.organization.primary_image "x16" as im %}
                            <img src={% static im.url %}>
                            {% endthumbnail %}
                            {% else %}
                            <i class="fa fa-home" aria-hidden="true"></i>
                            {% endif %}

                            {{enrollment.organization}}
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="{% url 'auth_logout' %}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            {% blocktrans %}Salir{% endblocktrans %}
                        </a>
                    </li>
                  </ul>
                </li>
                {% else %}
                <li><a href="{% url 'auth_login' %}">{% blocktrans %}Ingresar{% endblocktrans %}</a></li>
                {% endif %}
                <li>
                    <a href="#" onclick="ga('send', 'event', 'twitter-share', 'click'); window.open(&quot;//twitter.com/share?via=Ciudadanoi&hashtags={{ 'hashtags'|website_twitter }}&text={{ 'text'|website_twitter }}&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                </li>
                <li>
                    <a class="share-btn share-btn-branded share-btn-facebook" onclick="ga('send', 'event', 'facebook-share', 'click');" href="//www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvotainteligente.cl" title="{{ 'description'|metadata }}" target="_blank">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                </li>
              </ul>
        </div><!--/.nav-collapse -->
        {% endblock navbar %}
    </div>
</div>
{% endblock entire_navbar %}
