<div class="ayuda salud">
  <p>Las políticas de salud pública se implementan a nivel nacional y están a cargo del Ministerio de Salud (MINSAL). Sin embargo, el municipio puede trabajar coordinadamente con el
  MINSAL para que estas políticas se realicen en la comuna y puedan así beneficiar a sus vecinos. Por otra parte, el municipio también puede administrar centros de atención primaria
  para dar asistencia médica al interior de la comuna. Otras funciones que puede realizar son:
  </p>
  <ul>
    <li>Crear consultorios y centros de atención médica municipal que puedan ofrecer ciertas especialidades que respondan a las necesidades de la comuna. En estos centros se pueden realizar consultas médicas y atención a personas que no necesiten cuidados intensivos ni tratamientos.</li>
    <li>Coordinar programas de atención médica a domicilio para personas con dificultades para asistir a un centro médico, por ejemplo, personas de la tercera edad.</li>
    <li>Implementar en la comuna Servicios de Atención Primaria de Urgencias (SAPU) y encargarse de su correcto funcionamiento y mejoras necesarias</li>
    <li>Realizar programas dirigidos a colegios o empresas sobre hábitos de higiene, alimentación saludable y vida sana.</li>
    <li>Realizar campañas de prevención de enfermedades, mediante vacunación o entrega de medicamentos y vitaminas.</li>
  </ul>
</div>
<div class="ayuda educacion">
  <p>Las políticas educacionales municipales, en general, deben relacionarse con los programas que existan a nivel nacional o regional. Sin embargo, el sistema de educación municipal le
  entrega muchas atribuciones al municipio para hacerse cargo de la administración de los colegios de la comuna. Por ejemplo, puede realizar las siguientes tareas:</p>
  <ul>
    <li>Presentar una planificación anual para la educación en la comuna, en la que busque mecanismos que hagan partícipe a toda la comunidad. Esto es el Plan Anual de Desarrollo Educativo Municipal (PADEM).</li>
    <li>Invertir en infraestructura y equipamiento para los colegios, apuntando a mejorar su calidad.</li>
    <li>Crear establecimientos educacionales en zonas rurales u otras áreas de la comuna donde se requiera con el fin de facilitar el acceso a educación de todos los vecinos.</li>
    <li>Implementar salas cuna y jardines infantiles en zonas rurales o urbanas para mejorar la cobertura de educación pre-escolar.</li>
    <li>Apoyar la formación técnico-profesional de la comuna, con programas de educación técnica orientados a servicios y áreas de trabajo que existan en la comuna.</li>
    <li>Implementar programas de educación diferencial e inclusión.</li>
    <li>Realizar programas de educación complementaria, como cursos de idioma o preuniversitarios.</li>
    <li>Apoyar la formación docente de los colegios, apoyando a los profesores con capacitaciones y programas que apoyen su formación pedagógica.</li>
  </ul>
</div>
<div class="ayuda cultura">
  <p>Al municipio le corresponde mantener y resguardar todos los bienes patrimoniales que se encuentren en la comuna, sean históricos (edificios patrimoniales, barrios históricos, monumentos) o naturales (parques y reservas nacionales). También debe hacerse cargo de fomentar las actividades culturales y de expresión artística en la comuna. Algunas de las funciones que puede realizar el municipio son:</p>
  <ul>
    <li>Creación y mantención de bibliotecas municipales y museos en la municipalidad, en conjunto con la Dirección de Bibliotecas, Archivos y Museos (DIBAM).</li>
    <li>Cuidado de zonas patrimoniales, como barrios o edificios históricos y protección de los mismos.</li>
    <li>Apoyar iniciativas privadas sin fines de lucro que contribuyan a recuperar la memoria histórica de la comuna o acercar a los vecinos a instancias culturales y/o artísticas.</li>
    <li>Creación de centros culturales multiuso que puedan ser usados por la comunidad.</li>
    <li>Organizar festivales folklóricos o actividades tradicionales que promuevan la identidad histórica y cultural de la comuna.</li>
    <li>Organizar y apoyar actividades que busquen aprovechar los atractivos turísticos de la comuna.</li>
  </ul>
</div>
<div class="ayuda asistencia">
  <p>En esta área el municipio debe conocer la situación de las familias de la comuna para facilitar el acceso a beneficios estatales y/o entregar ayuda económica a familias de escasos recursos. Algunas funciones que puede realizar en esta línea son:</p>
  <ul>
    <li>Mediante el Registro Social de Hogares (ex Ficha de Protección Social) el municipio puede tener conocimiento sobre la situación socioeconómica de las familias, para poder orientar la ayuda de mejor forma.</li>
    <li>Crear campañas informativas sobre cómo acceder a beneficios del Estado,como subsidios y becas.</li>
    <li>Apoyar a familias de la comuna mediante la entrega de bienes básicos como alimentos, ropa, útiles escolares, etc.</li>
    <li>Realizar programas de inclusión y ayuda a personas en situación de calle. Tanto para dar asistencia inmediata como para mejorar su situación social y apoyar su inserción laboral.</li>
    <li>Apoyar mediante un incentivo económico a estudiantes de escasos recursos y que demuestren un buen desempeño académico.</li>
  </ul>
</div>
<div class="ayuda empleabilidad">
  <p>La situación de empleo en la comuna es uno de los temas que suele ser de mayor importancia para la ciudadanía. En ésta área, el municipio tiene una labor importante que puede cumplir entregando herramientas que sirvan a los vecinos que se encuentren buscando trabajo, o apoyando a vecinos que quieran iniciar su emprendimiento. Algunas de las actividades que puede realizar el municipio son:</p>
  <ul>
    <li>Brindar capacitación y asesoría legal para pequeñas y medianas empresas al interior de la comuna.</li>
    <li>Destinar fondos municipales a los que puedan postular los vecinos para iniciar sus emprendimientos.</li>
    <li>En conjunto con el Servicio Nacional de la Mujer (SERNAM) puede realizar programas que apoyen la inserción laboral de mujeres mediante capacitaciones o talleres dirigidos a empleadores.</li>
    <li>Realizar talleres para capacitar a la población en el desempeño de oficios que permitan acceder a nuevas opciones de empleo.</li>
    <li>Realizar ferias que permitan a emprendedores comercializar y difundir sus productos.</li>
    <li>Evaluar el número y las áreas donde se otorgarán patentes comerciales con el fin de impulsar o reducir el comercio de ciertos bienes (como bebidas alcohólicas) en las diferentes áreas de la comuna.</li>
  </ul>
</div>
<div class="ayuda deporte">
  <p>El municipio tiene una labor importante en fomentar una vida sana entre sus vecinos, difundiendo para ello la actividad física entre la población para erradicar el sedentarismo. Algunas iniciativas que existen en esta área son:
  </p>
  <ul>
    <li>Mejorar la infraestructura deportiva de la comuna, mediante la creación de gimnasios y multicanchas o mejorando los que ya existen.
    <li>Dar apoyo a los clubes deportivos de la comuna, a través de aportes monetarios o en equipamiento.
    <li>Brindar espacios de encuentro que permitan a la comunidad realizar actividades al aire libre, como por ejemplo cicletadas o corridas familiares.
    <li>Realizar talleres gratuitos que acerquen a la comunidad a distintas actividades deportivas.
    <li>Realizar talleres para educar a la comunidad en la importancia de la actividad física.
  </ul>  
</div>
<div class="ayuda conectividad">Esto es una ayuda de vivienda</div>
<div class="ayuda areasverdes">Esto es una ayuda de areasverdes</div>
<div class="ayuda seguridad">Esto es una ayuda de seguridad</div>
<div class="ayuda medioambiente">Esto es una ayuda de medioambiente</div>
<div class="ayuda participacion">Esto es una ayuda de participacionciudadana</div>
