<div class="ayuda salud">
  <p>Las políticas de salud pública se implementan a nivel nacional y están a cargo del Ministerio de Salud (MINSAL). Sin embargo, el municipio puede trabajar coordinadamente con el
  MINSAL para que estas políticas se realicen en la comuna y puedan así beneficiar a sus vecinos. Por otra parte, el municipio también puede administrar centros de atención primaria
  para dar asistencia médica al interior de la comuna. Otras funciones que puede realizar son:
  </p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> Crear consultorios y centros de atención médica municipal que puedan ofrecer ciertas especialidades que respondan a las necesidades de la comuna. En estos centros se pueden realizar consultas médicas y atención a personas que no necesiten cuidados intensivos ni tratamientos.</li>
    <li><span class="number">b</span> Coordinar programas de atención médica a domicilio para personas con dificultades para asistir a un centro médico, por ejemplo, personas de la tercera edad.</li>
    <li><span class="number">c</span> Implementar en la comuna Servicios de Atención Primaria de Urgencias (SAPU) y encargarse de su correcto funcionamiento y mejoras necesarias</li>
    <li><span class="number">d</span> Realizar programas dirigidos a colegios o empresas sobre hábitos de higiene, alimentación saludable y vida sana.</li>
    <li><span class="number">e</span> Realizar campañas de prevención de enfermedades, mediante vacunación o entrega de medicamentos y vitaminas.</li>
  </ul>
</div>
<div class="ayuda educacion">
  <p>Las políticas de educación pública deben relacionarse con los programas que existan a nivel nacional o regional. Sin embargo, el sistema de educación municipal le
  entrega muchas atribuciones al municipio para hacerse cargo de los colegios de la comuna, donde la mayoría de éstas se concentran en el Plan Anual de Desarrollo Educativo Municipal o PADEM. Algunas de las tareas que puede realizar son:</p>
</p>
  <ul class="list-unstyled">
    <li><span class="number">b</span> Invertir en infraestructura y equipamiento para los colegios, apuntando a mejorar su calidad.</li>
    <li><span class="number">c</span> Crear establecimientos educacionales en zonas rurales u otras áreas de la comuna donde se requiera con el fin de facilitar el acceso a educación de todos los vecinos.</li>
    <li><span class="number">d</span> Implementar salas cuna y jardines infantiles en zonas rurales o urbanas para mejorar la cobertura de educación pre-escolar.</li>
    <li><span class="number">e</span> Apoyar la formación técnico-profesional de la comuna, con programas de capacitación orientados a servicios y nichos de trabajo que existan en la comuna.</li>
    <li><span class="number">f</span> Implementar programas de educación diferencial e inclusión.</li>
    <li><span class="number">g</span> Realizar programas complementarios a los currículos escolares, como cursos de idioma o preuniversitarios.</li>
    <li><span class="number">h</span> Apoyar la formación docente de los colegios, diseñando talleres de capacitación y formación complementaria para profesores.</li>
  </ul>
</div>
<div class="ayuda cultura">
  <p>Al municipio le corresponde mantener y resguardar los bienes patrimoniales que se encuentren en la comuna, sean históricos (edificios patrimoniales, barrios históricos, monumentos) o naturales (parques y reservas nacionales). También debe hacerse cargo de fomentar actividades culturales y de expresión artística en la comuna. Algunas de las funciones que puede realizar el municipio son:</p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> Creación y mantención de bibliotecas municipales y museos, en conjunto con la Dirección de Bibliotecas, Archivos y Museos (DIBAM).</li>
    <li><span class="number">b</span> Cuidado y protección de zonas patrimoniales, como barrios o edificios históricos.</li>
    <li><span class="number">c</span> Apoyar iniciativas privadas sin fines de lucro que contribuyan a recuperar la memoria histórica de la comuna o acercar a los vecinos a actividades culturales y/o artísticas.</li>
    <li><span class="number">d</span> Creación de centros culturales multiuso que puedan ser usados por la comunidad.</li>
    <li><span class="number">e</span> Organizar festivales folklóricos o actividades tradicionales que promuevan la identidad histórica y cultural de la comuna.</li>
    <li><span class="number">f</span> Organizar y apoyar actividades que busquen aprovechar y promover los atractivos turísticos de la comuna.</li>
  </ul>
</div>
<div class="ayuda asistencia">
  <p>En esta área el municipio debe conocer la situación de las familias de la comuna para facilitar el acceso a beneficios estatales y/o entregar ayuda económica a familias de escasos recursos. Algunas funciones que puede realizar en esta línea son:</p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> Mediante el Registro Social de Hogares (ex Ficha de Protección Social) el municipio puede tener conocimiento sobre la situación socioeconómica de las familias, para poder orientar la ayuda de mejor forma.</li>
    <li><span class="number">b</span> Crear campañas informativas sobre cómo acceder a beneficios del Estado, como subsidios y becas.</li>
    <li><span class="number">c</span> Apoyar a familias de la comuna mediante la entrega de bienes básicos como alimentos, ropa, útiles escolares, etc.</li>
    <li><span class="number">d</span> Realizar programas de inclusión y ayuda a personas en situación de calle. Tanto para dar asistencia inmediata como para mejorar su situación social y apoyar su inserción laboral.</li>
    <li><span class="number">e</span> Apoyar mediante un incentivo económico a estudiantes de escasos recursos y que demuestren un buen desempeño académico.</li>
  </ul>
</div>
<div class="ayuda diversidad"
  <p>El municipio representa a toda la comunidad dentro de su territorio. Para ello, debe ser capaz de incluir a una población con gran diversidad de opiniones, realidades, opciones y necesidades. Dentro de este ámbito, el municipio debe reconocer las distintas realidades de los vecinos, incluir a todos los miembros de la comunidad y velar por la sana convivencia, sin discriminación y atendiendo las necesidades de cada uno. En este ámbito, algunas tareas que el municipio puede realizar son:</p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> Crear oficinas dedicadas exclusivamente a abordar temas que involucren a un determinado grupo de la comunidad, identificado por alguna etnia, género, discapacidad u opción sexual.</li>
    <li><span class="number">b</span> Realizar instancias (como congresos o cabildos) que inviten a grupos de la comunidad que se encuentren en condición de minoría y necesiten una mayor atención por parte del municipio.</li>
    <li><span class="number">c</span> Tener un registro actualizado sobre la cantidad de personas en la comuna que comparten algún rasgo común (discapacidad, opción sexual, nacionalidad, etnia, etc.)</li>
    <li><span class="number">d</span> Elaborar protocolos para funcionarios públicos, que eduquen en torno a la inclusión y la no discriminación.</li>
    <li><span class="number">e</span> Brindar espacios de denuncia para apoyar y acompañar a vecinos que hayan sufrido algún tipo de discriminación.</li>
  </ul>
</div>
<div class="ayuda empleabilidad">
  <p>La situación de empleo en la comuna es uno de los temas que suele ser de mayor importancia para la ciudadanía. En ésta área, el municipio debe hacerse cargo entregando herramientas que sirvan a los vecinos que se encuentren buscando trabajo, o apoyando a vecinos que quieran iniciar su emprendimiento. Algunas de las actividades que puede realizar el municipio son:</p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> Brindar capacitación y asesoría legal para pequeñas y medianas empresas al interior de la comuna.</li>
    <li><span class="number">b</span> Destinar fondos municipales a los que puedan postular los vecinos para iniciar sus emprendimientos.</li>
    <li><span class="number">c</span> En conjunto con el Servicio Nacional de la Mujer (SERNAM) puede realizar programas que apoyen la inserción laboral de mujeres mediante capacitaciones o talleres dirigidos a empleadores.</li>
    <li><span class="number">d</span> Realizar talleres para capacitar a la población en el desempeño de oficios que permitan acceder a nuevas opciones de empleo.</li>
    <li><span class="number">e</span> Realizar ferias que permitan a emprendedores comercializar y difundir sus productos.</li>
    <li><span class="number">f</span> Evaluar el número y las áreas donde se otorgarán patentes comerciales con el fin de impulsar o reducir el comercio de ciertos bienes (como bebidas alcohólicas) en las diferentes áreas de la comuna.</li>
  </ul>
</div>
<div class="ayuda deporte">
  <p>El municipio tiene una labor importante en fomentar una vida sana entre los vecinos, difundiendo la actividad física entre la población para erradicar el sedentarismo. Algunas iniciativas que existen en esta área son:
  </p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> Mejorar la infraestructura deportiva de la comuna, mediante la creación de gimnasios y multicanchas o mejorando los que ya existen.</li>
    <li><span class="number">b</span> Dar apoyo a los clubes deportivos de la comuna, a través de aportes monetarios o en equipamiento.</li>
    <li><span class="number">c</span> Brindar espacios de encuentro que permitan a la comunidad realizar actividades al aire libre, como por ejemplo cicletadas o corridas familiares.</li>
    <li><span class="number">d</span> Organizar actividades gratuitas que acerquen a la comunidad a distintas actividades deportivas.</li>
    <li><span class="number">e</span> Realizar talleres para educar a la comunidad en la importancia de la actividad física.</li>
  </ul>  
</div>
<div class="ayuda conectividad">
  <p>En esta área, el municipio debe hacerse cargo de mantener una adecuada conexión entre los distintos sectores de la comuna y brindar espacios de uso público para los vecinos. Algunas de las tareas que puede realizar son:
  </p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> En coordinación con el Servicio de Vivienda y Urbanismo (SERVIU) puede gestionar la pavimentación de calles y veredas.</li>
    <li><span class="number">b</span> Instalar y mantener semáforos, señaléticas de tránsito, pasos de nivel y lomos de toro.</li>
    <li><span class="number">c</span> Facilitar la conectividad entre las zonas rurales y urbanas de la comuna, mediante mantención de los caminos e implementación de medios de transporte específicos para ciertos casos.</li>
    <li><span class="number">d</span> Preocuparse por el buen estado de las calles, plazas y edificios públicos.</li>
    <li><span class="number">e</span> Construcción de espacios de encuentro y uso comunitario, como mercados o paseos comerciales.</li>
  </ul>
</div>
<div class="ayuda areasverdes">
  <p>Fomentar y promover la existencia de espacios públicos implica la construcción y mantención de áreas comunes del territorio, que permitan el encuentro entre los vecinos. En este aspecto, el municipio puede, entre otras cosas:
  </p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> Crear parques y plazas al interior de la comuna.</li>
    <li><span class="number">b</span> Mejorar espacios abandonados o sitios eriazos para crear espacios de uso público, como áreas verdes.</li>
    <li><span class="number">c</span> Hacerse cargo de la mantención de estos espacios, coordinando el riego de parques y plazas,el aseo de  calles, playas u otros.</li>
  </ul>
</div>
<div class="ayuda seguridad">
  <p>El municipio puede mejorar la seguridad de los vecinos y los lugares públicos de la comuna, aumentando la vigilancia, brindando espacios de denuncia y fomentando la cooperación entre los vecinos. Algunas funciones que puede cumplir son:
  </p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> Instalar y reponer luminarias en calles y plazas.</li>
    <li><span class="number">b</span> Instalar cámaras de vigilancia.</li>
    <li><span class="number">c</span> Desarrollar operativos municipales de seguridad ciudadana para la denuncia de delitos y vigilancia en las calles.</li>
    <li><span class="number">d</span> Realizar programas con juntas de vecinos para generar estrategias de vigilancia y apoyo comunitario.</li>
    <li><span class="number">e</span> Desarrollar operativos de prevención ante eventuales catástrofes.</li>
  </ul>
</div>
<div class="ayuda medioambiente">
  <p>En cuanto al cuidado del medioambiente, el municipio puede hacerse cargo de promover la sustentabilidad y respeto al medioambiente en todas las áreas de su administración, como también entre los vecinos. También, el municipio está a cargo de la recolección, transporte y deposición de los deshechos que se producen en la comuna. Algunas iniciativas que se pueden realizar en esta área son:
  </p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> Talleres sobre reciclaje para instruir a la comunidad en la separación de la basura y la reutilización de productos.</li>
    <li><span class="number">b</span> Generar ordenanzas municipales para reducir la contaminación medioambiental, ya sea para industrias y fábricas de la zona o para el correcto uso de leñas, por ejemplo.</li>
    <li><span class="number">c</span> Implementar contenedores para separar y reciclar la basura.</li>
    <li><span class="number">d</span> Modificar las rutas de recolección de basura.</li>
  </ul>
</div>
<div class="ayuda participacion">
  <p>Para la correcta construcción e implementación de planes y programas que apunten a mejorar la calidad de vida de los habitantes de la comuna, el municipio debe recoger e incorporar la opinión de los vecinos sobre lo que se debe hacer, entendiendo que está al servicio de la comunidad. Así, la participación ciudadana permite resolver de forma más efectiva los problemas existentes en la comuna. Para ello, el municipio puede implementar políticas como:
  </p>
  <ul class="list-unstyled">
    <li><span class="number">a</span> Programas de capacitación a dirigentes sociales, dándoles herramientas para entender de mejor forma cómo trabaja el municipio y saber cómo pueden influir en él.</li>
    <li><span class="number">b</span> Realizar instancias de encuentro entre las juntas de vecinos para que puedan conocerse y trabajar en conjunto.</li>
    <li><span class="number">c</span> Apoyar económicamente a organizaciones sociales y juntas de vecinos que se encuentren en la comuna, mediante fondos concursables.</li>
    <li><span class="number">d</span> Trabajar temas de género en la comuna e incentivar la participación de mujeres.</li>
    <li><span class="number">e</span> Crear instancias para la participación de pueblos indígenas y comunidades que necesiten mayor inclusión.</li>
    <li><span class="number">f</span> Crear presupuestos participativos, donde la gente decida en qué áreas gastará el dinero.</li>
    <li><span class="number">g</span> Tener mejor transparencia en la página web que permita entregar la información básica a las personas para que éstas puedan consultar, opinar y sugerir en los diferentes proyectos que esté realizando la municipalidad.</li>
    <li><span class="number">h</span> Realizar cuentas públicas participativas, en las que el alcalde da un espacio para contar lo que ha realizado en el año y permite que la gente le dé su opinión al respecto.</li>
  </ul>
</div>
