<div class="ayuda salud">Esto es una ayuda de salud</div>
<div class="ayuda transporte">Esto es una ayuda de transporte</div>
<div class="ayuda educacion">Esto es una ayuda de educacion</div>
<div class="ayuda seguridad">Esto es una ayuda de seguridad</div>
<div class="ayuda proteccionsocial">Esto es una ayuda de proteccionsocial</div>
<div class="ayuda vivienda">Esto es una ayuda de vivienda</div>
<div class="ayuda trabajo">Esto es una ayuda de trabajo</div>
<div class="ayuda emprendimiento">Esto es una ayuda de emprendimiento</div>
<div class="ayuda capacitacion">Esto es una ayuda de capacitacion</div>
<div class="ayuda beneficiosbienestar">Esto es una ayuda de beneficiosbienestar</div>
<div class="ayuda areasverdes">Esto es una ayuda de areasverdes</div>
<div class="ayuda territoriobarrio">Esto es una ayuda de territoriobarrio</div>
<div class="ayuda obras">Esto es una ayuda de obras</div>
<div class="ayuda turismoycomercio">Esto es una ayuda de turismoycomercio</div>
<div class="ayuda medioambiente">Esto es una ayuda de medioambiente</div>
<div class="ayuda culturayrecreacion">Esto es una ayuda de culturayrecreacion</div>
<div class="ayuda deporte">Esto es una ayuda de deporte</div>
<div class="ayuda servicios">Esto es una ayuda de servicios</div>
<div class="ayuda transparencia">Esto es una ayuda de transparencia</div>
<div class="ayuda participacionciudadana">Esto es una ayuda de participacionciudadana</div>
<div class="ayuda genero">Esto es una ayuda de genero</div>
<div class="ayuda pueblosindigenas">Esto es una ayuda de pueblosindigenas</div>
<div class="ayuda diversidadsexual">Esto es una ayuda de diversidadsexual</div>
<div class="ayuda terceraedad">Esto es una ayuda de terceraedad</div>