{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load votainteligente_extras %}

{% block content %}
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>

<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel='stylesheet' type='text/css'>
  <!-- Featured Elections  -->
  <!--
  {% if user|is_candidate %}
    <p class="small epigrafe text-center text-light">Bienvenida/o candidata/o</p>
    <h1 class="text-center">
      {% with user.candidacies.first as candidacy %}
      {{candidacy.candidate.name}}
      {% endwith %}
    </h1>
    {% else %}
    {% include '_user_printable.html' %}
  {% endif %}

  <div class="line-space"></div>
  -->
  <div class="">
    <div class="">
      {% block sidebar %}
      <ul class="nav nav-pills list-inline">
      {% block extra_sidebar_top %}
      {% endblock extra_sidebar_top %}


      {% if user|is_candidate %}
        {% include 'backend_candidate/menu.html' with candidacy=candidacy %}
      {% else %}
        {% if not config.MENU_CIUDADANO_EN_DROPDOWN %}
            {% include 'backend_citizen/menu.html' with user=user %}
        {% endif %}
      {% endif %}

      {% block extra_sidebar_bottom %}
      {% endblock extra_sidebar_bottom %}

      <!-- Versión moviles -->

          <li class="dropdown hidden-sm hidden-md hidden-lg" role="presentation" >
              <a href="#" class="dropdown-toggle small" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Menú' %}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                    {% if user|is_candidate %}
                      {% include 'backend_candidate/menu.html' with candidacy=candidacy mobile=True %}
                    {% else %}
                      {% if not config.MENU_CIUDADANO_EN_DROPDOWN %}
                        {% include 'backend_citizen/menu.html' with user=user mobile=True %}
                      {% endif %}
                    {% endif %}
              </ul>
          </li>
      <!-- END Versión moviles -->

      </ul>
      {% endblock sidebar %}
    </div>
    <div>
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}default{% endif %}">
              {{ message }}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
		    {% block main_content %}
		    {% endblock main_content %}

		</div>

    </div>
  </div>
{% if user|is_candidate %}
<script type="text/javascript">
$(function(){
  var tour = new Tour({
            steps: [
            {
              element: ".mi-perfil",
              title: "Mi perfil",
              content: "Acá puedes modificar cosas como por ejemplo: tu foto y darnos algunos detalles de tu campaña como por ejemplo lema."
            },
            {
              element: ".12naranja",
              title: "Cuestionario",
              content: "Hemos elaborado algunas preguntas para que nos ayudes a definir mejor tu campaña y acá las puedes responder."
            },
            {
              element: ".my_proposals",
              title: "Las propuestas con las que te has comprometido",
              content: "Cuando te pronuncies sobre alguna propuesta ciudadana aparecerá en este lugar."
            },
            {
              element: ".proposals_for_me",
              title: "Propuestas para mi",
              content: "Acá puedes encontrar las propuestas ciudadanas que te han hecho."
            }
          ],
          template: `<div class='popover tour'>
                <div class='arrow'></div>
                <h3 class='popover-title'></h3>
                <div class='popover-content'></div>
                <div class='popover-navigation'>
                  <button class='btn btn-default' data-role='prev'>«</button>
                  <button class='btn btn-default' data-role='next'> »</button>
                  <button class='btn btn-default' data-role='end'>Fin</button>
                </div>
              </div>`
        });

  // Initialize the tour
  tour.init();

  // Start the tour
  tour.start();
});
</script>
{% endif %}

{% block extra_scripts %}
{% endblock extra_scripts %}
<script src="{% static 'js/bootstrap-tour.js' %}"></script>
<link href="{% static 'css/bootstrap-tour.min.css' %}" rel='stylesheet' type='text/css'>

{% endblock content %}

{% block extrajs %}
$(function(){
    $('.loadFromUrl').on('show.bs.modal', function (event) {
      var anchor = $(event.relatedTarget) // Button that triggered the modal
      var modal = $(this)
      var body = modal.find('.modal-body');
      body.load(anchor.data('url'));
    })
    if($('[data-toggle="tooltip"]').length) {
      $('[data-toggle="tooltip"]').tooltip();
    }
});
{% endblock extrajs %}
