{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load votainteligente_extras %}

{% block content %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
  <!-- Featured Elections  -->
  {% if user|is_candidate %}
    <p class="small epigrafe text-center text-light">Bienvenida/o candidata/o</p>
    <h1 class="text-center">
      {% with user.candidacies.first as candidacy %}
      {{candidacy.candidate.name}}
      {% endwith %}
    </h1>
    {% else %}
    {% include '_user_printable.html' %}
  {% endif %}

  <div class="line-space"></div>

  <div class="">
    <div class="">
      {% block sidebar %}
      <ul class="nav nav-pills list-inline">
      {% block extra_sidebar_top %}
      {% endblock extra_sidebar_top %}


      {% if user|is_candidate %}
        {% for candidacy in user.candidacies.all %}

          {% url 'backend_candidate:complete_profile' slug=candidacy.candidate.election.slug candidate_id=candidacy.candidate.id  as complete_profile %}
          <li role="presentation" class="{% ifequal request.path complete_profile%} active{% endifequal %} hidden-xs mi-perfil">
            <a class="small" href="{{complete_profile}}">
              Completa tu perfil
            </a>
          </li>

          {% url 'backend_candidate:complete_12_naranja' slug=candidacy.candidate.election.slug candidate_id=candidacy.candidate.id  as backend_candidate %}
          <li role="presentation" class="{% ifequal request.path backend_candidate%} active{% endifequal %} hidden-xs 12naranja destacado">
            <a class="small" href="{{backend_candidate}}">
              Completa la 1/2 naranja
            </a>
          </li>

          {% url 'backend_candidate:my_proposals_with_a_resolution' slug=candidacy.candidate.election.slug candidate_id=candidacy.candidate.id  as my_proposals %}
          <li role="presentation" class="{% ifequal request.path my_proposals%} active{% endifequal %} hidden-xs my_proposals">
            <a class="small" href="{{my_proposals}}">
              Mis compromisos
            </a>
          </li>
          {% url 'backend_candidate:proposals_for_me' slug=candidacy.candidate.election.slug candidate_id=candidacy.candidate.id  as proposals_for_me %}
          <li role="presentation" class="{% ifequal request.path proposals_for_me%} active{% endifequal %} hidden-xs proposals_for_me">
            <a class="small" href="{{proposals_for_me}}">
              Propuestas para mi
            </a>
          </li>
        {% endfor %}
      {% else %}
        {% url 'backend_citizen:my_proposals' as backend_index %}
         <li role="presentation" class="{% ifequal request.path backend_index%} active{% endifequal %} hidden-xs">
        <a class="small" href="{{backend_index}}">{% trans 'Las propuestas que he hecho' %}</a></li>
          {% url 'backend_citizen:my_supports' as my_supports_url %}
         <li role="presentation" class="{% ifequal request.path my_supports_url %} active{% endifequal %} hidden-xs">
          <a class="small" href="{{my_supports_url}}">
          {% blocktrans %}Las propuestas que apoyo{% endblocktrans %}</a></li>
        {% if user.profile.is_organization %}
          {% url 'organization_profiles:update' as org_profile %}
         <li role="presentation" class="{% ifequal request.path org_profile %} active{% endifequal %} hidden-xs">
          <a class="small" href="{{org_profile}}" data-toggle="dropdown" data-target="submenu">
          {% blocktrans %}Actualizar mi organización{% endblocktrans %} <span class="caret"></span></a>
          <ul class="dropdown-menu" id="submenu">
            <li><a href="{% url 'organization_profiles:update' %}">Pagina Organizacion</a></li>
            {% for extra_page in user.organization_template.extra_pages.all %}
            <li><a href="{% url 'organization_profiles:update_extrapage' extra_page.id %}">{{extra_page.title}}</a></li>
            {% endfor %}
          </ul>
         </li>
        {% else %}
        {% url 'backend_citizen:update_my_profile' as my_profile_url %}
         <li role="presentation" class="{% ifequal request.path my_profile_url %} active{% endifequal %} hidden-xs">
          <a class="small" href="{{my_profile_url}}">
          {% blocktrans %}Actualizar mi perfil{% endblocktrans %}</a></li>
        {% endif %}
        {% comment %}
        {% url 'backend_citizen:stats' as stats_url %}
         <li role="presentation" class="{% ifequal request.path stats_url %} active{% endifequal %} hidden-xs">
          <a class="small" href="{{stats_url}}">
          {% blocktrans %}Estadísticas{% endblocktrans %}</a></li>
        {% endcomment %}
        {% if config.SEARCH_SUBSCRIPTION_ENABLED %}
          {% url 'proposal_subscriptions:list' as search_proposal_subscriptions_url %}
           <li role="presentation" class="{% ifequal request.path search_proposal_subscriptions_url%} active{% endifequal %} hidden-xs">
            <a class="small" href="{{search_proposal_subscriptions_url}}">
            {% blocktrans %}Búsquedas{% endblocktrans %}</a></li>
        {% endif %}

      {% endif %}

        {% url 'password_reset' as password_reset %}
         <li role="presentation" class="{% ifequal request.path password_reset %} active{% endifequal %} hidden-xs">
          <a class="small" href="{{password_reset}}">
          {% blocktrans %}Cambia tu contraseña{% endblocktrans %}</a></li>

      {% block extra_sidebar_bottom %}
      {% endblock extra_sidebar_bottom %}

      <!-- Versión moviles -->

          <li class="dropdown hidden-sm hidden-md hidden-lg" role="presentation" >
              <a href="#" class="dropdown-toggle small" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Escritorio' %}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                    {% if user|is_candidate %}
                      {% for candidacy in user.candidacies.all %}
                        {% url 'backend_candidate:complete_profile' slug=candidacy.candidate.election.slug candidate_id=candidacy.candidate.id  as complete_profile %}
                        <li class="{% ifequal request.path complete_profile%} active{% endifequal %}">
                          <a class="small" href="{{complete_profile}}">
                            Completa tu perfil
                          </a>
                        </li>

                        {% url 'backend_candidate:complete_12_naranja' slug=candidacy.candidate.election.slug candidate_id=candidacy.candidate.id  as backend_candidate %}
                        <li class="{% ifequal request.path backend_candidate%} active{% endifequal %} destacado">
                          <a class="small" href="{{backend_candidate}}">
                            Completa la 1/2 naranja
                          </a>
                        </li>
                        {% url 'backend_candidate:my_proposals_with_a_resolution' slug=candidacy.candidate.election.slug candidate_id=candidacy.candidate.id  as my_proposals %}
                        <li class="{% ifequal request.path my_proposals%} active{% endifequal %}">
                          <a class="small" href="{{my_proposals}}">
                            Mis compromisos
                          </a>
                        </li>

                        {% url 'backend_candidate:proposals_for_me' slug=candidacy.candidate.election.slug candidate_id=candidacy.candidate.id  as proposals_for_me %}
                        <li class="{% ifequal request.path proposals_for_me%} active{% endifequal %}">
                          <a class="small" href="{{proposals_for_me}}">
                            Mis compromisos
                          </a>
                        </li>
                      {% endfor %}
                    {% else %}
                      {% url 'backend_citizen:my_proposals' as backend_index %}
                      <li class="{% ifequal request.path backend_index%} active{% endifequal %}">
                        <a class="small" href="{{backend_index}}">{% trans 'Las propuestas que he hecho' %}</a></li>
                      {% url 'backend_citizen:my_supports' as my_supports_url %}
                       <li class="{% ifequal request.path my_supports_url %} active{% endifequal %}">
                        <a class="small" href="{{my_supports_url}}">
                        {% blocktrans %}Las propuestas que apoyo{% endblocktrans %}</a></li>
                      {% if user.profile.is_organization %}
                        {% url 'organization_profiles:update' as org_profile %}
                        <li class="{% ifequal request.path org_profile %} active{% endifequal %}">
                          <a class="small" href="{{org_profile}}">
                          {% blocktrans %}Actualizar mi organización{% endblocktrans %}</a>
                        </li>
                      {% else %}
                        {% url 'backend_citizen:update_my_profile' as my_profile_url %}
                        <li class="{% ifequal request.path my_profile_url %} active{% endifequal %}">
                          <a class="small" href="{{my_profile_url}}">
                          {% blocktrans %}Actualizar mi perfil{% endblocktrans %}</a>
                        </li>
                      {% endif %}
                    {% endif %}
                      {% url 'password_reset' as password_reset %}
                       <li class="{% ifequal request.path password_reset %} active{% endifequal %}">
                           <a class="small" href="{{password_reset}}">
                        {% blocktrans %}Cambia tu contraseña{% endblocktrans %}</a></li>
              </ul>
          </li>
      <!-- END Versión moviles -->

      </ul>
      {% endblock sidebar %}
    </div>
    <div>
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}default{% endif %}">
              {{ message }}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
		    {% block main_content %}
		    {% endblock main_content %}

		</div>

    </div>
  </div>
{% if user|is_candidate %}
<script type="text/javascript">
$(function(){
  var tour = new Tour({
            steps: [
            {
              element: ".mi-perfil",
              title: "Mi perfil",
              content: "Acá puedes modificar cosas como por ejemplo: tu foto y darnos algunos detalles de tu campaña como por ejemplo lema."
            },
            {
              element: ".12naranja",
              title: "Cuestionario",
              content: "Hemos elaborado algunas preguntas para que nos ayudes a definir mejor tu campaña y acá las puedes responder."
            },
            {
              element: ".my_proposals",
              title: "Las propuestas con las que te has comprometido",
              content: "Cuando te pronuncies sobre alguna propuesta ciudadana aparecerá en este lugar."
            },
            {
              element: ".proposals_for_me",
              title: "Propuestas para mi",
              content: "Acá puedes encontrar las propuestas ciudadanas que te han hecho."
            }
          ],
          template: `<div class='popover tour'>
                <div class='arrow'></div>
                <h3 class='popover-title'></h3>
                <div class='popover-content'></div>
                <div class='popover-navigation'>
                  <button class='btn btn-default' data-role='prev'>«</button>
                  <button class='btn btn-default' data-role='next'> »</button>
                  <button class='btn btn-default' data-role='end'>Fin</button>
                </div>
              </div>`
        });

  // Initialize the tour
  tour.init();

  // Start the tour
  tour.start();
});
{% endif %}

<script src="{% static 'js/removeDiacritics.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-expander/1.7.0/jquery.expander.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js" type="text/javascript"></script>
<script type="text/javascript">
var csrftoken = Cookies.get('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

var app = angular.module('votainteligente', []);
</script>
<script type="text/javascript">
</script>

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
<script src="{% static 'js/masonry-script.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<script>
 $(document).ready(function(){
    $(".chosen-select").chosen();
    $('.email-prensa').attr('href','mailto:'+'vota-2017'+'@'+'ciudadanointeligente.org?'+'Subject=Votainteligente');
 })
</script>
{% block extra_scripts %}
{% endblock extra_scripts %}
<script src="{% static 'js/bootstrap-tour.js' %}"></script>
<link href="{% static 'css/bootstrap-tour.min.css' %}" rel='stylesheet' type='text/css'>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', "{{ config.WEBSITE_GA_CODE }}", 'auto');
  ga('send', 'pageview');
</script>

{% endblock content %}

{% block extrajs %}
$(function(){
    $('.loadFromUrl').on('show.bs.modal', function (event) {
      var anchor = $(event.relatedTarget) // Button that triggered the modal
      var modal = $(this)
      var body = modal.find('.modal-body');
      body.load(anchor.data('url'));
    })
    $('[data-toggle="tooltip"]').tooltip();
});
{% endblock extrajs %}
