{% extends "base.html" %}
{% block content %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/LeHPeGpV1sE" frameborder="0" allowfullscreen></iframe>
<h1 class="text-center">Hagamos seguimiento a los compromisos de Vota Inteligente</h1>
<h3 class="text-center">Estos son los alcaldes y alcaldesas electos/as que hicieron compromisos con propuestas ciudadanas.</h3>
<div id="grid">
  <div id="posts">
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/71/11/7111ee013c5c9d26ad173d867dbade7f.jpg" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Mauro Rozas Tamayo</h3>
      <div class="small text-center">Cerro Navia</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/compromiso-con-el-fortalecimiento-de-la-educaci-37">Compromiso con el fortalecimiento de la Educación Pública y la transición hacia un nuevo sistema</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/propuestas-de-la-comision-engel-en-materias-de--40">Propuestas de la Comisión Engel en materias de probidad y transparencia</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/publicidad-seguimiento-y-evaluacion-al-cumplim-383">Publicidad, seguimiento y evaluación al cumplimiento del programa municipal</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/compromiso-con-la-diversidad-sexual-37">Compromiso con la diversidad sexual</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/a3/86/a3868eeca80b795c149376f9877bc197.jpg" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Alvaro Ortiz Vera</h3>
      <div class="small text-center">Concepción</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/estandares-de-funcionamiento-para-los-cosoc-63">Estandares de funcionamiento para los COSOC</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/compromiso-con-la-diversidad-sexual-63">Compromiso con la diversidad sexual</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/9f/bd/9fbd618b37ac95d793a48c7a9400d7eb.jpg" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Rodrigo Delgado Mocarquer</h3>
      <div class="small text-center">Estación Central</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/carta-de-compromiso-electoral-respecto-a-la-migr-6">Carta de compromiso electoral respecto a la inmigración</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/5b/80/5b80c22c108f3acadfd4c57a3d794261.jpg" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Cesar Orellana Orellana</h3>
      <div class="small text-center">Freirina</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/escuelas-seguras-para-todos-y-todas-98">Escuelas seguras para todos y todas</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/compromiso-con-la-diversidad-sexual-94">Compromiso con la diversidad sexual</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/freirina-jovenes-presente">Freirina Jovenes Presente</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/mejoramiento-de-los-estandares-de-visualizacion-94">Mejoramiento de los estándares de visualización de información presupuestaria en portales de transparencia activa y digitalización de las OIRS</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/publicidad-seguimiento-y-evaluacion-al-cumplim-440">Publicidad, seguimiento y evaluación al cumplimiento del programa municipal</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/propuestas-de-la-comision-engel-en-materias-de--97">Propuestas de la Comisión Engel en materias de probidad y transparencia</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/e0/c0/e0c0ea216c1074d670a882fc6940da7a.jpg" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Gonzalo Duran Baronti</h3>
      <div class="small text-center">Independencia</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/compromiso-con-la-diversidad-sexual-113">Compromiso con la diversidad sexual</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/37/10/3710c1cb9799bea3414bcc07cd5440af.jpg" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Joaquin Lavin Infante</h3>
      <div class="small text-center">Las Condes</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/compromiso-con-la-diversidad-sexual-137">Compromiso con la diversidad sexual</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/mas-ciclovias-para-la-comuna">Mas ciclovías para la comuna</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/plan-de-reciclaje-ahora">Plan de reciclaje ¡ahora!</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/por-una-comuna-conectada-a-la-ciudad">Por una comuna conectada a la ciudad</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/75/18/7518d588123298906eb799963c0de4a1.jpg" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Esteban Krause Salazar</h3>
      <div class="small text-center">Los Ángeles</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/estandares-de-funcionamiento-para-los-cosoc-155">Estandares de funcionamiento para los COSOC</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/df/db/dfdb14999a2e3e3cf8a66e6415e6016b.jpg" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Gonzalo Montoya Riquelme</h3>
      <div class="small text-center">Macul</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/propuestas-de-la-comision-engel-en-materias-de-166">Propuestas de la Comisión Engel en materias de probidad y transparencia</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/compromiso-con-la-diversidad-sexual-163">Compromiso con la diversidad sexual</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/bc/c2/bcc24f5a4116fc7a26437ebd1e87a56d.png" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Carolina Leitao Alvarez-Salamanca</h3>
      <div class="small text-center">Peñalolén</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/compromiso-con-el-fortalecimiento-de-la-educac-213">Compromiso con el fortalecimiento de la Educación Pública y la transición hacia un nuevo sistema</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/compromiso-con-la-diversidad-sexual-213">Compromiso con la diversidad sexual</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/escuelas-seguras-para-todos-y-todas-215">Escuelas seguras para todos y todas</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/mejoramiento-de-los-estandares-de-visualizacio-213">Mejoramiento de los estándares de visualización de información presupuestaria en portales de transparencia activa y digitalización de las OIRS</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/publicidad-seguimiento-y-evaluacion-al-cumplim-213">Publicidad, seguimiento y evaluación al cumplimiento del programa municipal</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/politica-local-para-la-igualdad-y-equidad-de-g-212">Política Local para la Igualdad y Equidad de Género</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/73/5e/735e98d92fd188ae7597f15752d6cd7d.jpg" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Evelyn Matthei Fornet</h3>
      <div class="small text-center">Providencia</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/compromiso-con-la-diversidad-sexual">Compromiso con la diversidad sexual</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/4e/19/4e196370329c9dc831e35efe3961c3c9.jpg" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Claudio Nicolas Castro Salas</h3>
      <div class="small text-center">Renca</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/compromiso-con-el-fortalecimiento-de-la-educac-267">Compromiso con el fortalecimiento de la Educación Pública y la transición hacia un nuevo sistema</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/compromiso-con-la-diversidad-sexual-266">Compromiso con la diversidad sexual</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/escuelas-seguras-para-todos-y-todas-267">Escuelas seguras para todos y todas</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/mejor-educacion-municipal">Mejor educación Municipal</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/mejoramiento-de-los-estandares-de-visualizacio-266">Mejoramiento de los estándares de visualización de información presupuestaria en portales de transparencia activa y digitalización de las OIRS</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/estandares-de-funcionamiento-para-los-cosoc-266">Estándares de funcionamiento para los COSOC</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/publicidad-seguimiento-y-evaluacion-al-cumplim-266">Publicidad, seguimiento y evaluación al cumplimiento del programa municipal</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/politica-local-para-la-igualdad-y-equidad-de-g-266">Política Local para la Igualdad y Equidad de Género</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/propuestas-de-la-comision-engel-en-materias-de-267">Propuestas de la Comisión Engel en materias de probidad y transparencia</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/renca-quiere-mas-deporte-y-areas-verde">Renca quiere más deporte y areas verdes</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/4d/d7/4dd73611b9e13d0d1c2bcee981625ed5.jpg" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Luis Reyes Alvarez</h3>
      <div class="small text-center">Río Bueno</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/estandares-de-funcionamiento-para-los-cosoc-271">Estandares de funcionamiento para los COSOC</a></li>
        <li><a href="http://votainteligente.cl/propuestas/detail/problemas-de-medio-ambiente-en-rio-bueno">Problemas de medio ambiente en rio bueno</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/e2/ec/e2ec6a44e352e9838513f945ac5375e8.jpg" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Nora Cuevas Contreras</h3>
      <div class="small text-center">San Bernardo</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/medicos-para-todos-los-barrios">Medicos para todos los barrios</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/41/47/41478beb0428d2fbcb7bc8286899b226.png" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Felipe Alessandri Vergara</h3>
      <div class="small text-center">Santiago</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/fomento-participacion-ciudadadana-en-temas-de-segu">Fomento participación ciudadana en temas de seguridad</a></li>
      </ul>
    </div>
    <div class="post electo">
      <img src="http://votainteligente.cl/cache/cache/45/f0/45f097097cae9fc9dc67aaca6829a2c0.jpg" class="img-responsive img-circle img-candidato">
      <h3 class="text-center">Raul Torrealba Del Pedregal</h3>
      <div class="small text-center">Vitacura</div>
      <hr>
      <p class="text-center text-light">Propuestas con las que se ha comprometido:</p>
      <ul>
        <li><a href="http://votainteligente.cl/propuestas/detail/compromiso-con-la-diversidad-sexual-342">Compromiso con la diversidad sexual</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
