<!DOCTYPE html>
{% load staticfiles %}
{% load flatpages %}
{% load sass_tags %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
<html prefix="og: //ogp.me/ns/{{ config.WEBSITE_OGP_TYPE }}#">
    <head>
        <meta charset="utf-8">
        <title>{% trans "Vota Inteligente" %} {% block title %}- {{ config.WEBSITE_GENERAL_SETTINGS_HOME_TITLE }}{% endblock title %}</title>
        <meta name="author" content="{{ config.WEBSITE_METADATA_AUTHOR }}">
        <meta name="description" content="{% block description %}{{ config.WEBSITE_METADATA_DESCRIPTION }}{% endblock description %}">
        <meta name="keywords" content="{{ config.WEBSITE_METADATA_KEYWORD }}{% block keywords %}{% endblock keywords %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="google-site-verification" content="{{ config.WEBSITE_GA_GSITE_VERIFICATION }}">
        <!--for facebook fans-->
        {% block ogp %}
        <meta property="og:title" content="{{ config.WEBSITE_OGP_TITLE }}">
        <meta property="og:type" content="{{ config.WEBSITE_OGP_TYPE }}">
        <meta property="og:url" content="https://{% url_domain %}">
        <meta property="og:image" content="https://{% url_domain %}{% static 'img/logo_vi_og.jpg' %}">
        <meta property="og:description" content="{{ config.WEBSITE_OGP_DESCRIPTION }}">
        {% endblock ogp %}
        <meta property="fb:app_id" content="{{ config.WEBSITE_OGP_APP_ID }}">
        <!--eoff-->

        <link rel="shortcut icon" sizes="196x196" href="{% static 'img/votai-196.png' %}">
        <!-- Browser out of date -->
        <script type="text/javascript">
        var $buoop = {}
        $buoop.ol = window.onload;
        window.onload=function(){
         try {if ($buoop.ol) $buoop.ol();}catch (e) {}
         var e = document.createElement("script");
         e.setAttribute("type", "text/javascript");
         e.setAttribute("src", "//browser-update.org/update.js");
         document.body.appendChild(e);
        }
        </script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}" rel="stylesheet">
        <link href="{% sass_src 'sass/main.scss' %}" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Nunito+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
        <link type="text/plain" rel="author" href="{% static 'humans.txt' %}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <script data-cfasync="false" src="//code.jquery.com/jquery-1.12.3.min.js"></script>

        {% block extra_css %}
        {% endblock extra_css %}


    </head>

    <body>

        <div id="wrapper">
            {% block everything %}
            <div class="container">
                <section id="election">

                    {% block mainelection %}
                    {% endblock mainelection %}

                </section>
            </div>
            {% endblock everything %}
        </div>
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PD7DKP"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PD7DKP');</script>
		<!-- End Google Tag Manager -->

        <script src="{% static 'js/removeDiacritics.js' %}"></script>
        <script src="{% static 'js/jquery.expander.js' %}"></script>

        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/vendor/js.cookie.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        </script>
        <script type="text/javascript">
        {% block extrajs %}
        {% endblock extrajs %}
        </script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
        <script src="{% static 'js/masonry-script.js' %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
        <script>
         $(document).ready(function(){
            $(".chosen-select").chosen();
            $('.email-prensa').attr('href','mailto:'+'municipales2016'+'@'+'votainteligente.cl?'+'Subject=Votainteligente');
         })
        </script>
        <script type="text/javascript">
	    var _mfq = _mfq || [];
	    (function() {
	        var mf = document.createElement("script");
	        mf.type = "text/javascript"; mf.async = true;
	        mf.src = "//cdn.mouseflow.com/projects/0c709bd8-c5c8-4693-98bb-a54a2e92aa8f.js";
	        document.getElementsByTagName("head")[0].appendChild(mf);
	    })();
	</script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', "{{ config.WEBSITE_GA_CODE }}", 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
