{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}

<section id="video-home">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
          <img src="{% static 'img/vota-title-home.svg' %}" class="landing-phrase img-responsive" title="Vota Inteligente 2017" alt="Vota Inteligente 2017">
          <div class="videoWrapper">
          <iframe src="https://www.youtube.com/embed/gPRqUpawUFo" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="text-home">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-box">
        <p class="text-center high-home">Vota Inteligente ofrece una metodología participativa para que comunidades y grupos ciudadanos, a través del diálogo y la articulación, <b>puedan generar propuestas ciudadanas para los programas de candidatas y candidatos que se postularán este año en Chile.</b> Por su parte, el equipo de Vota Inteligente se encarga de hacerlas llegar a las candidaturas y buscar el compromiso público con ellas. </p>
      </div>
    </div>
  </div>
</section>
<section id="calendar-home">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p class="text-center high-home">Desde julio, <b>votainteligente.cl</b> estará disponible para crear y/o apoyar propuestas y visualizar los compromisos de candidatas y candidatos.</p>
        <table class="table table-responsive">
          <tr>
            <td width="30%" class="cal-date">Julio</td>
            <td width="70%">Lanzamiento plataforma Vota Inteligente 2017<br>Inicio recolección de propuestas</td>
          </tr>
          <tr>
            <td class="cal-date">2 de Julio</td>
            <td>Elecciones Primarias</td>
          </tr>
          <tr>
            <td class="cal-date">Septiembre</td>
            <td>Inicio campaña de incidencia hacia candidatas y candidatos</td>
          </tr>
          <tr>
            <td class="cal-date">Octubre</td>
            <td>Debate presidencial Fundación Ciudadano Inteligente</td>
          </tr>
          <tr>
            <td class="cal-date">19 de Noviembre</td>
            <td>Primera vuelta de Elecciones Presidenciales y Parlamentarias</td>
          </tr>
          <tr>
            <td class="cal-date">17 de Diciembre</td>
            <td>*Segunda vuelta de Elecciones Presidenciales</td>
          </tr>
        </table>
        <p>* Solo en caso de la elección presidencial si ningún candidato logra el 50% + 1 de los votos se hará una segunda vuelta con los dos más votados</p>
      </div>
    </div>
  </div>
</section>
<section id="map-home">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <img src="{% static 'img/map-home.svg' %}" class="img-responsive" title="voz ciudadana" alt="voz ciudadana">
      </div>
    </div>
  </div>
</section>
