{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
{% load cache %}
{% cache 600 landing_candidatos %}
<section id="welcome">
  <div class="container text-center">
    <h1>¿Dudas sobre las elecciones 2017?</h1>
    <h3>¡En Ciudadano Inteligente te ayudamos con nuestras herramientas para esta primera vuelta!</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-4">
          <a href="{% url 'medianaranja2:index' %}" onclick="ga('send','event','home-media-naranja','click')">
            <img src="{% static 'img/h-naranja.svg' %}" alt="Media Naranja Política" class="img-responsive">
          </a>
          <p class="text-center tool-description">Encuentra candidaturas afines a tus ideas</p>
        </div>
        <div class="col-md-4">
          <a href="https://api.whatsapp.com/send?phone=56932973444&text=hola,%20tengo%20una%20pregunta%20sobre%20las%20elecciones" onclick="ga('send','event','home-wsp-pregunton','click')" target="_blank">
            <img src="{% static 'img/h-pregunton.svg' %}" alt="WhatsApp Preguntón" class="img-responsive">
          </a>
          <p class="text-center tool-description">Pregunta aquí tus dudas sobre las votaciones<br>+56 9 3297 3444</p>
        </div>
        <div class="col-md-4">
          <a href="https://api.whatsapp.com/send?phone=56932973444&text=hola,%20quiero%20denunciar%20propaganda%20ilegal" onclick="ga('send','event','home-wsp-acusete','click')" target="_blank">
            <img src="{% static 'img/h-acusete.svg' %}" alt="WhatsApp Acusete" class="img-responsive">
          </a>
          <p class="text-center tool-description">Denuncia aquí propaganda ilegal<br>+56 9 3297 3444</p>
        </div>
    </div>
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3">
          <a href="{% url 'material_ciudadano' %}" onclick="ga('send','event','home-infografias','click')">
            <img src="{% static 'img/h-infografias.svg' %}" alt="Infografías electorales" class="img-responsive">
          </a>
          <p class="text-center tool-description">Revisa datos clave para el día de votación</p>
        </div>
        <div class="col-md-3">
          <a href="{% url 'know_your_candidates' %}" onclick="ga('send','event','home-compromisos','click')">
            <img src="{% static 'img/h-procom.svg' %}" alt="Propuestas y compromisos" class="img-responsive">
          </a>
          <p class="text-center tool-description">Mira los compromisos de candidat@s con propuestas ciudadanas</p>
        </div>
        <div class="col-md-3">
          <a href="http://levantalamano.cl" onclick="ga('send','event','home-nna','click')" target="_blank">
            <img src="{% static 'img/h-nna.svg' %}" alt="Propuestas de niños, niñas y adolescentes" class="img-responsive">
          </a>
          <p class="text-center tool-description">Apoya las propuestas de niños, niñas y adolescentes a las candidaturas</p>
        </div>
        <div class="col-md-3">
          <a href="https://open.spotify.com/user/1curudtk4qxgx0dejcvcaogvr/playlist/6b8xpAv7QXaNCwQ0nasbca" onclick="ga('send','event','home-playlist','click')" target="_blank">
            <img src="{% static 'img/h-playlist.svg' %}" alt="La playlist electoral" class="img-responsive">
          </a>
          <p class="text-center tool-description">Relaja tu ansiedad ante los resultados con estos hits</p>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="home-search-candidate" class="blue">
  <div class="container">
    <h2 class="text-center">¿Por quién votar?</h2>
    <h3 class="text-center">Conoce las candidaturas y sus compromisos</h3>
    <p class="bajada text-center">Encuentra aquí a todos los candidatos y candidatas a Senador, Diputado y Presidente para estas elecciones.</p>
    <div class="row">
      <div class="col-md-12">
        {% include "_election_search_form.html" %}
      </div>
    </div>
  </div>
</section>
{% endcache %}
{% if featured_proposals.count %}
<section id="highlighted-proposals">
  <div class="container">
    <h3 class="text-center">Tenemos <a href="{% url 'popular_proposals:home' %}" onclick="ga('send', 'event', 'counter-propuestas-ciudadanas', 'click')"><span class="counter-number">{{total_proposals}}</span></a> propuestas ciudadanas</h3>
    <p class="bajada text-center">Te invitamos a filtrar y encontrar propuestas ciudadanas en las siguientes áreas</p>
    {% include 'popular_proposal/_filter_tag_form.html' %}
    {% include 'popular_proposal/_lista_propuestas.html' with popular_proposals=featured_proposals form=Nil hide_proposal_list_header=True hidden_search=True %}
    <div class="col-md-6 col-md-offset-3">
      <p class="text-center"><a href="{% url 'popular_proposals:home' %}" class="btn btn-success">Ver todas las propuestas</a></p>
      <p class="text-center"><a href="{% url 'popular_proposals:propose_wizard_full_without_area' %}" class="btn btn-dark">Crear nueva propuesta</a></p>
    </div>
  </div>
</section>
{% endif %}
<section id="education" class="container-fluid">
  <h3 class="text-center"><a href="{% url 'material_ciudadano' %}" onclick="ga('send', 'event', 'home-material-ciudadano', 'click')">Material ciudadano</a></h3>
  <p class="bajada text-center">Materiales para generar propuestas, hacer incidencia y saber todo lo necesario de las elecciones</p>
  <div class="row">
    <div class="col-md-6 text-center blue edu-1">
      <a href="{% static 'material-ciudadano/manual-formacion-ciudadana.pdf' %}" target="_blank" class="btn btn-white" onclick="ga('send', 'event', 'home-manual-formacion-ciudadana', 'click')">Manual de formación ciudadana</a>
    </div>
    <div class="col-md-6 text-center blue-light edu-2">
      <a href="{% static 'material-ciudadano/manual-herramientas-activismo.pdf' %}" target="_blank" class="btn btn-white" onclick="ga('send', 'event', 'home-manual-herramienta-activismo', 'click')">Manual de herramientas de activismo</a>
    </div>
  </div>
</section>
{% cache 600 organization_logos %}
{% organization_logos %}
{% endcache %}
<section id="you-org" class="grey-one">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>¿Eres una organización y quieres estar aquí? <a href="{% url 'login_users' %}" class="btn btn-blue" onclick="ga('send', 'event', 'home-invitacion-ong', 'click')">Ingresa</a></p>
      </div>
    </div>
  </div>
</section>
