{% extends "base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}

{% load thumbnail %}
{% load cache %}

{% block everything %}
{% include "index_candidate_important.html" %}
{% if featured_proposals.count %}
<section id="highlighted-proposals">
  <div class="container">
    <h3 class="text-center">Tenemos <a href="{% url 'popular_proposals:home' %}" onclick="ga('send', 'event', 'counter-propuestas-ciudadanas', 'click')"><span class="counter-number">{{total_proposals}}</span></a> propuestas ciudadanas</h3>
    <p class="bajada text-center">Te invitamos a filtrar y encontrar propuestas ciudadanas en las siguientes áreas</p>
    {% include 'popular_proposal/_filter_tag_form.html' %}
    {% include 'popular_proposal/_lista_propuestas.html' with popular_proposals=featured_proposals form=Nil hide_proposal_list_header=True hidden_search=True %}
    <div class="col-md-6 col-md-offset-3">
      <p class="text-center"><a href="{% url 'popular_proposals:home' %}" class="btn btn-success">Ver todas las propuestas</a></p>
    </div>
  </div>
</section>
{% endif %}
<section id="you-proposal">
  <h2 class="text-center">Revisa el libro que le entregamos a los candidatos</h2><p class="text-center">
    <a href="{% static 'material-ciudadano/propuestas-ciudadanas.pdf' %}" class="btn btn-dark">Aquí</a></p>
</section>


{% cache 600 organization_logos %}
{% organization_logos %}
{% endcache %}
<section id="you-org" class="grey-one">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>¿Eres una organización y quieres estar aquí? <a href="{% url 'login_users' %}" class="btn btn-blue" onclick="ga('send', 'event', 'home-invitacion-ong', 'click')">Ingresa</a></p>
      </div>
    </div>
  </div>
</section>


{% endblock everything %}
