{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}

<section id="welcome" class="yellow">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>La ciudadanía dice lo que Chile necesita en votainteligente.cl <p class="hashtag">#LaElecciónEsNuestra</p></h1>
      </div>
      <div class="col-md-4 text-center">
        <img src="{% static 'img/presidencia.svg' %}" class="presidents">
      </div>
    </div>
  </div>
</section>
<section id="you-org" class="grey-one">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>¿Eres una organización?</p>
      </div>
    </div>
  </div>
</section>
<section id="actions">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Propuestas ciudadanas</h2>
      <div class="col-md-4 text-center">
        <img>
        <p>Realiza un encuentro ciudadano</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="{% static 'img/.svg' %}" title="voz ciudadana" alt="voz ciudadana">
        <p>Crea una propuesta ciudadana</p>
      </div>
      <div class="col-md-4 text-center">
        <img>
        <p>Conoce y apoya propuestas</p>
      </div>
    </div>
  </div>
</section>
<section id="">
  <h2 class="text-center">Material ciudadano</h2>
    <div class="row">
      <div class="col-md-6 text-center blue">
        Manual de formación ciudadana
      </div>
      <div class="col-md-6 text-center blue-light">
        Manual de herramientas de activismo
      </div>
    </div>
</section>
<section id="orgs-repo">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Organizaciones</h2>
      {% organization_logos %}
    </div>
  </div>
</section>
<section id="initiatives">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Otras iniciativas</h2>
    </div>
  </div>
</section>
