{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load bootstrap3 %}
{% block title %}- Candidatos Chile 2017{% endblock title %}
{% block description %}Conoce los candidatos a Senador, Diputado y Presidente para las elecciones de Chile 2017{% endblock description %}
{% block everything %}
<div class="container">
	<h1 class="text-center">{% trans "Conoce las candidaturas" %}</h1>
  <p class="bajada text-center">Encuentra aquí a todos los candidatos y candidatas a Senador, Diputado y Presidente para estas elecciones.</p>
	<div class="container">
		{% include "_election_search_form.html" %}
	</div>
</div>
<div>

{% display_election_card default_election %}

{% endblock everything %}
