{% load i18n %}
<div class="apoyo-contador">
  <p class="nota">
    {% blocktrans with proposal_id=proposal.id commitments_count=proposal.commitments.count %}
    <span id='commitments_candidates_{{proposal_id}}' class="conteo">{{commitments_count}}</span> candidatura(s) comprometida(s)
  {% endblocktrans %}
</p>
  <p class="nota">
    {% blocktrans with proposal_id=proposal.id likers_count=proposal.likers.count %}
      <span id='likers_count_{{proposal_id}}' class="conteo">{{likers_count}}</span> apoyo(s) ciudadano(s)</p>
    {% endblocktrans %}

</div>
