{% load i18n %}
{% load bootstrap3 %}

{% if form %}
<div class="container-fluid filter">
  <div class="container">
    <a id="top"></a>
    {% if form.is_filled_search %}
      <button class="hidden-md hidden-lg btn btn-link btn-block" type="button" data-toggle="collapse" data-target=".filter-mobile" aria-expanded="false" aria-controls="filter-mobile"><i class="fa fa-filter"></i> {% trans "Mostrar filtros" %}</button>
    {% endif %}
    <form id="proposalFilterForm" action="{{ request.path }}" method="GET" role="form" class="hidden-md hidden-lg filter-mobile {% if form.is_filled_search %}collapse{% endif %}">
    <div class="row">
      <div class="col-md-3">{% bootstrap_field form.text %}</div>
      <div class="col-md-3">{% bootstrap_field form.clasification %}</div>
      <div class="col-md-3">{% bootstrap_field form.generated_at %}</div>
      <div class="col-md-3">{% bootstrap_field form.order_by %}</div>
    </div>
    <div class="row">
      <!-- mobile version -->
      <div class="col-md-12 text-right visible-xs-*">
        <button type="submit" class="btn btn-success btn-block">{% trans 'Buscar'%}</button>
        {% if form.is_filled_search %}
          <a href="{% url 'popular_proposals:home' %}" class="btn btn-primary btn-block">{% trans 'Limpiar búsqueda'%}</a>
        {% endif %}
        {% if user.is_authenticated and form.is_filled_search and config.SEARCH_SUBSCRIPTION_ENABLED %}
          <a id="subscribeToSearchButton" class="btn btn-info btn-block" data-toggle="modal" data-url="{% url 'proposal_subscriptions:subscribe' %}" data-target="#subscribeToSearch"><i class="fa fa-bell-o"></i> {% trans 'Subscribete a este resultado' %}</a>
        {% endif %}
      </div>
      <!-- end mobile version -->
    </div>
    </form>
    <form id="proposalFilterForm" action="{{ request.path }}" method="GET" role="form" class="hidden-xs hidden-sm">
    <div class="row">
      <div class="col-md-4">{% bootstrap_field form.text %}</div>
      {% bootstrap_field form.clasification %}
      <div class="col-md-4">{% bootstrap_field form.generated_at %}</div>
      <div class="col-md-4">{% bootstrap_field form.order_by %}</div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right visible-md-*">
        <button type="submit" class="btn btn-success">{% trans 'Buscar'%}</button>
        {% if form.is_filled_search %}
          <a href="{% url 'popular_proposals:home' %}" class="btn btn-primary">{% trans 'Limpiar búsqueda'%}</a>
        {% endif %}
      </div>
    </div>
    </form>
  </div>
</div>
<script>
$(function(){
  $('#proposalFilterForm').submit(function() {
    $(':input', this).each(function() {
      this.disabled = !($(this).val());
    });
  });
  window.onscroll = function (e) {
    if( document.body.scrollTop >= 600 ) {
      $('#raiseToTop i').css('display','block');
    }
    if( document.body.scrollTop < 600 ) {
      $('#raiseToTop i').css('display','none');
    }
  }
});
</script>
{% endif %}
