{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
<script type="text/javascript">
    $(function(){
        $('.loadFromUrl').on('show.bs.modal', function (event) {
          var anchor = $(event.relatedTarget) // Button that triggered the modal
          var modal = $(this)
          var body = modal.find('.modal-body');
          body.load(anchor.data('url'));
        })
        $('[data-toggle="tooltip"]').tooltip();
    });

var unlike_proposal = function(url){
    $.post(url, function(data){
        location.reload();
    })
};
$(function(){
    $('.unlike_proposal').click(function(event){
        event.preventDefault();
        var target = $(event.target);
        var url = target.parent().attr('href');
        unlike_proposal(url);
    })
});
</script>
<div class="apoyo">
    {% if not is_embedded %}
        {% if user.is_authenticated %}
            {% if user|is_candidate %}
                {% for candidacy in user.candidacies.all %}
                    <div class="apoyo-btn pull-left">
                        <!-- Aquí te voy a colocar los corazones deshabilitados -->
                        <a class="btn-apoyo disabled" data-toggle="tooltip" data-placement="top" title="Este tipo de apoyo esta reservado sólo para ciudadanos">
                            {% blocktrans %}
                              <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                              </span>
                            {% endblocktrans %}
                        </a>
                        <!-- fin de los deshabilitados -->
                    </div>
                    <div class="apoyo-contador">
                        <p class="nota">{{proposal.likers.count}} ciudadanos apoyan esta propuesta</p>
                    </div>
                    {% if candidacy.candidate|is_candidate_for:proposal.area %}
                        {% get_commitment candidacy proposal as commitment %}
                        {% if commitment %}
                        {% else %}<!-- Si es que el candidato no se ha pronunciado -->
                            {% with proposal.get_absolute_url as detail_url %}
                                <script type="text/javascript">
                                        $(function(){
                                            $('.btn_pronunciarme').append('<a class="btn btn-primary" href="{% if request.path == detail_url %}#compromiso{% else %}{{detail_url}}{% endif %}" role="button">Yo quiero pronunciarme</a>');
                                            console.log($('.btn_pronunciarme'))
                                        })
                                        
                                    </script>
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}<!-- Si el usuario no es candidato -->
                {% if not user|likes:proposal %}
                    {% url 'popular_proposals:like_a_proposal' pk=proposal.id as like_this_proposal_url %}
                    {% with "supportProposal"|add:proposal.slug as modalid %}
                    <a class="btn-apoyo pull-left" data-toggle="modal" data-target="#{{modalid}}">
                        {% blocktrans %}
                          <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                          </span>
                        {% endblocktrans %}
                    </a>
                    <div class="apoyo-contador">
                        <p class="nota">{{proposal.likers.count}} ciudadanos apoyan esta propuesta</p>
                    </div>
                    {% include 'modal_like_proposal.html' with modalId=modalid title='Apoya una propuesta' url=like_this_proposal_url next_url=request.path %}
                    {% endwith %}
                {% else %}
                    {% with  user|support:proposal as support %}
                        <a class="unlike_proposal" href="{% url 'popular_proposals:unlike_proposal' pk=support.id %}" data-toggle="tooltip" data-placement="top" title="Ya no quiero apoyar esta propuesta"><img src="{% static 'img/adherido.svg' %}"></a>
                        <div class="apoyo-contador">
                            <p class="nota">{{proposal.likers.count}} ciudadanos apoyan esta propuesta</p>
                        </div>
                    {% endwith %}
                {% endif %}
            {% endif %}
                
        {% else %}<!-- Cuando usuario no esta logueado -->
            <a class="btn-apoyo pull-left" href="{% url 'auth_login' %}">
                {% blocktrans %}
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                  </span>
                {% endblocktrans %}
            </a>
            <div class="apoyo-contador">
                <p class="nota">{{proposal.likers.count}} ciudadanos apoyan esta propuesta</p>
            </div>
        {% endif %}
    {% else %}
    <a class="btn-apoyo" href="{{proposal.get_absolute_url}}">
        {% blocktrans %}
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
          </span>
        {% endblocktrans %}
    </a>
    <div class="apoyo-contador">
        <p class="nota">{{proposal.likers.count}} ciudadanos apoyan esta propuesta</p>
    </div>
    {% endif %}<!-- fin embbeded -->
    
</div>
