{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}

<!-- _likers.html -->
{% if not avoid_counter %}
<div class="apoyo">
{% endif %}

{% if not is_embedded %}
  {% if user.is_authenticated %}
    {% if user|is_candidate %}
    <!-- escandidato -->
      {% for candidacy in user.candidacies.all %}
        <div class="apoyo-btn">
        {% if not avoid_counter %}
          {% include 'popular_proposal/_apoyo_contador.html' with proposal=proposal %}
        {% endif %}
        </div>
        <!-- candidatos no apoyan, se compromete -->
        {% if candidacy.candidate %}
          {% get_commitment candidacy proposal as commitment %}
          {% if commitment %}
            {% if commitment.commited %}
            <div class="btn_pronunciarme {{support_button_extra_class}}">
              <a href="#" class="btn btn-apoyo" disabled="disabled">{% trans "Comprometido" %}</a>
            </div>
            {% else %}
            <div class="btn_pronunciarme {{support_button_extra_class}}">
              <a href="#" class="btn btn-apoyo" disabled="disabled">{% trans "No Comprometido" %}</a>
            </div>
            {% endif %}
          {% else %}<!-- esto sólo lo ven los candidatos -->
            {% with proposal.get_absolute_url as detail_url %}
            <div class="btn_pronunciarme {{support_button_extra_class}}">
              <a href="{% url 'popular_proposals:commit_yes' candidate_pk=candidacy.candidate.id proposal_pk=proposal.id %}" alt="{% trans "Comprometerme" %}" class="btn btn-apoyo">
                {% if not support_button_extra_class or not config.CAN_CANDIDATES_NOT_COMMIT %}{% trans "Comprometerme" %}{% else %}<i class="fa fa-thumbs-up" aria-hidden="true"></i>{% endif %}
              </a>
              {% if config.CAN_CANDIDATES_NOT_COMMIT %}
              <a href="{% url 'popular_proposals:commit_no' candidate_pk=candidacy.candidate.id proposal_pk=proposal.id %}" alt="{% trans "No comprometerme" %}" class="btn btn-no-apoyo">
                {% if not support_button_extra_class %}{% trans "No comprometerme" %}{% else %}<i class="fa fa-thumbs-down" aria-hidden="true"></i>{% endif %}
              </a>
              {% endif %}
            </div>
            {% if proposal.contact_details and not support_button_extra_class %}
            <hr>
            <label>{% trans "Contacta a esta organización" %}</label>
            <p>{{proposal.contact_details}}</p>
            {% endif %}
            {% endwith %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% else %}
      <!-- noescandidato -->
      {% if not user|likes:proposal %}
        {% url 'popular_proposals:like_a_proposal' pk=proposal.id as like_this_proposal_url %}
        {% with "supportProposal"|add:proposal.slug as modalid %}
          <!-- "logueado sin support" -->
          {% if not avoid_counter %}
          {% include 'popular_proposal/_apoyo_contador.html' with proposal=proposal %}
          {% endif %}
          <span class="corazon-{{proposal.id}}">
            <a class="btn btn-apoyo text-center {{support_button_extra_class}}" data-toggle="modal" data-target="#{{modalid}}" onclick="ga('send','event','apoyo-propuesta-usuario','click')">
              {% trans "Apoyar" %} <i class="fa fa-heart" aria-hidden="true"></i>
            </a>
          </span>
          {% if not avoid_counter %}
            {% trans "Apoya una propuesta" as support_a_proposal_modal_title %}
            {% include 'modal_like_proposal.html' with modalId=modalid title=support_a_proposal_modal_title url=like_this_proposal_url next_url=request.path %}
          {% endif %}
          <!-- end of "logueado sin support" -->
        {% endwith %}
      {% else %}
        {% with user|support:proposal as support %}
        <!-- apoyando -->
          {% if not avoid_counter %}
            {% include 'popular_proposal/_apoyo_contador.html' with proposal=proposal %}
          {% else %}
            {% if not support_button_extra_class %}
            <span class="corazon-{{proposal.id}} btn btn-no-apoyo text-center {{support_button_extra_class}}" style="cursor:auto;">
               {% trans "Estoy apoyando" %} <i class="fa fa-heart" aria-hidden="true"></i>
            </span>
            {% else %}
            <div class="col-md-6">
              <div class="share pull-left">
                {% include 'popular_proposal/_apoyo_contador.html' with proposal=proposal %}
              </div>
            </div>
            {% endif %}
          {% endif %}
        <!-- eoapoyando -->
        {% endwith %}
      {% endif %}
      <!-- eonoescandidato -->
    {% endif %}
  {% else %}
    <!-- usuario no logueado -->
      {% if not avoid_counter %}
      {% include 'popular_proposal/_apoyo_contador.html' with proposal=proposal %}
      {% endif %}
      <span class="corazon-{{proposal.id}}">
        <a href="{% url 'auth_login' %}?next={{proposal.get_absolute_url}}" class="btn btn-apoyo text-center {{support_button_extra_class}}" onclick="ga('send','event','apoyo-propuesta-no-usuario','click')">
          {% trans "Apoyar" %} <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
      </span>
  {% endif %}
{% endif %}

{% if not avoid_counter %}
</div>
{% endif %}
<!-- end of _likers.html -->
