{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
{% load cache %}

{% cache 300 presidentes_comprometidos cargo proposal.id %}
{% commiters_by_election_position proposal cargo as commitments %}
  {% if commitments.all %}
    <hr>
    <label>{% blocktrans with cargo=cargo %}
      Candidaturas a {{cargo}} comprometidas con esta propuesta en VotaInteligente
    {% endblocktrans %}</label>
    <ul class="list-inline">
      {% for commitment in commitments.all %}
        <li>
          <a href="{{commitment.candidate.get_absolute_url}}" class="candidate-commit-name">
            {% if commitment.commited %}
              {% if commitment.candidate.image %}
                {% thumbnail commitment.candidate.image "50x50" crop="center" as im %}
                    <img src="{{ im.url }}" alt="{{commitment.candidate.name}}" border="0" class="img-responsive img-circle img-candidato">
                {% endthumbnail %}
                {% else %}
                <img src="{% static 'img/candidate-default.jpg' %}" alt="{{commitment.candidate.name}}" height="50" width="50" border="0" class="img-responsive img-circle">
              {% endif %}
              {{commitment.candidate}}
            {% endif %}
          </a>
          <a href="{{commitment.get_absolute_url}}" alt="{% trans "Lee el compromiso" %}" class="candidate-commit-name"><i class="fa fa-file-text" aria-hidden="true"></i></a>
        </li>
      {% endfor %}
    </ul>
{% endif %}
{% endcache %}
