{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
<script type="text/javascript">
    $(function(){
        $('.loadFromUrl').on('show.bs.modal', function (event) {
          var anchor = $(event.relatedTarget) // Button that triggered the modal
          var modal = $(this)
          var body = modal.find('.modal-body');
          body.load(anchor.data('url'));
        })
        $('[data-toggle="tooltip"]').tooltip();
    });

var unlike_proposal = function(url){
    $.post(url, function(data){
        location.reload();
    })
};
$(function(){
    $('.unlike_proposal').unbind().click(function(event){
        event.preventDefault();
        var target = $(event.target);
        var url = target.attr('href');
        unlike_proposal(url);

    })
});
</script>
{% if not avoid_counter %}
<div class="apoyo">
{% endif %}
    {% if not is_embedded %}
        {% if user.is_authenticated %}
            {% if user|is_candidate %}
                {% for candidacy in user.candidacies.all %}
                    <div class="apoyo-btn pull-left">
                        {% if not avoid_counter %}
                        <div class="apoyo-contador text-center">
                            <p class="nota"><span id='likers_count_{{proposal.id}}' class="conteo">{{proposal.likers.count}}</span> ciudadanos apoyan esta propuesta</p>
                        </div>
                        {% endif %}
                        <a class="btn-apoyo disabled" data-toggle="tooltip" data-placement="top" title="Este tipo de apoyo esta reservado sólo para ciudadanos">
                            {% blocktrans %}
                            <span class="corazon-{{proposal.id}}">
                                <a class="btn btn-apoyo text-center {{support_button_extra_class}}">
                                Apoyar <i class="fa fa-heart" aria-hidden="true"></i>
                                </a>
                            </span>
                            {% endblocktrans %}
                        </a>
                        <!-- fin de los deshabilitados -->
                    </div>
                    {% if candidacy.candidate|is_candidate_for:proposal.area %}
                        {% get_commitment candidacy proposal as commitment %}
                        {% if commitment %}
                        {% else %}<!-- Si es que el candidato no se ha pronunciado -->
                            {% with proposal.get_absolute_url as detail_url %}
                                <script type="text/javascript">
                                        $(function(){
                                            $('.btn_pronunciarme').append('<a class="btn btn-primary" href="{% if request.path == detail_url %}#compromiso{% else %}{{detail_url}}{% endif %}" role="button">Yo quiero pronunciarme</a>');
                                            console.log($('.btn_pronunciarme'))
                                        })

                                    </script>
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}<!-- Si el usuario no es candidato -->
                {% if not user|likes:proposal %}
                    {% url 'popular_proposals:like_a_proposal' pk=proposal.id as like_this_proposal_url %}
                    {% with "supportProposal"|add:proposal.slug as modalid %}
                    {% if not avoid_counter %}
                    <div class="apoyo-contador text-center">
                        <p class="nota"><span id='likers_count_{{proposal.id}}' class="conteo">{{proposal.likers.count}}</span> ciudadanos apoyan esta propuesta</p>
                    </div>
                    {% endif %}
                    <span class="corazon-{{proposal.id}}">
                        <a class="btn btn-apoyo text-center {{support_button_extra_class}}" data-toggle="modal" data-target="#{{modalid}}">
                        Apoyar <i class="fa fa-heart" aria-hidden="true"></i>
                        </a>
                    </span>
                    {% if not avoid_counter %}
                      {% include 'modal_like_proposal.html' with modalId=modalid title='Apoya una propuesta' url=like_this_proposal_url next_url=request.path %}
                    {% endif %}
                    {% endwith %}
                {% else %}
                    {% with  user|support:proposal as support %}
                    {% if not avoid_counter %}
                    <div class="apoyo-contador text-center">
                          <p class="nota"><span id='likers_count_{{proposal.id}}' class="conteo">{{proposal.likers.count}}</span> ciudadanos apoyan esta propuesta</p>
                      </div>
                      {% endif %}
                        <span class="corazon-{{proposal.id}}">
                            <a class="unlike_proposal btn btn-no-apoyo text-center
                            {% if not avoid_counter %} pull-left{% endif %}"
                            href="{% url 'popular_proposals:unlike_proposal' pk=support.id %}"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Ya no quiero apoyar esta propuesta">
                            Estoy apoyando <i class="fa fa-heart" aria-hidden="true"></i>
                            </a>
                        </span>
                    {% endwith %}
                {% endif %}
            {% endif %}

        {% else %}<!-- Cuando usuario no esta logueado -->
        {% if not avoid_counter %}
        <div class="apoyo-contador text-center">
                <p class="nota"><span id='likers_count_{{proposal.id}}' class="conteo">{{proposal.likers.count}}</span> ciudadanos apoyan esta propuesta</p>
            </div>
            {% endif %}
            <span class="corazon-{{proposal.id}}">
                <a class="btn btn-apoyo text-center {{support_button_extra_class}}" href="{% url 'auth_login' %}">
                Apoyar <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
            </span>
        {% endif %}
    {% else %}
    <a class="btn-apoyo" href="{{proposal.get_absolute_url}}">
        {% if not avoid_counter %}
          <div class="apoyo-contador text-center">
              <p class="apoyo-ciudadano"><span id='likers_count_{{proposal.id}}' class="conteo">{{proposal.likers.count}}</span> ciudadanos apoyan esta propuesta</p>
          </div>
          {% endif %}
          <span class="corazon-{{proposal.id}}">
              <a class="btn btn-apoyo text-center {{support_button_extra_class}}" data-toggle="modal" data-target="#{{modalid}}">
              Apoyar <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
          </span>
    </a>
    {% endif %}<!-- fin embbeded -->
{% if not avoid_counter %}
</div>
{% endif %}
