{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load votainteligente_extras %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" />
<script>
$(function(){
    $('.loadFromUrl').on('show.bs.modal', function (event) {
      var anchor = $(event.relatedTarget) // Button that triggered the modal
      var modal = $(this)
      var body = modal.find('.modal-body');
      body.load(anchor.data('url'));
    })
    $('[data-toggle="tooltip"]').tooltip();
});
</script>


    {% if form %}
    {% include 'modal.html' with modalId='subscribeToSearch' title='Subscribirse a esta búsqueda' %}
		<form id="proposalFilterForm" action="{{ request.path }}" method="GET" role="form">
      <div class="row">
        <div class="col-md-3">{% bootstrap_field form.text %}</div>
        <div class="col-md-3">{% bootstrap_field form.clasification %}</div>
        <div class="col-md-3">{% bootstrap_field form.generated_at %}</div>
        <div class="col-md-3">{% bootstrap_field form.order_by %}</div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-success">{% trans 'Filtrar'%}</button>
          {% if form.is_filled_search %}
            <a href="{% url 'popular_proposals:home' %}" class="btn btn-success">{% trans 'Limpiar Filtro'%}</a>
          {% endif %}
        </div>
        <div class="col-md-3">
          {% if user.is_authenticated and form.is_filled_search and config.SEARCH_SUBSCRIPTION_ENABLED %}
            <a id="subscribeToSearchButton" data-toggle="modal" data-url="{% url 'proposal_subscriptions:subscribe' %}" data-target="#subscribeToSearch">{% trans 'Subscribir a esta búsqueda' %}</a>
          {% endif %}
        </div>
      </div>
		</form>
    {% endif %}
    <script>
    $(function(){
      $('#proposalFilterForm').submit(function() {
        $(':input', this).each(function() {
          this.disabled = !($(this).val());
        });
      });
    });
    </script>

<div id="grid">

  <div id="posts">
    {% for proposal in popular_proposals %}
    {% include 'popular_proposal/popular_proposal_card.html' with proposal=proposal is_embedded=is_embedded %}
    {% empty %}
    {% blocktrans %}
    <p>Aún no hay propuestas.</p>
    {% endblocktrans %}
    {% endfor %}

  </div>
</div>
