{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
<div class="contenedorDestacado fondo-blanco">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="text-center intro-home">
        {% trans "¡Ayúdanos a cambiar como se hace política!" %}
      </h2>

      {% blocktrans %}
      <h3>Propuestas ciudadanas</h3>
      <span>
        Estamos recolectando soluciones a los problemas de tu comuna vistos desde la perspectiva de los ciudadanos.
        Estas propuestas serán presentadas a los candidatos a alcaldes y concejales en las próximas Elecciones Municipales 2016, para que ellos se pronuncien con respecto a estas.
      </span>
      <h4>¿Por qué queremos esto?</h4>
      <span>Porque históricamente ha habido una relación vertical entre autoridades y ciudadanos, donde son los candidatos y los alcaldes los que toman las decisiones. También porque en el Chile de hoy existe una apatía generalizada hacia lo político.</span>
      <h4>Nota: Para hacer tu propuesta ciudadana, deberás registrarte en el sitio.</h4>
      {% endblocktrans %}
    </div>
    </div>
  </div>
