{% load i18n %}

	<div class="row">
		<h1 class="text-center">Título</h1>
		<h2 class="text-center">Bajada</h2>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-3 text-center">
			<img src="http://placehold.it/140x140" class="img-circle">
			<h3>Etapa 1</h3>
			<h4>Etapa 1</h4>
		</div>
		<div class="col-sm-6 col-md-3 text-center">
			<img src="http://placehold.it/140x140" class="img-circle">
			<h3>Etapa 2</h3>
			<h4>Etapa 1</h4>
		</div>
		<div class="col-sm-6 col-md-3 text-center">
			<img src="http://placehold.it/140x140" class="img-circle">
			<h3>Etapa 3</h3>
			<h4>Etapa 1</h4>
		</div>
		<div class="col-sm-6 col-md-3 text-center">
			<img src="http://placehold.it/140x140" class="img-circle">
			<h3>Etapa 4</h3>
			<h4>Etapa 1</h4>
		</div>
	</div>
