{% load votainteligente_extras %}{% load i18n %}{% spaceless %}
{% if not say_thanks %}
  {% url 'popular_proposals:detail' slug=popular_proposal.slug as detail_url%}
  {% url_domain as url_d %}

  {% with 'http://'|add:url_d|add:detail_url as full_detail_url %}
    {% with full_detail_url|iriencode as encoded_full_detail_url %}
    <ul class="list-inline social-buttons text-center">
      <li>
        <a class="{{btn_extra_class}}" href="#" onclick="ga('send', 'event', 'twitter-share', 'click'); window.open(&quot;//twitter.com/share?hashtags={{ config.WEBSITE_TWITTER_HASHTAG }}&text={{ popular_proposal }}&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
          {% if show_texts %}
            <i class="fa fa-twitter"></i>
          {% trans "  Compartir en Twitter" %}
            {% else %}
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          {% endif %}
        </a>
      </li>
      <li>
        <a class="share-btn share-btn-branded share-btn-facebook {{btn_extra_class}}" onclick="ga('send', 'event', 'facebook-share', 'click');" href="//www.facebook.com/sharer/sharer.php?u={{encoded_full_detail_url}}" title="{{popular_proposal.title}}" target="_blank">
          {% if show_texts %}
            <i class="fa fa-facebook"></i>
            {% trans "Compartir en Facebook" %}
            {% else %}
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          {% endif %}
        </a>
      </li>
    {%if popular_proposal.join_advocacy_url%}
      <li>
        <a class="share-btn share-btn-branded share-btn-facebook {{btn_extra_class}}" onclick="ga('send', 'event', 'whatsapp-share', 'click');" href="{{popular_proposal.join_advocacy_url}}" title="{% trans "Esta propuesta cuenta con un grupo en Whatsapp para seguir debatiendo." %}" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {%endif%}
      <li>
        <a class="share-btn share-btn-branded share-btn-facebook {{btn_extra_class}}" target="_blank" onclick="ga('send', 'event', 'image-download', 'click');"  href="{{popular_proposal.ogp_image}}" title="{% trans "Descarga la imagen de esta propuesta" %}">
          {% if show_texts %}
            <i class="fa fa-instagram"></i> Instagram
          {% else %}
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
          {% endif %}
        </a>
      </li>
      {% with proposal.get_absolute_url as detail_url %}
        {% if request.path == detail_url %}
        <li>
          <a class="share-btn share-btn-branded share-btn-facebook {{btn_extra_class}}" onclick="print();ga('send', 'event', 'print', 'click');"title="{% trans "Imprime esta propuesta" %}">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-print fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {%endif%}
      {% endwith %}
    </ul>
    {% endwith %}
  {% endwith %}
{% else %}<!-- Aquí estamos agradeciendo que le pusieron corazon pero no le dibujamos las redesh shoshialesh -->
<p class="bg-success">{% trans "Gracias por apoyar" %}<i class="fa fa-star" aria-hidden="true"></i></p>
{% endif %}
{% endspaceless %}
