<a href="#" onclick="ga('send', 'event', 'twitter-share', 'click'); window.open(&quot;//twitter.com/share?via=Ciudadanoi&text=Mira esta propuesta ciudadana para los candidatos a alcalde de {{popular_proposal.area}}&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
  </span>
</a>
<a class="share-btn share-btn-branded share-btn-facebook" onclick="ga('send', 'event', 'facebook-share', 'click');" href="//www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvotainteligente.cl" title="Campañas limpias y reglas parejas para todos enriquecen las elecciones. No dejemos que se ensucie nuestra democracia; fiscalicemos entre todos las campañas electorales." target="_blank">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
  </span>
</a>
