{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block content %}
<div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
  <div class="nota">{% blocktrans%}Ahora a moverla!{% endblocktrans %}</div>
  <!-- Featured Elections  -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <h2 class="text-center">{% blocktrans %}Listo! Tu propuesta está publicada!.{% endblocktrans %}</h2>
          <div>
              <p>{% blocktrans %}Te estamos redirigiendo hacia la propuesta, si por algún motivo, razón o circunstancia,
              no funciona puedes hacer click en el botón de abajo.{% endblocktrans %}</p>
              <a href="{{object.temporary_data.created_proposal.get_absolute_url}}" class="btn btn-success btn-block">Revisa tu propuesta</a>
          </div>
      </div>
    </div>
  </div>

</div>
  <script>
window.setTimeout(function() {
    window.location.href = "{{object.temporary_data.created_proposal.get_absolute_url}}";
}, 5000);
  </script>
{% endblock content %}

{% block extrafooter %}
{% endblock extrafooter %}
