{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load votainteligente_extras%}
{% block extrajs %}
{% endblock extrajs %}

{% block content %}
<div>

  <h1>{% blocktrans with area=area.name %}Creando una propuesta para {{area}}{% endblocktrans %}</h1>
  <!-- Featured Elections  -->
  <div class="contenedorDestacado fondo-blanco">
        <form role="form" action="" method="post">
            {% csrf_token %}
            {% bootstrap_button "Wizard Mode" button_type="button" button_class="btn-primary" name="wizard_view_button" %}<br>
            <div id="wizard_form" class="wizard clearfix" role="application">
                {% for field in form %}
                  <h4> </h4>
                    <section>
                        <p class="long_text">{% long_text_tag field %}</p>
                        {% bootstrap_field field %}
                    </section>
                {% endfor %}
            </div>
            <div id="classic_form">
                {% bootstrap_form form %}
            </div>
            <div id="form_submit"class="form-actions ">
              <input type="submit" class="btn btn-primary" id="Guardar" value="Guardar"/>
            </div>

        </form>

    </div>
  <!-- end mobile version -->

</div>
{% endblock content %}

{% block extrafooter %}
{% endblock extrafooter %}
