{% extends layout %}
{% load votainteligente_extras %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% block extrajs %}
{% load ogp_tags %}


$(function(){
    $('.loadFromUrl').on('show.bs.modal', function (event) {
      var anchor = $(event.relatedTarget) // Button that triggered the modal
      var modal = $(this)
      var body = modal.find('.modal-body');
      body.load(anchor.data('url'));
    })
    $('[data-toggle="tooltip"]').tooltip();
});
{% endblock extrajs %}

{% block title %}{{popular_proposal.title}}{% endblock title%}

{% block ogp %}
  {% render_ogp popular_proposal %}
{% endblock ogp %}

{% block everything %}

{% url 'popular_proposals:embedded_detail' slug=popular_proposal.slug as embedded_url%}
{% include '_incrusta_esto_en_tu_pagina.html' with url=embedded_url %}

<div class="container">
{% include 'modal.html' with modalId='supportProposal' title='Apoya una propuesta' %}
<div>

  
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">VotaInteligente</a></li>
    <li><a href="{% url 'area' slug=popular_proposal.area.id%}">{{popular_proposal.area}}</a></li>
    <li class="active">{{popular_proposal.title}}</li>
    {% if popular_proposal.proposer = user %}
    <li>
      <a href="{% url 'popular_proposals:citizen_update' slug=popular_proposal.slug %}">{% blocktrans %}Agrega más información{% endblocktrans %}</a>
    </li>
    {% endif%}
  </ol>

<div class="fondo-blanco">
  <div class="panel-body">
    <div class="pull-left">
      <span class="label label-default">{{popular_proposal.data.clasification}}</span>
    </div>
    <div class="pull-right">
        <div class="share text-center">
          <a class="fa-stack fa-lg" href="">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </a>
          <a class="fa-stack fa-lg" href="">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </a>
        </div>
    </div>
    <div class="line-space"></div>
    <p class="text-center text-light small">Esta es una propuesta para {{popular_proposal.area}} de {{popular_proposal.proposer}}</p>
    <h1 class="text-center">{{popular_proposal.title}}</h1>
    {% include 'popular_proposal/_likers.html' with proposal=popular_proposal %}
    {% include "popular_proposal/plantillas/detalle_propuesta.html" with popular_proposal=popular_proposal %}

</div>

</div>
    {% if popular_proposal.background %}

    <div class="panel panel-default">
      <div class="panel-heading">{% trans 'Antecedentes' %}</div>
      <div class="panel-body">
        <!-- Featured Elections  -->
        <div class="fondo-blanco">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-12">
            <a href="#">
              {% if popular_proposal.image %}
                {% thumbnail popular_proposal.image "1200x600" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
              {% endif %}
            </a>
          </div>
        </div>
        {{popular_proposal.background|linebreaksbr}}
      </div>
    </div>
    {% endif %}
</div>


{% endblock everything %}
</div>

{% block extrafooter %}
{% endblock extrafooter %}
