{% extends layout %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block extrajs %}
{% include 'elections/home.js' with detail_url="popular_proposals:propose_wizard" %}
{% endblock extrajs %}

{% block everything %}
<div class="container">
	{% if user.profile.is_journalist %}
	<div class="row">
		<div class="col-md-8">
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#incrustaEnTuPagina" aria-expanded="false" aria-controls="incrustaEnTuPagina">
		  ¡Incrusta esto en tu página!
		</button>
		<div class="collapse" id="incrustaEnTuPagina">
			  	<textarea style="width:700px;" readonly><iframe src="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'popular_proposals:embedded_home' %}" width="600px" height="500px"></iframe></textarea>
		</div>
		</div>
	</div>
	{% endif %}
	<div>
	  <h1>{% trans "Propuestas en VotaInteligente" %}</h1>
	  	<div>
	  		{% include 'popular_proposal/_lista_propuestas.html' with popular_proposals=popular_proposals form=form %}
	  	</div>
	</div>
</div>


{% endblock everything %}
