{% extends layout %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% block description %}{% trans "Participa activamente creando y apoyando propuestas ciudadanas generadas por ciudadanos y organizaciones de la sociedad civil" %}{% endblock description %}
{% block title %}- {% trans "Propuestas Ciudadanas" %}{% endblock title %}
{% block everything %}
<div class="container">
	<div>
	  <h1 class="text-center">{% trans "Propuestas Ciudadanas" %}</h1>
  </div>
</div>
<div>
	{% include 'popular_proposal/_lista_propuestas.html' with popular_proposals=popular_proposals form=form is_embedded=is_embedded original_template=True %}
</div>


{% endblock everything %}
