{% extends layout %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block extrajs %}
{% include 'elections/home.js' with detail_url="popular_proposals:propose_wizard" %}
{% endblock extrajs %}

{% block content %}
<div>
  <h1>{% trans "Propuestas en VotaInteligente" %}</h1>
  	<div class="contenedorDestacado fondo-blanco">
  		{% include 'popular_proposal/_lista_propuestas.html' with popular_proposals=popular_proposals form=form %}
  	</div>
</div>

{% endblock content %}
