{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
<div class="post propuesta">

  <span class="label label-default">{{proposal.data.clasification}}</span>
  {% if proposal.title %}
      <h3><a href="{% url 'popular_proposals:detail' slug=proposal.slug %}">{{proposal.title}}</a></h3>
  {% endif %}
  {% if proposal.data.solution %}
      {{proposal.data.solution}}
  {% endif %}
      {% include 'popular_proposal/_likers.html' with proposal=proposal %}
<!--       <hr>
  <p>3 candidatos han adherido:</p>
  <ul class="list-inline">
    <li><a href="">Bryan Thompson,</a></li>
    <li><a href=""> Olivia Henry</a>,</li>
    <li><a href=""> Kenneth Castro</a></li>
  </ul>
  <div class="share text-center">
    <a class="fa-stack fa-lg" href="">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </a>
    <a class="fa-stack fa-lg" href="">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </a>
  </div>
 -->

</div>
