{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load votainteligente_extras %}
{% block extrajs %}
{% endblock extrajs %}

{% block content %}
<div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
  <h1>{% blocktrans with area=area %}Creando una propuesta para {{area}}{% endblocktrans %}</h1>
  <!-- Featured Elections  -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="contenedorDestacado fondo-blanco">
          <h2>{% trans "¡Gracias por tu propuesta!" %}</h2>{{area}}

          <p>{% blocktrans %}Por favor, espera a nuestros Ciudadanos Inteligentes para que la evalúen.{% endblocktrans %}</p>

          <p>Muchas gracias</p>

          <div class="col-md-12">
            <li class="list-unstyled">
              {% get_proposals_enabled as proposals_enabled %}
              {% if proposals_enabled  %}
              <a href="{% url 'popular_proposals:propose_wizard' slug=area.id %}" class="btn btn-success btn-block" role="button">{% blocktrans with area=area %}Crea otra propuesta para {{area}}{% endblocktrans %}</a>
              {% endif %}
              <a href="{% url 'backend_citizen:my_proposals' %}" class="btn btn-primary btn-block" role="button">{% blocktrans %}Ir a mi perfil ciudadano{% endblocktrans %}</a>
            </li>
          </div>
        <!--<a href="{{area.get_absolute_url}}" class="btn btn-success btn-lg active" role="button">
            {% blocktrans with area=area %}Revisa otras propuestas en {{area}}{% endblocktrans %}
        </a>-->

      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block extrafooter %}
{% endblock extrafooter %}
