{% extends "backend_base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block main_content %}

<h2>{% blocktrans with popular_proposal=popular_proposal url=popular_proposal.get_absolute_url %}Agrega más información sobre <a href="{{url}}">{{popular_proposal}}</a>{% endblocktrans %}</h2>
<form action="{% url 'popular_proposals:citizen_update' slug=popular_proposal.slug %}" enctype="multipart/form-data" method="POST" role="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-actions">
        <button type="submit" class="btn btn-success">{% trans 'Actualiza tu propuesta'%}</button>
    </div>
</form>


{% endblock main_content %}
