{% load votainteligente_extras %}
{% load i18n %}


{% if wizard.steps.prev %}
<div class="col-xs-12 col-sm-4 col-md-4">
    <button class="btn btn-default btn-block" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" onclick="ga('send', 'event', 'proposal-ir-primer-paso', 'click')" formnovalidate>{% trans "Volver al inicio" %}</button>
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
    <button class="btn btn-default btn-block" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" onclick="ga('send', 'event', 'proposal-paso-anterior-{{ wizard.steps.prev|add:1 }}', 'click')" formnovalidate>{% trans "Volver al paso " %}{{ wizard.steps.prev|add:1 }}</button>
</div>
{% endif %}