{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load votainteligente_extras %}
{% block extrajs %}
{% endblock extrajs %}
{% load static %}

{% block content %}
<div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
  <div class="nota">{% blocktrans with area=area %}Propuesta para {{area}}{% endblocktrans %}</div>
  <!-- Featured Elections  -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div>
          <h2 class="text-center">Recibimos tu propuesta con título "<i>{{popular_proposal}}</i>" ¡muchas gracias!</h2>
          <div>
            {% if form_update %}
              <p>Nos serviría mucho tener más de información sobre tu propuesta. nos ayudas? <a href="{% url 'popular_proposals:citizen_update' slug=popular_proposal.created_proposal.slug %}">click aquí</a></p>
            {% endif %}
            {% if popular_proposal.created_proposal %}
              <a href="{{popular_proposal.created_proposal.get_absolute_url}}" class="btn btn-success btn-block">Revisa tu propuesta</a>
            {% elif popular_proposal.confirmation %}
            <p>{% blocktrans with email=popular_proposal.proposer.email %}Ahora sólo queda que la confirmes con el link que te enviamos a tu mail ({{email}}).{% endblocktrans %}</p>

            {% else %}
            <p>{% blocktrans %}Por favor, espera que el equipo de Ciudadano Inteligente la evalúe para que sea enviada a los candidatos.{% endblocktrans %}</p>

            {% endif %}
            {% get_proposals_enabled as proposals_enabled %}
            {% if proposals_enabled  %}
              <a href="{% url 'popular_proposals:propose_wizard' slug=area.id %}" class="btn btn-success btn-block" role="button">{% blocktrans with area=area %}Crea otra propuesta para {{area}}{% endblocktrans %}</a>
            {% endif %}
              <!-- <a href="{% url 'backend_citizen:my_proposals' %}" class="btn btn-primary btn-block" role="button">{% blocktrans %}Ir a mi perfil ciudadano{% endblocktrans %}</a> -->
          </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block extrafooter %}
{% endblock extrafooter %}
