{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% block extrajs %}
{% endblock extrajs %}

{% block content %}
<div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
  <div class="nota">{% blocktrans with area=area %}Propuesta para {{area}}{% endblocktrans %}</div>
  <!-- Featured Elections  -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div>
          <h2>Tu propuesta para {{area}} ha sido enviada ¡muchas gracias!</h2>{{area}}

          <p>{% blocktrans %}Por favor, espera que el equipo de Ciudadano Inteligente la evalúe para que sea enviada a los candidatos.{% endblocktrans %}</p>

          
          <div>  
              <a href="{% url 'popular_proposals:propose_wizard' slug=area.id %}" class="btn btn-success btn-block" role="button">{% blocktrans with area=area %}Crea otra propuesta para {{area}}{% endblocktrans %}</a>
              <a href="{% url 'backend_citizen:index' %}" class="btn btn-primary btn-block" role="button">{% blocktrans %}Ir a mi perfil ciudadano{% endblocktrans %}</a>
          </div>
        <!--<a href="{% url 'area' slug=area.id %}" class="btn btn-success btn-lg active" role="button">
            {% blocktrans with area=area %}Revisa otras propuestas en {{area}}{% endblocktrans %}
        </a>-->

      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block extrafooter %}
{% endblock extrafooter %}

