{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load votainteligente_extras %}
{% block extrajs %}
{% endblock extrajs %}
{% load static %}

{% block title %}
- Creación de Propuesta - Propuesta publicada
{% endblock title %}

{% block content %}
<div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
  <div class="nota">{% blocktrans with area=area %}Propuesta para {{area}}{% endblocktrans %}</div>
  <!-- Featured Elections  -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div>
          <h2 class="text-center">Recibimos tu propuesta con título "<i>{{popular_proposal}}</i>" ¡muchas gracias!</h2>
          <div>
            {% if popular_proposal.created_proposal %}
              <a href="{% static 'material-ciudadano/manual-herramientas-activismo.pdf' %}" target="_blank" class="btn btn-blue btn-block" onclick="ga('send', 'event', 'proposal-done-descargar-kit', 'click')">Descarga el Manual de herramientas de activismo</a>
              <p class="text-center"><b>Difunde tu propuesta para conseguir más apoyos</b></p>
              {% include 'popular_proposal/_share.html' with popular_proposal=popular_proposal.created_proposal btn_extra_class="btn btn-info btn-block" show_texts=True %}

            {% else %}
            <p>{% blocktrans %}Por favor, espera que el equipo de Ciudadano Inteligente la evalúe para que sea enviada a los candidatos.{% endblocktrans %}</p>
              {% endif %}
              {% if form_update %}
                <br>
                <p class="text-center"><b>Puedes agregar información a tu propuesta, revisarla o crear otra</b></p>
                <a href="{% url 'popular_proposals:citizen_update' slug=popular_proposal.created_proposal.slug %}" class="btn btn-success btn-block" onclick="ga('send', 'event', 'proposal-done-mas-info', 'click')">Agregar más información a tu propuesta</a>
                <a href="{{popular_proposal.created_proposal.get_absolute_url}}" class="btn btn-default btn-block" onclick="ga('send', 'event', 'proposal-done-revisar-propuesta', 'click')">Revisa tu propuesta</a>
                <a href="{% url 'popular_proposals:propose_wizard_full_without_area' %}" class="btn btn-default btn-block" onclick="ga('send', 'event', 'proposal-done-crear-otra', 'click')">Crea otra propuesta</a>

              {% endif %}
            {% get_proposals_enabled as proposals_enabled %}

              <!-- <a href="{% url 'backend_citizen:my_proposals' %}" class="btn btn-primary btn-block" role="button">{% blocktrans %}Ir a mi perfil ciudadano{% endblocktrans %}</a> -->
          </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block extrafooter %}
{% endblock extrafooter %}
