{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}
{% load votainteligente_extras%}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block title %}
- Creación de Propuesta - Paso {{wizard.steps.step1}}
{% endblock title %}

{% block content %}
<div>
  <div class="text-width wizard">
    {% if area %}
    <p class="text-light">Creando una propuesta para {{ area }}</p>
    {% endif %}
    <div class="row">
    {% for i in wizard.steps.count|times %}
    <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="paso {% if i < wizard.steps.step1 %}paso_completado{% endif %}">Paso {{i|add:1}} de {{wizard.steps.count}}</div>
    </div>
    {% endfor %}
    </div>


<form role="form" action="" method="post">
            {% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {% for field in form %}
                    <section>
                    <p class="long_text">{% include form.explanation_template %}</p>
                    </section>
                    {% for field in form %}
                        <section>
                            {% bootstrap_field field show_help=false %}
                        </section>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
         {% else %}
                <section>
                    {% if form.explanation_template %}
                    <p class="long_text">{% include form.explanation_template %}</p>
                    {% endif %}
                </section>
                {% for field in form %}
                    <section>
                        {% bootstrap_field field show_help=false show_label=false %}
                    </section>
                {% endfor %}
         {% endif %}
    <div class="row">
      {% include 'popular_proposal/wizard/_previous_buttons.html' with wizard=wizard %}
      <div class="col-xs-12 col-sm-4 col-md-4">
        <button class="btn btn-success btn-block" type="submit" value="{% trans "Submit" %}" onclick="ga('send', 'event', 'proposal-ir-paso-{{wizard.steps.next|add:1}}', 'click')">{% trans "Ir al paso " %}{{wizard.steps.next|add:1}}<img src="{% static 'img/arrow.svg' %}"></button>
      </div>
    </div>
    <div class="line-space"></div>
    <div class="line-space"></div>


</form>
</div>
</div>

{% endblock content %}
