{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load votainteligente_extras%}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block title %}
- {% trans "Creación de Propuesta" %} - {% blocktrans with step_number=wizard.steps.step1 %}Paso {{step_number}}{% endblocktrans %}
{% endblock title %}

{% block content %}
<div>
  <div class="text-width">
    <div class="row">
    {% for i in wizard.steps.count|times %}
    <div class="col-md-3 col-sm-3 col-xs-3 text-center wizard">
        {% trans "Paso" %}
        <p class="paso {% if i < wizard.steps.step1 %}paso_completado{% endif %}"><span class="badge">{{i|add:1}}</span></p>
    </div>
    {% endfor %}
    </div>
</div>
<div class="text-center proposal-step">
<p class="small">{% trans "Creando una propuesta" %}</p>
<h2>{% if form.step_title %}{{form.step_title}}{% endif %}</h2>
</div>

<section>
    <p class="long_text">{% include form.explanation_template %}</p>
</section>
<div class="col-md-8 col-md-offset-2">
<form role="form" action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}

        <section>
            {% if form.organization %}
                {% bootstrap_field form.organization show_help=false %}
            {% endif %}
        </section>
    <div class="preview fondo-blanco">
        <p class="small text-center">{% trans "Propuesta" %}</p>
        <section>
            {% bootstrap_field form.title show_help=false show_label=false %}
        </section>
        {% include 'popular_proposal/plantillas/carta_candidato.html' %}
    </div>
    <div class="panel panel-default extra-info">
      <div class="panel-heading extra-info">
        <p class="small text-center">{% trans "Información adicional sobre tu propuesta" %}</p>
      </div>
      <div class="panel-body">
       {% bootstrap_field form.is_local_meeting  %}
       {% bootstrap_field form.generated_at  %}
      </div>
    </div>
        <section class="terms">
          {{ form.terms_and_conditions }}
            <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              {% trans "Términos y condiciones" as tyc %}
              {% bootstrap_label tyc labform.terms_and_conditions.name %}</a>
        <div class="collapse" id="collapseExample">
          <div>
            {% include 'popular_proposal/terms_and_conditions.html' %}
          </div>
        </div>
        </section>
        {% if config.CAN_CREATE_TEST_PROPOSAL %}
        <section class="is_testing">
          {% bootstrap_field form.is_testing %}
        </section>
        {% endif %}
    {% include 'popular_proposal/wizard/_previous_buttons.html' with wizard=wizard %}
    <div class="pull-right">
        <button class="btn btn-success" type="submit" value="{% trans "Submit" %}" onclick="ga('send', 'event', '{% if wizard.steps.current == wizard.steps.last %}proposal-crear-propuesta{% else %}proposal-ir-paso-{{wizard.steps.next|add:1}}{% endif %}', 'click')">{% if wizard.steps.current == wizard.steps.last %}{% trans "Enviar propuesta" %}{% else %}{% trans "Ir al paso " %}{{wizard.steps.next|add:1}}{% endif %}<img src="{% static 'img/arrow.svg' %}"></button>
    </div>
    <div class="line-space"></div>
    <div class="line-space"></div>


</form>
</div>
</div>
</div>

{% endblock content %}
