{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load votainteligente_extras%}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div>
  <div class="text-width">
    {% if area %}
    <p class="text-light">Creando una propuesta para {{ area }}</p>
    {% endif %}
    <div class="row">
    {% for i in wizard.steps.count|times %}
    <div class="col-md-2 col-sm-2 col-xs-2">
        <div class="paso {% if i < wizard.steps.step1 %}paso_completado{% endif %}"> </div>
    </div>
    {% endfor %}
    </div>


<form role="form" action="" method="post">
            {% csrf_token %}
        {{ wizard.management_form }}
                <section>
                    {% if form.explanation_template %}
                        <p class="long_text">{% include form.explanation_template %}</p>
                    {% endif %}
                </section>
                {% for field in form %}
                    <section>
                        {% bootstrap_field field show_help=false show_label=false %}
                    </section>
                {% endfor %}
    {% if wizard.steps.prev %}
    <div class="pull-left">
        <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "Volver al inicio" %}</button>
        <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Volver al paso previo" %}</button>
    </div>
    {% endif %}
    <div class="pull-right">
        <button class="btn btn-success pull-right" type="submit" value="{% trans "Submit" %}">{% trans "Siguiente" %}<img src="../static/img/arrow.svg"></button>
    </div>


</form>
</div>
</div>

{% endblock content %}
