<!-- Button trigger modal -->
<div class="title text-center">
    <span>Ajuda a gente</span>
</div>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-roxo" data-toggle="modal" data-target="#cadastraComAGente">
      QUESTIONÁRIO
    </button>
      
    <div id='cadastraComAGente' class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Queremos saber mais de você!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup">
              <form action="https://merepresenta.us18.list-manage.com/subscribe/post?u=35786ffc33e0f1caacdd9e3e6&amp;id=8818d3a72b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    
                  <div id="mc_embed_signup_scroll">
              <div class="mc-field-group input-group">
                <div class="form-group">
                  <strong>Gênero </strong>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="Femimino" name="MMERGE8" id="mce-MMERGE8-0"><label  class="form-check-label" for="mce-MMERGE8-0">Femimino</label>
                  </div>
                  <div class="form-check">
                <input class="form-check-input" type="radio" value="Masculino" name="MMERGE8" id="mce-MMERGE8-1"><label  class="form-check-label" for="mce-MMERGE8-1">Masculino</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Outro Gênero" name="MMERGE8" id="mce-MMERGE8-2"><label  class="form-check-label" for="mce-MMERGE8-2">Outro Gênero</label>
              </div>
                
                </div>
              </div>
              <div class="mc-field-group form-group">
                  <strong>Cor ou Raça </strong>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="Preta" name="MMERGE1" id="mce-MMERGE1-0"><label  class="form-check-label" for="mce-MMERGE1-0">Preta</label>
                  </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Parda" name="MMERGE1" id="mce-MMERGE1-1"><label  class="form-check-label" for="mce-MMERGE1-1">Parda</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Indígena" name="MMERGE1" id="mce-MMERGE1-2"><label  class="form-check-label" for="mce-MMERGE1-2">Indígena</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Amarela" name="MMERGE1" id="mce-MMERGE1-3"><label  class="form-check-label" for="mce-MMERGE1-3">Amarela</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Branca" name="MMERGE1" id="mce-MMERGE1-4"><label  class="form-check-label" for="mce-MMERGE1-4">Branca</label>
              </div>
              
              </div>
              <div class="mc-field-group form-group">
                  <strong>Você é LGBT+? </strong>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="Sim" name="MMERGE4" id="mce-MMERGE4-0"><label class="form-check-label" for="mce-MMERGE4-0">Sim</label>
                  </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Não" name="MMERGE4" id="mce-MMERGE4-1"><label class="form-check-label" for="mce-MMERGE4-1">Não</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Prefiro não responder" name="MMERGE4" id="mce-MMERGE4-2"><label class="form-check-label" for="mce-MMERGE4-2">Prefiro não responder</label>
              </div>
              
              </div>
              <div class="mc-field-group size1of2">
                <label for="mce-MMERGE7">Idade </label>
                <input class="form-control" type="number" name="MMERGE7" class="" value="" id="mce-MMERGE7">
              </div>
              <div class="mc-field-group">
                <label for="mce-MMERGE3">Estado </label>
                <select name="MMERGE3" class="" id="mce-MMERGE3">
                <option value=""></option>
                <option value="AC">AC</option>
              <option value="AL">AL</option>
              <option value="AM">AM</option>
              <option value="AP">AP</option>
              <option value="BA">BA</option>
              <option value="CE">CE</option>
              <option value="DF">DF</option>
              <option value="ES">ES</option>
              <option value="GO">GO</option>
              <option value="MA">MA</option>
              <option value="MG">MG</option>
              <option value="MS">MS</option>
              <option value="MT">MT</option>
              <option value="PA">PA</option>
              <option value="PB">PB</option>
              <option value="PE">PE</option>
              <option value="PI">PI</option>
              <option value="PR">PR</option>
              <option value="RJ">RJ</option>
              <option value="RN">RN</option>
              <option value="RO">RO</option>
              <option value="RR">RR</option>
              <option value="RS">RS</option>
              <option value="SC">SC</option>
              <option value="SE">SE</option>
              <option value="SP">SP</option>
              <option value="TO">TO</option>
    
                </select>
              </div>
              <div class="mc-field-group">
                <label for="mce-EMAIL">deixe seu email pra gente  <span class="asterisk">*</span>
              </label>
                <input class="form-control" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <p>
                Algumas vezes por ano, mandaremos notícias sobre nossos projetos. Não daremos ou venderemos seus dados a ninguém. E você pode se descadastrar quando quiser.
              </p>
                <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input class="form-control" type="text" name="b_35786ffc33e0f1caacdd9e3e6_8818d3a72b" tabindex="-1" value=""></div>
                  <div class="clear">
                    <!-- <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> -->
                    <button type="submit" name="subscribe" class="btn btn-primary">Conta comigo!</button>
                  </div>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
