{% extends "base.html" %}

{% load bootstrap4 %}
{% load markdown_deux_tags %}
{% load staticfiles %}
{% load votainteligente_extras%}

{% block title %}- Match{% endblock title %}
{% block content %}
  <div class="row">
    <div class="col-lg-10 offset-md-1">
      {% block formulario %}
      <form method="post" enctype="multipart/form-data" class='pautas_eleitor' action="{% url 'match' %}">
        {% csrf_token %}
        <section class="question-eleitor">
          <!-- Title -->
          <div class="col-lg-12 text-center bottom">
            <h1 class="question-label">
              O que é importante para você?
            </h1>
            <p>
                Dá pra escolher um tema ou os nove temas se quiser. Descubra 
                candidatas/os que combinam com você!
            </p>
          </div> 
          <!-- Title -->

          <p class="description">{{form.categories.help_text|safe}}</p>
          <div class="options">
            {% bootstrap_field form.categories show_label=False show_help=False %}
          </div>
          <p class="description"></p>
          <div class="options">
            {% bootstrap_field form.area %}
          </div>
        </section>
        {% endblock formulario %}
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-between">
              <a href="/" onclick="window.history.back()" />
                < Voltar
              </a>
              <input type="submit" value="Continuar" class="btn btn-azul" />
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/perguntas_match.js' %}"></script>
{% endblock scripts %}
