{% extends "base.html" %}

{% load bootstrap4 %}
{% load markdown_deux_tags %}
{% load staticfiles %}
{% load votainteligente_extras%}

{% block title %}- Match{% endblock title %}
{% block content %}
<div id="aguantai" class="row">
  <div class="col-12 text-center">
      <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
     </svg>
  </div>
</div>
<div id='result' class="row quem-representa">
  <template>
    <div class="col-lg-3 quem-representa-filtros">
      <div class="title-container">
        <span>Filtros</span>
      </div>

      <div id='estado_checkboxes'>
        <div class="title">
          <span>Estado (UF)</span>
        </div>
          <select v-model="checkedEstado">
            <option value='' selected="selected">
              TODOS OS ESTADOS
            </option>
            <template v-for="estado in estadosList">
              <option :id="estado.id" :value="estado.id" >
                [[ estado.label ]]
              </option>
            </template>
          </select>
      </div>

      <div id="cargo_radioboxes" class="election_types">
        <div class="title">
          <span>Cargo</span>
        </div>
        {% for type_ in election_types %}
          <div>
            <input id="{{type_.id}}" value="{{type_.id}}" type="radio" class="election_type_item" v-model="electionType">
            <label for="{{type_.id}}">{{type_.label}}</label>
          </div>
        {% endfor %}
      </div>

      <div id="identidade_checkboxes">
        <div class="title">
            <span>Identidade</span>
        </div>
        <div id="mulher">
          <input type="checkbox" id="mulher_input" v-model="isMulher">
          <label for="mulher_input">Mulher</label>
        </div>
        <div id="negro">
          <input type="checkbox" id="negro_input" v-model="isNegro">
          <label for="negro_input">Negro</label>
        </div>
        <div id="indigena">
          <input type="checkbox" id="indigena_input" v-model="isIndigena">
          <label for="indigena_input">Indígena</label>
        </div>
        <div id="lgbt">
          <input type="checkbox" id="lgbt_input" v-model="isLGBT" v-on:click="LGBT_checked">
          <label for="lgbt_input">LGBT</label>
        </div>
        <!-- Querida Miguel: Eu sou preguiçoso e não escrevi isso em um sass. Além disso, queria evitar conflitos no github.-->
        <div class="lgbt_descriptions invisible card" style="display: none; padding: 10px;">
          {% for lgbt_desc in lgbt_descriptions %}
            <div>
              <input type="checkbox" id='lgbt_desc_{{lgbt_desc.id}}' class="lgbt_desc_item" v-model="{{lgbt_desc.id}}">
              <label for="lgbt_desc_{{lgbt_desc.id}}">{{lgbt_desc.label}}</label>
            </div>
          {% endfor %}
        </div>

      </div>

      <div id='partido_checkboxes'>
        <div class="title">
          <span>Partido</span>
        </div>
        <div class="filtros">
          <div v-for="partido in partidosList">
            <input type="checkbox" :id="'partido-' + partido.id" :value="partido.id" v-model="checkedPartidos">
            <label :for="'partido-' + partido.id">[[ partido.label ]]</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class='col'>
          
          {% include 'match/eleitor_entregando_datos.html' %}
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class='col col-sm-12 d-flex justify-content-center' style="margin-bottom: 30px;">
          <a class="btn btn-verde" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmerepresenta.org.br%2F&amp;src=sdkpreparse" target="_blank" style="width: 100%;" >
            <i class="fab fa-facebook-square"></i> Compartilhar!
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="quem-representa-header">
        <div>
          <h1>Quem te representa</h1>
          <p>
            Convidamos <strong>TODAS</strong> as candidaturas com email no TSE para se cadastrar na plataforma. Com base nas suas escolhas, fizemos um ranking com as candidaturas inscritas que mais se comprometem com as nossas pautas. As que aparecem primeiro são as que dão maior match no cargo de deputada/o federal. <strong>Para outros cargos selecione box amarelo</strong>.
          </p>
          <p>Encontramos <strong>[[filteredList().length]]</strong> candidatas/os</p>
          <div class="d-md-none quem-representa-filtros-modal">
              <div id='estado_checkboxes'>
                <div class="title">
                  <span>Estado (UF)</span>
                </div>
                  <select v-model="checkedEstado">
                    <option value='' selected="selected">
                      TODOS OS ESTADOS
                    </option>
                    <template v-for="estado in estadosList">
                      <option :id="estado.id" :value="estado.id" >
                        [[ estado.label ]]
                      </option>
                    </template>
                  </select>
              </div>

              <div id="cargo_radioboxes" class="election_types">
                <div class="title">
                  <span>Cargo</span>
                </div>
                {% for type_ in election_types %}
                  <div>
                    <input id="{{type_.id}}" value="{{type_.id}}" type="radio" class="election_type_item" v-model="electionType">
                    <label for="{{type_.id}}">{{type_.label}}</label>
                  </div>
                {% endfor %}
              </div>

              <div id="identidade_checkboxes">
                <div class="title">
                    <span>Identidade</span>
                </div>
                <div id="mulher">
                  <input type="checkbox" id="mulher_input" v-model="isMulher">
                  <label for="mulher_input">Mulher</label>
                </div>
                <div id="negro">
                  <input type="checkbox" id="negro_input" v-model="isNegro">
                  <label for="negro_input">Negro</label>
                </div>
                <div id="indigena">
                  <input type="checkbox" id="indigena_input" v-model="isIndigena">
                  <label for="indigena_input">Indígena</label>
                </div>
                <div id="lgbt">
                  <input type="checkbox" id="lgbt_input" v-model="isLGBT" v-on:click="LGBT_checked">
                  <label for="lgbt_input">LGBT</label>
                </div>
                <!-- Querida Miguel: Eu sou preguiçoso e não escrevi isso em um sass. Além disso, queria evitar conflitos no github.-->
                <div class="lgbt_descriptions invisible card" style="display: none; padding: 10px;">
                  {% for lgbt_desc in lgbt_descriptions %}
                    <div>
                      <input type="checkbox" id='lgbt_desc_{{lgbt_desc.id}}' class="lgbt_desc_item" v-model="{{lgbt_desc.id}}">
                      <label for="lgbt_desc_{{lgbt_desc.id}}">{{lgbt_desc.label}}</label>
                    </div>
                  {% endfor %}
                </div>

              </div>
            </div>
          <div class="d-flex justify-content-between align-items-center">
            

            <!-- Filtros Mobile -->
            <button type="button" class="btn btn-filtros" data-toggle="modal" data-target="#ModalCenter">
                Filtrar Partidos
            </button>
            <br/>
            
              
              <!-- Modal -->
              <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content container quem-representa-filtros-modal" style="top: 100px;">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Filtros</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div style="padding: 1rem;">
                      <div id='partido_checkboxes'>
                        <div class="title">
                          <span>Partido</span>
                        </div>
                        <div class="filtros">
                          <div v-for="partido in partidosList">
                            <input type="checkbox" :id="'partido-' + partido.id" :value="partido.id" v-model="checkedPartidos">
                            <label :for="'partido-' + partido.id">[[ partido.label ]]</label>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class='col'>
                          
                          {% include 'match/eleitor_entregando_datos.html' %}
                        </div>
                      </div>

                      <div class="row" style="margin-top: 10px;">
                        <div class='col col-sm-12 d-flex justify-content-center' style="margin-bottom: 30px;">
                          <a class="btn btn-verde" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmerepresenta.org.br%2F&amp;src=sdkpreparse" target="_blank" style="width: 100%;" >
                            <i class="fab fa-facebook-square"></i> Compartilhar!
                          </a>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-roxo" data-dismiss="modal">Aplicar filtro</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="filtros-btn">
          <a class="btn btn-azul" href="{% url 'match' %}">
            Escolher outros temas
          </a>
        </div>
      </div>
      <template >
      <div class='row' v-if="filteredList().length">

          <div class='card' v-for="item in filteredList()" >
            <a :href="item.url"  target="_blank">
              <img class="card-img-top" :src="item.image">
            </a>
            <span class="name">[[ item.name ]]</span>

            <div class="card-content">
              <div class="infos">
                <div class="item">
                  <label>partido</label>
                  <span>[[item.partido]]</span>
                </div>
                <div class="item coligacao">
                  <label>nota da coligação</label>
                  <span>[[item.nota_coaligacao]]</span>
                </div>
                <div class="item">
                  <label>estado</label>
                  <span>[[item.estado_initial]]</span>
                </div>
              </div>
              <a :href="item.url" class="btn btn-azul" target="_blank">
                Ver perfil
              </a>
            </div>
          </div>  
      </div>
      <div class="zero-encontrados" v-else>
        {% include "match/zero_candidatos_encontrados.html" %}
      </div>
      </template>
    </div>
  </template>
</div>

{% endblock content %}
{% block scripts %}
{% if debug %}

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
{% endif %}

<script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dicts_for_result.js' %}"></script>
<script type="text/javascript">
ga('send', {
  hitType: 'event',
  eventCategory: 'Resultado',
  eventAction: 'resultadoObtenido',
  eventLabel: 'resultado obtenido', 
  fieldsObject: {
    nonInteraction: true
  }
});


  var filterEstado = function(el, checkedEstado){
    if(!checkedEstado){
      return true;
    }
    if (checkedEstado === el.filter.estado){
      return true;
    }
    return false;
  }
  var filterMulher = function(el, isMulher){
    if(!isMulher){
      return true;
    }
    if (el.filter.mulher){
      return true;
    }
    return false;
  }
  var filterNegro = function(el, isNegro){
    if(!isNegro){
      return true;
    }
    if (el.filter.preta){
      return true;
    }
    return false;
  }
  var filterIndigena = function(el, isIndigena){
    if(!isIndigena){
      return true;
    }
    if (el.filter.indigena){
      return true;
    }
    return false;
  }
  var electionType = function(el, eType){
    if(!eType){
      return true;
    }
    if (el.electionType == eType){
      return true;
    }
    return false;
  }
  var filterLGBT = function(el, isLGBT){
    if(!isLGBT){
      return true;
    }
    if (el.filter.is_lgbt){
      return true;
    }
    return false;
  }
  var filterPartido = function(el, checkedPartidos){
  if (checkedPartidos.length === 0){
    return true;
  }
  return checkedPartidos.includes(el.filter.partido);
}
{% for lgbt_desc in lgbt_descriptions %}
var filter_{{lgbt_desc.id}} = function(el, lgbt_desc){
    if(!lgbt_desc){
      return true;
    }
    if (el.filter.{{lgbt_desc.id}}){
      
      return true;
    }
    return false;
  }
{% endfor %}


  $(function(){
    $.post({
      url: '{% url "match_result_ajax" %}',
      dataType:"json",
      data: {
        'categories': [{% for c in categories %}{{c.id}}{% if not forloop.last %},{% endif %}{% endfor %}],
        'csrfmiddlewaretoken': '{{csrf_token}}',
      },
      success: function(data){
        data = jQuery.parseJSON(data);
        $("#aguantai").remove();
        new Vue({
          delimiters: ['[[', ']]'],
          el: '#result',
          data: {
            list: data,
            partidosList: partidos_ids,
            estadosList: estados_ids,
            amountOfResults: {{config.MEREPRESENTA_RESULTADO_CANTIDADE}},
            isMulher: undefined,
            isNegro: undefined,
            isIndigena: undefined,
            isLGBT: undefined,
            electionType: 'deputadao-federal',
            checkedPartidos: [],
            checkedEstado: '{{area.id}}',
            {% for lgbt_desc in lgbt_descriptions %}
            {{lgbt_desc.id}}: false,
            {% endfor %}
            filterElement: function(el){
              var f_estado = filterEstado(el, this.checkedEstado);
              var f_partido = filterPartido(el, this.checkedPartidos);
              var f_mulher = filterMulher(el, this.isMulher);
              var f_negro = filterNegro(el, this.isNegro);
              var f_indigena = filterIndigena(el, this.isIndigena);
              var f_lgbt = filterLGBT(el, this.isLGBT);
              var f_eType = electionType(el, this.electionType);
              var result = f_estado && f_mulher && f_partido && f_negro && f_indigena && f_lgbt && f_eType;
              {% for lgbt_desc in lgbt_descriptions %}
              var f_{{lgbt_desc.id}} = filter_{{lgbt_desc.id}}(el, this.{{lgbt_desc.id}});
              result = result && f_{{lgbt_desc.id}};
              {% endfor %}
              return result;
            }
          },
          computed: {
            sortedList: function() {
              function compare(a, b) {
                if (a.nota > b.nota)
                  return -1;
                if (a.nota < b.nota)
                  return 1;
                return 0;
              }
              return this.list.sort(compare);
            }
          },
          methods: {
            LGBT_checked: function(e){
              let checkado = $(e.target).prop('checked');
              if (!checkado){
                $(".lgbt_descriptions").hide(600);
                $(".lgbt_descriptions").addClass('invisible');
                {% for lgbt_desc in lgbt_descriptions %}
                this.{{lgbt_desc.id}} = false;
                {% endfor %}
              }
              else {
                $(".lgbt_descriptions").show(600);
                $(".lgbt_descriptions").removeClass('invisible');
              }
              
            },
            filteredTotalList: function(){
              list = this.sortedList;
              filterElement = this.filterElement.bind(this);
              list = list.filter(filterElement);
              return list;
            },
            filteredList: function(){
              var list = this.filteredTotalList();
              return list.slice(0,this.amountOfResults);
            }
          }
        })
      }
    })
  });
</script>
<script type="text/javascript">
  var copiarConvite = function(){
    $("#zero_candidates_text_area").select();
    document.execCommand('copy');
  }
</script>
{% endblock scripts %}
