{% extends "base.html" %}

{% load bootstrap4 %}
{% load markdown_deux_tags %}
{% load staticfiles %}
{% load votainteligente_extras%}

{% block title %}- Match{% endblock title %}
{% block content %}
<div class="container">
<div id='result' class="row">
            

            <template>
                <div class="col-4">
                  <div id="mulher">
                    <input type="checkbox" id="mulher_input" v-model="isMulher"><label for="mulher_input">Mulher</label>
                  </div>
                 <div id='race_checkboxes'>
                    <h3>por estado:</h3>
                          <select v-model="checkedEstado">
                            <template v-for="estado in estadosList">
                                <option :id="estado.id" :value="estado.id" >
                                [[ estado.label ]]</option>
                            </template>
                            <select>
                    </div>
                </div>
                      <div class="col-8">
                        <h2>Seus candidatos sao:</h2>
                        <ul class="results">
<template>
       <li v-for="item in sortedList" v-if="filterElement(item)">
      name: [[ item.name ]], gender: [[ item.gender ]], lgtb: [[ item.lgbt ]], raca: [[ item.race ]], nota: [[ item.nota ]]
    </li>
</template>
                        </ul>
                      </div>
            </template>
</div>
<div>
{% endblock content %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script type="text/javascript" src="{% static 'js/dicts_for_result.js' %}"></script>
<script type="text/javascript">
var filterEstado = function(el, checkedEstado){
                  if(!checkedEstado){
                    return true;
                  }
                  if (checkedEstado === el.filter.estado){
                    return true;
                  }
                  return false;
}
var filterMulher = function(el, isMulher){
                  if(!isMulher){
                    return true;
                  }
                  if (el.filter.mulher){
                    return true;
                  }
                  return false;
}
$(function(){
    $.post({
        url: '{% url "match_result_ajax" %}',
        dataType:"json",
        data: {
            'categories': [{% for c in categories %}{{c.id}}{% if not forloop.last %},{% endif %}{% endfor %}],
            'csrfmiddlewaretoken': '{{csrf_token}}',
            },
        success: function(data){
            data = jQuery.parseJSON(data);
            new Vue({
              delimiters: ['[[', ']]'],
              el: '#result',
              data: {
                list: data,
                partidosList: partidos_ids,
                estadosList: estados_ids,
                isMulher: undefined,
                checkedEstado: false,
                filterElement: function(el){
                  var f_estado = filterEstado(el, this.checkedEstado);
                  var f_mulher = filterMulher(el, this.isMulher);
                  return f_estado && f_mulher;
                }
                
              },
              computed: {
                sortedList: function() {
                  function compare(a, b) {
                    if (a.nota > b.nota)
                      return -1;
                    if (a.nota < b.nota)
                      return 1;
                    return 0;
                  }
                  return this.list.sort(compare);
                }
              },
            })

        }
        })
});
</script>
<script>

</script>
{% endblock scripts %}