{% load static %}
<div class="row">
  <div class="col-12 bottom">
    <span>
      0 candidatas/os encontradas/os =(
    </span>
  </div>
  <div class="col-lg-6 bottom">
    <img src="{% static 'img/zero_candidatos.svg'%}">
  </div>
  <div class="col-lg-6 bottom">
      <h3>Fique sabendo:</h3>
      <p>
        Convidamos todas as candidaturas com email no TSE para se cadastrar na 
        plataforma. Além disso, criamos uma plataforma com centenas de 
        voluntárias/os procurando aquelas que não tinham email cadastrado.
      </p>

      <p>
        Se sua candidata/o não estiver por aqui, faz um convite! Assim você 
        ajuda ela/e entender que é importante se posicionar! Vamos?
      </p>
  </div>
  <div class="col-lg-12 ">
    <h4>Encontre a página de Facebook da candidatura e mande o texto abaixo!</h4>
  </div>
  <div class="col-lg-12 bottom">
    <textarea id='zero_candidates_text_area' rows="8" cols="60">
      Olá candidata/o, tudo bem? 
      Fui te procurar na plataforma do #MeRepresenta e não encontrei. Quero muito saber como você se posiciona sobre alguns temas que são importantes pra mim! O cadastro é gratuito e aberto. Basta fazer o login por sua conta pessoal de facebook. Vamos? 
      Me conta quando tiver feito? Quero saber, valeu! 
      www.merepresenta.org.br
    </textarea>
  </div>
  <div class="col-4 offset-md-8 d-flex justify-content-end">
    <a class="btn btn-azul" onclick='copiarConvite();' style="color: #fff;" >
      Copiar mensagem
    </a>
  </div>
</div>

