{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h2>{% trans "Busqueda" %}</h2>

    <form method="get">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="{% trans 'Buscar' %}">
                </td>
            </tr>
        </table>

        <h3>{% trans "Elecciones" %}</h3>

        {% for election in result %}
            <p>
                {{ election.name }}
            </p>
        {% empty %}
            <p>{% trans "No encontré resultados" %}</p>
        {% endfor %}
    </form>
{% endblock %}