{% extends 'base.html' %}
{% load votainteligente_extras %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% block title %} - Firma Compromiso - {{candidate.name}} - {{proposal.title}}{% endblock title%}
{% block extrajs %}
{% load ogp_tags %}
{% endblock extrajs %}
{% block content %}
<div class="container">
  <ul class="breadcrumb">
    <li><a href="{% url 'home' %}">VotaInteligente</a></li>
    <li><a href="{% url 'popular_proposals:home' %}">Propuestas</a></li>
    <li><a href="{{proposal.get_absolute_url}}">{{proposal.title}}</a></li>
    <li class="active">Firmar compromiso</li>
  </ul>
</div>
<div class="container">
  <div class="fondo-blanco text-width">
    <h1>Firmar Compromiso</h1>
    <p>Yo <strong>{{candidate.name}}</strong> candidata/o a <strong>{{candidate.election.position}} de {{proposal.area}}</strong> me comprometo con la propuesta ciudadana:</p>

    {% include 'popular_proposal/plantillas/candidate_commitment.html' with proposal=proposal %}

    <form enctype="multipart/form-data" action="{% url 'popular_proposals:commit_yes' proposal_pk=proposal.id candidate_pk=candidate.id %}" method="POST" role="form">{% csrf_token %}
      <div class="tips">
        <b class="main-title">Terminos y Condiciones</b>
        {% include 'popular_proposal/commitment/terms_and_conditions.html' %}
      </div>
      {% bootstrap_field form.terms_and_conditions show_label=false %}
      <button type="submit" class="btn btn-success" onclick="ga('send','event','firma-compromiso','click')">{% trans 'Firmar compromiso'%}</button>
    </form>
  </div>
</div>
{% endblock content %}
