{% extends 'base.html' %}
{% load votainteligente_extras %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block extrajs %}
{% load ogp_tags %}
{% endblock extrajs %}

{% block content %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans "VotaInteligente" %}</a></li>
    {% if proposal.area %}
      <li><a href="{{proposal.area.get_absolute_url}}">{{proposal.area}}</a></li>
    {% endif %}
    <li><a href="{{proposal.get_absolute_url}}">{{proposal.title}}</a></li>
    <li class="active">{% trans "No lo incluiré" %}</li>
  </ol>
</div>
<div class="container">
	<div class="fondo-blanco text-width">

    {% blocktrans with candidate_name=candidate.name position=candidate.election.position area=proposal.area proposal=proposal.title %}
    Yo <strong>{{candidate_name}}</strong> candidata/o a {{position}} de {{area}} <strong>NO</strong> me comprometo con la propuesta ciudadana <strong>{{proposal}}</strong>.
    {% endblocktrans %}


		<p>{% trans "Por las razones que explicaré a continuación:" %}</p>






	<form enctype="multipart/form-data" action="{% url 'popular_proposals:commit_no' proposal_pk=proposal.id candidate_pk=candidate.id %}" method="POST" role="form">{% csrf_token %}

		{% bootstrap_field form.detail show_label=false %}
	    <div class="tips">
		  <b class="main-title">{% trans "Terminos y Condiciones" %}</b>
		  {% include 'popular_proposal/commitment/terms_and_conditions.html' %}
		</div>
		{% bootstrap_field form.terms_and_conditions show_label=false %}
		<button type="submit" class="btn btn-dark">

			{% if candidate.election.position == 'concejal' %}
				{% trans 'No apoyaré esta propuesta'%}
			{% elif candidate.election.position == 'alcalde' %}
				{% trans 'No incluiré esta propuesta en mi programa'%}
			{% else %}
			{% trans 'No incluiré esta propuesta en mi programa'%}
			{% endif %}
			</button>
	</form>
	</div>
</div>
{% endblock content %}
