{% extends 'base.html' %}
{% load votainteligente_extras %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block extrajs %}
{% load ogp_tags %}
{% endblock extrajs %}

{% block content %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">VotaInteligente</a></li>
    {% if commitment.proposal.area %}
      <li><a href="{{commitment.proposal.area.get_absolute_url}}">{{commitment.proposal.area}}</a></li>
    {% endif %}
    <li><a href="{{commitment.proposal.get_absolute_url}}">{{commitment.proposal.title}}</a></li>
    <li class="active">Resultado</li>
  </ol>
</div>
<div class="container">
	<div class="fondo-blanco text-width">

		{% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}default{% endif %}">
              {{ message }}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
            {% endfor %}
        </ul>
        {% endif %}


		<p>Lamentablemente <strong>{{commitment.authority.name}}</strong> candidata/o a {{commitment.authority.election.position}} de {{commitment.proposal.area}} <strong>NO</strong> incluirá <strong>{{commitment.proposal.title}}</strong> en su programa.</p>

		<p>Sus razones fueron las siguientes:</p>
		<p>{{commitment.detail|linebreaksbr}}</p>

		<div class="pull-right">
			<p><strong>{{commitment.authority.name}}</strong></p>

			<p>Candidata/o {% if commitment.authority.election.position %}a {{commitment.authority.election.position|title }}{% endif %} por {{commitment.proposal.area}}.</p>

		</div>
  </div>

    {% if user|manages_this:commitment.authority %}
    <div class="container text-center">
      <h3>Hazlo público!</h3>
      <p>Cuéntales a tus futuros electores el porqué rechazaste esta propuesta! Te queremos honesto y directo frente a los ciudadanos.</p>
      <ul class="list-inline">
        <li><a href="#" onclick="window.open('https://twitter.com/share?text=He rechazado la propuesta ciudadana: {{commitment.proposal.title}}','twitter','width=450, height=250'); ga('send','event','compartir-compromiso-tw','click')"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="#" onclick="window.open('https://facebook.com/sharer/sharer.php?u=https://{% url_domain %}{{ object.get_absolute_url }}','facebook','width=450, height=250'); ga('send','event','compartir-compromiso-fb','click')"><i class="fa fa-facebook fa-2x"></i></a></li>
      </ul>
    </div>
    {% else %}
    <div class="container text-center">
      <h3>Comunícalo!</h3>
      <p>Pregúntale el porqué de su determinación a rechazar esta propuesta ciudadana!</p>
      <ul class="list-inline">
        <li><a href="#" onclick="window.open('https://twitter.com/share?text=Hey {{commitment.authority.name}} porqué rechazaste la propuesta ciudadana: {{commitment.proposal.title}}','twitter','width=450, height=250'); ga('send','event','compartir-compromiso-tw','click')"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="#" onclick="window.open('https://facebook.com/sharer/sharer.php?u=https://{% url_domain %}{{ object.get_absolute_url }}','facebook','width=450, height=250'); ga('send','event','compartir-compromiso-fb','click')"><i class="fa fa-facebook fa-2x"></i></a></li>
      </ul>
    </div>
    {% endif %}


</div>
{% endblock content %}
