{% extends 'base.html' %}
{% load votainteligente_extras %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block extrajs %}
{% load ogp_tags %}
{% endblock extrajs %}

{% block content %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">VotaInteligente</a></li>
    <li><a href="{% url 'area' slug=commitment.proposal.area.id%}">{{commitment.proposal.area}}</a></li>
    <li><a href="{{commitment.proposal.get_absolute_url}}">{{commitment.proposal.title}}</a></li>
    <li class="active">Compromiso</li>
  </ol>
</div> 
<div class="container">
	<div class="fondo-blanco text-width">
		{% if commitment.candidate.election.position == 'concejal' %}
		Yo <strong>{{commitment.candidate.name}}</strong> candidata/o al concejo municipal de <strong>{{commitment.proposal.area}}</strong> apoyo a la propuesta ciudadana:

		<p>
		<strong>{{commitment.proposal.data.solution|linebreaks }}</strong>
		</p>
		<p>
		Y me comprometo a posicionarla desde el concejo municipal y hacer seguimiento de su implementación durante <strong>{{commitment.proposal.data.when|popular_proposal_when}}</strong>.</p>
		<p>
		Entiendo que esta propuesta ciudadana surge como respuesta a la siguiente problemática: {{commitment.proposal.data.problem|linebreaks}}.
		</p>
		<p>
		Además, entiendo que el problema estará solucionado cuando:

		{{commitment.proposal.data.solution_at_the_end|linebreaks}}
		</p>
	{% elif commitment.candidate.election.position == 'alcalde' %}
		Yo <strong>{{commitment.candidate.name}}</strong> candidata/o la alcaldía de <strong>{{commitment.proposal.area}}</strong> me comprometo con la propuesta ciudadana:

		<p>
		<strong>{{commitment.proposal.data.solution|linebreaks }}</strong>
		</p>
		<p>
		A incluirla en mi programa y cumplirla antes de <strong>{{commitment.proposal.data.when|popular_proposal_when}}</strong>.</p>
		<p>
		Entiendo que esta propuesta ciudadana surge como respuesta a la siguiente problemática: {{commitment.proposal.data.problem|linebreaks}}.
		</p>
		<p>
		Además, entiendo que el problema estará solucionado cuando:

		{{commitment.proposal.data.solution_at_the_end|linebreaks}}
		</p>


	{% else %}

		Yo <strong>{{candidate.name}}</strong> candidata/o por <strong>{{proposal.area}}</strong> me comprometo con la propuesta ciudadana:
			{% include 'popular_proposal/plantillas/candidate_commitment.html' with proposal=proposal %}
	{% endif %}

		<div class="pull-right">
			<p><strong>{{commitment.candidate.name}}</strong></p>

			<p>Candidata/o {% if commitment.candidate.election.position %}a {{commitment.candidate.election.position|title }}{% endif %} por {{commitment.proposal.area}}.</p>

		</div>
	</div>
</div>
{% endblock content %}