{% load thumbnail %}
{% load static %}
{% load i18n %}
<div class="col-md-2">
  <div class="panel-heading text-center">
    <a href="{{candidate.get_absolute_url}}">
    {% if candidate.image %}
        {% thumbnail candidate.image "135x135" crop="center" as im %}
            <img src="{{ im.url }}" alt="{{candidate.name}}" height="135" width="135" border="0" class="img-responsive img-circle img-candidato" itemprop="image">
        {% endthumbnail %}
        {% else %}
        <img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive img-circle img-candidato img-candidato">
      {% endif %}
    
    </a>
    <div class="panel-body text-center">
      <a href="{{candidate.get_absolute_url}}" itemprop="name"><h3 class="candidate-name-card">{{ candidate.name }}</h3>
      {% if candidate.commitments.exists %}
        <p class="candidate-commitment-card">{% blocktrans with commitments_count=candidate.commitments.count %}
          {{ commitments_count }} compromisos
        {% endblocktrans %}</p></a>
      {% endif %}
    </div>
  </div>
</div>
