{% load staticfiles %}
{% load i18n %}
{% load votainteligente_extras %}
<footer id="footer" class="{% if show_xs %} hidden-sm hidden-xs{% endif %}">
    {% block extrafooter %}
    {% endblock extrafooter %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <span class="small">Um projeto de </span> <a href="//cidadaniainteligente.org/" target="_blank">{% include '_logo_fci.html' %}</a> <a href="//casafluminense.org.br/" target="_blank"><img style="height:51px;" src="{% static 'img/logo_casa_fluminens.svg' %}" target="_blank"></img></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-right redes">
                <ul class="list-inline">
                    <li><a href="info@cidadaniainteligente.org" class="email-prensa" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="//github.com/ciudadanointeligente/votainteligente-portal-electoral"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="//web.facebook.com/cidadaniainteligente/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="//twitter.com/CasaFluminense"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div>
            {% if "extra_footer.html"|template_exists %}
                {% include 'extra_footer.html' %}
            {% endif %}
        </div>
    </div>
</footer>
