{% load staticfiles %}
{% load i18n %}
{% load votainteligente_extras %}
{% load sass_tags %}
<head>
    <meta charset="utf-8">
    <title>{% if title %}{{title}}{% else %}{{organization}}{% endif %} em Rio Por Inteiro</title>
    <meta name="author" content="VotaInteligente.cl">
    <meta name="description" content="{{sub_title}}">
    <meta name="keywords" content="{{ config.WEBSITE_METADATA_KEYWORD }}{% block keywords %}{% endblock keywords %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="google-site-verification" content="{{ config.WEBSITE_GA_GSITE_VERIFICATION }}">
    <!--for facebook fans-->
    {% block ogp %}

    <meta property="og:title" content="{% if title %}{{title}}{% else %}{{organization}}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://{% url_domain %}{{organization.organization_template.get_absolute_url}}">
    <meta property="og:image" content="{{organization.organization_template.ogp_image}}">
    <meta property="og:description" content="Saiba mais sobre as propostas de {% if title %}{{title}}{% else %}{{organization}}{% endif %} para os candidatos no RioPorInteiro.org.br">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ciudadanoi">
    <meta name="twitter:creator" content="@ciudadanoi">
    <meta name="twitter:title" content="{% if title %}{{title}}{% else %}{{organization}}{% endif %}">
    <meta name="twitter:description" content="Saiba mais sobre as propostas de {% if title %}{{title}}{% else %}{{organization}}{% endif %} para os candidatos no RioPorInteiro.org.br">
    <meta name="twitter:image" content="{{organization.organization_template.ogp_image}}">
    {% endblock ogp %}
    <meta property="fb:app_id" content="{{ config.WEBSITE_OGP_APP_ID }}">
    <!--eoff-->
    <link rel="shortcut icon" sizes="196x196" href="{% static 'img/favicon-96x96.png' %}">
    <!-- Browser out of date -->
    <script>
    var $buoop = {vs:{i:10,f:-4,o:-4,s:8,c:-4},api:4};
    function $buo_f(){
     var e = document.createElement("script");
     e.src = "//browser-update.org/update.min.js";
     document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <!-- Latest compiled and minified CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.css" rel="stylesheet">
    <link href="{% sass_src 'sass/main_rioporinteiro.scss' %}" rel="stylesheet" type="text/css" />

    <link href='//fonts.googleapis.com/css?family=Nunito+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link type="text/plain" rel="author" href="{% static 'humans.txt' %}" />
    <script data-cfasync="false" src="//code.jquery.com/jquery-1.12.3.min.js"></script>
    <script data-cfasync="false" src="//use.fontawesome.com/9304d8597d.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script data-cfasync="false" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script data-cfasync="false" src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
    <script data-cfasync="false" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js" type="text/javascript"></script>
    <script data-cfasync="false" src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
    <script data-cfasync="false" type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
    <script data-cfasync="false" src="{% static 'js/masonry-script.js' %}"></script>
    {% block extra_css %}
    {% endblock extra_css %}
</head>
