{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}

{% block entire_navbar %}
<div class="navbar navbar-inverse {% if fixed_nav_class %}{{fixed_nav_class}}{% else %}navbar-fixed-top{% endif %} {% block navbar_background %} yellow {% endblock navbar_background %}">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" onclick="ga('send', 'event', 'nav-logo-vota', 'click')"><img src="{% static 'img/logo-blanco_rpi.svg' %}{% block navbar_logo %}{% endblock navbar_logo %}" class="img-responsive" title="Rio Por Inteiro" alt="Rio Por Inteiro"></a>
        </div>
        {% block navbar %}
        {% block extra_nav %}
        {% endblock extra_nav %}

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'que_es' %}" onclick="ga('send', 'event', 'nav-que-es', 'click')">O que é?</a></li>
                <li><a href="{% url 'popular_proposals:home' %}" onclick="ga('send', 'event', 'nav-conoce-propuestas', 'click')">Propostas Cidadãs</a></li>
                <li><a href="{% url 'backend_citizen:all_activities' %}" onclick="ga('send', 'event', 'nav-eventos', 'click')">{% trans "Mobilize" %}</a></li>
                <li><a href="{% url 'know_your_candidates' %}" onclick="ga('send', 'event', 'nav-candidaturas', 'click')">Candidaturas</a></li>
                <li><a href="{% url 'material_ciudadano' %}" onclick="ga('send', 'event', 'nav-material-ciudadano', 'click')">Material</a></li>
                {% include "_dropdown_user.html" with user=user %}
                {% cache 500 navbar_social_media %}
                <li>

                    <a href="#" onclick="ga('send', 'event', 'nav-twitter-share', 'click'); window.open(&quot;//twitter.com/share?via=Ciudadanoi&hashtags={{ config.WEBSITE_TWITTER_HASHTAG }}&text={{ config.WEBSITE_TWITTER_TEXT }}&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                </li>
                <li>
                    <a class="share-btn share-btn-branded share-btn-facebook" onclick="ga('send', 'event', 'nav-facebook-share', 'click');" href="//www.facebook.com/sharer/sharer.php" title="{{ config.WEBSITE_METADATA_DESCRIPTION }}" target="_blank">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                </li>
                {% endcache %}
              </ul>
        </div><!--/.nav-collapse -->
        {% endblock navbar %}
    </div>
</div>
{% endblock entire_navbar %}
