{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load bootstrap3 %}
{% load cache %}


{% block title %}- {% trans "Candidatos Chile 2017" %}{% endblock title %}
{% block description %}{% trans "Conoce tus congresistas y sus compromisos" %}{% endblock description %}
{% block everything %}
<div class="container">
	<h1 class="text-center">Candidatos Comprometidos</h1>
  <p class="bajada text-center">Aqui você pode encontrar os candidatos envolvidos no RioPorInteiro</p>

</div>

<div class="container">
{% for pos in positions %}
	{% if pos.candidates.exists %}
	<h2>{{pos.name}}</h2>
	{% endif %}
	<div class="row">
		{% for candidate in pos.candidates %}
      	{% include "_candidate_small.html" with candidate=candidate%}
		{% if forloop.counter|divisibleby:6 %}
	    </div><div class="row">

	    {% endif %}
	    
		{% endfor %}
	</div>

{% endfor %}
</div>
{% endblock everything %}
