{% extends "base.html" %}
{% load i18n %}
{% block everything %}
  {% load staticfiles %}
  <div class="container">
    <div>
      <h1 class="text-center">{% trans "Infografías" %}</h1>
      <div>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 gallery cf">
          <div>
            <img src="{% static 'img/material_cidadao/1.jpg' %}" class="center-block">
          </div>
        </div>
        <div class="col-md-6 gallery cf">
          <div>
            <img src="{% static 'img/material_cidadao/2.jpg' %}" class="center-block">
          </div>
        </div>
        <div class="col-md-6 gallery cf">
          <div>
            <img src="{% static 'img/material_cidadao/3.jpg' %}" class="center-block">
          </div>
        </div>
        <div class="col-md-6 gallery cf">
          <div>
            <img src="{% static 'img/material_cidadao/4.jpg' %}" class="center-block">
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock everything %}
