{% extends "base.html" %}
{% load i18n %}
{% block everything %}
{% load staticfiles %}
{% load thumbnail %}


<a href="https://drive.google.com/drive/u/0/folders/13Zex1apjvkpAkenGvzpDmvL8VCWXnLGO" class="fixed_recomendations">
    <i class="icon-bell"></i> Compartilhe nas redes!
</a>
  <div class="container">
    <div>
      <h1 class="text-center">Descomplica Política</h1>
      <div>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 material_cidadao_container">
          <div>
              <a href="{% static 'img/material_cidadao/1.jpg' %}" target="_blank">
                <img src="{% static 'img/material_cidadao/1_thumb.jpg' %}" class="center-block img-responsive material_ciudadano_information">
            </a>
          </div>
        </div>
        <div class="col-md-6 material_cidadao_container">
          <div>
              <a href="{% static 'img/material_cidadao/2.jpg' %}" target="_blank">
                <img src="{% static 'img/material_cidadao/2_thumb.jpg' %}" class="center-block img-responsive material_ciudadano_information">
            </a>
          </div>
        </div>
        <div class="col-md-6 material_cidadao_container">
          <div>
              <a href="{% static 'img/material_cidadao/3.jpg' %}" target="_blank">
                <img src="{% static 'img/material_cidadao/3_thumb.jpg' %}" class="center-block img-responsive material_ciudadano_information">
            </a>
          </div>
        </div>
        <div class="col-md-6 material_cidadao_container">
          <div>
              <a href="{% static 'img/material_cidadao/4.jpg' %}" target="_blank">
                <img src="{% static 'img/material_cidadao/4_thumb.jpg' %}" class="center-block img-responsive material_ciudadano_information">
            </a>
          </div>
        </div>
        <div class="col-md-6 material_cidadao_container">
          <div>
              <a href="{% static 'img/material_cidadao/5.png' %}" target="_blank">
                <img src="{% static 'img/material_cidadao/5_thumb.png' %}" class="center-block img-responsive material_ciudadano_information">
            </a>
          </div>
        </div>
        <div class="col-md-6 material_cidadao_container">
          <div>
              <a href="{% static 'img/material_cidadao/6.png' %}" target="_blank">
                <img src="{% static 'img/material_cidadao/6_thumb.png' %}" class="center-block img-responsive material_ciudadano_information">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="manual-encuentro">
    <div class="container">
      <div>
        <h1 class="text-center">Material Cidadão</h1>
        <p class="text-center">Faça o download e imprima os materiais necessários para criar propostas, causar impacto e saber tudo o que é necessário sobre essa eleição.</p>
        <div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-10 col-md-offset-3">
        <div class="col-md-4">
          <div class="set-guide-rep">
            <div class="content">
              <h2 class="text-center">Guia para criação de propostas</h2>
              <img src="{% static 'img/1-metodologia.svg' %}" class="img-responsive">
              <p>Junte-se à sua comunidade para fazer propostas em conjunto para que as candidaturas nos escutem. Neste manual você encontrará tudo o que precisa para preparar o seu Encontro Cidadão e passo a passo para desenvolver uma proposta.</p>
            </div>
            <div class="btn-space">
              <a class="btn btn-white center-block btn-lg btn-block" href="{% static 'material-ciudadao/metodologia.pdf' %}" target="_blank" onclick="ga('send', 'event', 'guia-elaboracion-propuestas.pdf', 'click')">
                Baixar
              </a>
            </div>
        </div>
    </div>
        <!--div class="col-md-4">
          <div class="set-guide-rep">
            <div class="content">
              <h2 class="text-center">{% trans "Manual de formación ciudadana" %}</h2>
              <img src="{% static 'img/2-formacion.svg' %}" class="img-responsive">
              <p>{% trans "¿Cuál es la diferencia entre el Senado y la Cámara? ¿Qué hace el Gobierno Central? Aquí encontrarás distintos contenidos para crear y enfocar de la mejor manera lo que sueñas para Chile." %}</p>
            </div>
            <div class="btn-space">
              <a class="btn btn-white center-block btn-lg btn-block" href="{% static 'material-ciudadano/manual-formacion-ciudadana.pdf' %}" target="_blank" onclick="ga('send', 'event', 'manual-formacion-ciudadana.pdf', 'click')">
              {% trans "Descargar" %}
              </a>
            </div>
        </div>
    </div-->
        <div class="col-md-4">
          <div class="set-guide-rep">
            <div class="content">
              <h2 class="text-center">Manual de mobilização e ativismo</h2>
              <img src="{% static 'img/3-activismo.svg' %}" class="img-responsive">
              <p>Quanto mais apoio, mais sua proposta chama atenção das candidaturas. Veja aqui formas de aumentar o interesse pela sua ideia!</p>
            </div>
            <div class="btn-space">
              <a class="btn btn-white center-block btn-lg btn-block" href="{% static 'material-ciudadao/ativismo.pdf' %}" target="_blank" onclick="ga('send', 'event', 'material-ciudadao/ativismo.pdf', 'click')">
              Baixar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock everything %}
