{% extends "base.html" %}
{% load i18n %}
{% load markdown_deux_tags %}
{% block everything %}
{% load staticfiles %}

<div class="container">
	<div>
	  <h1>O que é a Rio por Inteiro?</h1>
	</div>
</div>
<section id="que-es">
  <div class="container">
		<div class="col-md-6">

{% markdown %}
Vota Inteligente é uma plataforma desenvolvida por [Cidadania Inteligente](https://cidadaniainteligente.org) que busca mudar a forma como as eleições são vividas no Estado do Rio de Janeiro, para que dessa vez sejam cidadãs e cidadãos que façam suas propostas para as candidaturas.

Na plataforma qualquer pessoa, organização, coletivo ou grupo de pessoas podem gerar suas próprias propostas, abordando temas que mais lhes preocupam ou inquietam. A partir da Cidadania Inteligente, faremos com que as propostas cheguem à candidatas e candidatos, estas podem ser comprometidas na mesma plataforma para realizá-las e cumpri-las no caso de serem eleitos/as.

Uma vez carregadas na página, qualquer pessoa pode conhecer e apoiar as propostas através de um “APOIO” ”. Além disso, organizações que participam da plataforma podem patrocinar propostas de outras pessoas ou organizações.


Da Vota Inteligente promovemos que as propostas sejam construídas coletivamente. Para isso criamos uma Metodologia do Encontro para que a criação de nossas propostas seja um espaço de convivência e diálogo entre pessoas, amigos, vizinhos e comunidades. Junto da vizinhança, sindicatos, grêmios, coletivos e organizações de todo tipo, estão convidados a fazer suas propostas e organizar encontros para debater em conjunto acerca do país que a cidadania sonha. ([Aqui](https://rioporinteiro.org.br/encontro_cidadao/) você pode encontrar informação de como fazer seu próprio encontro).


As eleições são o momento em que se define o futuro o país e é fundamental que toda a cidadania tenha uma voz e opinião nesse processo. O voto não é a única forma de participar, a partir de Vota Inteligente podemos ir mais longe criando sua proposta, compartilhando com sua rede e apoiando as proposta de que mais gosta, para que juntos façamos sentir, mais forte do que nunca, a voz da cidadania nas eleições que são nossas.**#LaElecciónEsNuestra**

{% endmarkdown %}










		</div>
		<div class="col-md-6">
				<div class="line-space"></div>
				<div class="line-space"></div>
				<img src="{% static 'img/oque-e.jpg' %}" class="img-responsive">
		</div>
  </div>
	<div class="line-space"></div>
	<div class="line-space"></div>
</section>


{% endblock everything %}
