{% extends "base.html" %}
{% load i18n %}
{% load markdown_deux_tags %}
{% block everything %}
{% load staticfiles %}

<div class="container">
	<div>
	  <h1>O que é a Rio por Inteiro?</h1>
	</div>
</div>
<section id="que-es">
  <div class="container">
		<div class="col-md-6">

{% markdown %}
Rio Por Inteiro é um projeto desenvolvido pela [Cidadania Inteligente](https://cidadaniainteligente.org) e pela [Casa Fluminense](https://casafluminense.org.br/) que busca mudar a forma como as eleições são vivenciadas no estado do Rio de Janeiro. Queremos possibilitar mais participação popular nas eleições de 2018 para que sejam as cidadãs e os cidadãos protagonistas desse processo.

No ambiente da plataforma é possível para qualquer pessoa, organização, coletivo ou grupo gerar suas próprias propostas com os temas que mais lhes preocupam ou inquietam. A partir disso, faremos com que estas demandas cheguem às candidaturas, que poderão se comprometer em cumpri-las no caso de serem eleitos/as.

Uma vez publicadas, é possível conhecer e endossar as propostas através de um “APOIO”. Além disso, organizações que participam da plataforma podem apoiar propostas de outras pessoas ou organizações.

O movimento Rio Por Inteiro incentiva que as propostas sejam construídas coletivamente. Para isso, criamos uma Metodologia do Encontro para que a criação das propostas seja um espaço de convivência e diálogo entre pessoas, amigos, vizinhos e comunidades. Toda a vizinhança, sindicatos, grêmios, coletivos e organizações de todo tipo estão convidados a fazer suas propostas e organizar encontros para debater em conjunto sobre  qual é a convivência metropolitana que queremos. ([Aqui](https://rioporinteiro.org.br/encontro_cidadao/) você pode encontrar informação de como fazer seu próprio encontro).

As eleições são o momento em que se define o futuro das pessoas e quais serão as políticas públicas que irão atendê-las. É fundamental que toda a cidadania seja ouvida e opine nesse processo. O voto não é a única forma de participar, a partir do movimento Rio Por Inteiro podemos ir mais longe, criando propostas coletivas, compartilhando com sua rede e apoiando as proposta que mais gosta, para que juntos façamos sentir, mais forte do que nunca, a voz da cidadania nas eleições que são nossas.

{% endmarkdown %}










		</div>
		<div class="col-md-6">
				<div class="line-space"></div>
				<div class="line-space"></div>
				<img src="{% static 'img/oque-e.jpg' %}" class="img-responsive">
		</div>
  </div>
	<div class="line-space"></div>
	<div class="line-space"></div>
</section>


{% endblock everything %}
