{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}

{% block title %}- Ayúdanos{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
{% cache 60 ayudanos %}
<div class="container">
  <h2>¡Pidámosle a las candidaturas que se comprometan con nuestras propuestas!</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Lugar</th>
          <th>Candidato</th>
          <th>Twiteale!</th>
        </tr>
      </thead>
      <tbody>
      {% with object.twitter|extract_twitter_username_without_at as twitter_org %}
      {% with url="https://votainteligente.cl"|add:object.get_absolute_url|add:"#propuestas" %}
        {% for candidate in candidates %}
      {% if candidate.twitter %}
      <tr class="">
        <td><a href="{{ candidate.area.get_absolute_url }}">{{ candidate.election.area }}</a></td>
        <td><a href="{{ candidate.get_absolute_url }}">{{ candidate }}</a></td>
        <td>
              {% include 'twitter_poking_button.html' with url=url via=twitter_org texto=config.AYUDANOS_ORGANIZACIONES twitter=candidate.twitter.value button_text=config.AYUDANOS_ORGANIZACIONES %}
          </td>
      </tr>
        {% endif %}
      	{% endfor %}
        {% endwith %}
        {% endwith %}
      </tbody>
    </table>
   </div>
  </div>
</div>
{% endcache %}
{% endblock content %}

