{% load votainteligente_extras %}
<div style="font-family: 'Arial', sans-serif;">


{% if text %}
<p>{{text|linebreaksbr}}</p>
{% else %}

<p>Olá <b>{{candidate.name}}</b>:</p>
<p><a href="https://{{site.domain}}">A Rio por Inteiro</a> é uma plataforma, sem fins lucrativos, que recebe propostas cidadãs e da sociedade civil para as eleições deste ano.</p>
<p>Te convidamos a participar como candidata/o e conhecer e se comprometer com as propostas da plataforma. Para isso, selecionamos algumas propostas que acreditamos te interessar. Para se comprometer, basta marcar a caixa abaixo da proposta. Para enviar sua resposta, basta pressionar "enviar compromissos". Suas respostas estarão disponíveis no seu perfil da plataforma.
</p>

{% endif %}

{% include 'backend_candidate/_suggestions_formset.html' with formset=formset object=candidate_incremental site=site candidate=candidate %}

{% with candidate.contacts.last as contact %}
{% if contact %}

<p>A qualquer momento você entrar e editar as informações que constam no seu perfil, ou se comprometer com outras propostas. Para isso, você deve entrar em: <a href="https://{{site.domain}}{% url 'backend_candidate:candidate_auth_login' %}">{{site.domain}}{% url 'backend_candidate:candidate_auth_login' %}</a> com seu usuário ({{contact.candidacy.user.username}}) e senha ({{contact.initial_password}}).</p>
{% else %}
<p>A qualquer momento você entrar e editar as informações que constam no seu perfil, ou se comprometer com outras propostas. Para isso você deve entrar em: <a href="https://{{site.domain}}{% url 'backend_candidate:candidate_auth_login' %}">{{site.domain}}{% url 'backend_candidate:candidate_auth_login' %}</a> com seu usuário: <b>{{contact.candidacy.user.username}}</b>.</p>
{% endif %}

{% endwith %}

<p>Se vovcê quiser que utilizamos outro e-mail para nos comunicarmos ou se tiver alguma dúvida, pode responde a esse mesmo e-mail.</p>

<p>Junte-se à Rio por Inteiro!</p>

--<br>
{% mail_signature_html %}
