{% load votainteligente_extras %}
<p>Hola <b>{{user}}</b>:</p>
<p>Este mail es para contarte que hay novedades con algunas propuestas ciudadanas que apoyaste:</p>

<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr style="background-color:#BBBBBB;">
		<td><b>Candidato</b></td>
		<td><b>Propuesta</b></td>
	</tr>
	{% for commitment in commitments %}
	<tr style="background-color:{% cycle '#FFFFFF' '#EEEEEE' %}">
	{%if commitment.commited %}
		<td><b>{{commitment.candidate}}</b></td>
		<td><a href="https://{{site.domain}}{{commitment.get_absolute_url}}">{{commitment.proposal}}</a></td>
	{% else %}
		<td><b>{{commitment.candidate}}</b></td>
		<td><a href="https://{{site.domain}}{{commitment.get_absolute_url}}">{{commitment.proposal}}</a></td>
	{% endif %}
	</tr>
	{% endfor %}
</table>

<p>Esto no habría sido posible sin tu apoyo. Te queremos mucho y te queremos invitar a ser parte de la acción colectiva.</p>

<p>
	<b>PS:</b>
	<br>
	Si ya no quieres recibir estos mails haz click <a href="https://{{site.domain}}{{user.profile.get_unsubscribe_url}}">acá</a>.
</p>

{% mail_signature_html %}
