{% load markdown_deux_tags %}
{% load votainteligente_extras %}
<br />
{% markdown %}
Estimado candidato o candidata a la alcaldía de {{ area }}:

Le solicitamos que incorpore a su programa de gobierno municipal nuestra propuesta ciudadana:

{{preview_data.solution_at_the_end|popular_proposal_when}}

Esta propuesta debe ser cumplida antes de {{preview_data.when|popular_proposal_when}}, y surge como respuesta a la siguiente inquietud de la comunidad: {{preview_data.problem|popular_proposal_when}}.

Desde ya muchas gracias,
{% endmarkdown %}
<br />
{{ organizationn }} {{ user }}

