{% load markdown_deux_tags %}
{% load votainteligente_extras %}

<p>Estimada/o {{candidate.name}}, nos ha llegado esta propuesta para {{popular_proposal.area}}: <b>{{popular_proposal.title}}</b>.
</p>

<p><b>¿weeeppppppp?</b></br>
{{popular_proposal.data.problem|linebreaksbr}}
</p>

<p><b>¿Qué hay que hacer para lograr la situación ideal?</b></br>
{{popular_proposal.data.solution|linebreaksbr}}
</p>

<p><b>¿Qué acción dará por cumplida la tarea del alcalde?</b></br></p>
<p>{{popular_proposal.data.solution_at_the_end|linebreaksbr}}. Para ser cumplida antes de {{popular_proposal.data.when|popular_proposal_when}} desde el comienzo de su mandato.
</p>

<p>Esperamos que se pronuncie respecto a esta propuesta.</p>

<p>Desde ya muchas gracias, el equipo de VotaInteligente a nombre de {{popular_proposal.proposer}}.</p>
