{% load markdown_deux_tags %}
{% load votainteligente_extras %}

<p>Estimada candidata o candidato a la alcaldía de {{popular_proposal.area}}, esta es la propuesta que hace {{popular_proposal.proposer}} a nombre de las vecinas y vecinos.
</p>

<p>¿Cuál es el problema o necesidad que se busca solucionar?</br>
{{popular_proposal.data.problem|popular_proposal_when|linebreaksbr}}
</p>

<p>¿Qué hay que hacer para lograr la situación ideal?</br>
{{popular_proposal.data.solution}}
</p>

<p>¿Qué acción dará por cumplida la tarea del alcalde?</br>
<b>{{popular_proposal.data.solution_at_the_end|popular_proposal_when|linebreaksbr}}</b> antes de {{popular_proposal.data.when|popular_proposal_when}}
</p>

<p>Esperamos que se pronuncie respecto a esta propuesta. Desde ya muchas gracias,</br>El equipo de VotaInteligente a nombre de {{popular_proposal.proposer}}.
</p>




