{% load markdown_deux_tags %}
{% load votainteligente_extras %}
<br />
Estimado candidato o candidata por la comuna de {{popular_proposal.area}}:<br />
<br />
Le solicitamos que incorpore a su programa de gobierno municipal la siguiente propuesta:<br />
<br />
<b>{{popular_proposal.data.solution_at_the_end|popular_proposal_when|linebreaksbr}}</b>
<br />
<br />
Para ser cumplida antes de <b>{{popular_proposal.data.when|popular_proposal_when}}</b>.<br />
<br />
La propuesta surge como respuesta a la siguiente inquietud de la comunidad: <b>{{popular_proposal.data.problem|popular_proposal_when|linebreaksbr}}</b>.<br />
<br />
Esta propuesta fue realizada por <b>{{popular_proposal.proposer}}</b>.<br />
<br />
Desde ya muchas gracias.<br />
