{% load markdown_deux_tags %}
{% load votainteligente_extras %}
<p>Estimada candidata o candidato a la alcaldía de {{popular_proposal.area}}:</p>
<p>Le solicitamos que incorpore a su programa de gobierno municipal nuestra propuesta ciudadana:
<b>{{popular_proposal.data.solution_at_the_end|popular_proposal_when|linebreaksbr}}</b></p>
<p>Esta propuesta debe ser cumplida antes de {{popular_proposal.data.when|popular_proposal_when}}, y surge como respuesta a la siguiente inquietud de la comunidad: {{popular_proposal.data.problem|popular_proposal_when|linebreaksbr}}.</p>
<p>Esta propuesta tiene por título: {{popular_proposal.title}}</p>
<p>Desde ya muchas gracias,</br>El equipo de VotaInteligente a nombre de {{popular_proposal.proposer}}.</p>
