{% load staticfiles %}
{% load votainteligente_extras %}
<section class="greenline">
</section>
<footer id="footer">
    {% block extrafooter %}
    {% endblock extrafooter %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 footer-logo">
              <a href="//www.levantalamano.cl/" onclick="ga('send', 'event', 'footer-levantalamano', 'click')"><img src="{% static 'img/lm-footer-logo.svg' %}" alt="Levanta la mano"></a>
            </div>
            <div class="col-sm-6 col-md-2 footer-logo">
              <span class="small">En el marco de</span>
              <div><a href="//www.votainteligente.cl/" onclick="ga('send', 'event', 'footer-votainteligente', 'click')" target="_blank"><img src="{% static 'img/lm-footer-vota.svg' %}" alt="Vota Inteligente"></a></div>
            </div>
            <div class="col-sm-6 col-md-2 footer-logo">
              <span class="small">Organizado por</span>
              <div><a href="//www.ciudadanointeligente.org/" onclick="ga('send', 'event', 'footer-ciudadanoi', 'click')" target="_blank"><img src="{% static 'img/lm-footer-fci.svg' %}" alt="Ciudadano Inteligente"></a></div>
            </div>
            <div class="col-sm-6 col-md-2 footer-logo">
              <span class="small">Con el apoyo de</span>
              <div><a href="//www.unicef.cl/" onclick="ga('send', 'event', 'footer-unicef', 'click')" target="_blank"><img src="{% static 'img/lm-footer-unicef.svg' %}" alt="Unicef para cada niño"></a></div>
            </div>
            <div class="col-sm-6 col-md-2 footer-logo">
              <span class="small">Con el patrocinio de</span>
              <div><a href="//www.mineduc.cl/" onclick="ga('send', 'event', 'footer-mineduc', 'click')" target="_blank"><img src="{% static 'img/lm-footer-mineduc.svg' %}" alt="Ministerio de Educación"></a></div>
            </div>
        </div>
    </div>
</footer>
