{% load staticfiles %}

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'votita:index' %}"><img src="{% static 'img/levantalamano-logo.svg' %}" class="img-responsive" title="Levanta la mano" alt="Levanta la mano"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'votita:materiales' %}" onclick="ga('send', 'event', 'menu-materiales', 'click')">Materiales</a></li>
        <li><a href="{% url 'votita:create_gathering' %}" onclick="ga('send', 'event', 'menu-crear-encuentro', 'click')">Ingresar propuestas</a></li>
        <li><a href="{% url 'votita:list_proposals' %}" onclick="ga('send', 'event', 'menu-ver-propuestas', 'click')">Todas las propuestas</a></li>
        {% url "votita_auth:login" as login_url %}
        {% include "_dropdown_user.html" with user=user login_url=login_url %}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
