{% extends "votita/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block extrascripts %}
<link href="{% static 'css/bootstrap-tagsinput.css' %}" rel="stylesheet" crossorigin="anonymous">


<script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'js/typeahead.bundle.js' %}"></script>
{% endblock extrascripts %}

{% block title %}- Crear encuentro infantil{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-12"><h2 class="h-header">Crear encuentro</h2>
  <h3 class="theme-form">Datos básicos</h3></div>
  <form action="{% url 'votita:create_gathering' %}" method="post">
      {% csrf_token %}
      <div class="col-md-6">{% bootstrap_field form.name %}</div>
      <div class="col-md-6">{% bootstrap_field form.school %}</div>
      <div class="col-md-6">{% bootstrap_field form.generated_at %}</div>
      <div class="col-md-6">{% bootstrap_field form.age_range %}</div>
      <div class="col-md-4">{% bootstrap_field form.female %}</div>
      <div class="col-md-4">{% bootstrap_field form.male %}</div>
      <div class="col-md-4">{% bootstrap_field form.others %}</div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Características de un buen presidente o una buena presidenta</h2>
    <h3 class="theme-form">Una lista de 7 a 10 características separadas por coma</h3>
      <div class="form-group">
        <input class="form-control"
          id="id_presidents_features" name="presidents_features"
          placeholder="Características" title="Una lista de 7 a 10 características separadas por coma" type="text" required />
      </div>
      <input type="submit" value="Enviar" class="btn btn-enviar pull-right" />
  </form>
  </div>
</div>
</div>


<script>
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

var features = ['Inteligente',
'Creativo/a',
'Objetivo',
'Con Iniciativa',
'Profesional',
'Culto/a',
'Bilingüe',
'Responsable',
'Transparente',
'Honesto/a',
'Equitativo/a',
'Justo/a',
'Comprometido/a',
'Integrador/a',
'Motivador/a',
'Abierto/a a escuchar',
'Accesible',
'Empático/a',
'Confiable',
'Lider',
'Buen Administrador/a',
'Buen Negociante',
'Buen Comunicador/a',
'Influyente',
'Eficiente',
'Con experiencia'];


$(function(){
  $('#id_presidents_features').tagsinput({
    typeahead: {
      source: features
    },
    freeInput: true,
  });
});

</script>
{% endblock content %}
