{% extends "votita/base.html" %}

{% load votainteligente_extras %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% block extrajs %}
{% load ogp_tags %}
{% load cache %}


$(function(){
    $('.loadFromUrl').on('show.bs.modal', function (event) {
      var anchor = $(event.relatedTarget) // Button that triggered the modal
      var modal = $(this)
      var body = modal.find('.modal-body');
      body.load(anchor.data('url'));
    })
    $('[data-toggle="tooltip"]').tooltip();
});
{% endblock extrajs %}

{% block title %}- Propuesta - {{proposal.title}}{% endblock title%}

{% block ogp %}
  <meta property="og:title" content="Levanta La Mano">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://levantalamano.cl{{ proposal.get_absolute_url }}">
  <meta property="og:image" content="{{proposal.ogp_image}}">
  <meta property="og:description" content="{{proposal.data.solution}}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ciudadanoi">
  <meta name="twitter:creator" content="{% spaceless %}
  {% if proposal.proposer.profile.is_organization and proposal.proposer.organization_template.twitter %}
    {{proposal.proposer.organization_template.twitter|extract_twitter_username}}
  {% else %}
    @ciudadanoi
  {% endif %}
  {% endspaceless %}">
  <meta name="twitter:title" content="¡Ingresa a votainteligente.cl y apoya esta propuesta!">
  <meta name="twitter:description" content="{% spaceless %}
  {% if proposal.proposer.profile.is_organization and proposal.proposer.organization_template.twitter %}
  {{proposal.proposer.organization_template.twitter|extract_twitter_username}} propone {{ proposal.title }}
  {% else %}
  {{ proposal.title }}
  {% endif %}
  {% endspaceless %}">
  <meta name="twitter:image" content="{{proposal.ogp_image}}">
{% endblock ogp %}

{% block content %}

<section class="votita-love-detail-{{proposal.clasification}} votita-detail">
  <div class="container">
    <div class="row h-header">
      <div class="container print_hidden">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}"><i class="fa fa-home" aria-label="Inicio"></i></a></li>
          <li><a href="{% url 'votita:list_proposals' %}">Propuestas</a></li>
          <li class="active">{{proposal.title}}</li>
        </ol>
      </div>
      <div class="col-md-9">
        <span class="label label-default">{{proposal.get_classification}}</span>
        <p class="group">
            Propuesta de {{proposal.gathering.name}}
        </p>
        <h1>{{proposal.title}}</h1>
        <ul class="list-inline proposal-tools">
          <li class="hidden-xs hidden-sm">
            <i class="fa fa-print" onclick="print()"></i>
          </li>
          <li>
            <i class="fa fa-font"></i>
          </li>
          <li>
            <i class="fa fa-plus" onclick="UpSize(2)"></i>
          </li>
          <li>
            <i class="fa fa-minus" onclick="DownSize(2)"></i>
          </li>
        </ul>
        <div class="line-space"></div>
        <script>
          function UpSize(size) {
            var fontSizeMax = 20;
            var FontSizeActual = parseInt($('#proposal-details p').css('font-size'));
            var fontNewSize = FontSizeActual+size;
            if(fontNewSize <= fontSizeMax)
              $('#proposal-details p').css('font-size', fontNewSize+'px');
          }
          function DownSize(size) {
            var fontSizeMin = 14;
            var FontSizeActual = parseInt($('#proposal-details p').css('font-size'));
            var fontNewSize = FontSizeActual-size;
            if(fontNewSize >= fontSizeMin)
              $('#proposal-details p').css('font-size', fontNewSize+'px');
          }
        </script>

        <!-- detalle propueta -->
        {{proposal.detail_as_html}}
        <!-- fin detalle propuesta -->

        <div class="modal fade" id="terms_and_conditions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Términos y Condiciones</h4>
              </div>
              <div class="modal-body">
                {% include 'popular_proposal/terms_and_conditions.html' %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <script>
         $(document).ready(function(){
            $('.reportar_propuesta').attr('href','mailto:'+'vota-2017'+'@'+'ciudadanointeligente.org?'+'Subject=Propuesta {{proposal.id}} no debe estar en Votainteligente'+ '&body=La propuesta con título {{proposal.title}} cuyo id es {{proposal.id}} NO debe estar en la plataforma VotaInteligente.cl por ...\n La propuesta la pueden visitar en https://votainteligente.cl{{proposal.get_absolute_url}}');
         })
        </script>
      </div><!-- col-md-9 -->

      <div class="col-md-3 text-center print_hidden votita-detail share-detail">
        <label>Apoya esta propuesta</label>
        <p class="apoyo-ciudadano">Esta propuesta tiene <span id='likers_count_{{proposal.id}}' class="conteo">{{proposal.likers.count}} <i class="fa fa-heart blue-light-txt" aria-hidden="true"></i></span> apoyo(s)</p>
        <div>
          {% include 'popular_proposal/_likers.html' with proposal=proposal next_url=request.path  avoid_counter=True %}
        </div>
        <hr>
        <label>Comparte esta propuesta</label>
        <div>
          {% include 'popular_proposal/_share.html' with popular_proposal=proposal next_url=request.path %}
        </div>
        {% if proposal.sponsoring_orgs.exists %}
        <hr>
          <label>Organizaciones que apoyan esta propuesta</label>
          <ul class="list-inline">
            {% for org in proposal.sponsoring_orgs %}
            <li>
              <a href="{% url 'organization_profiles:home' slug=org.username %}" target="_blank">
                {% cache 600 organization_logo org.id %}
                {% if org.organization_template.logo %}
                    {% thumbnail org.organization_template.logo "300x300" crop="center" as im %}
                    <a href="{{org.organization_template.get_absolute_url}}">
                      <img src="{{im.url}}" alt="{{org.organization_template.title }}" title="{{org.organization_template.title }}" border="0" class="img-responsive img-circle img-candidato-small">
                    </a>
                    {% endthumbnail %}
                  {% else %}
                    <img src="{% static 'img/org-default.png' %}" alt="{{org.organization_template.title }}" title="{{org.organization_template.title }}" class="img-responsive img-circle img-candidato-small"></a>
                {% endif %}
                {% endcache %}
              </a>
            </li>
            {% endfor %}
          </ul>

          {% endif %}
          {% include 'popular_proposal/_likers_candidatos.html' with proposal=proposal cargo='Presidenta o Presidente'%}
          {% include 'popular_proposal/_likers_candidatos.html' with proposal=proposal cargo='Senadora o Senador'%}
          {% include 'popular_proposal/_likers_candidatos.html' with proposal=proposal cargo='Diputada o Diputado'%}

      </div><!-- col-md-3 -->
    </div><!-- row -->
  </div><!-- container -->
</section>

{% include "votita/gathering_detail.html" with gathering=proposal.gathering %}

{% with "supportProposal"|add:proposal.slug as modalid %}
  {% include 'modal_like_proposal.html' with modalId=modalid title='Apoya una propuesta' url=like_this_proposal_url next_url=request.path proposal=proposal %}
{% endwith %}

{% endblock content %}

{% block extrafooter %}
{% endblock extrafooter %}
