<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="group text-center">Otras propuestas de {{gathering.name}}</p>
      <div class="votita-plan">
          <h2>Programa electoral de {{gathering.name}}</h2>
            {% for proposal in gathering.proposals.all %}
            <div class="votita-love-{{proposal.clasification}} proposal-plan">
              <span class="label label-default votita-love-">{{proposal.get_classification}}</span>
              <br>
              <a href="{{proposal.get_absolute_url}}">{{ proposal }}</a>
            </div>
            {% endfor %}
          {% if gathering.image %}
          <div class="photo-gathering" style="background-image: url({{gathering.image.url}}); background-position: center; background-repeat: no-repeat; height: 320px; background-size: cover;"></div>
          {% endif %}
      </div>
    </div>
  </div>
</div>
