{% extends "votita/base.html" %}
{% load staticfiles %}

{% block title %}- Portada{% endblock title %}

{% block content %}
<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <div class="videoWrapper">
          <iframe src="https://www.youtube.com/embed/W-jfqeUijbs" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blueline-up">
</section>
<section id="about" class="color blue">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">¿Qué es?</h3>
        <p class="bajada">Formarse como ciudadanos y ciudadanas tiene que partir desde la infancia y seguir avanzando en la adolescencia y la adultez. Por eso, nace “Levanta la mano” una herramienta para abrir la conversación entre niños, niñas y adolescentes para reflexionar, participar, discutir y proponer desde las vivencias propias, los problemas y desafíos que tenemos como país, y las posibles soluciones que se nos puedan ocurrir.</p>
      </div>
    </div>
  </div>
</section>
<section class="blueline-down">
</section>
<section id="join">
  <div class="row" style="margin-right:0;">
    <div class="col-md-6 text-center color purple">
      <div class="control-width">
        <h3>¿Eres docente?</h3>
        <p class="aviso"><b>Si eres profesor o guía de un grupo de niños, niñas y adolescentes, te invitamos a descargar la metodología y generar un encuentro con tu curso o grupo.</b></p>
        <div><a class="btn btn-default" href="{% static 'materiales/metodologia-levantalamano.pdf' %}" target="_blank" onclick="ga('send', 'event', 'home-metodologia.pdf', 'click')">Descarga la metodología</a></div>
      </div>
    </div>
    <div class="col-md-6 text-center color red">
      <div class="control-width">
        <h3>¿Eres estudiante?</h3>
        <p class="aviso"><b>Si eres estudiante, tienes entre 10 y 17 años y quieres que tu profe o guía de algún taller, grupo scout o actividad lleve esta iniciativa a tu grupo, déjanos su contacto.</b></p>
        <div><a class="btn btn-default" href="https://docs.google.com/forms/d/e/1FAIpQLScIl3rwIJkQpihyAON-p38h7EakmsbP0I_FWuce_xkvJ7ArGg/viewform" target="_blank" onclick="ga('send', 'event', 'home-formulario-inscripcion', 'click')">Déjanos su contacto</a></div>
      </div>
    </div>
  </div>
</section>
<section class="whiteline">
</section>
<section id="enter">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3>Ingresa las propuestas de un encuentro</h3>
        <p class="aviso"><b>¿Fuiste moderador o moderadora de un encuentro?</b></p>
        <p class="bajada">Ingresa los resultados</p>
        <div><a class="btn btn-blue-line" href="{% url 'votita:create_gathering' %}" target="_blank" onclick="ga('send', 'event', 'home-ingresar-propuestas', 'click')">Ingresar propuestas</a></div>
        <img src="{% static 'img/lm-yellow-nna.svg' %}" class="img-responsive img-down">
      </div>
    </div>
  </div>
</section>
<section class="yellowline-up">
</section>
<section id="proposals" class="color yellow">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3>Conoce y apoya propuestas</h3>
        <p class="aviso"><b>¡Conoce y apoya las propuestas que otros niños, niñas y adolescentes han generado!</b></p>
        <div><a class="btn btn-default" href="{% url 'votita:list_proposals' %}" onclick="ga('send', 'event', 'home-ver-propuestas', 'click')">Ver todas las propuestas</a></div>
      </div>
    </div>
  </div>
</section>
<section class="yellowline-down">
</section>
{% if featured_proposals.count %}
<section id="highlighted-proposals">
  {% include 'popular_proposal/_lista_propuestas.html' with popular_proposals=featured_proposals form=Nil hide_proposal_list_header=True hidden_search=True %}
</section>
{% endif %}
{% endblock content %}
