{% extends "votita/base.html" %}

{% block title %}- Portada{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      [bigbanner]
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      [sometxt]
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      [sometxt]
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      [sometxt] {{request.get_host}}
    </div>
  </div>
</div>
{% endblock content %}
