{% extends "votita/base.html" %}
{% load staticfiles %}

{% block title %}- Portada{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'img/lm-banner.svg' %}" class="img-responsive">
    </div>
    <div class="col-md-6">
      <img src="{% static 'img/lm-nna.svg' %}" class="img-responsive">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="{% static 'img/lm-met.svg' %}" class="img-responsive">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="{% static 'img/lm-footer.svg' %}" class="img-responsive">
    </div>
  </div>
</div>
{% endblock content %}
