{% extends "votita/base.html" %}
{% load staticfiles %}

{% block title %}- Materiales{% endblock title %}

{% block content %}
<section id="main-materiales">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="h-header">Materiales</h1>
      </div>
      <div class="col-md-6">
        <p>Levanta La Mano es una actividad de participación ciudadana para niños, niñas y adolescentes que busca desarrollar competencias como el pensamiento crítico, el diálogo y el trabajo colaborativo mediante la creación colectiva de propuestas o soluciones a problemas comunes de carácter nacional o local.
La metodología consta de una actividad integral donde niños, niñas y adolescentes dialogan sobre la presidencia que quieren para su país, proponen colectivamente soluciones a problemas locales o nacionales, realizan una campaña con sus propuestas y adquieren el compromiso individual de ser buenos ciudadanos y ciudadanas.</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="{% static 'img/lm-manual.svg' %}" class="img-responsive">
        <div><a class="btn btn-default" href="{% static 'materiales/metodologia-levantalamano.pdf' %}" target="_blank" onclick="ga('send', 'event', 'materiales-metodologia.pdf', 'click')">Descargar metodología</a></div>
      </div>
    </div>
  </div>
</section>
<section class="blueline-down">
</section>
<section id="materiales">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="h-header">Anexos</h1>
        <p>En la metodología encontrarás estos anexos para apoyar la actividad. Acá puedes descargarlos de forma independiente en caso de que los imprimas.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="col-materiales">
          <img src="{% static 'img/lm-anexo2.svg' %}" class="img-responsive">
          <div class="material-download">
            <h5>Anexo 2</h5>
            <h6>Imagen de presidente o presidenta</h6>
          </div>
          <a class="btn btn-line btn-sm" href="{% static 'materiales/anexo2.pdf' %}" target="_blank" onclick="ga('send', 'event', 'materiales-anexo2.pdf', 'click')">Descargar</a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="col-materiales">
          <img src="{% static 'img/lm-anexo4.svg' %}" class="img-responsive">
          <div class="material-download">
            <h5>Anexo 4</h5>
            <h6>Guía de anotaciones para el moderador o la moderadora</h6>
          </div>
          <a class="btn btn-line" href="{% static 'materiales/anexo4.pdf' %}" target="_blank" onclick="ga('send', 'event', 'materiales-anexo4.pdf', 'click')">Descargar</a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="col-materiales">
          <img src="{% static 'img/lm-anexo5.svg' %}" class="img-responsive">
          <div class="material-download">
            <h5>Anexo 5</h5>
            <h6>Guía de formulación de propuestas desde 4º a 7º básico</h6>
          </div>
          <a class="btn btn-line" href="{% static 'materiales/anexo5.pdf' %}" target="_blank" onclick="ga('send', 'event', 'materiales-anexo5.pdf', 'click')">Descargar</a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="col-materiales">
          <img src="{% static 'img/lm-anexo6.svg' %}" class="img-responsive">
          <div class="material-download">
            <h5>Anexo 6</h5>
            <h6>Guía de formulación de propuestas desde 8º básico a 4º medio</h6>
          </div>
          <a class="btn btn-line" href="{% static 'materiales/anexo6.pdf' %}" target="_blank" onclick="ga('send', 'event', 'materiales-anexo6.pdf', 'click')">Descargar</a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="col-materiales">
          <img src="{% static 'img/lm-anexo8.svg' %}" class="img-responsive">
          <div class="material-download">
            <h5>Anexo 8</h5>
            <h6>Figuras recortables y coloreables</h6>
          </div>
          <a class="btn btn-line" href="{% static 'materiales/anexo8.pdf' %}" target="_blank" onclick="ga('send', 'event', 'materiales-anexo8.pdf', 'click')">Descargar</a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="col-materiales">
          <img src="{% static 'img/lm-anexo9.svg' %}" class="img-responsive">
          <div class="material-download">
            <h5>Anexo 9</h5>
            <h6>Diploma de compromiso ciudadano</h6>
          </div>
          <a class="btn btn-line" href="{% static 'materiales/anexo9.pdf' %}" target="_blank" onclick="ga('send', 'event', 'materiales-anexo9.pdf', 'click')">Descargar</a>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
