{% extends "votita/base.html" %}
{% load staticfiles %}

{% block title %}- Materiales{% endblock title %}

{% block content %}
<section id="que-es">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="h-header">¿Qué es?</h1>
        <p>La formación ciudadana debe iniciarse desde la infancia y consolidarse durante la adolescencia. Para ello, la Fundación Ciudadano Inteligente junto con el Fondo de las Naciones Unidas para la Infancia, UNICEF Chile, con ocasión de las Elecciones Parlamentarias y Presidenciales 2017, desarrollaron la iniciativa “Levanta la Mano”, una alternativa para abrir el debate a niños, niñas y adolescentes quienes, pese a que aún no tienen derecho a voto, sí tienen derecho a participar y a que sus opiniones sean tomadas en consideración en los temas que les afectan.</p>
        <p>Entendiendo la participación como un elemento central por el cual se construyen las democracias, y un criterio fundamental por el cual juzgar la calidad de las mismas, el interés de la ciudadanía por participar es una competencia que debe adquirirse gradualmente y en la práctica, a lo largo del desarrollo de los niños, niñas y adolescentes. En ese sentido, es esencial generar oportunidades crecientes para que los niños, niñas y adolescentes participen y se formen como ciudadanos al interior de cualquier sistema que aspire a ser democrático.</p>
        <p>Levanta la Mano fue concebido como un espacio de opinión y reflexión para niños, niñas y adolescentes por medio de una metodología con la cual pudieran discutir los problemas que perciben o viven su contexto local o nacional, y construyeran colaborativamente propuestas que planteen soluciones desde la mirada de la infancia y la juventud.</p>
      </div>
    </div>
  </div>
</section>



{% endblock content %}
