{% extends "votita/base.html" %}
{% load bootstrap3 %}

{% block title %}- Información sobre el encuentro infantil{% endblock title %}

{% block content %}
<div class="container">
  <h2 class="h-header">Información sobre el encuentro de "{{object.name}}"</h2>

  <form method='POST' action="{% url 'votita:update_gathering' pk=object.pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h3 class="theme-form">¿Quieres compartir una foto de la actividad?</h3>
    {% bootstrap_field form.image %}
    <h3 class="theme-form">¿Tienes algún comentario sobre la actividad?</h3>
    {% bootstrap_field form.comments show_label=False %}
    <button type="submit" class="btn btn-enviar pull-right">Agregar Información</button>
  </form>
</div>
{% endblock content %}
