{% load i18n %}
{% load bootstrap3 %}
{% load votainteligente_extras %}
{% url 'registration_activate' activation_key as activation_key_url %}
<body>{% blocktrans with sitename=site.name sitedomain=site.domain%}
<h3>Registro para RioPorInteiro</h3>
<p>
Olá, você (ou alguém que diz ser você) tentou registrar uma conta no RioPorInteiro.
</p>
</p>
Se não foi você, por favor, ignore este e-mail e seu endereço será removido de nossos registros.
</p>
<p>Para ativar sua conta em RioPorInteiro, por favor clique no seguinte link antes de
<b>{{ expiration_days }}</b> dias:<br/>
<a href="https://{{ sitedomain }}{{ activation_key_url }}">https://{{ sitedomain }}{{  activation_key_url }}</a>
</p>

{% endblocktrans %}
{% mail_signature_html %}
</body>
