{% extends layout %}
{% load votainteligente_extras %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% block extrajs %}
{% load ogp_tags %}


$(function(){
    $('.loadFromUrl').on('show.bs.modal', function (event) {
      var anchor = $(event.relatedTarget) // Button that triggered the modal
      var modal = $(this)
      var body = modal.find('.modal-body');
      body.load(anchor.data('url'));
    })
    $('[data-toggle="tooltip"]').tooltip();
});
{% endblock extrajs %}

{% block title %}- {% trans "Propuesta" %} - {{popular_proposal.title}}{% endblock title%}

{% block ogp %}
  {% render_ogp popular_proposal %}
  <meta property="og:description" content="{{ popular_proposal.data.solution_at_the_end }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ciudadanoi">
  <meta name="twitter:creator" content="{% spaceless %}
  {% if popular_proposal.proposer.profile.is_organization and popular_proposal.proposer.organization_template.twitter %}
    {{popular_proposal.proposer.organization_template.twitter|extract_twitter_username}}
  {% else %}
    @ciudadanoi
  {% endif %}
  {% endspaceless %}">
  <meta name="twitter:title" content="{% trans "¡Ingresa a votainteligente.cl y apoya esta propuesta!" %}">
  <meta name="twitter:description" content="{% spaceless %}
  {% if popular_proposal.proposer.profile.is_organization and popular_proposal.proposer.organization_template.twitter %}
  {% blocktrans with proposer_twitter=popular_proposal.proposer.organization_template.twitter|extract_twitter_username proposal=popular_proposal.title %}{{proposer_twitter}} propone {{ proposal }}{% endblocktrans %}
  {% else %}
  {{ popular_proposal.title }}
  {% endif %}
  {% endspaceless %}">
  <meta name="twitter:image" content="{{popular_proposal.ogp_image}}">
{% endblock ogp %}

{% block everything %}

{% url 'popular_proposals:embedded_detail' slug=popular_proposal.slug as embedded_url%}

<div class="container print_hidden">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="fa fa-home" aria-label="{% trans "Inicio" %}"></i></a></li>
    <li><a href="{% url 'popular_proposals:home' %}">{% trans "Propuestas" %}</a></li>
    <li class="active">{{popular_proposal.title|truncatechars:60}}</li>
  </ol>
</div>


{% if popular_proposal.proposer == user %}
<div class="container proposal-banner-org">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success text-center">
        {% url 'popular_proposals:citizen_update' slug=popular_proposal.slug as update_proposal_url %}
        <p>{% blocktrans with user=user %}Esta es tu propuesta {{user}}, ¿quieres <a href="{{update_proposal_url}}">añadir antecedentes</a> a esta propuesta?{% endblocktrans %}</p>
      </div>
    </div>
  </div>
</div>
{% endif%}

<section id="proposal">
  <div class="container">
    <div class="row">
      <div class="col-md-9 detalle-propuesta detail{% if proposal.for_all_areas %} transversal{% endif %}">
        <span class="label label-default">{{popular_proposal.get_classification}}</span>
        <p class="text-light small">{% blocktrans with proposal_id=popular_proposal.id %}
          Propuesta nº{{proposal_id}}
        {% endblocktrans %}</p>

        {% if popular_proposal.is_local_meeting %}
        <img src="{% static 'img/local-meeting_rpi.svg' %}" alt="{% trans "Generada desde un encuentro ciudadano" %}">
        {% endif %}

        <h1>{{popular_proposal.title}}</h1>
        <p class="text-light small">

          {% blocktrans %}
            Esta es una propuesta de
          {% endblocktrans %}
          {% get_proposal_author popular_proposal %}


        </p>
      </div><!-- col-md-9 -->
    </div><!-- row -->
    <div class="row">
      <!-- propuesta -->
      <div class="col-md-9 detalle-propuesta">
        <ul class="list-inline proposal-tools">
          <li class="hidden-xs hidden-sm">
            <i class="fa fa-print" onclick="print()"></i>
          </li>
          <li>
            <i class="fa fa-font"></i>
          </li>
          <li>
            <i class="fa fa-plus" onclick="UpSize(2)"></i>
          </li>
          <li>
            <i class="fa fa-minus" onclick="DownSize(2)"></i>
          </li>
        </ul>
        <div class="line-space"></div>
        <script>
          function UpSize(size) {
            var fontSizeMax = 20;
            var FontSizeActual = parseInt($('#proposal-details p').css('font-size'));
            var fontNewSize = FontSizeActual+size;
            if(fontNewSize <= fontSizeMax)
              $('#proposal-details p').css('font-size', fontNewSize+'px');
          }
          function DownSize(size) {
            var fontSizeMin = 14;
            var FontSizeActual = parseInt($('#proposal-details p').css('font-size'));
            var fontNewSize = FontSizeActual-size;
            if(fontNewSize >= fontSizeMin)
              $('#proposal-details p').css('font-size', fontNewSize+'px');
          }
        </script>

        <!-- detalle propueta -->
        {{popular_proposal.detail_as_html}}
        <!-- fin detalle propuesta -->

        {% if popular_proposal.background %}
        <!-- antecedentes -->
        <div class="col-md-12 antecedentes light-text print_hidden">
          <div class="row">
            <h3>{% trans 'Antecedentes' %}</h3>

            <p>{{popular_proposal.background|linebreaksbr}}</p>

            {% if popular_proposal.document|length %}
            <h3>{% trans "Documentos" %}</h3>
            <ul class="list-unstyled">
              <li><a href="{{popular_proposal.document.url}}" target="_blank"><i class="fa fa-file"></i> {% trans "Documento" %}</a></li>
            </ul>
            {% endif %}

            {% if popular_proposal.image|length %}
            <img src="{{popular_proposal.image.url}}" class="img-responsive">
            {% endif %}
          </div>
        </div>
        <!-- fin antecedentes -->
        {% endif %}


        <div class="col-md-12 antecedentes visible-xs visible-sm">
          <div class="row">
            {% include 'popular_proposal/_likers_candidatos.html' with proposal=popular_proposal cargo='Governador'%}
            {% include 'popular_proposal/_likers_candidatos.html' with proposal=popular_proposal cargo='Senador'%}
            {% include 'popular_proposal/_likers_candidatos.html' with proposal=popular_proposal cargo='Deputado Federal'%}
            {% include 'popular_proposal/_likers_candidatos.html' with proposal=popular_proposal cargo='Deputado Estadual'%}
          </div>
        </div>





        <p class="llamado">
          {% trans "Si te gustó ¡apóyala y compártela! Así todos/as tendremos voz en las elecciones de este año." %}
          <br>
          {% blocktrans %}
          Si por el contrario, encuentras que esta propuesta viola los "<a href="#" data-toggle="modal" data-target="#terms_and_conditions">Términos y Condiciones</a>" para la creación de una propuesta, ayúdanos <a class="reportar_propuesta">reportando</a> esta propuesta.
          {% endblocktrans %}

        </p>

        <div class="share-detail visible-xs">
          {% if config.MOSTRAR_AYUDANOS_PROPUESTA %}
          <div id="btn-difunde" class="text-center"><a href="{% url 'popular_proposals:ayuranos' slug=popular_proposal.slug%}" class="btn btn-blue" onclick="ga('send','event','ayudanos-proposal-{{popular_proposal.id}}','click')">{% trans "Ayúdanos a difundir esta propuesta entre las candidaturas" %}</a>
          </div>
          {% endif %}
        </div>

        <div class="modal fade" id="terms_and_conditions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans "Términos y Condiciones" %}</h4>
              </div>
              <div class="modal-body">
                {% include 'popular_proposal/terms_and_conditions.html' %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cerrar" %}</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <script>
         $(document).ready(function(){
            $('.reportar_propuesta').attr('href','mailto:'+'rioporinteiro'+'@'+'cidadaniainteligente.org?'+'Subject=A proposta com id {{popular_proposal.id}} no deve ficar em RioPorInteiro'+ '&body=A proposta com titulo {{popular_proposal.title}} e id {{popular_proposal.id}} NO deve ficar em RioPorInteiro por ...\n A proposta fica em https://rioporinteiro.org.br{{popular_proposal.get_absolute_url}}');
         })
        </script>
      </div><!-- col-md-9 -->

      <div class="col-md-3 hidden-sm hidden-xs text-center print_hidden">
        <label>{% trans "Esta propuesta tiene" %}</label>
        <p class="apoyo-ciudadano">
          {% blocktrans with proposal_id=popular_proposal.id likers_count=popular_proposal.likers.count %}
            <span id='likers_count_{{proposal_id}}' class="conteo">{{likers_count}}</span> apoyo(s) ciudadano(s)</p>
          {% endblocktrans %}
        <br>
        {% blocktrans with proposal_id=popular_proposal.id commitments_count=popular_proposal.commitments.count %}
        <span id='likers_count_{{proposal_id}}' class="conteo">{{commitments_count}}</span> candidatura(s) comprometida(s)
      {% endblocktrans %}
      </p>
        <hr>
        <label>{% trans "Apoya esta propuesta" %}</label>
        <div class="share-detail">
          {% include 'popular_proposal/_likers.html' with proposal=popular_proposal next_url=request.path  avoid_counter=True %}
        </div>
        <hr>
        <label>{% trans "Comparte esta propuesta" %}</label>
        <div class="share-detail">
          {% include 'popular_proposal/_share.html' with proposal=popular_proposal next_url=request.path %}
          {% if config.MOSTRAR_AYUDANOS_PROPUESTA %}
          <div id="btn-difunde" class="text-center"><a href="{% url 'popular_proposals:ayuranos' slug=popular_proposal.slug%}" class="btn btn-blue" onclick="ga('send','event','ayudanos-proposal-{{popular_proposal.id}}','click')">{% trans "Ayúdanos a difundir esta propuesta entre las candidaturas" %}</a>
          </div>
          {% endif %}
        </div>
        {% if popular_proposal.sponsoring_orgs.all %}
        <hr>
          <label>{% trans "Organizaciones que apoyan esta propuesta" %}</label>
          <ul class="list-inline">
            {% for org in popular_proposal.sponsoring_orgs %}
            <li>
              <a href="{% url 'organization_profiles:home' slug=org.username %}" target="_blank">
                {% if org.organization_template.logo %}
                    {% thumbnail org.organization_template.logo "300x300" crop="center" as im %}
                    <a href="{{org.organization_template.get_absolute_url}}">
                      <img src="{{im.url}}" alt="{{org.organization_template.title }}" title="{{org.organization_template.title }}" border="0" class="img-responsive img-circle img-candidato-small">
                    </a>
                    {% endthumbnail %}
                  {% else %}
                    <img src="{% static 'img/org-default.png' %}" alt="{{org.organization_template.title }}" title="{{org.organization_template.title }}" class="img-responsive img-circle img-candidato-small"></a>
                {% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>

          {% endif %}
          {% include 'popular_proposal/_likers_candidatos.html' with proposal=popular_proposal cargo='Governador'%}
          {% include 'popular_proposal/_likers_candidatos.html' with proposal=popular_proposal cargo='Senador'%}
          {% include 'popular_proposal/_likers_candidatos.html' with proposal=popular_proposal cargo='Deputado Federal'%}
          {% include 'popular_proposal/_likers_candidatos.html' with proposal=popular_proposal cargo='Deputado Estadual'%}

      </div><!-- col-md-3 -->
    </div><!-- row -->
  </div><!-- container -->
</section>

<div class="apoya-comparte hidden-md hidden-lg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        {% include 'popular_proposal/_apoyo_contador.html' with proposal=popular_proposal %}
      </div>
      <div class="col-md-4">
        <div class="share-detail mobile-fix">
          {% include 'popular_proposal/_share.html' with proposal=popular_proposal next_url=request.path %}
          {% include 'popular_proposal/_likers.html' with proposal=popular_proposal next_url=request.path avoid_counter=True %}
        </div>
      </div>
    </div>
  </div>
</div>

{% with "supportProposal"|add:popular_proposal.slug as modalid %}
  {% trans "Apoya una propuesta" as support_proposal_modal_title %}
  {% include 'modal_like_proposal.html' with modalId=modalid title=support_proposal_modal_title url=like_this_proposal_url next_url=request.path proposal=popular_proposal %}
{% endwith %}

{% endblock everything %}

{% block extrafooter %}
{% endblock extrafooter %}

{% block analytics %}
{% endblock analytics %}
