{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
<p><b>Si estás en un celular <a href="https://{{site.domain}}{{object.get_absolute_url}}">has click acá</a></b></p>
<form method="post" action="https://{{site.domain}}{{object.get_absolute_url}}" style="font-family: 'Arial', sans-serif;">
    {{ formset.management_form }}
    {% for form in formset %}
        {% if not candidate|has_commited_with:form.proposal %}
        <div style="border: 2px solid black; padding: 20px 15px; margin-bottom: 20px; border-radius: 10px;">
            <p style="text-transform: uppercase; font-size: 12px;">
              {% blocktrans with id=form.proposal.id proposer=form.proposal.proposer%}
                <b>Propuesta Nº{{id}}</b> - Una propuesta de <strong>{{proposer}}</strong>
              {% endblocktrans %}
              </p>
            <h4 style="font-size: 18px; margin: 5px 0 -10px;"><a href="https://{{site.domain}}{{form.proposal.get_absolute_url}}">{{form.proposal.title}}</a></h4>
            {% if form.proposal.proposer.profile.is_organization %}
            {% thumbnail form.proposal.proposer.organization_templat.logo "100x100" as im %}
            <img src="{{site.domain}}{{im.url}}">
            {% endthumbnail %}
            {% endif %}
            <p>{{form.summary|linebreaksbr}}</p>
            <hr>
                <label>{% blocktrans %}
                  <b>Los términos en los cuales me comprometo son:</b>(opcional)
                {% endblocktrans %}</label></p>
                <p style="margin-top: 20px;">{{form.detail}}

                <p style="margin-top: 20px;">{{form.commited}}
                <label><b>
                  {% blocktrans  %}
                    Me comprometo con esta propuesta
                  {% endblocktrans %}
                  </b></label></p>
            {% if not forloop.last %}
            {% endif %}
          </div>
          {% endif %}
    {% endfor %}
<input type="submit" value="{% trans "Enviar compromisos" %}"/ style="background-color: black; color: white; border: none; padding: 10px; width: 200px; border-radius: 80px; font-size: 14px;">
</form>
