{% extends "backend_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block main_content %}
<div class="row breadscrumb-social hidden-xs">
	<div class="col-md-9">
		<ul class="breadcrumb">
			<li><a href="{% url 'backend_candidate:all_my_activities' slug=object.id %}">{% trans 'Mi agenda' %}</a></li>
			<li>{% trans 'Agregar actividad' %}</li>

		</ul>
	</div>
</div>
<form method="post" action="{% url 'backend_candidate:add_activity' slug=object.id %}">
	{% csrf_token %}
	<div class="form-group">
		<label class="control-label" for="id_date">{% trans 'Fecha' %}</label>
		<div class="input-append date" id="datetimepicker" data-date="12-02-2012" data-date-format="yyyy-mm-dd hh:ii">
        <input class="form-control" id="id_date" name="date" placeholder="Date" title="" type="text" required />
        <span class="add-on"><i class="icon-th"></i></span>
    </div>
	</div>

	{% bootstrap_field form.description %}

	{% bootstrap_field form.url %}
	{% bootstrap_field form.location %}

<input type="submit" value="{% trans "Enviar" %}"  class="btn btn-default" />
</form>

<script type="text/javascript">
	var currentDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
	console.log(currentDate);
    $("#datetimepicker").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        startDate: currentDate
    });
</script>


{% endblock main_content %}
