{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}


{% block navbar %}
{% endblock navbar %}

{% block content %}
{% cache 500 twitters %}
<div class="container">
<h2>Elije uno de estos twits y ayúdanos!</h2>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Texto</th>
        <th>Twittea</th>
      </tr>
    </thead>
    <tbody>
      <tr class="">
        <td>La ciudadanía quiere saber qué opinan sus candidatos. Invita a los tuyos a responder la #MediaNaranjaPolítica en http://votainteligente.cl</td>
        <td>{% include 'twitter_poking_button.html' with texto='La ciudadanía quiere saber qué opinan sus candidatos. Invita a los tuyos a responder la #MediaNaranjaPolítica en button_text='twittea' %}</td>
      </tr>
      <tr class="">
        <td>Qué estás esperando?!</td>
        <td>{% include 'twitter_poking_button.html' with texto='Qué estás esperando?!' button_text='twittea'  %}</td>
      </tr>
    </tbody>

  </table>
 </div>
</div>

<h2>¡Aún nos faltan estos candidatos twitteale!</h2>
<div class="table-responsive">
  <table class="table">
  	<thead>
      <tr>
        <th>Comuna</th>
        <th>Candidato</th>
        <th>¿Qué le pasa?</th>
        <th>Twiteale!</th>
      </tr>
    </thead>
    <tbody>
    	{% for candidate in candidates %}
      {% if candidate.twitter %}
      <tr class="{% if candidate.election.area|is_marked_area %}success{% endif %}">
        <td><a href="{{ candidate.area.get_absolute_url }}">{{ candidate.election.area }}</a></td>
        <td><a href="{{ candidate.get_absolute_url }}">{{ candidate }}</a></td>
        <td>{% if not candidate.has_logged_in %}No se ha conectado, ni nada{% else %}{% if not candidate.has_answered %}No ha contestado la 1/2 naranja{% endif %}{% endif %}</td>
        <td>
            {% if not candidate.has_logged_in %}
              {% include 'twitter_poking_button.html' with texto='Qué esperas para ingresar?' twitter=candidate.twitter.value %}
            {% elif not candidate.has_answered %}
              {% include 'twitter_poking_button.html' with texto='Responde la 1/2 naranja!' twitter=candidate.twitter.value %}
            {% endif %}
          </td>
      </tr>
        {% endif %}
      	{% endfor %}
    </tbody>

  </table>
 </div>
</div>
{% endcache %}
{% endblock content %}

