{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}


{% block navbar %}
{% endblock navbar %}

{% block content %}
{% cache 500 twitters %}
<div class="container">
<h2>Elije uno de estos tuits y ayúdanos!</h2>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Texto</th>
        <th>Twittea</th>
      </tr>
    </thead>
    <tbody>
      <tr class="">
        <td>Tenemos poca info de candidatos. Ayuda a candidatos y electores haciendo que respondan la ½ naranja #PorQuiénVotar http://votainteligente.cl</td>
        <td>{% include 'twitter_poking_button.html' with texto='Tenemos poca info de candidatos. Ayuda a candidatos y electores haciendo que respondan la ½ naranja' button_text='twittea' hashtag="MediaNaranjaPolítica" url='http://votainteligente.cl' %}</td>
      </tr>
      <tr class="">
        <td>Si no conoces a tus candidatos y no sabes #PorQuiénVotar, http://votainteligente.cl tiene toda la información relevante para estas municipales</td>
        <td>{% include 'twitter_poking_button.html' with texto='Si no conoces a tus candidatos y no sabes tiene toda la información relevante para estas municipales' button_text='twittea'  %}</td>
      </tr>
       <tr class="">
        <td>Invita a tus candidatos a dejar su información en Vota Inteligente para saber qué piensan y #PorQuiénVotar http://votainteligente.cl</td>
        <td>{% include 'twitter_poking_button.html' with texto='Invita a tus candidatos a dejar su información en Vota Inteligente para saber qué piensan y' button_text='twittea'  %}</td>
      </tr>
      <tr class="">
        <td>Necesitamos que los candidatos compartan su infromación con los vecinos, para concoerlos y saber #PorQuiénVotar http://votainteligente.cl</td>
        <td>{% include 'twitter_poking_button.html' with texto='Necesitamos que los candidatos compartan su infromación con los vecinos, para concoerlos y saber' button_text='twittea'  %}</td>
      </tr>
    </tbody>

  </table>
 </div>
</div>
<h2>Si no encuentras a tu candidata/o acá quizás no tenemos su twitter</h2>
<span>Pero puedes ayudarnos a <a href="https://docs.google.com/spreadsheets/d/1PX8H-vt_BKWDVCrro_LcBjG9wXlVejinisr9XRK3ByA/edit?usp=sharing">completar los que nos faltan</a></span>
<h2>¡Aún nos faltan estos candidatos twitteale!</h2>
<div class="table-responsive">
  <table class="table">
  	<thead>
      <tr>
        <th>Comuna</th>
        <th>Candidato</th>
        <th>¿Qué le pasa?</th>
        <th>Twiteale!</th>
      </tr>
    </thead>
    <tbody>
    	{% for candidate in candidates %}
      {% if candidate.twitter %}
      <tr class="">
        <td><a href="{{ candidate.area.get_absolute_url }}">{{ candidate.election.area }}</a></td>
        <td><a href="{{ candidate.get_absolute_url }}">{{ candidate }}</a></td>
        <td>{% if not candidate.has_logged_in %}No se ha conectado, ni nada{% else %}{% if not candidate.has_answered %}No ha contestado la 1/2 naranja{% endif %}{% endif %}</td>
        <td>
            {% if not candidate.has_logged_in %}
              {% include 'twitter_poking_button.html' with texto='Queremos conocer tus posturas para saber' twitter=candidate.twitter.value %}
            {% elif not candidate.has_answered %}
              {% include 'twitter_poking_button.html' with texto='Queremos conocer tus postura responde a la media naranja para saber twitter=candidate.twitter.value %}
            {% endif %}
          </td>
      </tr>
        {% endif %}
      	{% endfor %}
    </tbody>

  </table>
 </div>
</div>
{% endcache %}
{% endblock content %}

