{% extends "backend_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block extrajs %}
{% endblock extrajs %}
{% block extra_scripts %}
<script src="{% static 'js/bootstrap-tour.js' %}"></script>
<link href="{% static 'css/bootstrap-tour.min.css' %}" rel='stylesheet' type='text/css'>

{% endblock extra_scripts %}


{% block extra_sidebar_top %}

{% endblock extra_sidebar_top %}


{% block main_content %}
<div class="contenedorDestacado fondo-blanco">

¡Bienvenid@ a la sección de candidaturas!
</div>
<script type="text/javascript">
$(function(){
	var tour = new Tour({
					  steps: [
					  {
					    element: ".mi-perfil",
					    title: "Mi perfil",
					    content: "Acá puedes modificar cosas como por ejemplo: tu foto y darnos algunos detalles de tu campaña como por ejemplo lema."
					  },
					  {
					    element: ".12naranja",
					    title: "Cuestionario",
					    content: "Hemos elaborado algunas preguntas para que nos ayudes a definir mejor tu campaña y acá las puedes responder."
					  },
					  {
					    element: ".my_proposals",
					    title: "Las propuestas con las que te has comprometido",
					    content: "Cuando te pronuncies sobre alguna propuesta ciudadana aparecerá en este lugar."
					  },
					  {
					    element: ".proposals_for_me",
					    title: "Propuestas para mi",
					    content: "Acá puedes encontrar las propuestas ciudadanas que te han hecho."
					  }
					],
					template: `<div class='popover tour'>
							  <div class='arrow'></div>
							  <h3 class='popover-title'></h3>
							  <div class='popover-content'></div>
							  <div class='popover-navigation'>
							    <button class='btn btn-default' data-role='prev'>«</button>
							    <button class='btn btn-default' data-role='next'> »</button>
							    <button class='btn btn-default' data-role='end'>Fin</button>
							  </div>
							</div>`
				});

	// Initialize the tour
	tour.init();

	// Start the tour
	tour.start();
});
</script>
{% endblock main_content %}

