{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load votainteligente_extras %}
{% url 'password_reset' as password_reset %}

{% for candidacy in user.candidacies.all %}
  {% url 'backend_candidate:complete_profile' slug=candidacy.candidate.election.slug candidate_slug=candidacy.candidate.slug  as complete_profile %}
  {% url 'backend_candidate:all_my_activities' slug=candidacy.candidate.slug as all_my_activities %}

  <li role="presentation" class="mi-perfil {% if request.path == complete_profile or request.path == password_reset or request.path == all_my_activities%} active{% endif %}">
    <a class="small" href="#"  data-toggle="dropdown" data-target="submenu_cand">
            <i class="fas fa-users-cog"></i>  {% trans "Perfil de candidatura" %}

    </a>
    <ul  class="dropdown-menu" id="submenu_cand">
        <li class="{% ifequal request.path complete_profile %} active{% endifequal %}">
            <a href="{{complete_profile}}"><i class="fas fa-users-cog"></i> {% trans "Completa tu perfil" %}</a>
        </li>

         <li role="presentation" class="{% ifequal request.path password_reset %} active{% endifequal %}">
          <a href="{{password_reset}}">
          <i class="fas fa-key"></i> {% blocktrans %}Cambia tu contraseña{% endblocktrans %}</a></li>


          <li role="presentation" class="all_my_activities {% ifequal request.path all_my_activities%} active{% endifequal %}">
            <a  href="{{all_my_activities}}">
             <i class="fas fa-calendar-alt"></i>  {% trans "Mi agenda" %}
            </a>
          </li>
    </ul>
  </li>
{% comment %}
  {% url 'backend_candidate:complete_12_naranja' slug=candidacy.candidate.election.slug candidate_slug=candidacy.candidate.slug  as backend_candidate %}
  <li role="presentation" class="{% if not mobile %}hidden-xs{% endif %} 12naranja destacado {% ifequal request.path backend_candidate%} active{% endifequal %}">
    <a class="small" href="{{backend_candidate}}">
      Completa la 1/2 naranja
    </a>
  </li>
{% endcomment %}




  {% url 'backend_candidate:my_proposals_with_a_resolution' slug=candidacy.candidate.election.slug candidate_slug=candidacy.candidate.slug  as my_proposals %}
  <li role="presentation" class="{% if not mobile %}hidden-xs{% endif %} my_proposals {% ifequal request.path my_proposals%} active{% endifequal %}">
    <a class="small" href="{{my_proposals}}">
      <i class="far fa-handshake"></i> {% trans "Mis compromisos" %}
    </a>
  </li>
  {% url 'backend_candidate:proposals_for_me' slug=candidacy.candidate.election.slug candidate_slug=candidacy.candidate.slug  as proposals_for_me %}
  <li role="presentation" class="{% if not mobile %}hidden-xs{% endif %} proposals_for_me destacado {% ifequal request.path proposals_for_me%} active{% endifequal %}">
    <a class="small" href="{{proposals_for_me}}">
     <i class="fas fa-heart"></i>   {% trans "Propuestas para mi" %}
    </a>
  </li>
{% endfor %}
