{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}


{% block navbar %}
{% endblock navbar %}

{% block content %}
{% if text %}
<p>{{text|linebreaksbr}}</p>
{% else %}
{% blocktrans with name=candidate.name %}
<p>Hola <b>{{name}}</b>:</p>
<p><a href="https://Votainteligente.cl">Vota Inteligente</a> es una plataforma, SIN COSTO ASOCIADO, de la Fundación Ciudadano Inteligente que recibe propuestas ciudadanas y de la sociedad civil en el marco de las elecciones de este año.</p>
<p>Te invitamos a participar como candidatura a conocer y comprometerte con las propuestas ciudadanas de Vota Inteligente. Para ello, hemos seleccionado algunas propuestas que creemos te pueden interesar. Para comprometerte basta que marques en el casillero de bajo de la propuesta y luego envíes tu respuesta presionando “enviar compromisos”. Tus respuestas se verán reflejados en tu perfil en la página web.
</p>
<p>Además, los compromisos que adoptes serán parte de la <a href="https://votainteligente.cl/media_naranja">Media Naranja Política</a>, herramienta que permite que electores encuentren a la candidatura que le es más afín en base a los mismos compromisos adoptados por éstas en la plataforma. En sólo una semana de funcionamiento la herramienta ya tiene <b>más de 130.000 visitas</b> las que alcanzarán su máximo en la medida que nos acerquemos a las elecciones.</p>

{% endblocktrans %}

{% endif %}


{% include 'backend_candidate/_suggestions_formset.html' with formset=formset object=candidate_incremental site=site candidate=candidate %}


{% endblock content %}
