{% extends "backend_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap4 %}

{% block extrajs %}
{% endblock extrajs %}

{% block content %}

  <div class='row complete-profile'>
    <!-- Foto Candidato/a -->
    <div class="col-lg-3 offset-md-1">
      {% if candidate.candidacy_set.first.user.profile.image %}
        <img src="{{candidate.candidacy_set.first.user.profile.image.url}}" 
          alt="{{candidate.name}}" 
          class="img-responsive img-circle">
      {% else %}
        <img src="{% static 'img/candidate-default.jpg' %}" 
          alt="{{candidate.name}}" 
          class="img-responsive img-circle">
      {% endif %}

      <div>
        <h4>Dados do TSE</h4>
        <ul class="list-group list-group-flush desc_candidato">
          <li class="list-group-item">{{candidate.name|title}}</li>
          <li class="list-group-item">{{candidate.partido.initials}}</li>
          <li class="list-group-item">{{candidate.election.name|title}}</li>
          <li class="list-group-item">Número de urna {{candidate.numero}}</li>
          <li class="list-group-item">{{candidate.data_de_nascimento}}</li>
          <li class="list-group-item">{{candidate.election.area.name|title}}</li>
        </ul>
      </div>
    </div>

    <!-- Detalhes Candidato/a-->
    <div class="col-lg-8">
      <h1>Olá, {{candidate.name}}!</h1>
      <h2>
        Obrigada por ingressar na nossa plataforma! Agora precisamos de 
        algumas informações sobre quem você é. Essas informações poderão ser 
        usadas pelas/os eleitoras/es para filtrarem as pesquisas.
      </h2>
      
      <form id='form_candidate_profile' 
        method="post" 
        enctype="multipart/form-data" 
        action="{% url 'merepresenta_complete_profile' slug=election.slug candidate_slug=candidate.slug %}">
        {% csrf_token %}

      <!-- Manter contato -->
      {% for field in form %}
      {% if field.name == 'gender' %}
          <span class="question">
            {% bootstrap_label field.label %}
            <i class="fas fa-info-circle" 
          data-toggle="tooltip" 
          data-placement="right" 
          title="Nós respeitamos sua identidade de gênero aqui na plataforma, mesmo que o cadastro esteja errado no TSE."></i>
          </span>
        {% elif field.name == 'email' %}
          <span class="question">
            {% bootstrap_label field.label %}
          </span>
        {% elif field.name == 'lgbt' %}
          <span class="question">
            {% bootstrap_label 'Você se declara LGBT?' %}
            <i class="fas fa-info-circle" 
          data-toggle="tooltip" 
          data-placement="right" 
          title="Marcando esse campo, eleitoras/es que quiserem votar em pessoas LGBTs poderão te encontrar."></i>
          </span>
        {% elif field.name == 'candidatura_coletiva' %}
          <span class="question">
            {% bootstrap_label 'Você faz parte de uma Candidatura Coletiva?' %}
          </span>
        {% elif field.name == 'lgbt_desc' %}
          
          <span class="question lgbt_desc" {% if not form.lgbt.value %}style="display: none"{% endif %}>
            {% bootstrap_label 'Selecione com quais opções você se identifica:' %}
          </span>

        {% else %}
          <span class="question">
            {% bootstrap_label field.label %}
          </span>
        {% endif %}
        
        {% if field.name == 'races' %}
          <i class="fas fa-info-circle" 
          data-toggle="tooltip" 
          data-placement="right" 
          title="Aqui utilizamos as categorias usadas pelo governo para contar a população. É importante manter esse padrão para poder comparar com os dados oficiais.
"></i>
        {% endif %}

        {% if field.name == 'email' %}
        {% for type, mail in candidate.emails.items %}
        <div class="input">
          <input type="radio" 
          name="email_previous" 
          value="{{mail}}" 
          {% if type == 'email' %}checked{% endif %}>
          <label>{{mail}} ({{type}})</label><br>
        </div>
          {% endfor %}

        <div class="input">
          <input type="radio" 
            name="email_previous" 
            value="outro" 
            required="False">
          <label>Outro</label>
        </div>
        <div class="input">
          <input type="email" 
            name="email" 
            title="" 
            placeholder="Outro" 
            class="form-control" 
            id="id_email" />
        </div>
        {% elif field.name == 'lgbt' or field.name == 'candidatura_coletiva' %}
          {% bootstrap_field field  show_label=False  %}
        {% elif field.name == 'lgbt_desc' %}
          {% if not form.lgbt.value %}
            {% bootstrap_field field  show_label=False field_class='lgbt_desc invisible' %}
          {% else %}
          {% bootstrap_field field  show_label=False field_class='lgbt_desc' %}
          {% endif %}
        {% else %}
          {% bootstrap_field field  show_label=False show_help=True %}
        {% endif %}

      {% endfor %}

        <div class="pautas">
          <h2>Pautas #MeRepresenta</h2>
          <p class="bottom">Para entendermos melhor quem você representa, próximo passo é 
            definir sua posição em relação a algumas pautas que selecionamos.</p>
        </div>

        <div class="col-3 offset-md-9">
          <input type="submit" value="Continuar" class="btn btn-azul" />
        </div>

      </form>
    </div>
  </div>
{% endblock content %}


{% block scripts %}
  <script type="text/javascript">
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
    $(function(){
      let pass_email = function(event){
        let checkbox = $('input[name=email_previous]:checked');
        let val = checkbox.val()
        if (val != 'outro'){
          $('input[name=email]').val(val);
        }
      }
      $('#form_candidate_profile').submit(pass_email);
    });
    $(function(){
      let show_lgbt_desc = function(){
        $(".lgbt_desc").show(600);
        $(".lgbt_desc").removeClass('invisible');
      }
      let hide_lgbt_desc = function(){
        $(".lgbt_desc").hide(600);
        $(".lgbt_desc").addClass('invisible');
        $('.lgbt_desc input').removeAttr('checked');
      }
      $('#id_lgbt').change(function(evt){
        if($(this).is(':checked')){
          show_lgbt_desc();
        }
        else {
          hide_lgbt_desc();
        }
      })
    });
    </script>

{% endblock scripts %}
