{% load i18n %}
{% load votainteligente_extras %}
{% if candidate.birth_date %}
<tr>
    <td>
        <span>{% trans 'Nacimiento' %}:</span> {{candidate.birth_date}}
    </td>
</tr>
{% endif %}
{% for personal_data in candidate.personal_datas.all %}
<tr>
    <td>
        <span>{% personal_data_label personal_data %}:</span> {{personal_data.value}}
    </td>
</tr>
{% endfor %}
{% for membership in candidate.memberships.all %}
<tr>
    <td>
        <span>{{membership.organization.name}}:</span> {{membership.label}} 
        {% if membership.start_date %}
            ({{membership.start_date}} - {{membership.end_date}})
        {% endif %}
    </td>
</tr>
{% endfor %}