{% load staticfiles %}
<style type="text/css">
.lst-kix_cetq0j4ueauq-0>li:before{
    content:"\0025cf "
}
.lst-kix_cetq0j4ueauq-1>li:before{
    content:"\0025cb "
}
.lst-kix_cetq0j4ueauq-2>li:before{
    content:"\0025a0 "
}
ul.lst-kix_cetq0j4ueauq-0{
    list-style-type:none
}
.lst-kix_cetq0j4ueauq-5>li:before{
    content:"\0025a0 "
}
.lst-kix_cetq0j4ueauq-6>li:before{
    content:"\0025cf "
}
ul.lst-kix_cetq0j4ueauq-2{
    list-style-type:none
}
ul.lst-kix_cetq0j4ueauq-1{
    list-style-type:none
}
ul.lst-kix_cetq0j4ueauq-4{
    list-style-type:none
}
.lst-kix_cetq0j4ueauq-3>li:before{
    content:"\0025cf "
}
ul.lst-kix_cetq0j4ueauq-3{
    list-style-type:none
}
.lst-kix_cetq0j4ueauq-4>li:before{
    content:"\0025cb "
}
.lst-kix_cetq0j4ueauq-7>li:before{
    content:"\0025cb "
}
.lst-kix_cetq0j4ueauq-8>li:before{
    content:"\0025a0 "
}
ul.lst-kix_cetq0j4ueauq-6{
    list-style-type:none
}
ul.lst-kix_cetq0j4ueauq-5{
    list-style-type:none
}
ul.lst-kix_cetq0j4ueauq-8{
    list-style-type:none
}
ul.lst-kix_cetq0j4ueauq-7{
    list-style-type:none
}
ol{
    margin:0;
    padding:0
}
table td,table th{
    padding:0
}
.c4{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#ffffff;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#fec70d;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:342pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c23{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#222222;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#ffffff;
    vertical-align:middle;
    border-right-color:#ffffff;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#7ab7ff;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:55.5pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c9{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#ffffff;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#fec70d;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:55.5pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c38{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#ffffff;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#233346;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:342pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c18{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#ffffff;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#233346;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:52.5pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c16{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#222222;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#222222;
    vertical-align:top;
    border-right-color:#222222;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#fec70d;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:342pt;
    border-top-color:#222222;
    border-bottom-style:solid
}
.c28{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#222222;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#222222;
    vertical-align:top;
    border-right-color:#222222;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#fec70d;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:55.5pt;
    border-top-color:#222222;
    border-bottom-style:solid
}
.c36{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#222222;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#ffffff;
    vertical-align:middle;
    border-right-color:#ffffff;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#7ab7ff;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:52.5pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c34{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#ffffff;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#fec70d;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:52.5pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c17{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#222222;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#ffffff;
    vertical-align:middle;
    border-right-color:#ffffff;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#7ab7ff;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:342pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c37{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#222222;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#222222;
    vertical-align:top;
    border-right-color:#222222;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#fec70d;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:52.5pt;
    border-top-color:#222222;
    border-bottom-style:solid
}
.c13{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#ffffff;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#233346;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:55.5pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c24{
    background-color:#ffffff;
    color:#222222;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:9.5pt;
    font-family:"Arial";
    font-style:normal
}
.c10{
    color:#ffffff;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial";
    font-style:normal
}
.c0{
    color:#ffffff;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial";
    font-style:normal
}
.c2{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:center;
    height:11pt
}
.c7{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial";
    font-style:normal
}
.c3{
    color:#000000;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial";
    font-style:normal
}
.c21{
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:12pt;
    font-family:"Arial";
    font-style:normal
}
.c19{
    margin-left:36pt;
    padding-top:0pt;
    padding-left:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:left
}
.c6{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:center;
    height:11pt
}
.c8{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:left;
    height:11pt
}
.c5{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.2;
    text-align:center;
    height:11pt
}
.c30{
    text-decoration:none;
    vertical-align:baseline;
    font-size:10pt;
    font-family:"Arial";
    font-style:normal
}
.c11{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:center
}
.c35{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    text-align:center
}
.c32{
    margin-left:auto;
    border-spacing:0;
    border-collapse:collapse;
    margin-right:auto
}
.c20{
    text-decoration-skip-ink:none;
    -webkit-text-decoration-skip:none;
    text-decoration:underline
}
.c25{
    background-color:#ffffff;
    max-width:451.4pt;
    padding:72pt 72pt 72pt 72pt
}
.c33{
    padding:0;
    margin:0
}
.c1{
    color:inherit;
    text-decoration:inherit
}
.c15{
    orphans:2;
    widows:2
}
.c12{
    font-weight:700
}
.c27{
    height:61pt
}
.c26{
    color:#1155cc
}
.c22{
    font-size:12pt
}
.c31{
    height:0pt
}
.c29{
    height:66pt
}
.c14{
    color:#ffffff
}
.title{
    padding-top:0pt;
    color:#000000;
    font-size:26pt;
    padding-bottom:3pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
.subtitle{
    padding-top:0pt;
    color:#666666;
    font-size:15pt;
    padding-bottom:16pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
li{
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
p{
    margin:0;
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
h1{
    padding-top:20pt;
    color:#000000;
    font-size:20pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h2{
    padding-top:18pt;
    color:#000000;
    font-size:16pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h3{
    padding-top:16pt;
    color:#434343;
    font-size:14pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h4{
    padding-top:14pt;
    color:#666666;
    font-size:12pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h5{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h6{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    font-style:italic;
    orphans:2;
    widows:2;
    text-align:left
}
</style>

<body class="c25">
  <a id="t.eb323fbb23dbf8d4f0dd9b89633d5700320a43e3"></a><a id="t.0"></a>
  <table class="c32">
    <tbody>
      <tr class="c31">
        <td class="c23" colspan="1" rowspan="1">
          <p class="c6"><span class="c0"></span></p>
        </td>
        <td class="c17" colspan="1" rowspan="1">
          <p class="c6"><span class="c3"></span></p>
          <p class="c11"><span class="c12 c22">&iexcl;El Trabajo sigue!</span><span class="c3"><br></span></p>
          <p class="c11"><span class="c3">Es fundamental que realicemos un seguimiento para que el nuevo Gobierno cumpla con los compromisos adquiridos en nuestra plataforma.</span></p>
          <p class="c6"><span class="c3"></span></p>
          <p class="c6"><span class="c3"></span></p>
          <p class="c11"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 484.50px; height: 485.56px;"><img alt="" src="https://{{site.domain}}{% static 'img/the_end_mail/image3.png' %}" style="width: 484.50px; height: 485.56px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span><span class="c3">&nbsp;</span></p>
          <p class="c6"><span class="c3"></span></p>
          <p class="c11"><span class="c12">Por esta raz&oacute;n, invitamos a todas las personas, colectivos y organizaciones interesadas a contactarse con </span><span class="c12">nosotros</span><span class="c12">&nbsp;para fortalecer nuestro poder de incidencia a trav&eacute;s de nuestro mail </span><span class="c20 c12 c26"><a class="c1" href="mailto:vota-2017@ciudadanointeligente.org">vota-2017@ciudadanointeligente.org</a></span></p>
          <p class="c6"><span class="c3"></span></p>
          <p class="c11"><span class="c3">Muchas gracias por formar parte de esta comunidad y reafirmar nuestro derecho de participar activamente durante este proceso.</span></p>
          <p class="c6"><span class="c3"></span></p>
        </td>
        <td class="c36" colspan="1" rowspan="1">
          <p class="c6"><span class="c0"></span></p>
        </td>
      </tr>
      <tr class="c27">
        <td class="c28" colspan="1" rowspan="1">
          <p class="c5 c15"><span class="c0"></span></p>
          <p class="c2"><span class="c0"></span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
          <p class="c6"><span class="c3"></span></p>
          <p class="c11"><span class="c3">#LaElecci&oacute;nEsNuestra</span></p>
          <p class="c11"><span class="c20 c12 c26"><a class="c1" href="https://www.google.com/url?q=http://bit.ly/votainteligente-2017&amp;sa=D&amp;ust=1515009283241000&amp;usg=AFQjCNFVbqfLzClmd8sleI7R4ofCOEZPcQ">votainteligente.cl</a></span></p>
        </td>
        <td class="c37" colspan="1" rowspan="1">
          <p class="c5"><span class="c3"></span></p>
          <p class="c6"><span class="c3"></span></p>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="c2"><span class="c7"></span></p>
  <p class="c2"><span class="c7"></span></p>
  <p class="c2"><span class="c24"></span></p>
</body>