{% extends "elections/election_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load markdown_deux_tags %}
{% load votainteligente_extras %}
{% load thumbnail %}
{% load ogp_tags %}
{% load cache %}

{% block url_face_to_face %}{% url 'face_to_face_one_candidate_detail_view' slug=election.slug slug_candidate_one=candidate.slug %}{% endblock url_face_to_face %}

{% block title %} - {{election}} - {{candidate.name}}{% endblock title%}
{% block navbar_background %}yellow{% endblock navbar_background %}

{% block tab_profile %}class="active"{% endblock %}
{% block content_container %}{% endblock content_container %}
{% block election_breadcrumbs %}{% endblock %}

{% block ogp %}
  {% render_ogp candidate %}
{% endblock ogp %}

{% block extrakeywords %}{{candidate.name}},{{candidate.election.position}} para {{candidate.election.area.name}},{% get_personal_data candidate=candidate personal_data='Partido' as partido %}{% if partido.value %} {{partido.value}}, {% endif %}{% endblock extrakeywords %}

{% block mainelection %}
<div class="container text-center" itemscope itemtype="http://schema.org/Person">
  <h1 itemprop="name" class="candidate-name">{{ candidate.name }} - {% get_personal_data candidate=candidate personal_data='Numero' as numero %} {{numero.value}}</h1>

  <h3>{% get_personal_data candidate=candidate personal_data='lema' as lema %}{{lema.value}}</h3>
  {% if user|is_candidate %}
  {% with user.candidacies.first as candidacy %}
    {% if candidacy.candidate == candidate %}
    {% url 'backend_candidate:complete_profile' slug=candidacy.candidate.election.slug candidate_slug=candidacy.candidate.slug  as complete_profile %}
      <a href="{{complete_profile}}" class="btn btn-dark">{% trans "Modificar mi perfil" %}</a>
    {% endif %}
  {% endwith%}
{% endif %}
</div>

<div class="profile">
  <div class="container">
    <div class="row content_padding">
      <div class="col-md-2 col-sm-2 col-xs-12">
          <div id="candidate-img-profile">
            {% if candidate.image %}
              {% thumbnail candidate.image "135x135" crop="center" as im %}
                  <img src="{{ im.url }}" alt="{{candidate.name}}" height="135" width="135" border="0" class="img-responsive img-circle img-candidato" itemprop="image">
              {% endthumbnail %}
              {% else %}
              <img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive img-circle img-candidato img-candidato">
            {% endif %}
            {% if config.SHOW_RIBBON_IN_CANDIDATE and not candidate.commitments.count %}<div class="ribbon label label-danger">Esse candidato ainda não se compromete com propostas</div>{% endif %}
          </div>
          <h2>
            {% get_personal_data candidate=candidate personal_data='Numero' as numero %} {{numero.value}}
          </h2>
      </div>
      <div id="info-candidato" class="col-xs-12 col-sm-7 col-md-7">
        <table class="table">
          <tr>
            <td>
            {% get_personal_data candidate=candidate personal_data='Partido' as partido %}
              {% if partido.value %}
              <p class="small-basic"><b>Partido</b></p>
              <p>{{partido.value}}</p>
            {% endif %}
            </td>
            {% get_personal_data candidate=candidate personal_data='Coligação' as coag %}
            {% if coag.value %}
              <td colspan="2">
                <p class="small-basic"><b>Coligação</b></p>
                <p>{{coag.value}}</p>
              </td>
              {% endif %}
          </tr>
          <tr>
            <td>
            {% get_personal_data candidate=candidate personal_data='ocupacion' as ocupacion %}
              {% if ocupacion.value %}
              <p class="small-basic"><b>Ocupação atual</b></p>
              <p>{{ocupacion.value}}</p>
            {% endif %}
            </td>
            {% get_personal_data candidate=candidate personal_data='raca' as raca %}
            {% if raca.value %}
              <td colspan="2">
                <p class="small-basic"><b>Raça</b></p>
                <p>{{raca.value}}</p>
              </td>
              {% endif %}
          </tr>
          <tr>
            <td>
            {% get_personal_data candidate=candidate personal_data='orietacion_sexual' as orietacion_sexual %}
              {% if orietacion_sexual.value %}
              <p class="small-basic"><b>Orientação sexual</b></p>
              <p>{{orietacion_sexual.value}}</p>
            {% endif %}
            </td>
          </tr>

          <tr>
          </tr>
            <td>
              {% if candidate.elections.count %}
              <p class="small-basic"><b>Candidatura</b></p>
              <ul class="list-inline">
                {% for e in candidate.elections.all %}
                <li>{{e.position}}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </td>
            {% get_personal_data candidate=candidate personal_data='territorio' as territorio %}
            {% if territorio %}
              <td colspan="2">
                <p class="small-basic"><b>Território</b></p>
                <p>{{territorio.value}}</p>
              </td>
              {% endif %}

          </tr>
          
          {% get_personal_data candidate=candidate personal_data='experiencia' as experiencia %}
          {% if experiencia.value %}
          <tr>
            <td colspan="2">
              <p class="small-basic"><b>{% trans "Reseña Biográfica" %}</b></p>
              {{ experiencia.value|markdown }}
            </td>
          </tr>
          {% endif %}
          <tr>
            <td>
              <p class="small-basic"><b>Propostas comprometidas</b></p>
              {% if candidate.commitments.committed.count %}
              <p class="btn btn-info"><i class="fa fa-heart"></i>{% blocktrans with commitment_count=candidate.commitments.committed.count %}
                {{commitment_count}} compromissos cidadãos
              {% endblocktrans %}</p>
              {% else %}
              <p>Esse candidato ainda não se compromete com propostas</p>
              {% endif %}
            </td>
            <td>
              {% if candidate.contact_details.count %}
              <p class="small-basic"><b>Contatos</b></p>
              <ul class="list-inline">
                {% include 'elections/candidates/social_media.html' with candidate=candidate %}
              </ul>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        {% include 'elections/candidates/agenda.html' with candidate=candidate election=election %}
      </div>
    </div><!-- .row .content_padding -->
  </div><!-- container -->
</div><!-- profile -->
{% get_personal_data candidate=candidate personal_data='program_link' as program_link %}
{% if program_link.value %}
<div id="candidato-programa" class="container-fluid">

  <p class="text-center">{% ifequal candidate.election.position 'Presidenta o Presidente' %}
      Revisa su programa
    {% else %}
      {% trans "Revisa sus ideas y planteamientos" %}
    {% endifequal %}<a target="_blank" href="{{program_link.value}}" class="btn btn-white">{% trans "aquí" %}</a></p>
</div>
{% endif %}

<div id="candidato-propuestas" class="container">
  <h3 class="text-center">{% trans "Compromisos Ciudadanos" %}</h3>
  {% if candidate.commitments.committed.count %}
  <p class="text-center">{% blocktrans with proposals_committed=candidate.commitments.committed.count candidate_name=candidate.name %}
    Acá encontrarás un total de {{proposals_committed}} propuestas a las que {{candidate_name}} se comprometió en VotaInteligente a cumplir dentro del plan de gobierno.
  {% endblocktrans %}</p>
  {% include 'elections/candidates/propuestas_a_las_que_se_ha_comprometido.html' with candidate=candidate election=election %}
  {% else %}
    {% if user|is_candidate %}
      {% blocktrans with candidate_name=candidate.name %}
          {{candidate_name}} aún no te haz comprometido en VotaInteligente!
      {% endblocktrans %}

    {% else %}
      <p class="text-center">Esse candidato ainda não se compromete com propostas</p>
    {% endif %}
  {% endif %}

<div class="col-md-12 text-center">
  {% if user|is_candidate %}
    {% with user.candidacies.first as candidacy %}
      {% if candidacy.candidate == candidate and not candidate.commitments.count %}
        {% url 'backend_candidate:proposals_for_me' slug=candidacy.candidate.election.slug candidate_slug=candidacy.candidate.slug  as proposals_for_me %}
        <a href="{{proposals_for_me}}" class="btn btn-dark">Conferir propostas</a>
      {% endif %}
    {% endwith%}
  {% endif %}
</div>
</div>

{% endblock mainelection %}

{% block extrajs %}{% endblock extrajs %}
