{% load thumbnail %}
{% load static %}
{% load i18n %}

<div id="election-area-{{election.area.id}}" class="container" itemscope>
  {% if election %}
  <div class="text-center">
  <h2>{{election.name}}</h2>
  </div>
  <div class="row">
    {% for candidate in election.candidates.all %}
    <div class="col-md-3">
      <div class="panel-heading text-center">
        {% if not candidate.commitments.exists %}
        {% comment %}
        <div class="ribbon-wrapper-candidate">
          <div class="ribbon-candidate text-center">
            <a href="{{candidate.get_absolute_url}}">
              <span class="no-commitments text-center">{% trans "Sin compromisos en votainteligente.cl" %}</span>
            </a>
          </div>
        </div>
        {% endcomment %}
        {% endif %}
        <a href="{{candidate.get_absolute_url}}">
          {% if candidate.image %}
        {% thumbnail candidate.image "300x300" crop="center" as im %}
          <img src="{{ im.url }}" alt="{{ candidate.name }}" border="0" class="img-responsive img-circle" itemprop="image" />
        {% endthumbnail %}
        {% else %}
          <img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive img-circle">
        {% endif %}
        </a>
      </div>
      <div class="panel panel-default">
        <div class="panel-body text-center">
          {% if candidate.has_won %}
          <div class="text-center">
            <span class="candidate-elected-card">{% trans "Electa/o" %}</span>
          </div>
          {% endif %}
          <a href="{{candidate.get_absolute_url}}" itemprop="name"><h3 class="candidate-name-card">{{ candidate.name }}</h3>
          {% if candidate.commitments.exists %}
            <span class="candidate-commitment-card">{% blocktrans with commitments_count=candidate.commitments.count %}
              {{ commitments_count }} compromisos
            {% endblocktrans %}</span></a>
          {% endif %}
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}
    </div><div class="row">
    {% endif %}
    {% endfor %}
    {% if user.is_staff %}
    <a href="{% url 'help_election' slug=election.slug %}">{% trans "Ayudanos!" %}</a>
    {% endif %}
  </div>
  {% else %}
  {% endif %}
</div>
