{% load markdown_deux_tags %}
{% load votainteligente_extras %}

<div class="row" id="proposal-details">
  <div class="col-md-12 print_hidden votita-detail">
    <h4>La propuesta es:</h4>
    {% if popular_proposal.data.solution %}
    <p>{{popular_proposal.data.solution|popular_proposal_when|linebreaksbr}}</p>
    {% endif %}
  </div>
  <!-- print visible share urls-->
  <div class="col-md-12 print_only">
    <h3 class="invitacion">Si te gustó ¡compártela y apóyala! Así todos/as tendremos voz en las elecciones de este año</h3>
    <ul class="list-unstyled  print-share-urls">
      {% for x in 'xxxxxxxxxxxxxxxxxx' %}
      <li class="print_only">{{popular_proposal.title|truncatechars:30}}<br >
        {{ request.get_host }}{{popular_proposal.get_short_url}}</li>
      {% endfor %}
    </ul>
  </div>
  <!-- print visible share urls-->
</div>
