.eleitores {
  margin-top: 80px;

  img {
    width: 100%;
  }

  h1 {
    color: #4F4F4F;
    display: flex;
    flex-direction: column;
    font-size: 47px;
    font-weight: bold;
    margin-bottom: 20px;

    span {
      color: #EF476F;
      font-weight: bold;
    }
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: 24px;

    span {
      color: #EF476F;
    }
  }

  .mc-field-group {
    margin-bottom: 20px;
  }
}
