
#first-part {
    margin-bottom: 50px;
    .landing-explanation {
        color: $preto;
        font-weight: bolder;
    }
    .title {
        font-size: 3rem;
    }
    
}
#second-part {
    .title-merepresenta {
        color: $verde;
    }
}