// variables
$colors_pautas: $roxo, $verde, $amarelo;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-x-large: 1200px;

.navbar {
  .navbar-brand {
    width: 300px;
  }

  .nav-link {
    padding: 10px;
    margin-right: 10px;
  }

  @media screen and (max-width: $break-large) {
    width: auto;
    flex-direction: column;
  }

  .nav {
    @media screen and (max-width: $break-large) {
      padding: 20px 0;
    }
  }
}

.ajude {
  padding: 40px 0 60px 0;

  & h2 {
    color: $preto;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  & p {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 40px;
  }

  & .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & .ajude-img {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  & .ajude-btn {
    .btn {
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

.conheca {
  background-color: #1B9AAA;
  color: #fff;
  padding-bottom: 60px;
  padding-top: 100px;

    iframe {
      height: 100%;
    }

    & h2 {
      color: #fff;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 15px;

      span {
        color: #FFC43D;
      }
    }

    & p {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      margin-bottom: 12px;
    }

    .video {
      display: flex;
      align-items: center;

      @media screen and (max-width: $break-large) {
        margin-bottom: 40px;
      }

      & iframe {
        @media screen and (max-width: $break-large) {
          width: 100%;
          height: 280px;
        }
      }
    }
}

.pautas {
  margin-top: 80px;

  & h2 {
    color: #39393A;
    font-size: 44px;
    font-weight: bold;

    span {
      color: #EF476F;
    }
  }

  .pautas-title {
    margin-bottom: 40px;
    padding-top: 80px;
    text-align: left;
  }

  .item-amarelo {
    background-color:#FFC43D;

    & a {
      color: #EF476F;
    }
  }

  .item-rosa {
    background-color:#EF476F;

    & a {
      color: #FFC43D;
    }
  }

  .item-azul {
    background-color: #1B9AAA;

    & a {
      color: #FFC43D;
    }
  }

  .pauta {
    height: 100%;
    margin: 0;
    padding: 20px 30px;
    width: 100%;
    
    // Grid animation

    & * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in;
    }

    & .pauta-item {
      align-items: center;
      display: flex;
      font-weight: bolder;
      height: 100%;
      justify-content: center;
      line-height: 40px;
      margin: 0;
      text-align: center;
      width: 100%;
    }

    & img {
      position: relative;
      max-width: 100%;
      height: 100%;
      vertical-align: top;
    }

    & .pauta-caption {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      opacity: 0;
      padding: 20px 30px;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    & .pauta-caption:before {
      right: 0;
      top: 0;
    }

    & .pauta-caption:after {
      left: 0;
      bottom: 0;
    }

    & a {
      font-weight: normal;
      text-decoration: underline;
    }

    & h3 {
      font-weight: bold;
      font-size: 32px;
    }

    & ol {
      padding: 0 0 0 12px;
    }

    & ol,
    a {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      font-weight: normal;
    }

    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      bottom: 0;
      right: 0;
    }

    &:hover img,
    &.hover img {
      opacity: 0.4;
    }

    &:hover .pauta-caption,
    &.hover .pauta-caption {
      opacity: 1;
    }

    &:hover .pauta-caption:before,
    &.hover .pauta-caption:before,
    &:hover .pauta-caption:after,
    &.hover .pauta-caption:after {
      height: 100%;
    }

    &:hover:before,
    &.hover:before,
    &:hover:after,
    &.hover:after {
      width: 100%;
    }

    &:hover:before,
    &.hover:before,
    &:hover:after,
    &.hover:after,
    &:hover .pauta-caption:before,
    &.hover .pauta-caption:before,
    &:hover .pauta-caption:after,
    &.hover .pauta-caption:after {
      opacity: 0.1;
    }

    // Grid animation
  }

  .pauta-imagem {
    height: 100%;
    width: 100%;
  }

  .pauta-landing {
      min-height: 350px;
      font-weight: bolder;
      font-size: 2em;
      color: $white;
      padding: 0;
  }
}

.voluntaria {
  padding-top: 60px;
  padding-bottom: 80px;

  .faca-parte {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h2,
      span{
        font-size: 48px;
        font-weight: bold;
    }

    & h2 {
      padding-bottom: 25px;
    }

    & span {
      color: #1B9AAA;
    }

    .col-lg-6:last-child{
      display: flex;
      justify-content: end;
    }
  }
}

.apoiam {
  margin-top: 100px;

  & h2 {
    font-size: 44px;
    font-weight: bold;

    span {
      color: #EF476F;
    }
  }

  & h3 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
  }

  & .titulo-azul {
    color: #198492;
  }

  .apoiam-img {
    display: flex;
    justify-content: center;

    & img {
      width: 165px;
    }
  }

  .last-child img {
    width: 100%;
  }
}

.footer {
  background-color: #4F4F4F;
  padding: 50px 0 0 0;

  & h4 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  & ul {
    font-size: 14px;
  }

  & li {
    margin-bottom: 5px;
  }

  .mapa-container {
    padding-bottom: 40px;
  }

  .links {
    background-color: #2F2F2F;
    padding: 15px 0;

    .links-container {
      align-items: center;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $break-large) {
        flex-direction: column;
      }

      .direitos-reservados {
        align-items: center;
        display: flex;

        & .fab {
          color: white;
          margin-left: 20px;
        }

        & p {
          color: #fff;
          font-size: 12px;
          margin: 0;
        }
      }

      .nav-links {
        ul {
          display: flex;
          margin: 0;
        }

        li {
          padding: 0 20px 0 0;
        }
      }
    }
  }
}

.margin-bottom {
  margin-bottom: 100px;
}

.bottom {
  margin: 40px 0;
}
