@import '../variables';

@media screen and (max-width: $break-large) {
  h1,
  h1 > span {
    text-align: center;
    font-size: 28px !important;
  }

  h2,
  h2 > span {
    text-align: center;
    font-size: 24px !important;
  }

  h3 {
    text-align: center;
    font-size: 20px !important;
  }

  p {
    text-align: center;
    font-size: 18px !important;
  }
}

.navbar {

  .navbar-collapse {
    justify-content: end;
  }
  .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);

    & span {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }

  .nav-item {
    color: $preto;
    &:hover {
      color: #39393A;
    }
  }

  .dropdown {
    .dropdown-toggle {
      color: #EF476F;

      &:hover {
        color: #ec2453;
      }
    }
  }

  .navbar-nav {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: end;

    li:last-child {
      margin-left: 40px;
    }
  }

  @media screen and (max-width: $break-large) {
    padding: 10px 10px;
    position: fixed;
    background-color: #ededed;
    z-index: 111111;
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    margin: 0 !important;
    max-width: 100%;

    li:last-child {
      margin-left: 0 !important;
    }
  }

  .navbar-brand {
    width: 300px;

    img {
      width: 100%
    }
  }
  
  @media screen and (max-width: $break-large) {
    .navbar-brand {
      width: 100%;
      margin-right: 0;
      height: 65px;
      flex: 1;
      display: flex;
      justify-content: center;
    }

    @media screen and (max-width: $break-small) {
      .navbar-brand{
        padding-right: 25px;
      }
    }
  }

  .nav-link {
    padding: 10px;
    margin-right: 10px;
  }

  @media screen and (max-width: $break-large) {
    width: auto;
  }

  .nav {
    @media screen and (max-width: $break-large) {
      padding: 20px 0;
    }
  }

  @media screen and (max-width: $break-large) {
    .mobile {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .button {
      display: none;
    }
  }

  .nav-mobile {
    display: none;
  }

  // Navbar mobile

  @media screen and (max-width: $break-large) {
    .nav {
      display: none;
    }

    .nav-mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      flex: 1;
      height: 65px;
      justify-content: center;
    }
    
    .fas,
    .fa-bars { 
      background-color: #EF476F;
      color: white;
      font-size: 30px;
      padding: 10px;
      cursor: pointer;
      border-radius: 0.25rem;
    }
    
    .nav-content {
      display: none;
      padding: 0;
      opacity: 0;
      list-style: none;
      background: $roxo;
      width: 100%;
      visibility: hidden;
      transition: opacity 1s, visibility 1s ease-in;
      position: absolute;
      z-index: 1;
      top: 68px;
      
      li {
        padding: 1em;
        display: block;
        
        a {
          text-decoration: none;
          color: #FFFFFF;
        }
      }
    }
    
    .active {
      display: block;
      opacity: 100;
      visibility: visible;
    }
  }
}

.ajude {
  padding: 40px 0 60px 0;

  & h2 {
    color: $preto;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  & p {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 40px;
  }

  & .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & .ajude-img {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  & .ajude-btn {
    .btn {
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

.conheca {
  background-color: #1B9AAA;
  color: #fff;
  padding-bottom: 60px;
  padding-top: 100px;

    iframe {
      height: 100%;
    }

    & h2 {
      color: #fff;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 15px;

      span {
        color: #FFC43D;
      }
    }

    & p {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      margin-bottom: 12px;
    }

    .video {
      display: flex;
      align-items: center;

      @media screen and (max-width: $break-large) {
        margin-bottom: 40px;
      }

      & iframe {
        @media screen and (max-width: $break-large) {
          width: 100%;
          height: 280px;
        }
      }
    }
}

.pautas {
  margin-top: 80px;

  & h2 {
    color: #39393A;
    font-size: 44px;
    font-weight: bold;

    span {
      color: #EF476F;
    }
  }

  .pautas-title {
    margin-bottom: 40px;
    padding-top: 80px;
    text-align: left;
  }

  .item-amarelo {
    background-color:#FFC43D;

    & a {
      color: #EF476F;
    }
  }

  .item-rosa {
    background-color:#EF476F;

    & a {
      color: #FFC43D;
    }
  }

  .item-azul {
    background-color: #1B9AAA;

    & a {
      color: #FFC43D;
    }
  }

  .pauta {
    height: 100%;
    margin: 0;
    padding: 20px 30px;
    width: 100%;
    
    // Grid animation

    & * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in;
    }

    & .pauta-item {
      align-items: center;
      display: flex;
      font-weight: bolder;
      height: 100%;
      justify-content: center;
      line-height: 40px;
      margin: 0;
      text-align: center;
      width: 100%;
    }

    & img {
      position: relative;
      max-width: 100%;
      height: 100%;
      vertical-align: top;
    }

    & .pauta-caption {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      opacity: 0;
      padding: 20px 30px;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    & .pauta-caption:before {
      right: 0;
      top: 0;
    }

    & .pauta-caption:after {
      left: 0;
      bottom: 0;
    }

    & a {
      font-weight: normal;
      text-decoration: underline;
    }

    & h3 {
      font-weight: bold;
      font-size: 32px;
      color: #fff;
    }

    & ol {
      padding: 0 0 0 12px;
    }

    & ol,
    a {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      font-weight: normal;
    }

    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      bottom: 0;
      right: 0;
    }

    &:hover img,
    &.hover img {
      opacity: 0.4;
    }

    &:hover .pauta-caption,
    &.hover .pauta-caption {
      opacity: 1;
    }

    &:hover .pauta-caption:before,
    &.hover .pauta-caption:before,
    &:hover .pauta-caption:after,
    &.hover .pauta-caption:after {
      height: 100%;
    }

    &:hover:before,
    &.hover:before,
    &:hover:after,
    &.hover:after {
      width: 100%;
    }

    &:hover:before,
    &.hover:before,
    &:hover:after,
    &.hover:after,
    &:hover .pauta-caption:before,
    &.hover .pauta-caption:before,
    &:hover .pauta-caption:after,
    &.hover .pauta-caption:after {
      opacity: 0.1;
    }

    // Grid animation
  }

  .pauta-imagem {
    height: 100%;
    width: 100%;
  }

  .pauta-landing {
      min-height: 350px;
      font-weight: bolder;
      font-size: 2em;
      color: $white;
      padding: 0;
  }
}

.voluntaria {
  padding-top: 60px;
  padding-bottom: 80px;

  .faca-parte {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h2,
      span{
        font-size: 48px;
        font-weight: bold;

      @media screen and (max-width: $break-large) {
        font-size: 38px;
        text-align: center;
      }
    }

    & h2 {
      padding-bottom: 25px;
    }

    & span {
      color: #1B9AAA;
    }

    .col-lg-12:last-child{
      display: flex;
      justify-content: end;
    }

    .btn {
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

.apoiam {
  margin-top: 100px;

  & h2 {
    font-size: 44px;
    font-weight: bold;

    span {
      color: #EF476F;
    }
  }

  & h3 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
  }

  & .titulo-azul {
    color: #198492;
  }

  .apoiam-img {
    display: flex;
    justify-content: center;

    & img {
      width: 165px;
    }
  }

  .last-child img {
    width: 100%;
  }
}

.footer {
  background-color: #4F4F4F;
  padding: 50px 0 0 0;

  & h4 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  & ul {
    font-size: 14px;
  }

  & li {
    margin-bottom: 5px;
  }

  .mapa-container {
    padding-bottom: 40px;
  }

  .links {
    background-color: #2F2F2F;
    padding: 15px 0;

    .links-container {
      align-items: center;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $break-large) {
        flex-direction: column-reverse;
      }

      .direitos-reservados {
        align-items: center;
        display: flex;
        margin: 30px 0;

        & .fab {
          color: white;
          margin-left: 20px;
        }

        & p {
          color: #fff;
          font-size: 12px;
          margin: 0;
        }
      }

      .nav-links {
        ul {
          display: flex;
          margin: 0;
        }

        li {
          padding: 0 20px 0 0;
        }
      }
    }
  }
}

.margin-bottom {
  margin-bottom: 100px;
}

.bottom {
  margin: 40px 0;
}

@media screen and (max-width: $break-large) {
  .altec {
    max-width: 250px;
  }
}
