
#first-part {
    margin-top: 3em;
    margin-bottom: 1em;
    .landing-explanation {
        color: $preto;
        font-weight: bolder;
    }
    .title {
        font-size: 2.5em;
    }
    .title-container {
        padding-top: 6em;
    }
    
}
#second-part {
    margin-top: 3em;
    .landing-explanation {
        margin-bottom: 2em;
    }
    p {

    }
    .title-merepresenta {
        color: $verde;
        margin-bottom: 1em;
        font-weight: bolder;
    }
    .title {
        font-weight: bolder;
    }
    .explanation {
        background-color: $verde;
        color: $branco;
        padding: 3em 0em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
.nav-link {
    font-weight: bold;
    margin-right: 1em;
}
$colors_pautas: $roxo, $verde, $amarelo;

#pautas-container {
    margin-top: 5em;
    h2 {
        margin-bottom: 2em;
        .title-pautas {
            font-weight: bolder;
            color: $roxo;
        }
    }
    .pauta-landing {
        min-height: 350px;
        font-weight: bolder;
        font-size: 2em;
        color: $white;
    }


    @for $i from 1 through length($colors_pautas) {
        .pauta-landing:not(.pauta-com-imagem):nth-child(#{length($colors_pautas)}n+#{$i}) {
            // background-color: nth($colors_pautas, random(length($colors_pautas))) this is just toooooo random and sometimes 
            // we end up with the same color which is not nice
            background-color: nth($colors_pautas, $i)
        }
    }
}

.last-part {
    margin-top: 5em;
    .faca-parte {
        color: $verde;
        font-weight: bolder;

        padding-bottom: 2em;
    }
    .explanation {

    }
}
.logotipo {
    padding: 1.6em;
    
}