.candidate-profile {
  h1 {
    color: #39393A;
    font-size: 44px;
    font-weight: bold;
  }

  h2 {
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    margin-bottom: 40px;
  }

  h3 {
    color: #39393A;
    font-family: 'Open-Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  h4 {
    font-family: 'Lato',sans-serif;
    font-weight: bold;
  }

  img {
    height: 100%;
    width: 100%;
  }

  .alerta {
    margin-bottom: 90px;

    .alerta-content {
      background-color: #FFC43D;
      color: #4F4F4F;
      font-size: 18px;
    }
  }

  .desc_candidato {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    max-width: 500px;
    text-align: left;

    .item {
      align-items: end;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;

      label {
        color: #818181;
        margin: 0;
        max-width: 200px;
      }

      p {
        color: #393939;
        margin: 0;
        min-width: 200px;
      }
    }
  }

  .col-lg-12 {
    margin-bottom: 80px;
  }

  .tema-prioritario {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
  }

  .resposta-candidato {
    font-size: 24px;
  }
}
