@import '../variables';

.candidate-profile {
  margin-bottom: 50px;

  h1 {
    color: #39393A;
    font-size: 44px;
    font-weight: bold;
  }

  h2 {
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    margin-bottom: 40px;
  }

  h3 {
    color: #39393A;
    font-family: 'Open-Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  h4 {
    font-family: 'Lato',sans-serif;
    font-weight: bold;
  }

  img {
    width: 350px;
    max-height: 350px;

    @media screen and (max-width: $break-large) {
      width: 100%;
      max-height: 100%;
      margin-bottom: 40px;
    }
  }

  .grid {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    max-width: 500px;

    @media screen and (max-width: $break-large) {
      margin: 0 auto;
    }

    .item {
      display: flex;
      justify-content: space-between;
    }

    .coligacao {
      border: solid 1px #FFC43D;
      border-radius: 5px;
      p {
        background-color: #FFC43D;
      }
    }

    p, label {
      width: 215px;
      margin: 0;
      padding: 10px;
    }

    p{
      font-weight: bold;
    }
  }

  .alerta {
    margin-bottom: 90px;

    .alerta-content {
      background-color: #FFC43D;
      color: #4F4F4F;
      font-size: 18px;
    }
  }

  .desc_candidato {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    max-width: 500px;
    text-align: left;

    .item {
      align-items: end;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;

      label {
        color: #818181;
        margin: 0;
        max-width: 200px;
      }

      p {
        color: #393939;
        margin: 0;
        min-width: 200px;
      }
    }
  }

  .col-lg-12 {
    margin-bottom: 80px;
  }

  .tema-prioritario {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
  }

  .resposta-candidato {
    font-size: 24px;
  }
}

.resposta-candidato {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  @media screen and (max-width: $break-large) {
    justify-content: center;
  }

  i {
    margin-left: 5px;
  }
}

.pautas-container {
  .col-lg-12 {
    margin: 30px 0;
    @media screen and (max-width: $break-large) {
      &:first-child {
        margin: 0;
      }
    }
  }

  .sobre {
    @media screen and (max-width: $break-large) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;

      .btn {
        margin-bottom: 50px;
      }
    }
  }

  h3, 
  .topic-candidato {
    font-weight: bold;
    color: #39393A;
    font-size: 24px;
  }

  .temas {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    font-size: 24px;
    color: #303030;
    flex-wrap: wrap;
    justify-content: space-between;

    & > div {
      background-color: #FFC43D;
      border-radius: 5px;
      margin: 15px 5px;
      min-width: 100px;
      padding: 0 10px;
    }
  }

  .bio-text {
    margin-top: 20px;
  }

}

.complete-profile {
  margin-top: 40px;

  img {
    border-radius: 20px;
    width: 100%;
  }

  h1 {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 40px;
  }

  h4 {
    font-weight: bold;
    font-size: 16px;
    color: #39393A;
    margin: 20px 0;
  }

  ul {
    color: #646463;
    font-size: 16px;
    font-family: 'Lato', sans-serif;

    li:first-of-type {
      margin: 0;
    }
  }

  .input {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 30px;

    label {
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      margin: 0;
    }

    input {
      margin-right: 10px;
    }

  }

  #id_email {
    max-width: 450px;
  }

  #id_gender {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
  }

  #lgbt_desc {
    display: flex;
    justify-content: space-between;
  }

  #id_races {
    display: flex;
    justify-content: space-between;
  }

  .question label {
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: 18px;
    margin: 20px 0;
  }

  .pautas {
    h2,
    p {
      font-size: 18px;
    }

    p {
      margin-top: 0;
    }

    h2 {
      margin-bottom: 10px;
    }
  }
}

.coligacoes-explicacao {
  border: #FFC43D solid 5px;
  width: 100%;

  h3 {
    color: #EF476F;
    font-weight: bold;
    margin-bottom: 20px;
  }

  li {
    display: inline-flex;
    flex: 28%;
    justify-content: center;
    padding: 10px 5px;
    margin: 10px;
    min-width: 20px;
  }
}
