.voluntario-form{
  margin-top: 80px;

  h1 {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: lighter;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  span {
    color: #1B9AAA;
    font-weight: bold;
  }

  .voluntario-continuar {
    display: flex;
    flex-direction: column;

    .btn {
      max-width: 500px;
      margin: 0 auto;
    }

    .link {
      color: #1B9AAA;
      font-size: 12px;
      margin: 15px auto 100px auto;
      max-width: 500px;
    }
  }
}

.voluntarios-inativo {
  margin-top: 80px;

  img {
    width: 100%;
  }

  h1 {
    color: #4F4F4F;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;

    span {
      color: #1B9AAA;
      font-weight: bold;
    }
  }

  h2, h3 {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
  }
  
  h3 {
    font-weight: bold;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: 24px;

    span {
      color: #1B9AAA;
    }
  }
  .mc-field-group {
    margin-bottom: 20px;
  }
}
