@import '../variables';

.voluntario-form{
  margin-top: 80px;

  h1 {
    color: #4F4F4F;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  span {
    color: #1B9AAA;
  }

  .voluntario-continuar {
    display: flex;
    flex-direction: column;

    .btn {
      max-width: 500px;
      margin: 0 auto;
    }

    .link {
      color: #1B9AAA;
      font-size: 12px;
      margin: 15px auto 100px auto;
      max-width: 500px;
    }
  }
}

.voluntarios-inativo {
  margin-top: 80px;

  img {
    width: 100%;
  }

  h1 {
    color: #4F4F4F;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;

    span {
      color: #1B9AAA;
      font-weight: bold;
    }
  }

  h2, h3 {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
  }
  
  h3 {
    font-weight: bold;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: 24px;

    span {
      color: #1B9AAA;
    }
  }
  .mc-field-group {
    margin-bottom: 20px;
  }
}

.voluntario-login {
  margin-top: 80px;

  img {
    width: 100%;
  }

  span {
    font-weight: bold;
  }

  h1 {
    color: #4F4F4F;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;

    span {
      color: #1B9AAA;
      font-weight: bold;
    }
  }

  h2 {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
  }

  .small-link {
    color: #1B9AAA;
    font-size: 12px;
    margin-bottom: 40px;
    max-width: 500px;
  }

  .preciso-fazer {
    h2 {
      color: $roxo;
      font-size: 48px;
      font-weight: bold;
    }
    p {
      font-size: 20px;
    }
  }
}

.boas-vindas {
  .text {
    h1 {
      color: #000000;
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 30px;
    }

    h2, p {
      font-size: 24px;
    }
  }

  h3 {
    font-weight: bold;
    margin-bottom: 40px;
  }

  .field {
    button {
      margin-left: 10px;
    }

    form {
      display: flex;
      align-items: center;

      .form-group {
        display: flex;
        margin: 0;
        align-items: center;

        label {
          font-weight: bold;
          min-width: 170px;
          margin: 0;
        }
      }
    }
  }

  table {
    border: 1px solid #ddd;
  }

  thead {
    font-size: 18px;
    color: #646463;
    font-family: 'Lato', sans-serif;
  }

  tbody {
    font-family: 'Lato', sans-serif;
    color: #4F4F4F;
    font-size: 20px;
  }

  @media screen and (max-width: $break-large) {
    table {
      border: 0;

      .btn {
        width: 100%;
      }
    }
    table caption {
      font-size: 1.3em;
    }
    table thead {
      display: none;
    }
    table tr {
      border-radius: 5px;
      border: 1px solid #ddd;
      display: block;
      margin-bottom: 4em;
    }
    table td {
      display: block;
      font-size: .8em;
      text-align: right;
      border-top: 0;

      &:not(:first-of-type) {
        border: 0 !important;
      }
    }
    table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    table td:last-child {
      border-bottom: 0;
    }
  }

  @media screen and (max-width: $break-large) {
    .pesquisar {
      form {
        flex-direction: column;
  
        .form-group {
          flex-direction: column;
          margin-bottom: 10px !important;
  
        label {
          margin-bottom: 10px !important;
        }
        }
      }
    }
  }
}

.voluntarios-analise {
  h1 {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 22px;

    span {
      font-weight: bold;
    }
  }

  .grid {
    background-color: #F9F9F9;
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    padding: 15px 0;
    border-radius: 5px;

    table {
      width: 100%;
    }
    th,
    td {
      padding: 0 20px;
    }

    th {
      font-size: 18px;
      color: #4F4F4F;
    }

    td {
      font-size: 22px;
    }
  }
}

.voluntarios-analise-card {
  border: solid 1px #B0B0B0;
  padding: 40px 0;
  border-radius: 5px;

  @media screen and (max-width: $break-small) {
    margin: 0 5px;
  }

  @media screen and (max-width: $break-large) {
    .btn,
    .button {
      width: 100%;
      margin-bottom: 10px;
      margin-right: 0 !important;
      margin-left: 0 !important;
      margin-top: 0 !important;
    }
  }

  h3 {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
  }

  li {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
  }

  .buscar {
    margin-bottom: 40px;
  }

  .encontrei-1 {
    display: none;

    p {
      font-size: 20px;
    }
  }

  #encontrei-1 {
    textarea {
      margin-bottom: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
    }

    .btn {
      width: 100%;
      color: #fff;
    }
  }

  .nao-encontrei-1 {
    display: none;
  }

  .etapa-concluida,
  .etapa-nao-concluida {
    p {
      font-size: 20px;
    }
  }

  .fa-check-circle {
    color: #6DB044;
  }

  .options {
    display: flex;
    flex-wrap: wrap;

    a:first-of-type {
      margin-right: 20px;
    }
  }

  .mc-field-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    label {
      margin: 0;
      min-width: 70px;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
