{% extends "backend_citizen/base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load bootstrap3 %}

{% block main_content %}

	<h2 class="page-header">{{object.title}}</h2>

	<p class="alert alert-warning button-org">
		{% url 'organization_profiles:home' slug=user.username as org_profile_url %}
		{% blocktrans with org_profile_url=org_profile_url %}
		Revisa tu página de perfil <a href="{{org_profile_url}}" target="_blank">acá</a>	
		{% endblocktrans %}
		</p>

	<form enctype="multipart/form-data" action="{% url 'organization_profiles:update_extrapage' pk=object.pk %}" method="POST" role="form">
	    {% csrf_token %}
        {% bootstrap_form form %}
	    <div class="form-actions">
	        <button type="submit" class="btn btn-success">{% trans 'Actualizar'%}</button>
	    </div>
	</form>
{% endblock main_content %}
