{% extends "base_voluntarios.html" %}
{% load staticfiles %}
{% load i18n %}
{% load votainteligente_extras %}
{% load el_pagination_tags %}
{% load bootstrap4 %}

{% block title %}- Voluntarios{% endblock title %}

{% block content %}

<div class="row boas-vindas">
  <div class="col-lg-10">
    <div class="text">
      <h1>Bem–vinda, voluntária!</h1>
      <h2>
        Aqui você encontra uma lista de candidatas/os que precisamos stalkear até 
        o fim! Vem com a gente! Se você ainda tiver dúvidas, 
       <a href="https://wa.me/+5511968431613">
          Precisa de ajuda? Manda um zap! <i class="fab fa-whatsapp"></i> +55(11)96843-1613
        </a>
      </h2>
      <p>Para começar, escolha o estado e clique em pesquisar.</p>

    </div>

    <div class="field">
      <div class="bottom">
        <form method="POST" action="{% url 'update_area_of_volunteer' %}">
          {% csrf_token %}
            {% bootstrap_form update_area_form %}
          <button type="submit" class="btn btn-azul float-right">Pesquisar</button>
        </form>
      </div>
    </div>
  </div>
  <div class='col-lg-1'>
    
  </div>

  <div class="col-lg-12">
    <h3 class="bottom">Candidaturas encontradas</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Nº de Urna</th>
          <th scope="col">Candidatura</th>
          <th scope="col">Partido</th>
          <th scope="col">Estado</th>
          <th scope="col"></th>

        </tr>
      </thead>
      {% paginate 100 candidates %}
      <tbody>
        
        {% for candidate in candidates %}
          {% if not candidate.volunteerincandidate_set.exists %}
          <tr>
            <td>{{candidate.name}}</td>
            <td>{{candidate.numero}}</td>
            <td>{{candidate.election}}</td>
            <td>{{candidate.partido.initials}}</td>
            <td>{{candidate.election.area}}</td>
            <td><a class="btn btn-azul" href="{% url 'add_mail_to_candidate' id=candidate.id %}">Analisar</a></td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% show_pages %}
  </div>

</div>
{% endblock content %}
