{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}- Portada{% endblock title %}

{% block content %}

<section class="row voluntario-form">
  <div class="col-md-8 offset-md-2">
    <h1 class="text-center">
      Bem vinda/o ao
      <span>Portal de voluntárias</span>
    </h1>
    <h2 class="text-center">
      #Ajudaluciano<br>
      O #MeRepresenta quer encontrar as candidaturas 
      mais parecidas com a você. Seja um/a voluntária/o!
    </h2>
    
    <div class="voluntario-continuar">
      <a class="btn btn-azul btn-block" 
        href="{% url 'voluntarios_social_begin' 'facebook' %}?next={% url 'volunteer_index' %}">
        <i class="fab fa-facebook"></i> 
        Seja uma voluntária/o
      </a>

      <a class="link" href="#">Saiba como funciona</a>
    </div>
  </div>
</section>

{% endblock content %}
