{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}- Portada{% endblock title %}

{% block content %}

<section class="row voluntario-login">
  <div class="col-lg-6 margin-bottom">
    <h1>
      Bem vinda/o ao
      <span>Portal de voluntárias/os</span>
    </h1>
    <h2>
      O <span>#MeRepresenta</span> quer encontrar as candidaturas 
      mais parecidas com a você. Seja um/a voluntária/o! 
    
    </h2>

    <a class="btn btn-azul btn-block" 
    href="{% url 'voluntarios_social_begin' 'facebook' %}?next={% url 'volunteer_index' %}">
      Conectar com o Facebook e continuar
    </a>

    <a class="small-link" href="#">
      Por que Facebook?<i class="fas fa-info-circle" 
          data-toggle="tooltip" 
          data-placement="right" 
          title="Uma parte importante do trabalho são as mensagens de Facebook para candidaturas. 
        Você receberá um email cada vez que um/a candidata/o que você pesquisou entrar na plataforma :)"></i>
    </a>
  <div
            <h3>Termos de uso</h3>
              <ul class="list-unstyled">
                <li>
                  <i class="fas fa-check"></i>
                  Não damos nem vendemos seus dados pessoais pra ninguém
                </li>
                <li>
                  <i class="fas fa-check"></i>
                  Só entramos em contato com você pra falar da plataforma
                </li>
                <li>
                  <i class="fas fa-check"></i>
                  Não fazemos campanha eleitoral pra ninguém
                </li>
                <li>
                  <i class="fas fa-check"></i>
                  Sua privacidade está protegida aqui
                </li>
                <li>
                  <i class="fas fa-check"></i>
                  Esse é um trampo de boa vontade, seja legal com todas/os
                </li>
             
              </ul>
  </div>
</div>
  
  <div class="col-lg-6 margin-bottom">
      <img src="{% static 'img/Ilustra_azul.png' %}" alt="Ilustração com voluntárias">
  </div>

  <div class="col-md-8 offset-md-2 preciso-fazer margin-bottom">
    <h2 class="text-center bottom">
      Mas, o que eu preciso fazer?
    </h2>
    <p class="text-center">
      Pela lei, todos os partidos deveriam fornecer os contatos de cada 
      candidatura para o TSE. Esse e-mail seria público, assim como todos os 
      dados que estão na tabela oficial que a gente já usa. 
      Maas… não é bem assim que acontece! 
    </p>
    <p class="text-center">
      Muitos dos emails dessa tabela são do advogado do partido ou não são 
      válidos. Ou seja, nunca chega na candidata/o! Olha só pro tipo de email 
      que a gente encontra: 
      email@email.com.br. Pode isso, TSE?
    </p>
    <p class="text-center">
      Mas e aí, como faz pra falar com esses seres, então?
    </p>
    <p class="text-center">
      É aí que você entra!
    </p>
  </div>
</section>

{% endblock content %}
