{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}- Portada{% endblock title %}

{% block content %}
<div class="container text-center">
  <h1>Obrigada!</h1>
  <img class="bottom" src="{% static 'img/Ilustra_Galera_Azul.png' %}" style="width:100%;" alt="Ilustração com voluntárias">
  <h2>Agradecemos a sua contribuição! Que tal analisar mais um/a candidato/a?</h2>
  <div>
      <a class="btn btn-roxo bottom" href="{% url 'volunteer_index' %}">
        Continuar
      </a>
  </div>
</div>
{% endblock content %}
