{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}- Portada{% endblock title %}

{% block content %}

<section class="row voluntarios-inativo margin-bottom">
  <div class="col-lg-6">
    <h1>
      Bem-vinda/o ao
      <span>Portal de voluntárias</span>
    </h1>
    <h2>
        Daqui a poucos dias começamos a mapear juntos todas as candidaturas 
        do Brasil. Passa seu email para gente te chamar!
    </h2>
    
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" class="bottom">
      <form action="https://merepresenta.us18.list-manage.com/subscribe/post?u=35786ffc33e0f1caacdd9e3e6&amp;id=0a9fe651b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll" class="form-group">
          <div class="mc-field-group">
            <label for="mce-MMERGE1">Estado:  <span class="asterisk">*</span>
            </label>
            <select name="MMERGE1" class="required form-control" id="mce-MMERGE1">
              <option value=""></option>
              <option value="AC">AC</option>
              <option value="AL">AL</option>
              <option value="AM">AM</option>
              <option value="AP">AP</option>
              <option value="BA">BA</option>
              <option value="CE">CE</option>
              <option value="DF">DF</option>
              <option value="ES">ES</option>
              <option value="GO">GO</option>
              <option value="MA">MA</option>
              <option value="MG">MG</option>
              <option value="MS">MS</option>
              <option value="MT">MT</option>
              <option value="PA">PA</option>
              <option value="PB">PB</option>
              <option value="PE">PE</option>
              <option value="PI">PI</option>
              <option value="PR">PR</option>
              <option value="RJ">RJ</option>
              <option value="RN">RN</option>
              <option value="RO">RO</option>
              <option value="RR">RR</option>
              <option value="RS">RS</option>
              <option value="SC">SC</option>
              <option value="SE">SE</option>
              <option value="SP">SP</option>
              <option value="TO">TO</option>
            </select>
          </div>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email  <span class="asterisk">*</span></label>
            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_35786ffc33e0f1caacdd9e3e6_0a9fe651b2" tabindex="-1" value=""></div>
            <div class="clear">
              <input type="submit" 
                value="Conta comigo!" 
                name="subscribe" 
                id="mc-embedded-subscribe" 
                class="btn btn-azul">
              </div>
          </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>

  <div class="col-lg-6">
    <img src="{% static 'img/Ilustra_Galera_Azul.png' %}" alt="Ilustração com voluntárias">
  </div>
  
  <div class="col-lg-6">
    <h3>Mapear candidaturas? Como assim?</h3>
    <p>
        Pela lei, todos os partidos deveriam fornecer os contatos de cada 
        candidatura para o TSE. Esse e-mail seria público, assim como todos 
        os dados que estão na tabela oficial que a gente já usa. <span>Maas… não 
        é bem assim que acontece! </span>
    </p>
    <p>
      Muitos dos emails dessa tabela são do escritório do partido ou não são 
      válidos. Ou seja, nunca chega na pessoa! Esse é um exemplo de e-mail que 
      a gente encontra: email@email.com.br. <span>Pode isso, TSE?</span>
    </p>
  </div>

  <div class="col-lg-6">
    <h3>E aí, como faz pra falar com esses seres, então?</h3>
    <p>
        Em 2016 tivemos ajuda de centenas de voluntárias/os em 7 cidades em 
        um esforço de achar os emails certos e chamar as candidaturas pelo 
        Facebook. <span>Funcionou super!</span> Tivemos muito mais candidatas/os 
        inscritas/os nessas cidades. <span>Inbox bombando ;D</span>
    </p>
    <p>
        Pensando em otimizar o esforço coletivo, desenvolvemos para 2018 
        um fluxo só para essa pesquisa. <span>Tá quase pronto! Vamo junto?!</span>
    </p>
  </div>
</section>

{% endblock content %}
