{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}
{% load bootstrap3 %}
{% block title %}- 1/2 Naranja - Paso {{wizard.steps.step1}}{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="content-fluid medianaranja">
  <div class="text-width">
    <div class="row">
        <h1 class="ribbon-medianaranja text-center">
            Media Naranja
        </h1>
    <div class="text-center paso_title">
        Paso <span class="badge">{{wizard.steps.step1}}</span>
    </div>
    </div>
  </div>
{% block questions %}
{% endblock questions %}
</disv>
{% endblock content %}
