{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}
{% load bootstrap3 %}
{% block title %}- 1/2 Naranja - Paso {{wizard.steps.step1}}{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block everything %}
<section class="media-naranja">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <img src="{% static 'img/logo-media-naranja.svg' %}" alt="Media Naranja Política">
      <h2>¿Con quién será tu cita el próximo 19 de noviembre?</h2>
      <p>La Media Naranja es un juego de preguntas para ver tu afinidad con las candidaturas a la presidencia y al parlamento. El contenido se basa en la información de los programas de gobierno de la candidaturas presidenciales y en los compromisos ciudadanos hechos en Vota Inteligente por quienes quieren tu voto.</p>
    </div>
    <div class="col-md-4 mano">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 naranja-form">
      <div class="text-center paso_title">
        {% block paso %}
        <h1>Paso <span class="badge">{{wizard.steps.step1}}</span></h1>
        {% endblock paso %}
      </div>
      {% block questions %}
      {% endblock questions %}
    </div>
  </div>
</div>
</section>
{% endblock everything %}
