{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}
{% load bootstrap3 %}
{% block title %}- {% blocktrans with step_number=wizard.steps.step1 %}
1/2 Naranja - Paso {{step_number}}
{% endblocktrans %}{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="container">
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ wizard.form.media }}
  {{ wizard.management_form }}
  {% bootstrap_form wizard.form%}

  {% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="btn btn-default" onclick="ga('send','event','primer-paso-{{wizard.steps.step1}}-media-naranja','click')">{% trans "first step" %}</button>
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-default" onclick="ga('send','event','anterior-paso-{{wizard.steps.step1}}-media-naranja','click')">{% trans "prev step" %}</button>
  {% endif %}
  <input type="submit" name="submit" value="{% trans "Paso Siguiente" %}" class="btn btn-default" onclick="ga('send','event','siguiente-paso-{{wizard.steps.step1}}-media-naranja','click')" />
  </form>
</div>
<script type="text/javascript">
$(function(){
   $("select").chosen({no_results_text: "Oh! no pillamos eso!"});
});
</script>
{% endblock content %}
