{% extends "medianaranja2/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}
{% load bootstrap3 %}

{% block questions %}
    <p>{% trans "Para poder decirte con qué candidatura eres más compatible, necesitamos conocer un poco de ti." %}</p>
    <p>{% trans "Los temas elegidos en este paso corresponden a los que los candidatos muestran posiciones claras en sus programas presidenciales o en declaraciones públicas por parte de ellos." %}</p>
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ wizard.form.media }}
  {{ wizard.management_form }}
  {% if wizard.form.area %}
    {% bootstrap_field wizard.form.area%}
  {% endif %}
  {% if wizard.form.categories %}
    {% bootstrap_field wizard.form.categories%}
  {% endif %}

  <button type="submit" name="submit" value="{% trans "Paso Siguiente" %}" class="btn btn-success pull-right" onclick="ga('send','event','siguiente-paso-{{wizard.steps.step1}}-media-naranja','click')">{% trans "Paso Siguiente" %}</button>

  </form>

<script type="text/javascript">
$(function(){
   $("select").chosen({no_results_text: "Oh! no pillamos eso!"});
});
</script>
{% endblock questions %}
