{% extends "medianaranja2/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}
{% load bootstrap3 %}

{% block questions %}
  <p>Acá puedes encontrar algunas de las propuestas formuladas dentro de la plataforma, con este último ingrediente seremos más certeros en la recomendación de tu 1/2 naranja.</p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ wizard.form.media }}
    {{ wizard.management_form }}
    <label>Si fueras presidenta, presidente o congresista, ¿Cuáles serían tus primeras {{config.MEDIA_NARANJA_MAX_SELECT_PROPOSALS}} medidas o prioridades?</label>

    {% for choice_id, choice_label in wizard.form.proposals.field.choices %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{choice_id}}</h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
        {% for k,v in choice_label %}
        <li>
          <label for="id_{{wizard.steps.current}}-proposals_{{k}}">
            <input class="proposal_option" id="id_{{wizard.steps.current}}-proposals_{{k}}" name="{{wizard.steps.current}}-{{wizard.form.proposals.name}}" title="" type="checkbox" value="{{k}}" /> {{v}}
          </label>
        </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}


    {% if wizard.steps.prev %}
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-default pull-left" onclick="ga('send','event','anterior-paso-{{wizard.steps.step1}}-media-naranja','click')">{% trans "prev step" %}</button>
    {% endif %}
    <input type="submit" name="submit" value="{% trans "Paso Siguiente" %}" class="btn btn-success pull-right" onclick="ga('send','event','siguiente-paso-{{wizard.steps.step1}}-media-naranja','click')" />
  </form>
  <script type="text/javascript">
  $(function(){

    $("input[type=checkbox][name={{wizard.steps.current}}-{{wizard.form.proposals.name}}]").click(function() {

        var bol = $("input[type=checkbox][name={{wizard.steps.current}}-{{wizard.form.proposals.name}}]:checked").length >= {{config.MEDIA_NARANJA_MAX_SELECT_PROPOSALS}};
        $("input[type=checkbox][name={{wizard.steps.current}}-{{wizard.form.proposals.name}}]").not(":checked").attr("disabled",bol);

    });
  });

  </script>
{% endblock questions %}
