{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}
{% load bootstrap3 %}
{% block title %}- 1/2 Naranja - Resultado{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="content">
  <h1 class="ribbon-medianaranja text-center">Media Naranja</h1>
  <h2 class="page-header text-center">Resultado</h2>

  <p>Además de entregarte quién es el candidato que más te representa, tenemos algunas organizaciones que quizás puedan ser de tu interés.</p>

  {% if organizations.all %}
  <div>
    <h3>Organizaciones</h3>
    <ul class="list-unstyled">
    {% for o in organizations.all %}
      <li>
        {% if o.logo_small %}
          <a href="{{o.get_absolute_url}}"><img src="{{o.logo_small.url}}" alt="{{o.title}}" title="{{o.title}}" class="img-responsive"></img></a>
        {% endif %}
        <ul class="list-unstyled list-inline">
          {% if o.org_url %}
            <li><a href="{{o.org_url}}"><i class="fa fa-globe" aria-label="Website"></i></a></li>
          {% endif %}
          {% if o.facebook %}
            <li><a href="{{o.facebook}}"><i class="fa fa-facebook" aria-label="Facebook"></i></a></li>
          {% endif %}
          {% if o.twitter %}
            <li><a href="{{o.twitter}}"><i class="fa fa-twitter" aria-label="Twitter"></i></a></li>
          {% endif %}
          {% if o.instagram %}
            <li><a href="{{o.instagram}}"><i class="fa fa-instagram" aria-label="Instagram"></i></a></li>
          {% endif %}
          {% if o.rss_url %}
            <li><a href="{{o.rss_url}}"><i class="fa fa-rss" aria-label="RSS"></i></a></li>
          {% endif %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}


  {% for election_result in results %}
  <div>
    <h3>{{election_result.election}}</h3>
    <ul class="list-unstyled">
    {% for candidate_result in election_result.candidates %}
      <li>
        <a href="{{candidate_result.candidate.get_absolute_url}}">
          {% if candidate_result.candidate.image %}
            {% thumbnail candidate_result.candidate.image "100x100" crop="center" as im %}
              <img src="{{ im.url }}" alt="{{candidate_result.candidate.name}}" height="96" width="96" border="0" class="img-circle">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate_result.candidate.name}}" height="96" width="96" border="0" class="img-circle">
          {% endif %}
        </a>
        <p><a href="{{candidate_result.candidate.get_absolute_url}}">{{candidate_result.candidate}}</a></p>
        {% get_personal_data candidate=candidate_result.candidate personal_data='Partido' as partido %}
        {% if partido.value %}
        <p>{{partido.value}}</p>
        {% endif %}
        {% get_personal_data candidate=candidate_result.candidate personal_data='Pacto' as pacto %}
        {% if pacto.value %}
        <p>{{pacto.value}}</p>
        {% endif %}

      </li>
    {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
{% endblock content %}