{% load staticfiles %}
<section class="apoiam">
  <div class="container">
    <div class="col-lg-12 margin-bottom">
      <h2 class="text-center">
        <span>
          Quem
        </span> 
        fez isso possível?
      </h2>
    </div>
    <!-- Gestoras -->
    <div class="row margin-bottom">
      <div class="col-lg-12 bottom">
        <h3 class='text-center titulo-azul'>Gestoras</h3>
      </div>

      <div class="col-lg-3 apoiam-img">
        <a href="http://blogueirasnegras.org" target="_blank">
          <img src="{% static 'img/logos/1.png'%}" 
            alt="Blogueiras Negras">
        </a>
      </div>
      
      <div class="col-lg-3 apoiam-img">
        <a href="https://www.facebook.com/DeFEMde/" target="_blank">
          <img src="{% static 'img/logos/2.png'%}" 
            alt="Rede Feminista de Juristas">
        </a>
      </div>

      <div class="col-lg-3 apoiam-img">
        <a href="https://cidadaniainteligente.org" target="_blank">
          <img src="{% static 'img/logos/3.png'%}" 
            alt="Cidadania Inteligente">
        </a>
      </div>
      
      <div class="col-lg-3 apoiam-img">
        <a href="https://www.votelgbt.org/" target="_blank">
          <img src="{% static 'img/logos/4.png'%}" 
            alt="Vote LGBT">
        </a>
      </div>

    </div>

    <!-- Aceleradoras -->
    <div class="row margin-bottom">
      <div class="col-lg-12 bottom">
        <h3 class="text-center titulo-azul">Aceleradoras</h3>
      </div>

      <div class="col-lg-4 apoiam-img">
        <a href="https://www.nossas.org/" target="_blank">
          <img src="{% static 'img/logos/21.png'%}" 
            alt="Nossas">
        </a>
      </div>

      <div class="col-lg-4 apoiam-img">
        <a href="//www.cfemea.org.br/" target="_blank">
          <img src="{% static 'img/logos/19.png'%}" 
            alt="CFemea">
        </a>
      </div>

      <div class="col-lg-4 apoiam-img">
        <a href="https://agoraequesaoelas.blogfolha.uol.com.br/" target="_blank">
          <img src="{% static 'img/logos/17.png'%}" 
            alt="Agora É Que São Elas">
        </a>
      </div>

    </div>

    <!-- Parcerias -->
    <div class="row bottom">
      <div class="col-lg-12 bottom">
          <h3 class='text-center titulo-azul'>Parceiras</h3>
      </div>

      <div class="col-lg-3 apoiam-img">
        <a href="//www.abglt.org" target="_blank">
          <img src="{% static 'img/logos/05.png'%}" 
            alt="ABGLT">
        </a>
      </div>

      <div class="col-lg-3 apoiam-img">
        <a href="//www.engajamundo.org" target="_blank">
          <img src="{% static 'img/logos/06.png'%}" 
            alt="Engajamundo">
        </a>
      </div>

      <div class="col-lg-3 apoiam-img">
        <a href="//www.institutoupdate.org.br" target="_blank">
          <img src="{% static 'img/logos/07.png'%}" 
            alt="Instituto Update">
        </a>
      </div>

      <div class="col-lg-3 apoiam-img">
        <a href="//www.aliancalgbti.org.br" target="_blank">
          <img src="{% static 'img/logos/08.png'%}" 
            alt="Aliança Nacional LGBTI">
        </a>
      </div> 

    </div>

    <div class="row bottom">

      <div class="col-lg-3 apoiam-img">
        <a href="//www.plataformadh.org.br/" target="_blank">
          <img src="{% static 'img/logos/10.png'%}" 
            alt="Plataforma DH">
        </a>
      </div>

      <div class="col-lg-3 apoiam-img">
        <a href="//redejusticacriminal.org" target="_blank">
          <img src="{% static 'img/logos/11.png'%}" 
            alt="Rede Justiça Criminal">
        </a>
      </div>

      <div class="col-lg-3 apoiam-img">
        <a href="//acaoeducativa.org.br" target="_blank">
          <img src="{% static 'img/logos/12.png'%}" 
            alt="Ação Educativa">
        </a>
      </div>

      <div class="col-lg-3 apoiam-img">
        <a href="//pbpd.org.br" target="_blank">
          <img src="{% static 'img/logos/13.png'%}" 
            alt="Plataforma Brasileira de Política de Drogas">
        </a>
      </div>

    </div>

    <div class="row bottom">
      <div class="col-lg-3 apoiam-img">
          <a href="//www.grupodignidade.org.br" target="_blank">
            <img src="{% static 'img/logos/14.png'%}" 
              alt="Grupo Dignidade">
          </a>
      </div>
  
      <div class="col-lg-3 apoiam-img">
          <a href="https://alana.org.br/" target="_blank">
            <img src="{% static 'img/logos/18.png'%}" 
              alt="Alana">
          </a>
      </div>

      <div class="col-lg-3 apoiam-img">
          <a href="//www.queroprevias.org.br" target="_blank">
            <img src="{% static 'img/logos/09.png'%}" 
              alt="Quero Previas">
          </a>
      </div>
  
      <div class="col-lg-3 apoiam-img">
        <a href="//www.generonumero.media/" target="_blank">
          <img src="{% static 'img/logos/20.png'%}" 
            alt="Gênero e Número">
        </a>
      </div>
    </div>

    <div class="row margin-bottom">

      <div class="col-lg-4 apoiam-img last-child">
        <a href="//direitosvalemmais.org.br/" target="_blank">
          <img src="{% static 'img/logos/15.png'%}" 
            alt="Direitos Valem Mais">
        </a>
      </div>
      <div class="col-lg-4 apoiam-img last-child">
        <a href="http://azmina.com.br/" target="_blank">
          <img src="{% static 'img/logos/22.png'%}" 
            alt="azmina">
        </a>
      </div>
      <div class="col-lg-4 apoiam-img last-child">
          <a href="//intervozes.org.br" target="_blank">
            <img src="{% static 'img/logos/16.png'%}" 
              alt="Intervozes">
          </a>
      </div> 

    </div>

  </div>
</section>
