{% load staticfiles %}
<div class="container last-part">
    <div class="row">
        <div class="col">
            <h2 class='faca-parte text-center'>Nossas gestoras e parcerias</h2>
        </div>
      </div>
      <div class="row">
      <!--comienzo logo 1-->
        <div class="col-3">
          <div class="logotipo ">
            <a href="http://blogueirasnegras.org" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/21.jpg'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        
    <!--fin logo 1-->
        <!--comienzo logo 1-->
        <div class="col-3">
          <div class="logotipo">
            <a href="https://defemde.com.br/" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/22.jpg'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        
    <!--fin logo 1-->
    <!--comienzo logo 1-->
        <div class="col-3">
          <div class="logotipo">
            <a href="https://www.votelgbt.org/" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/23.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        
    <!--fin logo 1-->
    <!--comienzo logo 1-->
        <div class="col-3">
          <div class="logotipo">
            <a href="https://cidadaniainteligente.org" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/24.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
    <!--fin logo 1-->
    </div>

    <div class="row">


        <div class="col-3">
          <div class="logotipo">
            <a href="" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/1.jpg'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="logotipo">
            <a href="" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/2.jpg'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="logotipo">
            <a href="" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/3.jpg'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="logotipo">
            <a href="" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/4.jpg'%}" alt="Card image cap">
            </a>
          </div>
        </div> 

    </div>
    <div class="row">


        <div class="col-3">
          <div class="logotipo">
            <a href="" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/4.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="logotipo">
            <a href="" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/6.JPG'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="logotipo">
            <a href="" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/7.jpg'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="logotipo">
            <a href="" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/8.jpg'%}" alt="Card image cap">
            </a>
          </div>
        </div> 

    </div>
    <div class="row">


        <div class="col-3">
          <div class="logotipo">
            <a href="" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/9.jpg'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="logotipo">
            <a href="" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/10.jpg'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="logotipo">
            <a href="" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/11.jpg'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="logotipo">
            <a href="" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/12.JPG'%}" alt="Card image cap">
            </a>
          </div>
        </div> 

    </div>
</div>