{% load staticfiles %}
<div class="container last-part">
    <div class="row">
        <div class="col">
            <h2 class='faca-parte text-center'>Gestoras</h2>
        </div>
      </div>
      <div class="row">
      <!--comienzo logo 1-->
        <div class="col-3">
          <div class="logotipo ">
            <a href="http://blogueirasnegras.org" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/1.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        
    <!--fin logo 1-->
        <!--comienzo logo 1-->
        <div class="col-3">
          <div class="logotipo">
            <a href="https://defemde.com.br/" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/2.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        
    <!--fin logo 1-->
    <!--comienzo logo 1-->
        <div class="col-3">
          <div class="logotipo">
            <a href="https://www.votelgbt.org/" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/3.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        
    <!--fin logo 1-->
    <!--comienzo logo 1-->
        <div class="col-3">
          <div class="logotipo">
            <a href="https://cidadaniainteligente.org" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/4.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
    <!--fin logo 1-->
    </div>
    <div class="row">
        <div class="col">
            <h2 class='faca-parte text-center'>Parceiras</h2>
        </div>
    </div>
    <div class="row">


        <div class="col-2 offset-md-1">
          <div class="logotipo">
            <a href="//www.abglt.org" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/05.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="logotipo">
            <a href="//www.engajamundo.org" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/06.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="logotipo">
            <a href="//www.institutoupdate.org.br" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/07.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="logotipo">
            <a href="//facebook.com/AliancaNacionalLGBTI" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/08.png'%}" alt="Card image cap">
            </a>
          </div>
        </div> 
        <div class="col-2">
          <div class="logotipo">
            <a href="//www.queroprevias.org.br" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/09.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-md-1">
          <div class="logotipo">
            <a href="//www.plataformadh.org.br/" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/10.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="logotipo">
            <a href="//https://redejusticacriminal.org" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/11.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="logotipo">
            <a href="//acaoeducativa.org.br" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/12.png'%}" alt="Card image cap">
            </a>
          </div>
        </div> 
        <div class="col-2">
          <div class="logotipo">
            <a href="//pbpd.org.br" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/13.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="logotipo">
            <a href="//www.grupodignidade.org.br" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/14.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>

    </div>
    <div class="row">


        
        <div class="col-3 offset-md-3">
          <div class="logotipo">
            <a href="//direitosvalemmais.org.br/" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/15.png'%}" alt="Card image cap">
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="logotipo">
            <a href="//intervozes.org.br" target="_blank">
              <img class="card-img-top" src="{% static 'img/logos/16.png'%}" alt="Card image cap">
            </a>
          </div>
        </div> 

    </div>
</div>