{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load votainteligente_extras %}

{% block content %}
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>

<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel='stylesheet' type='text/css'>
  <div class="">
    <div class="">
      {% block sidebar %}
      <ul class="nav nav-pills list-inline">
      {% block extra_sidebar_top %}
      {% endblock extra_sidebar_top %}

      {% block extra_sidebar_bottom %}
      {% endblock extra_sidebar_bottom %}

      <!-- Versión moviles -->

          <li class="dropdown hidden-sm hidden-md hidden-lg" role="presentation" >
              <a href="#" class="dropdown-toggle small" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Menú' %}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                    {% if user|is_candidate %}
                      {% include 'backend_candidate/menu.html' with candidacy=candidacy mobile=True %}
                    {% else %}
                      {% if not config.MENU_CIUDADANO_EN_DROPDOWN %}
                        {% include 'backend_citizen/menu.html' with user=user mobile=True %}
                      {% endif %}
                    {% endif %}
              </ul>
          </li>
      <!-- END Versión moviles -->

      </ul>
      {% endblock sidebar %}
    </div>
    <div>
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}default{% endif %}">
              {{ message }}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
            {% block main_content %}
            {% endblock main_content %}

        </div>

    </div>
  </div>

{% endblock content %}
