{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load votainteligente_extras %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav flex-column">
        {% if user|is_candidate %}
          {% include 'backend_candidate/menu.html' with candidacy=candidacy %}
        {% else %}
          {% include 'backend_citizen/menu.html' with user=user %}
        {% endif %}

        {% url 'password_reset' as password_reset %}
        <li role="presentation" class="{% ifequal request.path password_reset %} active{% endifequal %} nav-item">
          <a class="nav-link small" href="{{password_reset}}">
          {% blocktrans %}Cambia tu contraseña{% endblocktrans %}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      {% block main_content %}
      {% endblock main_content %}
    </div>
  </div>
</div>
{% endblock content %}
