{% load staticfiles %}
{% load flatpages %}
{% load sass_tags %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="og:description" content="Diversidade na política brasileira! Juntando eleitores e candidaturas engajadas.">
    <meta name="og:image" content="{% static 'img/compartilhar.png' %}">
    <meta name="og:title" content="Um espaço político onde seu ponto de vista importa. Vem ver!{% block title %}- Portada{% endblock title %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="16x16" href="/merepresenta/static/img/icon.png">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% sass_src 'merep_sass/main.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2142082286031625');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=2142082286031625&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    {% block extra_head %}
    {% endblock extra_head %}
    
  </head>

  <body id="page-top">
    <header class="header">
      <!-- Navigation -->
      {% include 'navbar.html' with user=user %}
      <!-- Navigation -->
    </header>

    <main>
      {% block everything %}
      <div class="container">
        {% block content %}
        {% endblock content %}  
      </div>
      {% endblock everything %}
    </main>

    <footer class="footer">
      <div class="container mapa-container">
        <div class="row">

          <div class="col-lg-2 col-sm-6" style="margin-bottom: 30px;">
            <h4>Sobre</h4>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'sobre' %}#somos">Quem Somos</a>
              </li>
              <li>
                <a href="{% url 'sobre' %}#impacto">Impacto</a>
              </li>
              <li>
                <a href="{% url 'sobre' %}#como-funciona">Como funciona</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-sm-6" style="margin-bottom: 30px;">
            <h4>Participar</h4>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'cpf_and_date2' %}">Candidatas/os</a>
              </li>
              <li>
                <a href="{% url 'eleitor' %}">Eleitoras/es</a>
              </li>
              <li>
                <a href="{% url 'volunteer_index' %}">Voluntaria/o</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-sm-12">
              <h4>Financiamento</h4>
              <ul class="list-unstyled">
                <li>
                  <a target="_blank" href="https://altec.lat/es/inicio/" class="apioam" alt='Altec'>
                    <img src="{% static 'img/logos/financiadora/01.png' %}" class="img-fluid altec" style="margin-bottom: 20px;">
                  </a>
                </li>
                <li>
                  <a target="_blank" href="www.avina.net/avina/pt/listado-paises/brasil/" class="apioam" alt='Fundação Avina'>
                    <img src="{% static 'img/logos/financiadora/02.png' %}" class="img-fluid">
                  </a>
                </li>
              </ul>
          </div>
          
          <div class="col-lg-6 col-sm-12">
            <!-- Content -->
            <h4>Apoio</h4>
            <ul class="list-unstyled">
              <li>
                <a target="_blank" href="http://www.saiba-mais.com/" alt='Saiba+'>
                  <img src="{% static 'img/logos/apoiam/01.png' %}">
                </a>
                <a target="_blank" href="https://medium.com/@casa1" alt='Casa 1'>
                  <img src="{% static 'img/logos/apoiam/02.png' %}">
                </a>
                
                <a target="_blank" href="https://www.mattosfilho.com.br" alt='Mattos Filho'>
                  <img src="{% static 'img/logos/apoiam/03.png' %}">
                </a>
                <a target="_blank" href="https://www.silveiraandrade.adv.br" alt='Silveira Andrade Advogados'>
                  <img src="{% static 'img/logos/apoiam/04.png' %}">
                </a>
                <a target="_blank" href="http://www.tg.adv.br/" alt='Tini e Guimarães Advogados'>
                  <img src="{% static 'img/logos/apoiam/05.png' %}">
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="links">
        <div class="container links-container">
          <div class="direitos-reservados" style="margin-bottom: 30px;">
            <p>Todos os direitos reservados a #MeRepresenta 2018</p>
            <a href="#">
              <i class="fab fa-facebook-square"></i>
            </a>
          </div>

          <nav class="nav-links">
            <ul class="list-unstyled">
              <li>
                <a href="mailto:contato@merepresenta.org.br">Contato</a>
              </li>
              <li>
                <a target="_blank" href="https://docs.google.com/document/d/1FR41a_ZXP8FeVyH99z_EGXyTKKZpL-MQpMyPwflnLsw/edit">Perguntas Frequentes</a>
              </li>
              <li>
                <a href="{% url 'termos' %}">Termos de Uso</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/analytics.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/merepresenta.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '272432840003402',
          cookie     : true,
          xfbml      : true,
          version    : '3.0'
        });
          
        FB.AppEvents.logPageView();   
          
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.1&appId=272432840003402&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>
