{% extends "base.html" %}

{% load bootstrap4 %}
{% load markdown_deux_tags %}
{% load staticfiles %}
{% load votainteligente_extras%}

{% block title %}- Portada{% endblock title %}
{% block content %}

<div class="row passos">
  <div class="col-1"></div>
  {% for i in wizard.steps.count|times %}
    <div class="col-1 text-center">
      <span class="passo {% if i < wizard.steps.step1 %}passo-completo{% else %}passo-incompleto{% endif %}"></span>
    </div>
  {% endfor %}
</div>

<div class='row title-pauta'>
    <div class='col-lg-10 offset-md-1 text-center'>
        {% if form.category.name %}
         <h1>Pautas sobre 
             <span class="category-name">
                 {{form.category.name}}
            </span>

        </h1>
        
         {% else %}
         <h2>Agora escolha <strong class='numero_de_temas'>3 temas</strong> que são prioridades na sua candidatura!</h2> 

         {% endif %}

    </div>
    <div class='col-lg-10 offset-md-1 text-center'>
        <h3>{{wizard.steps.step1}} de {{wizard.steps.count}} passos</h3>

    </div>
  
</div>

<div class="row">
  <div class="col-lg-10 offset-md-1">
    {% block formulario %}
    <form method="post" enctype="multipart/form-data" class='pautas_candidatos' action="{% url 'complete_pautas' %}">
      {% csrf_token %}
      
      <!-- Image -->
      {{wizard.management_form}}
      {% for field in form %}
      <section class="question-pauta">

      {% if 'description_' not in field.name %}
        {% if field.name == 'categories' %}

        <!-- Title -->
        <div class="col-lg-12 text-center">
          <span class="question-label">Eleitoras/es poderão fazer a 
            mesma seleção que você 
             e te encontrar primeiro!
          </span>
        </div> 
        <!-- Title -->

        <p class="description">{{field.help_text|safe}}</p>
        <div class="options">
          {% bootstrap_field field show_label=False show_help=False %}
        </div>

        {% else %}
        <span class="question-label">
          {% bootstrap_label field.label %}
        </span>

        <p class="description">{{field.help_text|safe}}</p>
        
        <p class="posicionamento">Qual o seu posicionamento?</p>
        <div class="options">
          {% bootstrap_field field show_label=False show_help=False %}
        </div>
        
        {% endif %}
      {% endif %}
      </section>
      {% endfor %}

      <div class="row opcoes">
        <a href="/" onclick="window.history.back()" />
          < Voltar
        </a>
        <input type="submit" value="Continuar" class="btn btn-azul" />
      </div>

      {% endblock formulario %}
    </form>
  </div>
</div>


{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/pautas.js' %}"></script>
{% endblock scripts %}
