{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="Encontre candidaturas a vereador/a comprometidas com Direitos Humanos!">
    <meta name="og:description" content="Responda ao questionário e encontre candidaturas que respeitam e promovem Direitos Humanos na sua cidade.">
    <meta name="og:image" content="https://s3.amazonaws.com/hub-central/uploads/1473183975_thumb_Meme_Minha_Sampa_1024.jpg">
    
    <link rel="icon" href="http://2016.merepresenta.org.br/assets/4ico.png">
    <link rel="stylesheet" href="{% static 'css/merepresenta/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/merepresenta/candidates-match.css' %}">
    <link rel="stylesheet" href="{% static 'css/merepresenta/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/merepresenta/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'css/merepresenta/jquery-ui.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/merepresenta/merepresenta.css' %}">
    <link rel="stylesheet" href="{% static 'css/merepresenta/merepresentalogged.css' %}">
    <link rel="stylesheet" href="{% static 'css/merepresenta/MyFontsWebfontsKit.css' %}">
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  </head>

  <body>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    <!-- Footer -->

    <script src="{% static 'js/analytics.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/merepresenta.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>

    {% block scripts %}
    {% endblock scripts %}
    
  </body>
</html>
