{% load votainteligente_extras %}
{% load staticfiles %}

<nav id="mainNav" class="container navbar navbar-light">
  <a class="navbar-brand" href="{% url 'index' %}">
    <img src="{% static '/img/merepresenta/logo_2018.svg' %}" 
      class="img-fluid" 
      alt="#MeRepresenta Logo">
  </a>
    
  <ul class="nav nav-pills">
    <li>
      <a class="nav-item nav-link" 
        href="{% url 'sobre' %}">Sobre</a>
    </li>
    <li>
      <a class="nav-item nav-link" 
        href="{% url 'volunteer_index' %}">Voluntaria/o</a>
    </li>
    <li>
      <a class="nav-item nav-link" 
        href="{% url 'eleitor' %}">Eleitor/a</a>
    </li>
  </ul>

  <div class="button">
    {% if not user.is_authenticated %}
    <!-- <a class="nav-link btn btn-roxo btn-uppercase" href="{% url 'cpf_and_date2' %}">Sou Candidata/o</a> -->
    
    {% else %}
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        {% if user.profile.image %}
        <i src="{{user.profile.image.url}}"></i>
        {% endif %}
        {{user.username}}</a>
      <div class="dropdown-menu">
        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'volunteer_index' %}" class="dropdown-item">Portal voluntario</a> 
        {% endif %}
        {% if user|is_candidate %}
          {% with user.candidacies.first as candidacy %}
            <a href="{{candidacy.candidate.get_absolute_url}}" class="dropdown-item">Meu perfil</a> 
          {% endwith %}
        {% endif %}
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="/accounts/logout">Sair</a>
      </div>
    </div>
    {% endif %}
  </div>
</nav>
