{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Activation complete" %}{% endblock %}
{% block content %}
<h1>{% trans "Bienvenida/o! Ahora ya activamos tu cuenta!" %}</h1>
<p>{% trans "Estamos redirigiendote para que edites tu perfil" %}.</p>
{% url 'username_and_password' as url %}
<p>{% blocktrans with url=url %}Si no funciona, puedes hacer click en <a href="{{url}}">En este link.</a>.{% endblocktrans %}</p>

  <script>
window.setTimeout(function() {
  location.href = "{% url 'username_and_password' %}";
}, 5000);
  </script>
{% endblock %}
