{% load i18n %}
{% load bootstrap_tags %}
{% comment %}
This template is used for the html alternative of the activation email
if you use a django-registration backend that looks for it. e.g.
https://github.com/huseyinyilmaz/django-registration-extended-backend
{% endcomment %}
{% url 'registration_activate' activation_key as activation_key_url %}
{% blocktrans with sitename=site.name sitedomain=site.domain%}<body>
<h3>Registro para VotaInteligente.cl</h3>
<p>
Tu (o alguien que pretende ser tu) ha tratado de registrar una cuenta en
<b>{{ sitename }}</b>.<br/>
Si no fuiste tu, por favor ignora este mail y tu dirección será removida
de nuestros registros.
</p>
<p>
Para activar esta cuenta, por favor haz click en el siguiente link antes de
<b>{{ expiration_days }}</b> días:<br/>
<a href="http://{{ sitedomain }}{{ activation_key_url }}">http://{{ sitedomain }}{{  activation_key_url }}</a>
</p>
<p>
--
Muchas gracias el equipo de VotaInteligente.cl<br/>
</p>
</body>
{% endblocktrans %}
