{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load votainteligente_extras %}
{% load staticfiles %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
{% endblock extra_css %}
{% block content %}

<script type="text/javascript">
	$( document ).ready(function() {
	    $('.dropdown-menu li').on("click", function(){
		  txt_selected = $(this).text();
		  $('.nav li.dropdown a')[0].innerHTML = txt_selected
		})
	});
</script>


<h1 class="text-center">Ingresa</h1>
{% url 'popular_proposals:home' as proposals_home %}
{% if proposals_home in request.META.HTTP_REFERER %}
<div class="alert alert-warning" role="alert">
  Para apoyar una propuesta debes estar registrado.
</div>
{% endif %}
	<div class="col-xs-12 col-md-6">
				<h3>{% trans '¿Ya tienes cuenta?' %}</h3>
				<p>Si eres candidato debes ingresar con el usuario y contraseña que enviamos a tu correo con el asunto "¡Bienvenida/o a Vota Inteligente!"</p>
        <!-- form -->
          {% basic_login url=next %}
				<!-- form -->
				<div>
					{% include '_social_login_buttons.html' with url=next %}
				</div>
	</div>
	<div class="col-xs-12 col-md-6">
			<div class="line-space"></div>
				<h3>{% trans 'Registro:' %}</h3>
				<div>
					<!-- Nav tabs -->
					<ul class="nav nav-pills list-inline" role="tablist">
						<li role="presentation" class="active"><a class="small" href="#groupRegister" aria-controls="groupRegister" role="tab" data-toggle="tab">{% trans 'Organización' %} <i class="fa fa-users" aria-hidden="true"></i></a></li>
						<li role="presentation" class=""><a class="small" href="#userRegister" aria-controls="userRegister" role="tab" data-toggle="tab">{% trans 'Individual' %} <i class="fa fa-user" aria-hidden="true"></i></a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane" id="userRegister">

							<div class="form-group">
								{% include '_social_login_buttons.html' with url=next %}
							</div>
							<p>{% trans 'O regístrate con un usuario y contraseña:' %}</p>
							{% user_register %}

						</div>
						<div role="tabpanel" class="tab-pane active" id="groupRegister">
							{% group_register %}
						</div>
						<div class="line-space"></div>
						<div class="line-space"></div>
					</div>
				</div>
	</div>
{% endblock content %}
