{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}
<span>{% trans "¿Se te olvidó el password? completa el formulario de abajo y reinicia tu clave." %}</span>
<form method='post' action=''>{% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="{% trans "Envíame un mail para reiniciar mi clave" %}"  class="btn btn-success btn-lg btn-block" />
</form>
{% endblock %}
