{% extends "backend_base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
{% trans "- Backend Ciudadano - Contraseña" %}
{% endblock title%}

{% block main_content %}
<div>
	<h2 class="page-header">{% trans "Cambia tu contraseña" %}</h2>
			<table>
			    <form method='post' action=''>{% csrf_token %}
			        {% bootstrap_form form %}
			        <tr><td></td><td>
			                <input type="submit" value="{% trans "Cambia mi contraseña" %}"  class="btn btn-default" />
			            </td>
			    </form>
			</table>

			</div>
</div>
{% endblock main_content %}
