{% extends "base.html" %}
{% load i18n %}

{% block everything %}
<div class="container base-login">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% block title %}{% endblock %}</h3>
          </div>
        <div class="panel-body">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock everything %}