/*Home temporal*/
.high-home{
  font-family: 'Arvo', serif;
  font-size: 18px;
}

#video-home{
  background-color: #FEC70D;
  padding: 40px 0 30px 0}
#text-home{
  background-color: #4A90E2;
  color: #233346;
  padding: 50px 0 30px 0;
}

.text-box{
  background-image: url("../img/white.svg");
  padding: 30px 30px 20px 30px;
}

#calendar-home{
  background-color: #233346;
  color: white;
  font-family: 'Arvo', serif;
  padding: 40px 0 40px 0;
}
#map-home{
  background-color: #F1ECE1;
  padding: 70px 0 70px;
}
#bye-home{
  background-color: #FEC70D;
  padding: 40px 0 30px 0;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

td.cal-date{
  color: #FEC70D;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.4px;
}

.landing-phrase{
  padding: 20px 0 20px 0;
  margin: 0 auto;
}

/*Perfil organizaciones*/
.org-background{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  margin-top: 55px;
  min-height: 400px;
}

.landing-org{
  position: relative;
  top: 270px;
}

.logo-org{
  height: 150px;
  width: 150px;
  background: white;
  float: left;
  margin-right: 10px
}

.org-info{
  h2{
    font-weight: 700;
    margin-top: 70px;
  }
  p{
    font-size: 24px;
    font-family: 'Arvo', serif;
  }
}

.org-rrss{
  font-family: 'Arvo', serif;
  font-weight: 700;
  a{
    color: white;
    &:hover{
      color: $grey-one;
    }
  }
}

.edit-org{
  height: 250px;
  width: 250px;
}

.edit-bg-org{
  max-width: 70%;
  max-height: 50%;
}

.button-org{
  z-index: 1000;
}

/*Forms*/
.form-control{
  background-color: $grey-five;
  border-radius: 8px;
}

.help-block{
  margin: 0;
}

input[type=checkbox], input[type=radio]{
  margin: 0;
}

input[type=file]{
  display: initial;
}

/*General*/
.bg-info{
  padding: 5px;
  border-radius: 8px;
}

/*Propuestas*/
.propuesta{
  border: 2px solid $grey-one;
  min-height: 360px;
  padding: 0;
  position: relative;
}

.propuesta-content{
  padding: 25px 20px 35px;
}

.label-default{
  background-color: $blue;
  color: white;
}

.propuesta:after{
  display: none;
}

.share-card{
  background-color: $grey-one;
  height: 115px;
  padding: 5px 20px 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.share-card a .fa-stack {
    color: $grey-four;
}

.share-card a .fa-stack:hover {
    color: $yellow;
}

.apoyo{
  min-height: 38px;
}

.apoyo-contador{
  padding-left: initial;
  max-width: initial;
}

.nota{
  font-size: 14px;
  color: white;
  margin-top: -6px;
}

.conteo{
  font-family: 'Arvo', sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: relative;
  top: 5px;
}

.btn-apoyo{
  background-color: $yellow;
  color: white;
  position: relative;
  top: 9px;
  &:hover{
    color: $grey-one;
  }
}

.propuesta h4 a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
