/*Home temporal*/
html .navbar_visible, body .navbar_visible{
  padding-top: 55px;
}

.navbar{
  min-height: 55px;
}

.high-home{
  font-family: 'Arvo', serif;
  font-size: 18px;
}

#video-home{
  background-color: #FEC70D;
  padding: 40px 0 30px 0}
#text-home{
  background-color: #4A90E2;
  color: #233346;
  padding: 50px 0 30px 0;
}

.text-box{
  background-image: url("../img/white.svg");
  padding: 30px 30px 20px 30px;
}

#calendar-home{
  background-color: #233346;
  color: white;
  font-family: 'Arvo', serif;
  padding: 40px 0 40px 0;
}
#map-home{
  background-color: #F1ECE1;
  padding: 70px 0 70px;
}
#bye-home{
  background-color: #FEC70D;
  padding: 40px 0 30px 0;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

td.cal-date{
  color: #FEC70D;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.4px;
}

.landing-phrase{
  padding: 20px 0 20px 0;
  margin: 0 auto;
}

/*Home sitio1*/
.grey-one{
  background-color: $grey-one;
}
.blue{
  background-color: $blue;
}
.blue-light{
  background-color: $blue-light;
}
.blue-light-txt{
  color: $blue-light;
}

#welcome{
  background: $yellow ;
  background-size: cover;
  padding: 20px 0 20px;
  h1{
    margin: 60px 0;
  }
}

.presidents{
  position: relative;
  margin: 0 auto;
  bottom: -28px;
}

.hashtag{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0;
}

#proposals-counter{
  min-height: 60px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding-top: 10px;
}

.counter-number{
  font-family: 'Arvo', serif;
  color: $blue;
  font-weight: 700;
  font-size: 44px;
  position: relative;
  top: 9px;
}

#you-org{
  min-height: 60px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  padding-top: 12px;
  line-height: 12px;
  .btn{
    font-size: 10px;
  }
}

#actions{
  margin: 40px 0 60px;
}
.action{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.2;
}

.action-encuentro{
  color: $grey-one;
  background: url("../img/a-encuentro.svg") no-repeat;
  height: 170px;
  background-position: center;
  padding-top: 180px;
  margin-bottom: 70px;
}

.action-crea{
  color: $grey-one;
  background: url("../img/a-crea.svg") no-repeat;
  height: 170px;
  background-position: center;
  padding-top: 180px;
  margin-bottom: 70px;
}

.action-apoya{
  color: $grey-one;
  background: url("../img/a-apoya.svg") no-repeat;
  height: 170px;
  background-position: center;
  padding-top: 180px;
  margin-bottom: 70px;
}

#education{
  margin-bottom: 60px;
  .btn{
    font-size: 11px;
  }
  h2 > a{
    color: $grey-one;
    &:hover{
      color: $blue;
    }
  }
}

.edu-1{
  height: 250px;
  padding-top: 40px;
  background: url("../img/e-1.svg") no-repeat $blue;
  background-position: center 120px;
}

.edu-2{
  height: 250px;
  padding-top: 40px;
  background: url("../img/e-2.svg") no-repeat $blue-light;
  background-position: center 110px;
}


.logo-org-home{
  background: #9BA9C1;
  width: 100px;
  height: 100px;
  margin: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  &:hover{
    background: transparent;
  }
  img{
    mix-blend-mode: screen;
    -webkit-filter: grayscale(1) contrast(100%) opacity(1);
    filter: grayscale(1) contrast(100%) opacity(1);
    &:hover{
      -webkit-filter: opacity(1);
      filter: opacity(1);
    }
  }
}

/*Perfil organizaciones*/
.org-background{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  margin-top: 50px;
  min-height: 400px;
}

.landing-org{
  position: relative;
  top: 270px;
}

.org-info{
  h2{
    font-weight: 700;
    margin-top: 70px;
  }
  p{
    font-size: 20px;
    line-height: 25px;
  }
}

.org-rrss{
  font-family: 'Arvo', serif;
  font-weight: 700;
  a{
    color: white;
    &:hover{
      color: $grey-one;
    }
  }
}

.edit-org{
  height: 250px;
  width: 250px;
}

.edit-bg-org{
  max-width: 70%;
  max-height: 50%;
}

/*Forms*/
.form-control{
  background-color: $grey-five;
  border-radius: 10px;
}

.help-block{
  margin: 0;
}

input[type=checkbox], input[type=radio]{
  margin: 0;
}

input[type=file]{
  display: initial;
}

.has-success .form-control{
  border-color: transparent;
  box-shadow: none;
  &:focus{
    border-color: transparent;
    box-shadow: none;
  }
}

.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label{
  color: $grey-one;
}

/*General*/
.bg-info{
  padding: 5px;
  border-radius: 8px;
}

/*Detalle*/
.nav-detalle-propuesta{
  border: none;
  margin-top: -55px;
  border-bottom: 1px solid $grey-four;
  border-radius: 0;
}

.apoyo-orgs{
  background-color: $blue;
  padding: 20px;
  margin-top: -90px;
  h4{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.2px;
  }
}

.apoyo-ciudadano{
  color: $grey-one;
}

.apoya-comparte{
  background-color: $yellow;
  color: $grey-one;
  padding: 0px 0 10px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.light-text{
  color: $grey-three;
  h3{
    color: $grey-three;
  }
}

.detalle-propuesta{
  box-shadow: none;
  h1{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-transform: none;
    letter-spacing: 0;
  }
  .proposal-tools {
    padding-top: 20px;
    margin-bottom: -15px;
    i {
      font-size: 1.5em;
    }
  }
}

.llamado{
  font-family: 'Arvo', sans-serif;
  font-weight: 700;
  margin-top: 20px;
}

.share-detail{
  .btn-apoyo{
    background-color: $yellow;
    top: 11px;
    width: 100%;
    &:hover{
      color: white;
      background-color: $grey-one;
    }
  }
  .btn-no-apoyo{
    width: 100%;
  }
}

.share-detail .fa-inverse {
    color: white;
}

.share-detail a .fa-stack {
    color: $blue;
    top: 7px;
}

.share-detail a .fa-stack:hover {
    color: $grey-one;
}

/*Propuestas*/
.propuesta{
  border: 3px solid $grey-one;
  min-height: 500px;
  padding: 0;
  position: relative;
}

.propuesta-content{
  padding: 25px 20px 35px;
  .logo-ong{
    position: absolute;
    right: 8%;
  }
}

.label-default{
  background-color: $blue;
  color: white;
}

.propuesta:after{
  display: none;
}

.share{
  text-align: right;
}

.share-card{
  background-color: $grey-one;
  min-height: 115px;
  padding: 5px 17px 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.share-card .fa-inverse {
    color: $grey-one;
}

.share-card a .fa-stack {
    color: white;
    margin-left: -5px;
}

.share-card a .fa-stack:hover {
    color: $yellow;
}

.apoyo{
  min-height: 38px;
}

.apoyo-contador{
  padding-left: initial;
  max-width: initial;
}

.nota{
  font-size: 14px;
  color: white;
  margin-top: -6px;
}

.conteo{
  font-family: 'Arvo', sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: relative;
  top: 5px;
}

.btn-apoyo{
  background-color: $yellow;
  color: white;
  position: relative;
  top: 9px;
  &:hover{
    color: $grey-one;
  }
}

.btn-no-apoyo{
  background-color: $blue;
  color: white;
  position: relative;
  top: 9px;
  &:hover{
    color: $grey-one;
  }
}

.propuesta h4{
  margin: 0 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}
.logo-ong img{
  max-width: inherit;
  max-height: inherit;
  margin-left: inherit;
}

.logo-color{
    background: #9BA9C1;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    &:hover{
      background: transparent;
    }
  img{
    mix-blend-mode: screen;
    -webkit-filter: grayscale(1) contrast(100%) opacity(1);
    filter: grayscale(1) contrast(100%) opacity(1);
    &:hover{
      -webkit-filter: opacity(1);
      filter: opacity(1);
    }
  }
}

#raiseToTop {
    bottom: 15px;
    display: block;
    position: sticky;
    width: 100%;
    a {
      color: white;
      i {
        background-color: $blue-light;
        padding: 10px;
        border-radius: 30px;
      }
    }
}

/*Material ciudadano*/
#video-encuentro{
  margin-bottom: 40px;
}

#manual-encuentro{
  margin-bottom: 80px;
}

.set-guide{
  background-color: $blue-light;
  border-radius: 5px;
  height: 230px;
  padding: 30px 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;
  color: $grey-one;
  &:hover{
    color: $blue;
  }
  img{
    margin: 0 auto;
    height: 140px;
    margin-bottom: 15px;
  }
}

/*Botones*/
.btn-blue{
  background-color: $blue;
  color: white;
  &:hover{
    background-color: white;
    color: $blue;
  }
}

.btn-white{
  background-color: white;
  color: $grey-one;
  &:hover{
    background-color: $grey-one;
    color: white;
  }
}

.btn-line{
  background-color: white;
  color: $grey-one;
  border: 3px solid $grey-five;
  &:hover{
    border: 3px solid $grey-one;
    background-color: $grey-one;
    color: white;
  }
}

.btn{
  word-wrap: break-word;
  white-space: normal;
  &:hover{
  box-shadow: none;
  }
}

/*RIBBONS*/
.product {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border: 1px solid #333;
  position: relative;
  z-index: 90;
}
.ribbon-wrapper {
  width: 303px;
  height: 198px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
  .ribbon {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 6px 40px 4px 40px;
    top: 41px;
    right: 122px;
    width: 270px;
    background-color: #FF645B;
    color: white;
  }
}

/*Pasos creando propuesta*/
.tips, .tips-invert{
  background: $grey-one;
  margin: 10px 0 0 0;
  border-radius: 10px;
  .main-title{
    color: $yellow;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-size: 12px;
  }
  .step-title{
    font-family: 'Arvo', serif;
    font-weight: 700;
  }
}

.tips:after{
  display: none;
}

label{
  font-family: 'Montserrat', sans-serif;
  color: $grey-one;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: 700;
  margin: 10px 0 0 0;
  line-height: 1.3;
}

.proposal-step{
  margin-top: 30px;
  h2{
    margin: 0 0 40px 0;
  }
}

.wizard{
  font-family: 'Arvo', serif;
  font-weight: 700;
  color: $grey-one;
  .badge{
    padding: 6px 10px;
    background-color: $grey-one;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 14px;
  }
}

.preview.fondo-blanco{
  margin: 30px 0 30px 0;
}

.panel{
  border-radius: 10px;
}

.small{
  line-height: 1.4;
}

/*LOGIN*/
.nav-pills.list-inline{
  margin-bottom: 40px;
}

.line-space{
  height: 30px;
}
