@import 'lm-colors';


/*BASICS*/
html, body {
  color: $main-text;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.small{
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.img-responsive{
  display: inline;
}
h1{
  font-family: 'Fredoka One', sans-serif;
  letter-spacing: 2px;
}
h2{
  @extend h1;
}
h3{
  @extend h1;
}
h4{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: black;
  font-size: 20px;
  a{
    color: black;
    &:hover{
      color: black;
      text-decoration: none;
    }
    &:focus{
      @extend a:hover;
    }
    &:active:hover{
      @extend a:hover;
      box-shadow: none;
    }
  }
}
h5{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
}
h6{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
}
.h-header{
  margin-top: 120px;
}
.commit{
  margin-bottom: 0;
}
/*NAV*/
.navbar-default{
  background-color: black;
  border: none;
}
.navbar{
  min-height: 70px;
  @extend .small;
  font-size: 10px;
  margin-bottom: 0;
  border-radius: 0;
}
.navbar-default .navbar-nav>li>a{
  color: white;
  &:hover{
    color: $purple;
  }
  &:focus{
    color: $purple;
  }
  &:active{
    color: $purple;
  }
}
.navbar-right{
  position: relative;
  top: 12px;
}
.navbar-collapse{
  box-shadow: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}
.navbar-default .navbar-toggle{
  border: none;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: transparent;
}
.navbar-toggle{
  top: 10px;
}
.navbar-fixed-top{
  z-index: 3000;
}
/*BUTTONS*/
.btn{
  border-radius: 20px;
  border: none;
  padding: 10px 18px;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
  border: 3px solid white;
  @extend .small;
}
.btn-default{
  border: 3px solid white;
  &:hover{
    background-color: transparent;
    color: white;
    border: 3px solid white;
  }
  &:focus{
    @extend .btn-default:hover;
  }
  &:active:hover{
    @extend .btn-default:hover;
    box-shadow: none;
  }
}
.btn-black{
  border: 3px solid black;
  color: black;
  a{
    color: black;
  }
  &:hover{
    background-color: black;
    color: white;
  }
  &:focus{
    @extend .btn-black:hover;
  }
  &:active:hover{
    @extend .btn-black:hover;
    box-shadow: none;
  }
}
.btn-lm-blue{
  border: 3px solid $blue;
  background-color: transparent;
  color: $blue;
  &:hover{
    background-color: $blue;
    color: white;
    border: 3px solid $blue;
  }
  &:focus{
    @extend .btn-blue:hover;
  }
  &:active:hover{
    @extend .btn-blue:hover;
    box-shadow: none;
  }
}
.btn-lm-pink{
  border: 3px solid $pink;
  background-color: transparent;
  color: $pink;
  &:hover{
    background-color: $pink;
    color: white;
    border: 3px solid $pink;
  }
  &:focus{
    @extend .btn-blue:hover;
  }
  &:active:hover{
    @extend .btn-blue:hover;
    box-shadow: none;
  }
}
.btn-lm-yellow{
  border: 3px solid $yellow;
  background-color: transparent;
  color: $yellow;
  &:hover{
    background-color: $yellow;
    color: white;
    border: 3px solid $yellow;
  }
  &:focus{
    @extend .btn-blue:hover;
  }
  &:active:hover{
    @extend .btn-blue:hover;
    box-shadow: none;
  }
}
.btn-lm-purple{
  border: 3px solid $purple;
  background-color: transparent;
  color: $purple;
  &:hover{
    background-color: $purple;
    color: white;
    border: 3px solid $purple;
  }
  &:focus{
    @extend .btn-blue:hover;
  }
  &:active:hover{
    @extend .btn-blue:hover;
    box-shadow: none;
  }
}
.btn-lm-red{
  border: 3px solid $red;
  background-color: transparent;
  color: $red;
  &:hover{
    background-color: $red;
    color: white;
    border: 3px solid $red;
  }
  &:focus{
    @extend .btn-blue:hover;
  }
  &:active:hover{
    @extend .btn-blue:hover;
    box-shadow: none;
  }
}
.btn-lm-green{
  border: 3px solid $green;
  background-color: transparent;
  color: $green;
  &:hover{
    background-color: $green;
    color: white;
    border: 3px solid $green;
  }
  &:focus{
    @extend .btn-blue:hover;
  }
  &:active:hover{
    @extend .btn-blue:hover;
    box-shadow: none;
  }
}
.btn-blue{
  border: 3px solid $blue;
  background-color: $blue;
  color: white;
  &:hover{
    background-color: transparent;
    color: white;
    border: 3px solid white;
  }
  &:focus{
    @extend .btn-blue:hover;
  }
  &:active:hover{
    @extend .btn-blue:hover;
    box-shadow: none;
  }
}
.btn-yellow{
  border: 3px solid $yellow;
  background-color: $yellow;
  color: white;
  &:hover{
    background-color: transparent;
    color: $yellow;
    border: 3px solid $yellow;
  }
  &:focus{
    @extend .btn-yellow:hover;
  }
  &:active:hover{
    @extend .btn-yellow:hover;
    box-shadow: none;
  }
}
.btn-line{
  border: 3px solid black;
  color: black;
  &:hover{
    background-color: black;
    color: white;
    border: 3px solid black;
  }
  &:focus{
    @extend .btn-line:hover;
  }
  &:active:hover{
    @extend .btn-line:hover;
    box-shadow: none;
  }
}
.btn-blue-line{
  border: 3px solid $blue;
  color: $blue;
  &:hover{
    background-color: $blue;
    color: white;
    border: 3px solid $blue;
  }
  &:focus{
    @extend .btn-blue-line:hover;
  }
  &:active:hover{
    @extend .btn-blue-line:hover;
    box-shadow: none;
  }
}
.btn-success{
  border: 3px solid $yellow;
  background-color: $yellow;
  &:hover{
    background-color: transparent;
    color: $yellow;
    border: 3px solid $yellow;
  }
  &:focus{
    @extend .btn-success:hover;
  }
  &:active:hover{
    @extend .btn-success:hover;
    box-shadow: none;
  }
}
.btn-facebook{
  border: 3px solid $blue;
  background-color: $blue;
  color: white;
  &:hover{
    background-color: transparent;
    color: $blue;
    border: 3px solid $blue;
  }
  &:focus{
    @extend .btn-facebook:hover;
  }
  &:active:hover{
    @extend .btn-facebook:hover;
    box-shadow: none;
  }
}
.btn-google{
  border: 3px solid $red;
  background-color: $red;
  color: white;
  &:hover{
    background-color: transparent;
    color: $red;
    border: 3px solid $red;
  }
  &:focus{
    @extend .btn-google:hover;
  }
  &:active:hover{
    @extend .btn-google:hover;
    box-shadow: none;
  }
}

/*MAIN CONTAINERS*/
.color{
  color: white;
}
.purple{
  background-color: $purple;
}
.blue{
  background-color: $blue;
}
.green{
  background-color: $green;
}
.yellow{
  background-color: $yellow;
}
.pink{
  background-color: $pink;
}
.red{
  background-color: $red;
}
.sky{
  background-color: $sky;
}
.purpleline{
  background-image: url("../img/lm-purpleline.svg");
  background-repeat: no-repeat;
  min-height: 28px;
}
.redline{
  background-image: url("../img/lm-redline.svg");
  background-repeat: no-repeat;
  min-height: 46px;
  margin-top: -48px;
}
.purpleline-up{
  background-image: url("../img/lm-purpleline-up.svg");
  background-repeat: no-repeat;
  min-height: 28px;
  margin-top: 60px;
}
.pinkline-up{
  background-image: url("../img/lm-pinkline-up.svg");
  background-repeat: no-repeat;
  min-height: 28px;
  margin-top: 60px;
}
.redline-up{
  background-image: url("../img/lm-redline-up.svg");
  background-repeat: no-repeat;
  min-height: 28px;
  margin-top: 60px;
}
.blueline-up{
  background-image: url("../img/lm-blueline-up.svg");
  background-repeat: no-repeat;
  min-height: 28px;
  margin-top: 60px;
}
.blueline-down{
  background-image: url("../img/lm-blueline-down.svg");
  background-repeat: no-repeat;
  min-height: 175px;
  margin-top: -13px;
  position: relative;
  z-index: 2000;
}
.skyline-up{
  background-image: url("../img/lm-skyline-up.svg");
  background-repeat: no-repeat;
  min-height: 28px;
  margin-top: 60px;
}
.yellowline-up-banner{
  background-image: url("../img/lm-yellowline-up.svg");
  background-repeat: no-repeat;
  min-height: 28px;
  margin-top: 60px;
}
.yellowline-up{
  background-image: url("../img/lm-yellowline-up.svg");
  background-repeat: no-repeat;
  min-height: 28px;
  margin-top: 47px;
}
.yellowline-down{
  background-image: url("../img/lm-yellowline-down.svg");
  background-repeat: no-repeat;
  min-height: 38px;
  margin-top: -19px;
}
.whiteline{
  background-image: url("../img/lm-whiteline.svg");
  background-repeat: no-repeat;
  min-height: 80px;
  margin-top: -28px;
  position: relative;
  z-index: 2000;
}
.special-position{
  position: relative;
  top: 80px;
}
.control-width{
  max-width: 73%;
  margin: 0 auto;
  padding: 50px 0 70px;
}
.img-down{
  position: relative;
  z-index: -20;
}

.high-lm-proposal{
  padding: 13px 3px 70px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.high-lm-presidencial{
  background-color: white;
  padding: 13px 3px 70px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 3px solid white;
}
.high-lm-commitment{
  padding: 3px 3px 0px;
  margin-bottom: 10px;
}
.border-blue{
  border:3px solid $blue;
}
.border-yellow{
  border:3px solid $yellow;
}
.border-purple{
  border:3px solid $purple;
}
.border-pink{
  border:3px solid $pink;
}
.border-red{
  border:3px solid $red;
}
.border-green{
  border:3px solid $green;
}
.panel-group .panel{
  border-radius: 10px;
  margin-bottom: 10px;
}
.panel-default>.panel-heading{
  background-color: transparent;
  color: black;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
  border: transparent;
}
/*HOME 0*/
#banner{
  padding: 170px 0 0;
}
.logo-title{
  position: relative;
  top: 100px;
}
#manifest{
  padding: 90px 0 90px;
  margin-bottom: -95px;
}
#results{
  padding: 80px 0 120px;
}
#propuestas{
  padding: 80px 0 50px;
}
#compromiso-presidencial{
  padding: 70px 0 100px;
}
#compromisos-parlamentarios{
  padding: 70px 0 70px;
}
.commit-person{
  margin-bottom: 25px;
}
#sistematizacion{
  padding: 80px 0 120px;
  margin-bottom: -100px;
}
#folleto{
  padding: 70px 0 200px;
  margin-bottom: -240px;
}
#about{
  padding: 70px 0 50px;
}
p.bajada{
  font-size: 18px;
  line-height: 22px;
}
p.aviso{
  font-size: 22px;
  line-height: 26px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}
#join{
  margin-top: -162px;
}
#enter{
  padding: 20px 0 80px;
  margin-bottom: -150px;
}
#proposals{
  padding: 40px 0 60px;
}
#contact{
  padding: 30px 0 80px;
}
#soon{
  padding: 40px 0 210px;
  margin-bottom: -250px;
}
#videoabout{
  min-height: 380px;
  padding: 100px 0 220px 0;
  margin: 70px 0 -190px;
}

/*PROPOSALS REPOSITORY*/
#grid{
  position: relative;
}
#grid > #posts .post{
  width: 340px;
}
#posts{
  position: relative;
  height: -webkit-fill-available;
}
#highlighted-proposals{
}
.post.propuesta{
  position: absolute;
  left: 0px;
  top: 0px;
  padding-bottom: 30px;
}
.post{
  margin: 0 0 50px;
}
.propuesta{
  min-height: 330px;
  border-radius: 10px;
  padding: 0;
  position: relative;
  padding: 20px 20px 5px;
  background-color: white;
}
.propuesta-content{
  height: 110px;
}
.group{
  margin-top: 30px;
  margin-bottom: -6px;
  font-weight: 700;
  line-height: 1.2;
}
hr{
  position: relative;
  top: 20px;
}
.votita-love-politica{
  border: 3px solid $yellow;
  .label-default{
    background: $yellow;
  }
  .group{
    color: $yellow;
  }
  hr{
    border: 1px solid $yellow;
  }
  .btn-apoyo {
    color: white;
    background-color: $yellow;
    border: 3px solid $yellow;
    &:hover{
      background-color: transparent;
      color: $yellow;
      border: 3px solid $yellow;
    }
    &:focus{
      @extend .btn-apoyo:hover;
    }
    &:active:hover{
      @extend .btn-apoyo:hover;
      box-shadow: none;
    }
  }
  .btn-blue {
    color: $yellow;
    background-color: transparent;
    border: 3px solid $yellow;
    &:hover{
      background-color: $yellow;
      color: white;
      border: 3px solid $yellow;
    }
    &:focus{
      @extend .btn-blue:hover;
    }
    &:active:hover{
      @extend .btn-blue:hover;
      box-shadow: none;
    }
  }
  h4{
    a{
      &:hover{
        color: $yellow;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-salud{
  border: 3px solid $blue;
  .label-default{
    background: $blue;
  }
  .group{
    color: $blue;
  }
  hr{
    border: 1px solid $blue;
  }
  .btn-apoyo {
    color: white;
    background-color: $blue;
    border: 3px solid $blue;
    &:hover{
      background-color: transparent;
      color: $blue;
      border: 3px solid $blue;
    }
    &:focus{
      @extend .btn-apoyo:hover;
    }
    &:active:hover{
      @extend .btn-apoyo:hover;
      box-shadow: none;
    }
  }
  .btn-blue {
    color: $blue;
    background-color: transparent;
    border: 3px solid $blue;
    &:hover{
      background-color: $blue;
      color: white;
      border: 3px solid $blue;
    }
    &:focus{
      @extend .btn-blue:hover;
    }
    &:active:hover{
      @extend .btn-blue:hover;
      box-shadow: none;
    }
  }
  h4{
    a{
      &:hover{
        color: $blue;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-medio_ambiente{
  border: 3px solid $green;
  .label-default{
    background: $green;
  }
  .group{
    color: $green;
  }
  hr{
    border: 1px solid $green;
  }
  .btn-apoyo {
    color: white;
    background-color: $green;
    border: 3px solid $green;
    &:hover{
      background-color: transparent;
      color: $green;
      border: 3px solid $green;
    }
    &:focus{
      @extend .btn-apoyo:hover;
    }
    &:active:hover{
      @extend .btn-apoyo:hover;
      box-shadow: none;
    }
  }
  .btn-blue {
    color: $green;
    background-color: transparent;
    border: 3px solid $green;
    &:hover{
      background-color: $green;
      color: white;
      border: 3px solid $green;
    }
    &:focus{
      @extend .btn-blue:hover;
    }
    &:active:hover{
      @extend .btn-blue:hover;
      box-shadow: none;
    }
  }
  h4{
    a{
      &:hover{
        color: $green;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-cultura{
  border: 3px solid $red;
  .label-default{
    background: $red;
  }
  .group{
    color: $red;
  }
  hr{
    border: 1px solid $red;
  }
  .btn-apoyo {
    color: white;
    background-color: $red;
    border: 3px solid $red;
    &:hover{
      background-color: transparent;
      color: $red;
      border: 3px solid $red;
    }
    &:focus{
      @extend .btn-apoyo:hover;
    }
    &:active:hover{
      @extend .btn-apoyo:hover;
      box-shadow: none;
    }
  }
  .btn-blue {
    color: $red;
    background-color: transparent;
    border: 3px solid $red;
    &:hover{
      background-color: $red;
      color: white;
      border: 3px solid $red;
    }
    &:focus{
      @extend .btn-blue:hover;
    }
    &:active:hover{
      @extend .btn-blue:hover;
      box-shadow: none;
    }
  }
  h4{
    a{
      &:hover{
        color: $red;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-diversidad{
  border: 3px solid $purple;
  .label-default{
    background: $purple;
  }
  .group{
    color: $purple;
  }
  hr{
    border: 1px solid $purple;
  }
  .btn-apoyo {
    color: white;
    background-color: $purple;
    border: 3px solid $purple;
    &:hover{
      background-color: transparent;
      color: $purple;
      border: 3px solid $purple;
    }
    &:focus{
      @extend .btn-apoyo:hover;
    }
    &:active:hover{
      @extend .btn-apoyo:hover;
      box-shadow: none;
    }
  }
  .btn-blue {
    color: $purple;
    background-color: transparent;
    border: 3px solid $purple;
    &:hover{
      background-color: $purple;
      color: white;
      border: 3px solid $purple;
    }
    &:focus{
      @extend .btn-blue:hover;
    }
    &:active:hover{
      @extend .btn-blue:hover;
      box-shadow: none;
    }
  }
  h4{
    a{
      &:hover{
        color: $purple;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-tecnologia{
  border: 3px solid $blue;
  .label-default{
    background: $blue;
  }
  .group{
    color: $blue;
  }
  hr{
    border: 1px solid $blue;
  }
  .btn-apoyo {
    color: white;
    background-color: $blue;
    border: 3px solid $blue;
    &:hover{
      background-color: transparent;
      color: $blue;
      border: 3px solid $blue;
    }
    &:focus{
      @extend .btn-apoyo:hover;
    }
    &:active:hover{
      @extend .btn-apoyo:hover;
      box-shadow: none;
    }
  }
  .btn-blue {
    color: $blue;
    background-color: transparent;
    border: 3px solid $blue;
    &:hover{
      background-color: $blue;
      color: white;
      border: 3px solid $blue;
    }
    &:focus{
      @extend .btn-blue:hover;
    }
    &:active:hover{
      @extend .btn-blue:hover;
      box-shadow: none;
    }
  }
  h4{
    a{
      &:hover{
        color: $blue;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-educacion_y_trabajo{
  border: 3px solid $pink;
  .label-default{
    background: $pink;
  }
  .group{
    color: $pink;
  }
  hr{
    border: 1px solid $pink;
  }
  .btn-apoyo {
    color: white;
    background-color: $pink;
    border: 3px solid $pink;
    &:hover{
      background-color: transparent;
      color: $pink;
      border: 3px solid $pink;
    }
    &:focus{
      @extend .btn-apoyo:hover;
    }
    &:active:hover{
      @extend .btn-apoyo:hover;
      box-shadow: none;
    }
  }
  .btn-blue {
    color: $pink;
    background-color: transparent;
    border: 3px solid $pink;
    &:hover{
      background-color: $pink;
      color: white;
      border: 3px solid $pink;
    }
    &:focus{
      @extend .btn-blue:hover;
    }
    &:active:hover{
      @extend .btn-blue:hover;
      box-shadow: none;
    }
  }
  h4{
    a{
      &:hover{
        color: $pink;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-proteccion_y_familia{
  border: 3px solid $yellow;
  .label-default{
    background: $yellow;
  }
  .group{
    color: $yellow;
  }
  hr{
    border: 1px solid $yellow;
  }
  .btn-apoyo {
    color: white;
    background-color: $yellow;
    border: 3px solid $yellow;
    &:hover{
      background-color: transparent;
      color: $yellow;
      border: 3px solid $yellow;
    }
    &:focus{
      @extend .btn-apoyo:hover;
    }
    &:active:hover{
      @extend .btn-apoyo:hover;
      box-shadow: none;
    }
  }
  .btn-blue {
    color: $yellow;
    background-color: transparent;
    border: 3px solid $yellow;
    &:hover{
      background-color: $yellow;
      color: white;
      border: 3px solid $yellow;
    }
    &:focus{
      @extend .btn-blue:hover;
    }
    &:active:hover{
      @extend .btn-blue:hover;
      box-shadow: none;
    }
  }
  h4{
    a{
      &:hover{
        color: $yellow;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.label-default{
  @extend .small;
}
.label-red{
  @extend.label-default;
  background-color: $red;
}
.label-blue{
  @extend.label-default;
  background-color: $blue;
}
.label-green{
  @extend.label-default;
  background-color: $green;
}
.label-yellow{
  @extend.label-default;
  background-color: $yellow;
}
.label-pink{
  @extend.label-default;
  background-color: $pink;
}
.label-purple{
  @extend.label-default;
  background-color: $purple;
}
.share-card{
  padding: 40px 0 0;
  hr{
    position: relative;
    top: 7px;
  }
  .social-buttons{
    font-size: 10px;
    position: relative;
    top: 17px;
    a{
      color: black;
    }
  }
}
.apoyo-contador {
  text-align: left;
}
.conteo{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 30px;
  position: relative;
  top: 6px;
}

/*DETAIL*/
.breadcrumb{
  background-color: transparent;
  border-radius: none;
  margin: 20px 0;
  padding: 0;
  color: black;
  a{
    color: black;
    &:hover{
      color: white;
      text-decoration: none;
    }
  }
  .active{
    color: white;
  }
  li+li:before{
    color: black;
  }
}
.votita-love-detail-politica{
  background-color: $yellow;
  padding-bottom: 40px;
}
.votita-love-detail-salud{
  background-color: $blue;
  padding-bottom: 40px;
}
.votita-love-detail-medio_ambiente{
  background-color: $green;
  padding-bottom: 40px;
}
.votita-love-detail-cultura{
  background-color: $red;
  padding-bottom: 40px;
}
.votita-love-detail-diversidad{
  background-color: $purple;
  padding-bottom: 40px;
}
.votita-love-detail-tecnologia{
  background-color: $blue;
  padding-bottom: 40px;
}
.votita-love-detail-educacion_y_trabajo{
  background-color: $pink;
  padding-bottom: 40px;
}
.votita-love-detail-proteccion_y_familia{
  background-color: $yellow;
  padding-bottom: 40px;
}
.votita-detail{
  .label-default{
    background: white;
    color: black;
  }
  h1{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 700;
  }
  p{
    font-size: 15px;
  }
  .group{
    font-weight: 600;
    letter-spacing: 2px;
  }
  .invitacion{
    font-size: 20px;
  }
  .btn-apoyo{
    background-color: white;
    color: black;
    width: 100%;
    &:hover{
      background-color: transparent;
      color: white;
    }
  }
  .blue-light-txt{
    font-size: 18px;
    position: relative;
    top: -4px;
  }
  hr{
    border: 1px solid white;
    margin: 0 0 40px;
  }
}
.share-detail{
  padding: 70px 10px 20px;
  a{
    color: black;
    &:hover{
      color: white;
    }
  }
  .fa-inverse{
    &:hover{
      color: black;
    }
  }
}

.img-candidato-small{
  width: 60px;
}

/*PLAN*/
.votita-plan{
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px 40px 20px;
  margin: 20px 0;
  h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
  }
}
.proposal-plan{
  border: none;
  margin: 20px 0 15px;
  a{
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 15px;
    font-weight: 700;
    &:hover{
      text-decoration: none;
    }
  }
}

/*MATERIALS*/
#main-materiales{
  background-color: $blue;
  color: white;
  padding-bottom: 60px;
}
.col-materiales{
  width: 230px;
  margin: 0 auto;
  height: 320px;
}
.material-download{
  height: 60px;
}
#materiales{
  margin-top: -120px;
}

/*MODALS*/
.modal-content{
  box-shadow: none;
  border: none;
}
.modal-header{
  border-bottom: none;
}
.modal-footer{
  border-top: none;
}
.btn-info{
  background-color: black;
  border: 3px solid black;
  &:hover{
    background-color: transparent;
    color: black;
    border: 3px solid black;
  }
  &:focus{
    @extend .btn-info:hover;
  }
  &:active:hover{
    @extend .btn-info:hover;
    box-shadow: none;
  }
}

/*FORMS*/
.form-control{
  border: 2px solid black;
}
.btn-enviar{
  background-color: $yellow;
  border: 3px solid $yellow;
  color: white;
  &:hover{
    background-color: transparent;
    color: $yellow;
  }
}
.btn-agregar{
  background-color: $green;
  border: 3px solid $green;
  color: white;
  &:hover{
    background-color: transparent;
    color: $green;
  }
}
.bootstrap-tagsinput{
  width: 1180px !important;
  box-shadow: none;
  border: 2px solid black !important;
}
.label-info{
  background-color: $purple;
}
.theme-form{
  font-weight: 700;
  color: $purple;
  font-family: 'Nunito', sans-serif;
  margin-top: 0;
}
#thanks-gathering{
  margin-top: 40px;
  min-height: 500px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: black;
}
.nav>li>a:focus, .nav>li>a:hover{
  background-color: $purple;
}
.nav-pills>li>a{
  color: black;
}

/*OTHER*/
.alert-success{
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

/*FOOTER*/
.greenline{
  background-image: url("../img/lm-footer.svg");
  background-repeat: no-repeat;
  min-height: 144px;
  margin-top: 90px;
}
footer{
  background-color: $green;
  min-height: 170px;
  font-size: 10px;
  color: white;
  padding: 60px 0 30px;
  a{
    color: white;
    font-size: 14px;
    &:hover{
      color: white;
    }
  }
}
.footer-logo{
  margin: 20px 0;
}
.redes{
  margin: 45px 0;
}

/*PRINT*/
.print_only {
  display:none;
}
.print-share-urls{
  display:none;
}

/*VIDEO*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
