@import 'lm-colors';

/*BASICS*/
html, body {
  color: $main-text;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.small{
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.img-responsive{
  display: inline;
}
.btn{
  border-radius: 20px;
  border: none;
  padding: 10px 18px;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
  border: 3px solid white;
  @extend .small;
}
.btn-default{
  border: 3px solid white;
  &:hover{
    background-color: transparent;
    color: white;
    border: 3px solid white;
  }
  &:focus{
    @extend .btn-default:hover;
  }
  &:active:hover{
    @extend .btn-default:hover;
    box-shadow: none;
  }
}
h1{
  font-family: 'Fredoka One', sans-serif;
  letter-spacing: 2px;
}
h2{
  @extend h1;
}
h4{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: black;
  a{
    color: black;
    &:hover{
      color: black;
      text-decoration: none;
    }
    &:focus{
      @extend a:hover;
    }
    &:active:hover{
      @extend a:hover;
      box-shadow: none;
    }
  }
}
/*MAIN CONTAINERS*/
.color{
  color: white;
}
.purple{
  background-color: $purple;
}
.blue{
  background-color: $blue;
}
.green{
  background-color: $green;
}
.yellow{
  background-color: $yellow;
}
.pink{
  background-color: $pink;
}
.red{
  background-color: $red;
}
.purpleline{
  background-image: url("../img/lm-purpleline.svg");
  background-repeat: no-repeat;
  min-height: 28px;
}
.yellowline{
  background-image: url("../img/lm-yellowline.svg");
  background-repeat: no-repeat;
  min-height: 46px;
  margin-top: -48px;
}
.special-position{
  position: relative;
  top: 100px;
}

/*HOME 0*/
.logo-title{
  position: relative;
  top: 100px;
}
#banner{
  min-height: 400px;
}
#que-es{
  padding: 30px 0 60px;
}
#contact{
  padding: 30px 0 240px;
}

/*PROPOSALS REPOSITORY*/
#grid{
  position: relative;
}
#grid > #posts .post{
  width: 340px;
}
#posts{
  position: relative;
  height: -webkit-fill-available;
}
.post.propuesta{
  position: absolute;
  left: 0px;
  top: 0px;
}
.post{
  margin: 0 0 50px;
}
.propuesta{
  min-height: 310px;
  border-radius: 10px;
  padding: 0;
  position: relative;
}
.propuesta-content{
  padding: 25px 20px 35px;
}
.votita-love-politica{
  border: 3px solid $yellow;
  .label-default{
    background: $yellow;
  }
  h4{
    a{
      &:hover{
        color: $yellow;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-salud{
  border: 3px solid $blue;
  .label-default{
    background: $blue;
  }
  h4{
    a{
      &:hover{
        color: $blue;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-medio_ambiente{
  border: 3px solid $green;
  .label-default{
    background: $green;
  }
  h4{
    a{
      &:hover{
        color: $green;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-cultura{
  border: 3px solid $red;
  .label-default{
    background: $red;
  }
  h4{
    a{
      &:hover{
        color: $red;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-diversidad{
  border: 3px solid $purple;
  .label-default{
    background: $purple;
  }
  h4{
    a{
      &:hover{
        color: $purple;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-tecnologia{
  border: 3px solid $blue;
  .label-default{
    background: $blue;
  }
  h4{
    a{
      &:hover{
        color: $blue;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-educacion_y_trabajo{
  border: 3px solid $pink;
  .label-default{
    background: $pink;
  }
  h4{
    a{
      &:hover{
        color: $pink;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.votita-love-proteccion_y_familia{
  border: 3px solid $yellow;
  .label-default{
    background: $yellow;
  }
  h4{
    a{
      &:hover{
        color: $yellow;
        text-decoration: none;
      }
      &:focus{
        @extend a:hover;
      }
      &:active:hover{
        @extend a:hover;
        box-shadow: none;
      }
    }
  }
}
.label-default{
  @extend .small;
}

/*FOOTER*/
.greenline{
  background-image: url("../img/lm-footer.svg");
  background-repeat: no-repeat;
  min-height: 144px;
  margin-top: -148px;
}
footer{
  background-color: $green;
  min-height: 170px;
  font-size: 10px;
  color: white;
  padding: 60px 0 30px;
  a{
    color: white;
    font-size: 14px;
    &:hover{
      color: white;
    }
  }
}
.footer-logo{
  margin: 20px 0;
}
.redes{
  margin: 45px 0;
}
