/* ==========================================================================
   Definición de los colores
   ========================================================================== */
$red:  #FF645B;
$blue:  #7AB7FF;
$yellow:  #FEC70D;
$green:  #49B172;
$purple:  #CB78D3;
$pink:  #FA589A;
