/* ==========================================================================
   Definición de los colores
   ========================================================================== */
$main-text: black;

$purple:  #CB78D3;
$blue:  #7AB7FF;
$green:  #49B172;
$yellow:  #FEC70D;
$pink:  #FA589A;
$red:  #FF645B;
$sky:  #B2E1FF;
