@media screen and (max-width: 991px) {
  /*HOME 0*/
  .logo-title{
    top: 30px;
  }
  #que-es{
    padding: 100px 0 60px;
  }
  #contact{
    padding: 80px 0 240px;
  }
}
@media screen and (max-width: 991px) {
  /*PROPOSALS REPOSITORY*/
  #grid > #posts .post{
    width: 440px;
  }
}
@media screen and (max-width: 768px) {
  /*PROPOSALS REPOSITORY*/
  #grid > #posts .post{
    width: 100%;
  }
}
