@media screen and (max-width: 1024px) {

  section#hero {
    background: $yellow;
  }

}

@media screen and (min-width: 768px) {
  li.destacado:before {
    content: url(../img/destacado.svg);
    position: absolute;
    top: -10px;
    left: 90px;
  }
  .img-candidato {
      width: initial;
      margin: 0 auto;
      height: initial;
  }
}

@media screen and (max-width: 900px) {
  .fondo-blanco{
      border: none;
    }
}

@media screen and (max-width: 767px) {
  h1 {
      letter-spacing: 3px;
    }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: $yellow;
  }
}

@media screen and (max-width: 320px) {

  h1 {
    font-size: 28px;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: 300;
    line-height: 40px;
  }

  h2 {
    font-size: 22px;
  }

  .btn {
    font-size: 11px;
    padding: 7px 10px;
    width: 100%;
  }

  .btn.arrow {
    width: initial;
  }

  .small {
    font-size: 11px;
  }

  section#hero {
    padding: 50px 0;
  }

  #hero h1 .small {
    font-size: 11px;
    line-height: 21px;
    letter-spacing: 2px;
  }

  #hero .input-group-lg > .input-group-addon {
    width: 0;
  }

  #home-search:before {
    display: none;
  }

  .elections-results {
    bottom: -60px;
  }

  section#como-funciona {
    padding: 50px 0;
  }

  section#que-hago {
      padding: 50px 0;
  }

  .tips {
    padding: 15px;
  }

  .fondo-blanco {
    padding: 15px;
  }

  .wizard .pull-right {
    width: 100%;
  }

  #footer .col-md-6.col-sm-6.col-xs-12 {
    text-align: center;
  }

  .tooltip-inner {
    max-width: 200px;
  }

  .propuesta {
      min-height: 300px;
  }

  .ribbon {
    left: 70px;
  }

}
