@media screen and (max-width: 320px) {

  h1 {
    font-size: 28px;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: 300;
    line-height: 40px;
  }

  #hero h1 {
    font-size: 34px;
    letter-spacing: 4px;
    font-weight: 700;
  }

  h2 {
    font-size: 22px;
  }

  .btn {
    letter-spacing: 0px;
    font-size: 11px;
    padding: 7px 10px;
    width: 100%;
  }

  .btn.arrow {
    width: initial;
  }

  .small {
    font-size: 11px;
  }

  section#hero {
    padding: 50px 0;
  }

  section#como-funciona {
    padding: 50px 0;
  }

  section#que-hago {
      padding: 50px 0;
  }

  .tips {
    padding: 15px;
  }

  .fondo-blanco {
    padding: 15px;
  }

  .wizard .pull-right {
    width: 100%;
  }

  #footer .col-md-6.col-sm-6.col-xs-12 {
    text-align: center;
  }

}

@media screen and (max-width: 1024px) {

  section#hero {
    background: #FFC80A;
  }

}