@media screen and (max-width: 991px) {
  /*HOME 0*/
  .logo-title{
    top: 30px;
  }
  .special-position{
    top: 30px;
  }
  #que-es{
    padding: 50px 0 60px;
  }
  #contact{
    padding: 20px 0 90px;
  }
  #soon{
    padding: 40px 0 210px;
  }
  p.bajada{
    font-size: 16px;
    line-height: 20px;
  }
  p.aviso{
    font-size: 20px;
    line-height: 24px;
  }
}
