@media screen and (max-width: 1199px) {
  .presidents{
    bottom: -250px;
  }

  .ribbon-wrapper-candidate {
    .ribbon-candidate {
      padding: 6px 0 5px 0;
      top: 84px;
      right: -118px;
      width: 188px;
    }
  }
}

@media screen and (max-width: 991px) {

  #home-elected-candidate{
    .panel-body{
      margin: 10px 0 0;
    }
  }
  .fa-stack{
    top: 0;
  }
  .presidents{
    bottom: -20px;
    margin-top: -20px;
  }

  .action-encuentro{
    margin: 40px 0 130px;
  }
  .action-crea{
    margin: 180px 0 130px;
  }
  .action-apoya{
    margin: 180px 0 130px;
  }

  .apoya-comparte{
    text-align: center;
  }

  .share-detail{
    text-align: center;
  }
  .share-detail{
    .btn-apoyo{
      background-color: $grey-one;
      top: 11px;
      width: initial;
      &:hover{
        color: $grey-one;
        background-color: white;
      }
    }
    .btn-no-apoyo{
      width: initial;
    }
  }

  .share-detail .fa-inverse {
      color: $yellow;
  }

  .share-detail a .fa-stack {
      color: white;
      top: 7px;
  }

  .share-detail a .fa-stack:hover {
      color: $grey-one;
  }

  .naranja-form{
    .candidate-result-value{
      margin: 60px 0 10px;
    }
  }

  .mano{
    display: none;
  }
  .gallery > div:hover > img {
    transform: none;
  }

  .ribbon-wrapper-candidate {
    width: 100%;
    .ribbon-candidate {
      right: -38%;
      top: 47%;
    }
  }
}

@media screen and (max-width: 900px) {
  .fondo-blanco{
    border: none;
  }
}

@media screen and (max-width: 900px) {
  #home-search:after{
    display: none;
  }
}

@media screen and (max-width: 784px) {
  #home-search input{
    width: 90%;
  }
}

@media screen and (max-width: 630px) {
  .ribbon-wrapper-candidate {
    width: 100%;
    .ribbon-candidate {
      right: -36%;
      top: 49%;
    }
  }
}

@media screen and (max-width: 560px) {
  #welcome{
    h1{
    font-size: 28px;
    font-weight: 700;
    }
    h2{
      line-height: 1.2;
    }
    .hashtag{
      font-size: 22px;
    }
  }
  .ribbon-wrapper-candidate {
    width: 100%;
    .ribbon-candidate {
      right: -27%;
      top: 49%;
    }
  }
}


@media screen and (max-width: 495px) {
  #you-org{
    .btn{
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 425px) {
  .content_padding {
    padding-top: 20px;
  }
  .org-background{
    min-height: 200px;
  }
  .landing-org{
    position: relative;
    top: 90px;
  }
  .wizard {
    .paso {
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 397px) {
  .counter-number{
    font-size: 32px;
    top: 5px;
  }
}

@media screen and (max-width: 388px) {
  .org-info h2{
    margin-top: 120px;
  }
}

@media screen and (max-width: 360px) {
  #actions {
    margin: 20px 0px;
    h2 {
      font-size: 30px;
      margin: 20px 0px;
    }
  }
  .bajada {
    margin: 0px;
  }
  .ribbon-wrapper-candidate {
    width: 100%;
    .ribbon-candidate {
      right: -23%;
      top: 47%;
    }
  }
}


@media screen and (max-width: 320px) {
  #you-org{
    font-size: 10px;
  }

  .fondo-blanco{
    h1{
      text-transform: uppercase;
    }
  }

  .propuesta-content{
    margin-bottom: 130px;
  }

  .share{
    text-align: center;
  }

  .share-card a .fa-stack{
    margin: 10px 0 10px;
  }
}

@media screen and (max-width: 320px) {
  .ribbon-wrapper-candidate {
    width: 100%;
    .ribbon-candidate {
      right: -19%;
      top: 41%;
    }
  }
}
