@media print {
  @page {size: landscape}
  html .navbar_visible {
    padding-top: 5px;
  }
  .print_hidden {
    display: None;
  }
  .fondo-blanco {
    padding: 0px 15px;
    border: 0px;
    margin-bottom: 0px;
    &.text-width {
      max-width: initial;
    }
    h1 {
      font-weight: 500;
      font-size: 36px;
      letter-spacing: 3px;
    }
    #proposal-details {
      h2 {
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
  }
  .print-share-urls {
    display: block;
    transform: rotate(90deg);
    position: absolute;
    top: -200px;
    border-left: 1px dashed;
    padding-left: 10px;
    margin-left: 465px;
    li {
      padding: 2px 0px;
      margin: 2px 0px;
      border-top: 1px dashed;
    }
  }
  .proposal-banner-org {
    display: none;
  }
  .proposal-tools {
    display: none;
  }
  .apoya-comparte {
    display: none;
  }
  .llamado {
    display: none;
  }
}
