@media screen and (max-width: 320px) {

  h1 {
    letter-spacing: 4px;
    font-size: 34px;
  }

  h2 {
    font-size: 22px;
  }

  .btn {
    letter-spacing: 0px;
    font-size: 11px;
    padding: 7px 10px;
    width: 100%;
  }

  .btn.arrow {
    width: initial;
  }

  .small {
    font-size: 11px;
  }

  section#hero {
    padding: 50px 0;
  }

  section#como-funciona {
    padding: 50px 0;
  }

  section#que-hago {
      padding: 50px 0;
  }

  .tips {
    padding: 15px;
  }

  .fondo-blanco {
    padding: 15px;
  }

}

@media screen and (max-width: 1024px) {

  section#hero {
    background: #FFC80A;
  }

}