{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}- Portada{% endblock title %}

{% block content %}

{% if form.errors %}
  {% for t_key, type_of_error in form.errors.items %}
    {{type_of_error}}
  {% endfor %}
{% endif %}

<section class="row candidato-form">
  <div class="col-md-8 offset-md-2">
    <h1 class="text-center">Olá, candidata/o!</h1>
    {% if config.MEREPRESENTA_CANDIDATES_ALLOWED_TO_LOGIN %}
    <h2 class="text-center">
      Antes de começar, precisamos de alguns dados seus:
    </h2>
      
    <div class="form-container">
      <form method='POST' action="{% url 'cpf_and_date2' %}">
        {% csrf_token %}

         <!-- Data de Nascimento -->
          <div class="form-group">
            <label class="text-center" 
              for="nascimento-id">
              Qual sua data de nascimento?
            </label>
            <input 
              id="nascimento-id" 
              name="nascimento"
              placeholder="dd/mm/YYYY" 
              class="form-control"
              autocomplete="off"
              required="True" />
            <small id="helpNascimento" class="form-text text-muted"></small>
          </div>

          <!-- CPF -->
          <div class="form-group">
              <label class="text-center"
                for="cpf-id">
                Qual seu CPF?
              </label>
              <input id='cpf-id' 
                class="form-control" 
                name='cpf' 
                aria-describedby="cpfhelp" 
                placeholder="00000000000" 
                required="True">
              <small id="cpfhelp" class="form-text text-muted"></small>
          </div>

          <div class="termos">
            <h3>Termos de uso</h3>
              <ul class="list-unstyled">
                <li>
                  <i class="fas fa-check"></i>
                  Dados preenchidos aqui poderão ser pesquisados durante e após o período eleitoral 
                </li>
                <li>
                  <i class="fas fa-check"></i>
                  Você é responsável pelas afirmações preenchidas
                </li>
                <li>
                  <i class="fas fa-check"></i>
                  Não fazemos pesquisa de intenção de votos, nem campanha eleitoral
                </li>
                <li>
                  <i class="fas fa-check"></i>
                  Você pode alterar suas respostas ao questionário até o dia 12/9
                </li>
                <li>
                  <i class="fas fa-check"></i>
                  Você pode apagar seus dados da plataforma quando quiser
                </li>
             
              </ul>
          </div>

          <div class="termos-continuar">
            <button type="submit" class="btn btn-azul">
              Continuar e concordar com os termos
            </button>

            <div class="d-flex justify-center">
              <a class="small-link" 
                href="{% url 'termos' %}">
                ver termos de uso completo
              </a>
            </div>
          </div>
      </form>
    </div>
    {% else %}
    <h2 class="text-center">
      As candidatas/os não podem mais inserir informações.
    </h2>
    {% endif %}
  </div>
</section>

{% endblock content %}



{% block scripts %}
<script type="text/javascript">
$(function(){
    var currentDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
    $("#nascimento-id").datepicker({
        dateFormat: 'dd/mm/yyyy'
    });
});
    
</script>
{% endblock scripts %}
