{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}- Portada{% endblock title %}

{% block content %}
<div class="content">
  {% if config.MEREPRESENTA_CANDIDATES_ALLOWED_TO_LOGIN %}
    {% if form.errors %}
    {{form.errors}}
    {% endif %}
    <form method='POST' action="{% url 'cpf_and_date' %}">
        {% csrf_token %}
      <div class="form-group">
        <label for="cpf-id">Informe seu CPF</label>
        <input id='cpf-id' class="form-control" name='cpf' aria-describedby="cpfhelp" placeholder="CPF" required="True">
        <small id="cpfhelp" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label for="nascimento-id">Sua data de nascimento</label>
        <input id='nascimento-id' class="form-control" name='nascimento' required="True" aria-describedby="helpNascimento" placeholder="Data de nascimento">
        <small id="helpNascimento" class="form-text text-muted"></small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% else %}
    <h1>As candidatas/os não podem mais inserir informações.</h1>
    {% endif %}
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
$(function(){
    var currentDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
    $("#nascimento-id").datepicker({
        format: 'dd/mm/yyyy'
    });
});
    
</script>
{% endblock scripts %}