{% extends "base.html" %}

{% load staticfiles %}
{% load flatpages %}
{% load sass_tags %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}

{% block everything %}
<section class="container login-fb">
  {% block content %}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="flex">
        <h1 class="text-center">Olá {{candidate.name}} :)</h1>
        <a class="small-link" href="#">
          Esse não é meu nome
          <i class="fas fa-question-circle"></i>
        </a>
      </div>
      <h2 class="text-center">
        Para validar seu cadastro, é necessário a conexão com o Facebook. 
        Recomendamos que você verifique se o perfil é seu, pois utilizaremos 
        essas informações no cadastro.
      </h2>
        
      <div class="form-container flex margin-bottom">
        <h3>Vamos começar?</h3>
        <a class="btn btn-azul btn-block" 
          href="{% url 'candidato_social_begin' 'facebook' candidate.slug %}">
            Conectar com o Facebook e continuar
        </a>
        <a class="small-link" href="#">Por que Facebook?</a>
      </div>
    </div>
  </div>
  {% endblock content %}
</section>
{% endblock everything %}
