{% extends "base.html" %}

{% load staticfiles %}
{% load flatpages %}
{% load sass_tags %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}

{% block everything %}
<section class="container login-fb">
  {% block content %}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="flex">
        <h1 class="text-center">Olá {{candidate.name}} :)</h1>
        <a class="small-link" href="#">
          Esse não é meu nome
          <i class="fas fa-question-circle"></i>
        </a>
      </div>
      <h2 class="text-center">
        Para validar seu cadastro, é necessário a conexão com o Facebook. 
        Recomendamos que você verifique se o perfil é seu, pois utilizaremos 
        essas informações no cadastro.
      </h2>
        
      <div class="form-container flex margin-bottom">
        <h3>Vamos começar?</h3>
        <a class="btn btn-azul btn-block" 
          href="{% url 'candidato_social_begin' 'facebook' candidate.slug %}">
            Conectar com o Facebook e continuar
        </a>
        <a class="small-link" href="#">Por que Facebook?<i class="fas fa-info-circle" 
          data-toggle="tooltip" 
          data-placement="right" 
          title="Nosso cadastro é conectado com seu perfil pessoal para evitar que outras pessoas respondam em seu nome.
"></i></a>
      </div>
    </div>
  </div>
  {% endblock content %}
</section>

<div id="dialog-confirm" title="Cadastro com Facebook">
  <div class="row">
    <div class='col-8 offset-2 text-center'>
      <i class="fas fa-exclamation-triangle"></i>
    </div>
    <div class='col-8 offset-2 text-center'>
      <p><strong>Confirme que a conta de Facebook é da/o candidata/a</strong>. A imagem do seu perfil <strong> será visualizada pelas eleitoras e eleitores</strong> na plataforma.</p>
    </div>
  </div>
</div>

{% endblock everything %}


{% block scripts %}
  <script type="text/javascript">
    $( function() {
      $( "#dialog-confirm" ).dialog({
        resizable: false,
        height: "auto",
        width: 400,
        modal: true,
        closeOnEscape: false,
        classes: {"ui-dialog-titlebar": "ui-corner-all aviso-window-title",},
        buttons: {
          Aceitar: function() {
            $( this ).dialog( "close" );
          }
        }
      });
    });
           $(function () {$('[data-toggle="tooltip"]').tooltip()})
    </script>

{% endblock scripts %}
