{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}- Portada{% endblock title %}

{% block content %}
<div class="row obrigada-candidato margin-bottom">

  <div class="col-lg-10 offset-md-1 text-center">
    <h1>Obrigada!</h1>
    <p class="bottom">
        Você tem até dia 12 de setembro para alterar 
        seu cadastro e respostas na plataforma.
        Para ver seu perfil, 
        <a href="{{candidate.get_absolute_url}}">
            clique aqui
        </a>.
    </p>

    <h2>Não encontrou um tema importante pra você?</h2>
    <a href="mailto:contato@merepresenta.org.br">Deixe uma sugestão pra gente!</a>
  </div>

  <div class="col-3 offset-md-9">
    <a class="btn btn-azul" 
      href="{{candidate.get_absolute_url}}">
      Continuar
    </a>
  </div>

</div>

<div class="row obrigada-pautas margin-bottom">
    <div class="col-lg-6">
      <h1>
        Conheça nossas 
        <span>#pautas</span>
      </h1>

      <p>
        Não se preocupe se você não conseguiu se aprofundar mais sobre as 
        pautas que viu aqui na plataforma. Nós temos uma página com todo 
        conteúdo reunido!
      </p>

      <a href="{% url 'pautas' %}" 
      value="Ir para a página" 
      class="btn btn-azul"
      target="_blank">
        Conhecimento nunca é demais! Vambora!
      </a>

    </div>
  
    <div class="col-lg-6">
      <img src="{% static '/img/Ilustra_Galera_Azul.png' %}" alt="MeRepresenta">
    </div>
</div>

{% endblock content %}
