{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}- Portada{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="obrigada-candidato">Obrigada!</h1>
    <p>Você tem até dia 12 de setembro para alterar seu cadastro e respostas na plataforma.</p>
    <p>Agora você pode</p>

    <a class="btn btn-success" href="{{candidate.get_absolute_url}}">Visualizar seu perfil</a>
    <div><small>Não encontrou um tema importante pra você? <a href="mailto:contato@merepresenta.org.br">Deixe uma sugestão pra gente!</a></small></div>
    
  </div>
</div>
{% endblock content %}