interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.facebook.com/v2.5/https://www.facebook.com/circoroto?fields=about%2Cpicture%2Cevents%2Cname&access_token=FieraEsLaMejorAmigaDeTodos
  response:
    body: {string: !!python/unicode '{"error":{"message":"Invalid OAuth access token
        data.","type":"OAuthException","code":190,"fbtrace_id":"DFqsZkikkfV"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      www-authenticate: [OAuth "Facebook Platform" "invalid_token" "Invalid OAuth
          access token data."]
    status: {code: 400, message: Bad Request}
version: 1
