{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load markdown_deux_tags %}
{% load votainteligente_extras %}
{% load thumbnail %}
{% load ogp_tags %}
{% load cache %}

{% block title %} - {{election}} - {{candidate.name}}{% endblock title%}
{% block navbar_background %}yellow{% endblock navbar_background %}

{% block tab_profile %}class="active"{% endblock %}
{% block content_container %}{% endblock content_container %}
{% block election_breadcrumbs %}{% endblock %}

{% block ogp %}
  {% render_ogp candidate %}
{% endblock ogp %}

{% block extrakeywords %}{{candidate.name}},{{candidate.election.position}} para {{candidate.election.area.name}},{% get_personal_data candidate=candidate personal_data='Partido' as partido %}{% if partido.value %} {{partido.value}}, {% endif %}{% endblock extrakeywords %}

{% block content %}
<div class="container text-center" itemscope itemtype="http://schema.org/Person">
  <h1 itemprop="name" class="candidate-name">{{ candidate.name }}</h1>

  <h3>{% get_personal_data candidate=candidate personal_data='lema' as lema %}{{lema.value}}</h3>
    {% comment %}
  {% if user|is_candidate %}
  {% with user.candidacies.first as candidacy %}
    {% if candidacy.candidate == candidate %}
    {% url 'merepresenta_complete_profile' slug=candidacy.candidate.election.slug candidate_slug=candidacy.candidate.slug  as complete_profile %}
      <a href="{{complete_profile}}" class="btn btn-dark">Modificar mi perfil</a>
    {% endif %}
  {% endwith%}
{% endif %}
    {% endcomment %}
</div>

<div class="profile">
  <div class="container">
    <div class="row content_padding">
      <div class="col-md-2 col-sm-2 col-xs-12">
          <div id="candidate-img-profile">
            {% if candidate.image %}
              {% thumbnail candidate.image "300x300" crop="center" as im %}
                  <img src="{{ im.url }}" alt="{{candidate.name}}" height="300" width="300" border="0" class="img-responsive img-circle img-candidato" itemprop="image">
              {% endthumbnail %}
              {% else %}
              <img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive img-circle img-candidato img-candidato">
            {% endif %}
            {% if config.SHOW_RIBBON_IN_CANDIDATE and not candidate.commitments.count %}<div class="ribbon label label-danger">No se ha comprometido en VotaInteligente</div>{% endif %}
          </div>
      </div>
      <div id="info-candidato" class="col-xs-12 col-sm-7 col-md-7">
        <table class="table">
          <tr>
            <td>
            {% get_personal_data candidate=candidate personal_data='Partido' as partido %}
              {% if partido.value %}
              <p class="small-basic"><b>Partido</b></p>
              <p>{{partido.value}}</p>
            {% endif %}
            </td>
            {% get_personal_data candidate=candidate personal_data='Pacto' as pacto %}
            {% if pacto.value %}
              <td colspan="2">
                <p class="small-basic"><b>Pacto</b></p>
                <p>{{pacto.value}}</p>
              </td>
              {% endif %}
          <tr>
          </tr>
            <td>
              {% if candidate.elections.count %}
              <p class="small-basic"><b>Cargo al que postula</b></p>
              <ul class="list-inline">
                {% for e in candidate.elections.all %}
                <li>{{e.position}}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </td>
            {% get_personal_data candidate=candidate personal_data='lupa' as lupa %}
            {% if lupa %}
              <td colspan="2">
                <p class="small-basic"><a target="_blank" href="{{lupa.value}}"><i class="fa fa-money" aria-hidden="true"></i> Aportes y gastos de campaña <i class="fa fa-external-link"></i></a></p>
              </td>
              {% endif %}

          </tr>

          {% get_personal_data candidate=candidate personal_data='experiencia' as experiencia %}
          {% if experiencia.value %}
          <tr>
            <td colspan="2">
              <p class="small-basic"><b>Reseña Biográfica</b></p>
              {{ experiencia.value|markdown }}
            </td>
          </tr>
          {% endif %}
          <tr>
            <td>
              <p class="small-basic"><b>Compromisos Ciudadanos</b></p>
              {% if candidate.commitments.committed.count %}
              <p>Este candidato se ha comprometido en VotaInteligente con</p>
              <p class="btn btn-info"><i class="fa fa-heart"></i>{{candidate.commitments.committed.count}} Propuestas ciudadanas</p>
              {% else %}
              <p>Este candidato aún no se ha comprometido en VotaInteligente</p>
              {% endif %}
            </td>
            <td>
              {% if candidate.contact_details.count %}
              <p class="small-basic"><b>Contactos</b></p>
              <ul class="list-inline">
                {% include 'elections/candidates/social_media.html' with candidate=candidate %}
              </ul>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        {% include 'elections/candidates/agenda.html' with candidate=candidate election=election %}
      </div>
    </div><!-- .row .content_padding -->
  </div><!-- container -->
</div><!-- profile -->
{% get_personal_data candidate=candidate personal_data='program_link' as program_link %}
{% if program_link.value %}
<div id="candidato-programa" class="container-fluid">

  <p class="text-center">{% ifequal candidate.election.position 'Presidenta o Presidente' %}
      Revisa su programa
    {% else %}
      Revisa sus ideas y planteamientos
    {% endifequal %}<a target="_blank" href="{{program_link.value}}" class="btn btn-white">aquí</a></p>
</div>
{% endif %}

{% endblock content %}

{% block extrajs %}{% endblock extrajs %}
