{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load markdown_deux_tags %}
{% load votainteligente_extras %}
{% load thumbnail %}
{% load ogp_tags %}
{% load cache %}

{% block title %} - {{election}} - {{candidate.name}}{% endblock title%}
{% block navbar_background %}yellow{% endblock navbar_background %}

{% block tab_profile %}class="active"{% endblock %}
{% block content_container %}{% endblock content_container %}
{% block election_breadcrumbs %}{% endblock %}

{% block ogp %}
  {% render_ogp candidate %}
{% endblock ogp %}

{% block extrakeywords %}{{candidate.name}},{{candidate.election.position}} para {{candidate.election.area.name}},{% get_personal_data candidate=candidate personal_data='Partido' as partido %}{% if partido.value %} {{partido.value}}, {% endif %}{% endblock extrakeywords %}

{% block content %}
<div class='row'>
    <div class="col text-center">
<h1 itemprop="name" class="candidate-name">{{ candidate.name }}</h1>
</div>
</div>

<div class='row'>
    <div class="col-4">
        {% if candidate.candidacy_set.first.user.profile.image %}
        <img src="{{candidate.candidacy_set.first.user.profile.image.url}}" alt="{{candidate.name}}" height="96" width="96" border="0" class="img-responsive img-circle">
      {% else %}
        <img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive img-circle">
      {% endif %}
      
      
    </div>
    <div class="col-8 ">
      <div class="row">
        <div class="col">
          <ul class="list-group list-group-flush desc_candidato">
            <li class="list-group-item">
              <small>Candidatura</small><br>
              {{candidate.election.name|title}}
            </li>
            <li class="list-group-item"><small>Partido</small><br>{{candidate.partido.initials}}</li>
            <li class="list-group-item"><small>Coaligacao</small><br>{{candidate.partido.coaligacao.name}}</li>
            <li class="list-group-item"><small>Estado</small><br>{{candidate.election.area.name|title}}</li>
            <li class="list-group-item"><small>Numero de urna</small><br>{{candidate.numero}}</li>
            <li class="list-group-item"><small>Data de nascimento</small><br>{{candidate.data_de_nascimento}}</li>
          </ul>
        </div>
        <div class="col">
          <ul class="list-group list-group-flush desc_candidato">
            <li class="list-group-item"><small>Cor e raça</small><br>{% for r in candidate.get_races %}<span class="badge badge-light">{{r}}</span>{% endfor %}</li>
            <li class="list-group-item"><small>Se declara LGBT?</small><br>{% if candidate.lgbt %}Sim{% else %}Não{% endif%}</li>
            <li class="list-group-item"><small>Faz parte de uma candidatura coletiva?</small><br>{% if candidate.candidatura_coletiva %}Sim{% else %}Não{% endif%}</li>
            {% if candidate.renovacao_politica %}
            <li class="list-group-item"><small>Faz parte de algum grupo de Renovação Política?</small><br>{{candidate.renovacao_politica}}
            {% endif %}
            
          </ul>
        </div>
      </div>
    

  </div>



{% endblock content %}

{% block extrajs %}{% endblock extrajs %}
