{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load markdown_deux_tags %}
{% load votainteligente_extras %}
{% load thumbnail %}
{% load ogp_tags %}
{% load cache %}

{% block title %} - {{election}} - {{candidate.name}}{% endblock title%}
{% block navbar_background %}yellow{% endblock navbar_background %}

{% block tab_profile %}class="active"{% endblock %}
{% block content_container %}{% endblock content_container %}
{% block election_breadcrumbs %}{% endblock %}

{% block ogp %}
  {% render_ogp candidate %}
{% endblock ogp %}

{% block extrakeywords %}
  {{candidate.name}},
  {{candidate.election.position}} para 
  {{candidate.election.area.name}},
  {% get_personal_data candidate=candidate personal_data='Partido' as partido %}
  {% if partido.value %} 
    {{partido.value}}, 
  {% endif %}
{% endblock extrakeywords %}

{% block everything %}
<section class="container candidate-profile">
  <div class='row'>

    <!-- Foto Candidato/a -->
    <div class="col-lg-4">
      {% if candidate.candidacy_set.first.user.profile.image %}
        <img src="{{candidate.candidacy_set.first.user.profile.image.url}}" 
          alt="{{candidate.name}}" 
          class="img-responsive img-circle profile-image">
      {% else %}
        <img src="{% static 'img/candidate-default.jpg' %}" 
          alt="{{candidate.name}}" 
          class="img-responsive img-circle">
      {% endif %}
    </div>
  
    <!-- Detalhes Candidato/a-->
    <div class="col-lg-7 offset-md-1">
      <h1 itemprop="name">
        {{candidate.name}}
      </h1>
      <h2>
        {{candidate.numero}}&nbsp;
        {{candidate.election.name|title}}
      </h2>
      <!-- Grid -->
      <div class="grid">
        <div class="item">
            <label>Partido</label>
            <p>{{candidate.partido.initials}}</p>
        </div>
        <div class="item coligacao">
            <label>Coligação</label>
            <p>{{candidate.partido.coaligacao.name}}</p>
        </div>
        <div class="item">
            <label>Nota de Coligação</label>
            <p>em análise</p>
            {% comment %}
            <p>{{candidate.partido.coaligacao.mark}}</p>
            {% endcomment %}
        </div>
        <div class="item">
            <label>UF</label>
            <p>{{candidate.election.area.name|title}}</p>
        </div>
      </div>
      <!-- Grid -->
    </div>
  </div>
</section>

  <!-- Pautas Detalhes -->
<section class="container pautas-container">
  <div class="row">
    <div class='col-lg-12'>
      <h3>Um pouco sobre a/o candidata/o</h3>
      <div class='bio-text'>
        {{candidate.bio|markdown}}
      </div>
    </div>
    <div class='col-lg-12' style="display:none">
      <h3>Coaligacoes</h3>
      <div class='bio-text'>
        <p>bla blablabla coaligacoes</p>
        {% for partido in candidate.partido.coaligacao.partido_set.all %}
          {{partido.initials}} - {{partido.mark}}
        {% endfor %}
      </div>
    </div>
  <!-- Temas Prioritários -->
  <div class='col-lg-12'>
    <h3>Temas prioritários</h3>
    <div class="temas">
      {% for link in candidate.candidatequestioncategory_set.all %}
        <div class='col-2 text-center'>
          {{link.category.name}}
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Pautas -->
  <div class="col-lg-12">
      <h3>Veja como {{candidate.name}} se posiciona: </h3>
  </div>
  {% for category in categories %}
  <div class="col-lg-12">
      <h3>{{category.name}}</h3>
  </div>
    {% for topic in category.topics.all %}
    <div class='col-lg-12'>
      <div class="resposta-candidato">
        {% get_taken_position_for topic candidate %}
      </div>
      <div style="display: none;">
        {% comment %}
        Miguel querida: vc sabe que tem que fazer aqui ;)
        {% endcomment %}
        {{topic.description}}
      </div>
    </div>
    {% endfor %}
    {% endfor %}

  </div>
</section>

{% endblock everything %}

{% block extrajs %}{% endblock extrajs %}
