{% extends "base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}

{% block title %}- Sobre{% endblock title %}

{% block everything %}

<section class="container eleitores">
  <div class="row margin-bottom">
    <div class="col-lg-7">
      <h1>
        Bem-vinda/o ao
        <span>Portal de eleitoras/es</span>
      </h1>

      <p>
        Nossa plataforma para eleitoras/es vai ser lançada em breve, 
      <span>na metade de setembro!</span>
      </p>

      <p>
        Deixe seu e-mail no <span>formulário abaixo</span> pra gente te avisar 
        quando estiver tudo pronto você usar! Estamos muito animadas!
      </p>

      <a href="{% url 'volunteer_index' %}" 
        class="btn btn-azul btn-uppercase">
        Quero ser voluntária/o
      </a>
    </div>

    <div class="col-lg-5">
      <img src="{% static '/img/merepresenta/merep_landing_image.svg' %}" alt="MeRepresenta">
    </div>
  </div>
</section>

{% endblock everything %}
