{% extends "base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}

{% block title %}- Portada{% endblock title %}

{% block everything %}

<section class="ajude">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 title-container">
        <h2 class="title">
          Encontre candidaturas que te representam! 
        </h2>

        <p>
          Quer entender quem são as/os candidatas/os que defendem 
          temas importantes pra você?
          Chega mais!
        </p>

        <div class="row ajude-btn">

          {% if user|is_candidate %}
            {% with user.candidacies.first as candidacy %}
            {% if candidacy.candidate.candidatequestioncategory_set.exists %}
            <div class="col-lg-12">
              <a href="{{candidacy.candidate.get_absolute_url}}" 
                  class="btn btn-roxo voluntario">Meu perfil</a>
            </div>
            {% else %}
            <div class="col-lg-12">
              <a href="{% url 'cpf_and_date2' %}" 
                class="btn btn-gris voluntario">Preencher dados</a>
            </div>
            {% endif %}
            {% endwith %}

            {% elif user.is_authenticated and user.is_staff %}
            <div class="col-lg-12">
              <a href="{% url 'volunteer_index' %}" 
                class="btn btn-roxo voluntario">Portal voluntario</a>
            </div>
            {% else %}

            <div class="col-lg-12">
              <a href="{% url 'match' %}" 
                class="btn btn-roxo voluntario btn-uppercase">
                Sou eleitor/a
              </a>
            </div>
            {% if config.MEREPRESENTA_CANDIDATES_ALLOWED_TO_LOGIN %}
            <div class="col-lg-12">
              <a href="{% url 'cpf_and_date2' %}"
              class="btn btn-azul voluntario btn-uppercase">Sou candidata/o</a>
            </div>
            {% endif %}

            <div class="col-lg-12">
              <a href="{% url 'volunteer_index' %}" 
                class="btn btn-azul voluntario btn-uppercase">
                Quero ser voluntária/o
              </a>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="col-lg-6 ajude-img">
        <img src="{% static '/img/ilustra_3_amarela.svg' %}" 
          class="img-fluid" 
          alt="Ilustração com balões de diálogo escritos Voto e #MeRepresenta">
      </div>

    </div>
  </div>
</section>

<section class="conheca">
    <div class="container">
      <div class="row">
          <div class="col-lg-6 video" >
              <iframe 
              width="540" 
              height="300" 
              src="https://www.youtube.com/embed/QtUHmuFFOt8" 
              frameborder="0" 
              allow="autoplay; encrypted-media" 
              allowfullscreen></iframe>
          </div>
          <div class="col-lg-6">
            <h2 class="title">
                Conheça o 
                <span>
                  #MeRepresenta
                </span>
            </h2>
            <p class='d-flex justify-content-between'>
              Somos uma união de coletivos formados por mulheres, pessoas negras e LGBT+ com o objetivo de diminuir a distância entre eleitoras/es e candidatas/os comprometidas/os com os direitos sociais, civis e políticos da população.
Em 2016 conectamos mais de 150 mil pessoas à candidaturas que valorizam
              os direitos humanos. E esse ano queremos mais!! 
            </p>
            <p class='d-flex justify-content-between'>
              A nova plataforma #MeRepresenta Eleições 2018 foi elaborada com a participação de diversas organizações da sociedade civil abordando temas importantes para você. </p>
          </div>
      </div>
    </div>
</section>

<section class="pautas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 bottom">
        <h2 class="text-center">Entenda as 
          <span>
            pautas
          </span> 
          em debate</h2>
      </div>

      <div class="col-sm-3 pauta-landing d-flex align-items-center justify-content-center item-rosa">
        <div class="pauta">
          <span class="pauta-item">#Gênero</span>
          <div class="pauta-caption item-rosa">
            <h3>#Gênero</h3>
            <ol> 
              <li>Legalização do aborto</li>
              <li>Monitoramento da Lei do feminicídio</li>
              <li>Financiamento público de campanhas de mulheres negras</li>
            </ol>
            <a href="{% url 'pautas' %}">quero saber mais</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 pauta-landing d-flex align-items-center justify-content-center item-azul">
        <div class="pauta">
          <span class="pauta-item">#LGBTs</span>
          <div class="pauta-caption item-azul">
            <h3>#LGBTs</h3>
            <ol> 
              <li>O preconceito contra LGBTs deve ser crime</li>
              <li>Trans e travestis podem usar o banheiro que quiserem</li>
              <li>Projeto “Escola sem partido”</li>
            </ol>
            <a href="{% url 'pautas' %}">quero saber mais</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 pauta-landing pauta-com-imagem d-flex align-items-center justify-content-center">
        <img class="pauta-imagem" src="{% static '/img/merepresenta/pautas-landing/pauta-img-1.jpg' %}" alt="Pauta X"/>
      </div>

      <div class="col-sm-3 pauta-landing d-flex align-items-center justify-content-center item-rosa">
        <div class="pauta">
          <span class="pauta-item">#Raça</span>
          <div class="pauta-caption item-rosa">
            <h3>#Raça</h3>
            <ol> 
              <li>Tornar crime o abate de animais em religiões de matriz africana</li>
              <li>Cotas raciais nas universidades</li>
              <li> Prioridade no atendimento de mulheres negras no SUS</li>
            </ol>
            <a href="{% url 'pautas' %}">quero saber mais</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 pauta-landing d-flex align-items-center justify-content-center item-amarelo">
        <div class="pauta">
          <span class="pauta-item">#Povos Tradicionais & Meio Ambiente</span>
          <div class="pauta-caption item-amarelo">
            <h3>#Povos Tradicionais & Meio Ambiente</h3>
            <ol>
              <li>Marco temporal na demarcação de terra</li>
              <li>Cotas para indígenas no Congresso</li>
              <li>Facilitar o uso de agrotóxicos</li>
            </ol>
            <a href="{% url 'pautas' %}">quero saber mais</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 pauta-landing pauta-com-imagem d-flex align-items-center justify-content-center">
        <img class="pauta-imagem" src="{% static '/img/merepresenta/pautas-landing/pauta-img-2.jpg' %}" alt="Pauta X"/>
      </div>

      <div class="col-sm-3 pauta-landing d-flex align-items-center justify-content-center item-azul">
        <div class="pauta">
          <span class="pauta-item">#Trabalho, Saúde e Educação</span>
          <div class="pauta-caption item-azul">
            <h3>#Trabalho, Saúde e Educação</h3>
            <ol> 
              <li>Reforma trabalhista</li>
              <li>Teto de gastos públicos</li>
            </ol>
            <a href="{% url 'pautas' %}">quero saber mais</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 pauta-landing d-flex align-items-center justify-content-center item-amarelo">
        <div class="pauta">
          <span class="pauta-item">#Migrantes</span>
          <div class="pauta-caption item-amarelo">
            <h3>#Migrantes</h3>
            <ol> 
              <li>Acolhimento de migrantes venezuelanos no Brasil</li>
              <li>Direito a voto de migrantes</li>
            </ol>
            <a href="{% url 'pautas' %}">quero saber mais</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 pauta-landing d-flex align-items-center justify-content-center item-azul">
        <div class="pauta">
          <span class="pauta-item">#Drogas</span>
          <div class="pauta-caption item-azul">
            <h3>#Drogas</h3>
            <ol> 
              <li>Legalização da maconha</li>
              <li>Internação compulsória para usuários de drogas</li>
            </ol>
            <a href="{% url 'pautas' %}">quero saber mais</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 pauta-landing d-flex align-items-center justify-content-center item-amarelo">
          <div class="pauta">
              <span class="pauta-item">
                #Corrupção
              </span>
              <div class="pauta-caption item-amarelo">
                  <h3>#Corrupção</h3>
                    <ol> 
                      <li>Políticos serem donos de emissoras de rádio e TV</li>
                      <li>Transparência nos gastos dos partidos políticos</li>
                    </ol>
                  <a href="{% url 'pautas' %}">quero saber mais</a>
              </div>
          </div>
      </div>

      <div class="col-sm-3 pauta-landing d-flex align-items-center justify-content-center item-rosa">
        <div class="pauta">
          <span class="pauta-item">#Segurança e Direitos Humanos</span>
          <div class="pauta-caption item-rosa">
            <h3>#Segurança e Direitos Humanos</h3>
            <ol> 
              <li>Autos de resistência</li>
              <li>Redução de maioridade penal</li>
            </ol>
            <a href="{% url 'pautas' %}">quero saber mais</a>

          </div>
        </div>
      </div>

      <div class="col-sm-3 pauta-landing pauta-com-imagem d-flex align-items-center justify-content-center">
        <img class="pauta-imagem" src="{% static '/img/merepresenta/pautas-landing/pauta-img-3.jpg' %}" alt="Pauta X"/>
      </div>
    </div>
  </div>
</section>

<section class="voluntaria">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="{% static '/img/merepresenta/merep_landing_image2.svg' %}" class="img-fluid" alt="#MeRepresentaLogo">
      </div>

      <div class="col-lg-6 faca-parte">
        <h2>Faça parte do <br>
          <span>
            #MeRepresenta
          </span>
        </h2>
        
        <div class="row">
          <div class="col-lg-12">
            <a href="{% url 'volunteer_index' %}" 
              class="btn btn-azul btn-uppercase">
              Quero ser voluntária/o
            </a>
          </div>
          <div class="col-lg-12">
            <a href="{% url 'sobre' %}" 
              class="btn btn-gris voluntario">
              Quero saber mais
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% include "_apoiam.html" %}

{% endblock everything %}
