{% extends "base2.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}
{% load bootstrap3 %}
{% block title %}- 1/2 Naranja - Resultado{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block paso %}
<h1>Resultados</h1>
{% endblock paso %}

{% block content %}
<div class="container">
    <div class="conteudo">
        <h1>Essas são as candidaturas que mais respeitam os direitos humanos na sua cidade!</h1>
        <p>Aqui estão as candidaturas que escolheram no mínimo as mesmas pautas que você. As candidaturas que apoiam mais pautas e que fazem parte de coligações mais bem avaliadas aparecem primeiro, mas todas que concordam com você aparecem! Aqui você sabe mais sobre a avaliação das coligações e os critérios para ordem de exibição.</p>
        <p>Agora clique nas candidaturas para conhecer mais sobre a opinião do/a candidato/a e sobre a coligação que receberá seu voto! Na dúvida, escolha uma mulher e ajude a promover a igualdade de gênero na Câmara de Vereadores de sua cidade!</p>


        {% if organizations %}
        <div class="col-md-12">
          <h2>Organizaciones</h2>
            {% for o in organizations.all %}
            <div class="col-md-4 text-center">
                {% if o.logo_small %}
                <img src="{{o.logo_small.url}}" alt="{{o.title}}" title="{{o.title}}" height="96" width="96" border="0" class="img-circle"></img>
                {% endif %}
                <ul class="list-unstyled list-inline">
                  {% if o.org_url %}
                  <li><a href="{{o.org_url}}"><i class="fa fa-globe" aria-label="Website"></i></a></li>
                  {% endif %}
                  {% if o.facebook %}
                  <li><a href="{{o.facebook}}"><i class="fa fa-facebook" aria-label="Facebook"></i></a></li>
                  {% endif %}
                  {% if o.twitter %}
                  <li><a href="{{o.twitter}}"><i class="fa fa-twitter" aria-label="Twitter"></i></a></li>
                  {% endif %}
                  {% if o.instagram %}
                  <li><a href="{{o.instagram}}"><i class="fa fa-instagram" aria-label="Instagram"></i></a></li>
                  {% endif %}
                  {% if o.rss_url %}
                  <li><a href="{{o.rss_url}}"><i class="fa fa-rss" aria-label="RSS"></i></a></li>
                  {% endif %}
                </ul>
              <div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}



        {% for election_result in results %}
        <div class="col-md-12">
          <h2>No {{election_result.election}} seus candidatos são</h2>
          {% for candidate_result in election_result.candidates %}

          <div class="candidato">
              <a href="{{ candidate_result.candidate.get_absolute_url }}">
                {% if candidate_result.candidate.image %}
                  {% thumbnail candidate_result.candidate.image "100x100" crop="center" as im %}
                  <img src="{{ im.url }}" alt="{{candidate_result.candidate.name}}" class="can-pic">
                  {% endthumbnail %}
                {% else %}
                  <img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate_result.candidate.name}}" class="can-pic">
                {% endif %}
              </a>
              <a href="{{ candidate_result.candidate.get_absolute_url }}">
                <span class="info-text name">
                    {{candidate_result.candidate.name}}
                </span>
              </a>
              <span class="info-text number">
                  nº <span class="candidate-number">{{ forloop.counter }}</span>
              </span>
              {% comment %}
                {% get_personal_data candidate=candidate_result.candidate personal_data='Pacto' as pacto %}
                {% if pacto.value %}
              {% endcomment %}
              <span class="info-text party">
                      Partido: PPD
              </span>
              <span class="info-text contagem">
                   {{ candidate_result.value|floatformat }}% #MeRepresenta
              </span>
          </div>



          {% endfor %}
        </div>
        <hr>
        {% endfor %}


    </div>
</div>



<a href="{% url 'questions' %}" class="btn btn-success pull-right" role="button" onclick="ga('send','event','juega-de-nuevo','click')">Jogar de novo</a>
{% endblock content %}
