{% extends "base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}

{% block title %}- Sobre{% endblock title %}

{% block everything %}
<main class="container sobre-container">
  <div class="row">
    <div class="col-lg-12">
      <a href="/" onclick="window.history.back()" />
        < Voltar
      </a>
    </div>

    <div class="col-lg-12">
      <h1>Sobre</h1>
    </div>
    <!-- Quem Somos -->
    <div class="col-lg-12">
      <h2 id='somos'>Quem somos</h2>
      <p>
        O <span>#MeRepresenta</span> é uma ONG formada por coletivos de mulheres, pessoas 
        negras e LGBT+ que buscam promover igualdade de gênero, luta 
        antirracista e respeito à diversidade sexual e à identidade de gênero 
        na política. Somos resultado da união <span>entre Rede Feminista de 
        Juristas (DeFEMde), #VoteLGBT, Blogueiras Negras e Fundação 
        Cidadania Inteligente. </span>
      </p>
      <div class="row uniao">
        <div class="col-lg-3">
            <a href="http://blogueirasnegras.org" target="_blank">
              <img src="{% static 'img/logos/1.png'%}" 
                alt="Blogueiras Negras">
            </a>
          </div>
          
          <div class="col-lg-3">
            <a href="https://www.facebook.com/DeFEMde/" target="_blank">
              <img src="{% static 'img/logos/2.png'%}" 
                alt="Rede Feminista de Juristas">
            </a>
          </div>
    
          <div class="col-lg-3">
            <a href="https://cidadaniainteligente.org" target="_blank">
              <img src="{% static 'img/logos/3.png'%}" 
                alt="Cidadania Inteligente">
            </a>
          </div>
          
          <div class="col-lg-3">
            <a href="https://www.votelgbt.org/" target="_blank">
              <img src="{% static 'img/logos/4.png'%}" 
                alt="Vote LGBT">
            </a>
          </div>
      </div>
      <p>
        Lançamos a plataforma <span>#MeRepresenta</span> em 2016 para conectar eleitoras e 
        eleitores a candidaturas que valorizam os direitos humanos. Desde então, 
        nosso desafio é, de forma comprometida com a representatividade, diminuir 
        a distância entre a população e a política brasileira e mostrar que os 
        direitos da mulher, das pessoas negras e LGBTs são um valor político e 
        eleitoral inegociável.</p>
      <p>
        A nova plataforma <span>#MeRepresenta</span> para as eleições de 2018 foi elaborada 
        com a participação diversas organizações da sociedade civil, com apoio 
        da Saiba+, responsável pelo desenho da plataforma, e financiamento da 
        Altec. Os escritórios <span>Mattos Filho, Silveira Andrade Advogados, Tini e 
        Guimarães Advogados e a ONG Casa 1</span> também apóiam a iniciativa. 
      </p>
    </div>

    <!-- Impacto -->
    <div class="col-lg-6">
      <h3 id='impacto'>Impacto</h3>
      <p>
        Nas eleições municipais de 2016, convidamos todas as 460 mil candidaturas 
        a vereador e vereadora do país a responderem 14 perguntas sobre diversos 
        temas da agenda de direitos humanos, como descriminalização e legalização 
        do aborto, desmilitarização da polícia, adoção por famílias LGBTs, 
        entre outros. 
      </p>
      <p>
        Em 10 dias, nossa plataforma teve 1 milhão de visualizações 
        e mais de 150 mil pessoas a usaram para escolher seu voto. 70% era de 
        mulheres eleitoras, em sua maioria entre 18 e 34 anos. Um sucesso, né?
      </p>
    </div>

    <div class="col-lg-6">
      <img src="{% static 'img/Big_Grafico_QuemUsou.png' %}" 
        class="img-fluid"
        alt="Gráfico informando quem utilizou a plataforma em 2016">
    </div>

    <div class="col-lg-12">
      <p>
        Foram <span>890 candidatas e candidatos</span> de todos os 35 partidos participando 
        dessa pesquisa em nossa plataforma, distribuídos em 244 cidades de 24 
        estados. Das 10 candidaturas mais visualizadas da plataforma, 4 eram 
        LGBT. Além disso, 9 eram mulheres, sendo 3 delas negras e uma trans. 
        O único homem dessa lista era gay. 
      </p>
      <p>
        Política com a nossa cara, é isso que esses dados mostram! A 
        plataforma do <span>#MeRepresenta</span> serve para fazer com que a política 
        seja mais parecida com a gente. Queremos mais mulheres, pessoas 
        negras e LGBTs na política!
      </p>
    </div>

    <!-- Como funciona -->
    <div class="col-lg-12">
      <h3 id='como-funciona'>Como funciona</h3>
      <p>
        A plataforma do <span>#MeRepresenta</span> conecta eleitoras/es às candidaturas que 
        se posicionam sobre temas relevantes para a sociedade civil, como segurança, 
        corrupção, trabalho, saúde, educação, raça, gênero, meio ambiente e povos 
        tradicionais, etc. Ela foi desenvolvida contendo três grandes eixos: 
        <span>Candidatas/os, Eleitoras/es e Voluntárias/os.</span>
      </p>
    </div>

    <!-- Candidatas/os -->
    <div class="col-lg-6">
      <img src="{% static 'img/gif_fb.gif' %}" alt="Gif animado">
    </div>

    <div class="col-lg-6">
      <h3 id="candidatas">Candidatas/os</h3>
      <p>
        A partir do dia 16 de agosto, todas candidaturas autorizadas pelo TSE 
        ao legislativo podem fazer seu cadastro na plataforma. Finalmente! É 
        necessário apenas incluir alguns dados pessoais e conectar o perfil da 
        plataforma com a conta pessoal do Facebook, par,  garantir a identidade 
        da/o candidata/o.
      </p>
      <p>
        Após completar seu perfil com informações simples e uma breve bio, a 
        candidatura deve responder se é a favor ou contra a 22 pautas, construídas 
        em diálogo com as organizações parceiras, sobre 9 temas: Gênero, Raça, 
        LGBT, Povos Tradicionais e Meio Ambiente, Segurança e Direitos Humanos, 
        Corrupção, Trabalho, Saúde, Educação, Drogas e Migrantes. Ao terminar, o 
        candidato aponta quais seriam os 3 temas prioritários do seu mandato. Os 
        perfis e respostas poderão ser editados até dia 12 de setembro.
      </p>
    </div>

    <!-- Eleitoras -->
    <div class="col-lg-12">
      <h3>Eleitoras/es</h3>
      <p>
        A partir de 19 de setembro, as eleitoras/es começaram a usar 
        a plataforma e indicar quais os temas mais importantes (entre os nove 
        apresentados) para definir seu voto.
      </p>
      <p>
        Sendo assim, a plataforma apresenta um ranking das candidaturas que 
        priorizam essas pautas levando em consideração o comprometimento dos 
        partidos com essas pautas. Fizemos uma avaliação da atuação de todos os 
        partidos com representação no congresso nacional durante os últimos 
        4 anos. Saiba mais sobre essa metodologia <a href="https://docs.google.com/document/d/1qoOj1ehZNOKW__1pi4lQmM4yFIThwOMaKQWxA_U9tA8/edit#" target="_blank">aqui.</a>
      </p>
      <p>
        Serão priorizadas na ordem de exibição as candidaturas de mulheres, 
        negras/os, indígenas e LGBTs - grupos que, juntos, compõem 80% da 
        população, mas que têm pouca ou nenhuma representação na política.
      </p>
    </div>

    <!-- Voluntárias -->
    <div class="col-lg-12 margin-bottom">
      <h3>Voluntárias/os</h3>
      <p>
        Assim como em 2016, o trabalho das/os voluntárias/os é fundamental 
        para alcançar o máximo de candidaturas e garantir o sucesso do 
        #MeRepresenta. Esse grupo de pessoas é responsável por entrar em 
        contato com as candidaturas via Facebook, encontrar emails diretos 
        e convidar para o ingresso na plataforma.
        <a href="{% url 'volunteer_index' %}">Vem pra cá ó!</a>
      </p>
    </div>

    <!-- Imagem final -->
    <div class="col-lg-12 ilustracao bottom">
      <img src="{% static 'img/Ilustra_Eleitoras_Rosa.png' %}" 
        alt="Ilustração de pessoas no congresso gritando #MeRepresenta">
    </div>
  </div>
</main>

{% endblock everything %}
