{% extends "base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}

{% block title %}- Sobre{% endblock title %}

{% block everything %}
<div id="first-part" class="container">
    <div class="row">
        <div class="col">
            <h1>Sobre</h1>
        </div>
        <div class="col-sm-6">
          <img src="{% static '/img/merepresenta/merep_landing_image.svg' %}" class="img-fluid" alt="#MeRepresentaLogo">
        </div>
      </div>
  </div>


            
{% endblock everything %}
