{% extends "base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}

{% block title %}- Sobre{% endblock title %}

{% block everything %}
<main class="container termos">
  <div class="row">
    <!-- Voltar -->
    <div class="col-md-8 offset-md-2">
      <a href="/" onclick="window.history.back()" />
        < Voltar
      </a>
    </div>

    <!-- Termos -->
    <div class="col-md-8 offset-md-2">
      <div class="bottom">
          <p>
          O #MeRepresenta é utilizado por três tipos de usuárias/os.</p>
             <p>Aqui, os termos de usos para eleitoras/es.</p>
             <p>Aqui, o de voluntárias/os.</p>
            
             <p>E, abaixo, o das candidaturas:
</p>
        
        <h1 class="bottom">Termos de uso para candidaturas (2018.1)</h1>
        <h2>
          A UTILIZAÇÃO DA PLATAFORMA #MEREPRESENTA ESTÁ SUJEITA AOS SEGUINTES 
          TERMOS. SE NÃO CONCORDAR COM AS DISPOSIÇÕES A SEGUIR, POR FAVOR, NÃO 
          FAÇA SEU CADASTRO.
        </h2>
      </div>
        <p>
          Leia este documento com atenção para compreender as regras e limitações 
          que regem o uso da plataforma.
        </p>
        <p>
          O #MeRepresenta é uma associação sem fins lucrativos, inscrita sob o 
          CNPJ 31.144.532/0001-26, na cidade e estado de São Paulo, formada por 
          coletivos de mulheres, pessoas negras e LGBT+ que buscam promover a 
          igualdade de gênero, a luta antirracista e o respeito à diversidade 
          sexual e à identidade de gênero na política. Nossa gestão é coordenada, 
          em parceria com a Rede Feminista de Juristas (DeFEMde), #VoteLGBT, 
          Blogueiras Negras e Fundação Cidadania Inteligente.
        </p>
        <p>
          A plataforma #MeRepresenta (doravante “a #MeRepresenta”) busca conectar 
          eleitoras e eleitores a candidaturas que valorizam os direitos humanos.
        </p>

        <h3>
            1. A #MeRepresenta é uma plataforma para realização de propaganda 
            eleitoral ou pesquisa de intenção de voto?
        </h3>

        <p>
          Não. A #MeRepresenta não realiza propaganda eleitoral, limitando-se a 
          coletar, organizar e divulgar informações, algumas delas já de acesso 
          público. 
        </p>
        <p>
          A #MeRepresenta também não realiza qualquer tipo de pesquisa de 
          intenção de voto. As informações fornecidas pela plataforma não 
          demonstram intenção de voto de qualquer eleitor.
        </p>

        <h3>
          2. Quais dados serão coletados e publicados?
        </h3>
        <p>
          A #MeRepresenta valoriza a sua privacidade e o uso adequado dos seus dados pessoais. Portanto, os dados livremente fornecidos por você serão regidos por este documento e limitados aos usos previstos nestes documentos. 
        </p>
        <p>
          A #MeRepresenta utiliza duas fontes de dados:
        </p>

      <h3 class="subtitle">
        2.1. Dados pessoais preenchidos ou fornecidos pela/o candidata/o à plataforma
      </h3>
      <p>
        Ao finalizar seu cadastro na #MeRepresenta, a/o candidata/o autoriza a formação de um cadastro com informações pessoais. 
      </p>
      <p>
        A/o candidata/o usuário da #MeRepresenta garante que os dados pessoais fornecidos para a #MeRepresenta são verdadeiros e atuais, bem como garante que irá atualizar seus dados sempre que houver qualquer modificação neles.
      </p>
      <p>
        A #MeRepresenta jamais utilizará os dados pessoais solicitados para outras finalidades que não aquelas descritas neste Termo de Uso, salvo em situações em que houver um interesse público preponderante ou um interesse legítimo adequado às expectativas da/o usuária/o. 
      </p>
      <p>
        Para qualquer outro uso dos dados pessoais preenchidos ou fornecidos pela/o candidata/o, não previsto por este Termo de Uso, a/o candidata/o será consultado previamente, podendo ser contatada/o pela equipe da #MeRepresenta.
      </p>

      <h3 class="subtitle">
        2.1.1. E-mail e endereço de página e foto no Facebook
      </h3>
      <p>
        Os dados pessoais de e-mail, endereço de sua página e foto no Facebook, 
        serão utilizados para o cadastramento do candidato na plataforma, 
        adotando-se o e-mail informado como canal principal de comunicação entre 
        a #MeRepresenta e o candidato. A foto extraída do perfil do Facebook 
        será utilizada para identificação da/o candidata/o pelos eleitores. O 
        cadastro via perfil pessoal ou de campanha da candidatura no Facebook 
        é necessário para garantir a identidade e autoria do cadastro na 
        plataforma. A #MeRepresenta não se responsabiliza por informações 
        prestadas por outrem, que não a/o candidata/o, a partir desses perfis.
      </p>

      <h3 class="subtitle">
        2.1.2. Gênero, raça e LGBT
      </h3>
      <p>
        As informações sobre gênero, raça e se a/o candidata/o é LGBT são de 
        preenchimento opcional e serão utilizadas na plataforma como filtro, 
        para facilitar o processo de escolha dos eleitores por perfil das 
        candidaturas, podendo também serem utilizadas para a realização de 
        estudos e levantamento estatísticos, que não envolvem a intenção de 
        voto dos usuários. Por exemplo, poderemos cruzar o dado da resposta 
        da/o candidata/o sobre raça e gênero com os dados preenchidos pelos 
        partidos na base de dados da Justiça Eleitoral (DivulgaCand) ou obter 
        uma estimativa do número de candidaturas LGBTs no país. 
      </p>
      <p class="bold">
        Portanto, ao aceitar estes Termos de Uso, a/o candidata/o aceita 
        expressamente que os dados previstos neste parágrafo, que podem ser 
        classificados como sensíveis, possam ser utilizados para as finalidades 
        aqui descritas. Tais dados não serão, em nenhuma hipótese, compartilhados 
        sem a autorização expressa do seu titular, depois de devidamente 
        informado dos seus possíveis usos. 
      </p>

      <h3 class="subtitle">
        2.1.3. Questionário
      </h3>
      <p>
        Ao se cadastrar, a/o candidata/o também deverá preencher questionário com 
        informações sobre propostas e posicionamentos políticos. Preenchendo esse 
        questionário, o candidato concede autorização expressa para a divulgação 
        de suas respostas na plataforma #MeRepresenta. Essas respostas também 
        facilitarão o processo de escolha dos eleitores por filtragem do perfil 
        das candidaturas, podendo também serem utilizadas para a realização de 
        estudos e levantamento estatísticos, que não envolvem a intenção de voto 
        dos usuários. Por exemplo, poderemos comparar quais pautas tiveram maior 
        ou menor adesão entre as candidaturas inscritas na plataforma. 
      </p>
      <p class="bold">
        Portanto, ao aceitar estes Termos de Uso, a/o candidata/o aceita 
        expressamente que os dados previstos neste parágrafo, que podem ser 
        classificados como sensíveis, possam ser utilizados para as finalidades 
        aqui descritas. Tais dados não serão, em nenhuma hipótese, compartilhados 
        sem a autorização expressa do seu titular, depois de devidamente 
        informado dos seus possíveis usos.
      </p>

      <h3>
        2.2. Dados extraídos da base pública do Tribunal Superior Eleitoral 
        (DivulgaCand)
      </h3>
      <p>
        Os dados pessoais cujo acesso é público serão colhidos das bases de 
        informações da Justiça Eleitoral e serão disponibilizados na plataforma. 
      </p>
      <p class="bold">
        Por meio deste documento, a/o candidata/o autoriza expressamente que tais 
        dados de acesso público podem ser utilizados, também, para a realização 
        de estudos e levantamento estatísticos, que não envolvem a intenção de 
        voto dos usuários.
      </p>
      <p>
        Todos esses dados coletados serão publicados pela #MeRepresenta em dois 
        momentos:
      </p>

      <h3>
        2.3. Durante as eleições: “Encontre a/o sua/seu candidata/o”
      </h3>
      <p>
        Durante as eleições, a plataforma #MeRepresenta funciona para aproximar 
        eleitores de candidaturas favoráveis a temas de direitos humanos. Os 
        eleitores podem filtrar as informações da plataforma, de acordo com 
        suas preferências, por gênero, raça, LGBT, partido político/coligação 
        e posicionamento político manifestados pelas candidaturas à plataforma. 
      </p>

      <p class="bold">
        Portanto, ao aceitar estes Termos de Uso, a/o candidata/o aceita 
        expressamente que os dados previstos neste parágrafo, que podem ser 
        classificados como sensíveis, possam ser utilizados para as finalidades 
        aqui descritas. Tais dados não serão, em nenhuma hipótese, compartilhados 
        sem a autorização expressa do seu titular, depois de devidamente 
        informado dos seus possíveis usos.
      </p>

      <h3 class="subtitle">
          2.4. Fora das eleições: “Encontre aliadas/os políticas/os”
      </h3>
      <p>
        Após as eleições, a #MeRepresenta disponibilizará as informações 
        coletadas em um repositório de perfil de políticos favoráveis a temas de 
        direitos humanos, para permitir a formação de alianças/mobilização social 
        e também o controle social das informações prestadas pelos políticos na 
        plataforma. A base de dados será disponibilizada em arquivo exportável 
        para consulta pública.
      </p>

      <h3>
        3. Como é composta a nota atribuída ao Partido Político?
      </h3>
      <p>
        Além das informações prestadas pela própria candidatura, a #MeRepresenta 
        disponibilizará para consulta dos usuários uma nota dos partidos políticos 
        e das coligações partidárias.
      </p>
      <p>
        Essa nota é composta por informações extraídas do Congresso Nacional, 
        como o desempenho de parlamentares dos partidos em votações importantes 
        para temas de direitos humanos, selecionadas pela #MeRepresenta e 
        entidades parceiras.
      </p>
      <p>
        A metodologia empregada para avaliação dos partidos/coligações estará 
        disponível para consulta na plataforma.
      </p>

      <h3>
        4. Existe alguma forma de pedir a revisão da nota atribuída aos partidos 
        e coligações?
      </h3>
      <p>
        O candidato tem o direito de solicitar a revisão da nota atribuída, 
        bastando entrar em contato conosco pelo e-mail 
        contato@merepresenta.org.br. Somente haverá revisão dos valores 
        atribuídos aos partidos e coligações com a demonstração de equívoco ou 
        inexatidão das informações coletadas no Congresso Nacional.
      </p>

      <h3>
        5. Existe alguma forma de corrigir as informações dos candidatos na 
        #MeRepresenta?
      </h3>
      <p>
        Qualquer correção de dados incompletos, inexatos ou desatualizados de 
        candidatas/os poderá ser corrigida diretamente pela candidatura, em seu 
        perfil cadastrado na plataforma, a qualquer momento. As respostas das 
        candidaturas ao questionário poderão ser alteradas apenas até o dia 
        12/09/2018.
      </p>

      <h3>
        6. E se eu não quiser mais ter minhas informações publicadas?
      </h3>
      <p>
        A/o candidata/o é livre para requerer o pedido de exclusão definitiva de 
        seus dados da #MeRepresenta na hipótese de desejar sair ou ser excluído 
        da plataforma, bastando entrar em contato conosco pelo e-mail 
        contato@merepresenta.org.br, via e-mail oficial cadastrado na plataforma 
        e confirmando seus dados pessoais.
      </p>
      <p>
        O encerramento da conta resultará na destruição de qualquer conteúdo 
        associado ao seu perfil e na exclusão de todas as informações publicadas 
        na plataforma. Assim, tenha isso em mente antes de decidir encerrar a sua 
        conta.
      </p>

      <h3>
        7. A #MeRepresenta se responsabiliza pelo uso das informações da 
        plataforma por usuários e terceiros?
      </h3>
      <p>
        Não. A #MeRepresenta, enquanto canal de comunicação, tratamento, 
        priorização, construção, visualização, distribuição e compilação de 
        conteúdo não será responsável por qualquer conduta dos seus usuários 
        ou de terceiros. Caso a #MeRepresenta seja envolvida em disputas e 
        conflitos relativos à conduta dos usuários, o usuário fica ciente de que 
        a #MeRepresenta denunciará todas e quaisquer lides, litígios e disputas 
        no qual for envolvida por conta de conteúdos e condutas submetidos ou 
        perpetradas por usuários ou terceiros, na medida permitida pela lei, de 
        modo a não mais ser parte da lide, litígio ou disputa. A #MeRepresenta 
        também se faculta o direito de chamar ao processo qualquer usuário, em 
        razão de quaisquer ações originárias de sua conduta e conteúdo submetido. 
        Faculta-se também o direito de responsabilizar diretamente o usuário 
        perpetrador da conduta abusiva, valendo-se para isso de todos os recursos 
        legalmente possíveis, incluindo direito de regresso, dentre outros. 
        Para tanto, a #MeRepresenta irá valer-se dos dados de registro bem como 
        quaisquer outros dados técnicos que permitam identificar o usuário, 
        ficando desde já cientes disso o usuário ou terceiros afetados.
      </p>

      <h3>
        8. Estes Termos nunca serão alterados?
      </h3>
      <p>
        Esta política de privacidade será atualizada regularmente e o usuário 
        será notificado pelo e-mail informado no cadastro sobre as atualizações 
        realizadas. Se não concordar com os novos Termos, o candidato poderá 
        rejeitar, optando pelo descadastramento e desindexação de suas 
        informações da plataforma a qualquer momento.
      </p>
      
      <h3>
        9. A utilização da plataforma #MeRepresenta está sujeita às seguintes 
        limitações adicionais:
      </h3>
      <p>
        Você declara, garante e concorda que não contribuirá com qualquer 
        violação à legislação eleitoral ou uso da plataforma para:
      </p>

      <ul>
        <li>Gerar discriminação</li>
        <li>
          Associar sua presença na plataforma como se fosse um apoio da 
          associação sem fins lucrativos #MeRepresenta à sua candidatura.
        </li>
      </ul>

      <p>
        A #MeRepresenta reserva-se o direito de cancelar o registro na plataforma 
        a qualquer tempo de qualquer candidata/o, por sua única e exclusiva 
        discricionariedade, sem qualquer aviso prévio, quando considerar violados 
        os dispostos deste Termo de Uso.
      </p>

      <h3>10. Informações para exercer seus direitos:</h3>
      <ul>
        <li>Contato da #MeRepresenta: contato@merepresenta.org.br</li>
        <li>
          Jurisdição: Fica eleito o Foro Central da Comarca do Estado de São 
          Paulo para decidir qualquer disputa decorrente deste Termo de Uso, 
          desistindo as Partes de qualquer outro, por mais privilegiado que seja 
          ou venha a ser. Eventuais disputas serão reguladas pela legislação 
          brasileira.
        </li>
      </ul>
    </div>

    <!-- Termos simplificados -->
    <div class="col-md-8 offset-md-2 margin-bottom">
      <h3 class="uppercase">Termos simplificados</h3>
      <ul>
        <li>Dados preenchidos aqui poderão ser pesquisados durante e após o período eleitoral</li>
        <li>Você é responsável pelas afirmações preenchidas</li>
        <li>Não fazemos pesquisa de intenção de votos, nem campanha eleitoral</li>
        <li>Você pode alterar suas respostas ao questionário até o dia 12/9</li>
        <li>Você pode apagar seus dados da plataforma quando quiser</li>
      </ul>
    </div>

  </div>
</main>

{% endblock everything %}
