¡Genia/o {% include '_user_printable.html' with user=person %}!
Escribimos para contarte que {{commitment.candidate.name}} {% if candidate.election.position == 'concejal' %}acaba de apoyar{% elif candidate.election.position == 'alcalde' %}se acaba de comprometer con{% else %}se acaba de comprometer  con{% endif %} la propuesta ciudadana {{proposal.title}}.


Para revisar {% if candidate.election.position == 'concejal' %}el apoyo a{% elif candidate.election.position == 'alcalde' %}el compromiso con{% else %}el compromiso con{% endif %} la propuesta ciudadana puedes acceder a la siguiente url:
http://votainteligente.cl{{commitment.get_absolute_url}}

Te queremos mucho, esperamos que entiendas que este es un gran paso para cambiar Chile.
Aún queda un gran trecho que recorrer y queremos que estés atenta/o a que este candidato cumpla su compromiso en caso de salir electa/o.

Para esto puedes usar las Herramientas de Incidencia:
http://votainteligente.cl/pages/herramientas_de_activismo/

--
El equipo de VotaInteligente.cl
