{% extends "base2.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}
{% load bootstrap3 %}
{% block title %}- 1/2 Naranja - Paso {{wizard.steps.step1}}{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
 <link rel="stylesheet" href="{% static 'css/merepresenta/new_for_users.css' %}">
  <div class="container">
  <h1>O que é importante pra você?</h1>
  <div class="conteudo">
      <h2>Marque as pautas das quais você não abre mão na hora de escolher sua candidatura:</h2>
  </div>
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ wizard.management_form }}
    {% for x, y in form.fields.proposals.choices %}
    <div class="question">
          <div class="answer">
              <input type="checkbox" name="0-proposals" value="{{x}}" class="proposal_option" id="id_0-proposals_{{x}}" />
              <label for="id_0-proposals_{{x}}">Sim</label>
          </div>
          <span class="question-title">
              {{y}}
          </span>
      </div>
    {% endfor %}
    <div class="question">
          <span class="question-title">
              {{form.area.label}}
          </span>
          <div class="answer">
          {{form.area}}
          </div>
        </div>

  {% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="btn btn-default" onclick="ga('send','event','primer-paso-{{wizard.steps.step1}}-media-naranja','click')">{% trans "first step" %}</button>
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-default" onclick="ga('send','event','anterior-paso-{{wizard.steps.step1}}-media-naranja','click')">{% trans "prev step" %}</button>
  {% endif %}
  <input type="submit" name="submit" value="{% trans "Encontrar candidaturas" %}" class="btn btn-1-inv" onclick="ga('send','event','siguiente-paso-{{wizard.steps.step1}}-media-naranja','click')" />
  </form>
{% endblock content %}
