{% load votainteligente_extras %}
¡Felicitaciones {% if user.get_short_name %}{{ temporary_data.proposer.get_short_name}}{% else %}{{ temporary_data.proposer.get_username}}{% endif %}!:
Tu propuesta para {{area}} fue aceptada por {{moderator}}.
Estamos haciendole llegar tu propuesta a los candidatos de {{area}},
ahora es el momento para que tu propuesta tenga la mayor cantidad de adherentes para que
los candidatos tengan más presión para comprometerse.

Para esto tenemos nuestro Kit de Incidencia Ciudadana:

https://docs.google.com/document/d/19wPZ9U4A1cs3HJDcJl-Ffwwye0ebOC06Q7E7oTYgazY

Lo primero que te recomendamos hacer es agregarle más antecedentes a tu propuesta
y lo puedes hacer acá:

http://{{site.domain}}{% url 'popular_proposals:citizen_update' slug=temporary_data.created_proposal.slug %}

Te queremos recordar que tu propuesta tiene la siguiente información:

Tu propuesta:
{{preview_data.solution|popular_proposal_when}}

Esta propuesta debe ser cumplida antes de {{preview_data.when|popular_proposal_when}}, y surge como respuesta a la siguiente inquietud de la comunidad: {{preview_data.problem|popular_proposal_when}}.

Además entendemos que la solución final estará dada por:

{{preview_data.solution_at_the_end|popular_proposal_when}}

Puedes ver tu propuesta en el siguiente link:
http://{{site.domain}}{{ temporary_data.created_proposal.get_absolute_url }}

Y acá puedes ver la lista de todas las propuestas de {{area}}:
http://{{site.domain}}{% url 'area' slug=area.id %}


Para hacer que tu propuesta llegue a ser parte de los programas
de los candidatos, te recomendamos que te organices con tus
vecinos y te hagas notar.


Muchas gracias.
--
Atentamente el equipo de VotaInteligente.cl
