{% load votainteligente_extras %}
Hola {{temporary_data.proposer}}!
Hemos leido y moderado tu propuesta ciudadana y tenemos los siguientes comentarios:

{% for key, item in comments.items %}{% if item.comments %}
* Para tu respuesta: {{item.original|popular_proposal_when}}, nuestros comentarios son:

{{ item.comments }}

{% else %}* En cuanto a : {{item.original}}, está maravillosa y no queremos cambiarla.{% endif %}
{% endfor %}


Puedes actualizar tu propuesta en el siguiente link: 
http://{{site.domain}}{% url 'backend_citizen:temporary_data_update' pk=temporary_data.id %}
Gracias por querer hacer de {{area}} un lugar mejor.

--
El equipo de VotaInteligente.
