{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load votainteligente_extras %}
{% load staticfiles %}
{% block title %}- Ingreso/Registro{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
{% endblock extra_css %}
{% block content %}

<script type="text/javascript">
	$( document ).ready(function() {
	    $('.dropdown-menu li').on("click", function(){
		  txt_selected = $(this).text();
		  $('.nav li.dropdown a')[0].innerHTML = txt_selected
		})
	});
</script>


<h1 class="text-center">Ingresa</h1>
<div class="col-md-8 col-md-offset-2">
            <div class="line-space"></div>

            <div class="form-group">
                {% include '_social_login_buttons.html' with url=next %}
            </div>
            <h3 class="text-center">{% trans 'O regístrate con un usuario y contraseña' %}</h3>
            {% user_register %}
        

        <div role="tabpanel" class="tab-pane{% if username_and_password %} active{% endif %}" id="login">
            <h3 class="text-center">{% trans 'Ingresa tu usuario y contraseña' %}</h3>
            {% basic_login url=next %}
        </div>
        <div class="line-space"></div>
        <div class="line-space"></div>
    </div>


{% endblock content %}
