{% load i18n %}{% load votainteligente_extras %}
{% load bootstrap3 %}Olá {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %}: <br />

<p>Você está recebendo este e-mail porque você (ou alguém fingindo ser você) solicitou
que sua senha fosse redefinida no site rioxinteiro.</p>
<p>Se você não deseja redefinir sua senha, ignore esta mensagem.</p>

<p>Para redefinir sua senha, clique no link a seguir ou copie e cole no seu navegador
da Web:</p>
<p>
{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}
</p>
<p>Seu nome de usuário, caso você tenha esquecido: {{ user.username }}</p>

{% mail_signature_html %}
