Hola {{contact.candidate.name}}

http://Votainteligente.cl es una plataforma de la Fundación Ciudadano Inteligente que busca acercar a candidatas/os y electores en estas elecciones municipales.

¿Por qué estar en VotaInteligente?

    -Date a conocer : tú ya tienes un perfil básico sobre tu candidatura en el sitio. Agrega tus cargos públicos previos y otros antecedentes que quieras compartir con tus electores.
Solo debes ingresar a {{login_url}} con el siguiente usuario y contraseña (puedes modificarla ingresando en el sitio).

**Tu usuario es: {{contact.candidacy.user.username}}
**Tu contraseña es: {{contact.initial_password}}

    -Comparte tu postura política respecto a temas cruciales de la comuna: te enviamos preguntas para conocerte mejor. En la sección "Tu Media Naranja Política", los electores contestan las mismas preguntas y el sistema le arroja al candidato más afín con sus ideas.  
OJO: si no contestas, no podrás ser la media naranja política de ningún usuario.

    -Entérate de las ideas y demandas de tus electores y apóyalas públicamente: Ingresando con tu usuario de candidato/a podrás leer lo que proponen los electores de tu comuna y comprometerte con las ideas que podrías llevar a cabo en caso de salir electa/o.

Si quieres que utilicemos otro mail para comunicarnos contigo puedes responder a este mismo mail.

¡Súmate a VotaInteligente!
