{% url 'auth_password_reset' as auth_pwd_reset_url %}
<ul>
    <li>Verifique seu e-mail e procure por um e-mail com o assunto "Bem-vinda/o à Rio por Inteiro!", Lá você encontrará mais informações.</li>
    <li>Se você esqueceu sua senha, você pode modificá-la <a href="{{auth_pwd_reset_url}}">aqui</a> </li>
    <li>Se nenhum dos itens acima funcionar para você, preencha <a href="https://docs.google.com/forms/d/1497TioBB9UPC0lpyIPSfXOksaede5c4u87kNqGliK_M/viewform?edit_requested=true">este formulário</a>.</li>
</ul>
