{% extends "backend_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block extrajs %}
{% endblock extrajs %}

{% block main_content %}

  <form method="post"  enctype="multipart/form-data" action="{% url 'backend_candidate:complete_profile' slug=election.slug candidate_slug=candidate.slug %}">{% csrf_token %}
  {% with user.candidacies.first as candidacy %}
  <h2>
  {% blocktrans with candidate_name=candidacy.candidate.name %}
  Información para el perfil de {{candidate_name}}
  {% endblocktrans %}
  </h2> {% include '_profile_info.html' with user=user %}


    <p><a href="{{candidacy.candidate.get_absolute_url}}" class="btn btn-dark">
      {% trans 'Ir a ver mi perfil' %}</a></p>
  {% endwith %}
  <!-- image -->

  {% if candidate.image %}
    {% thumbnail candidate.image "135x135" crop="center" as im %}
        <img src="{{ im.url }}" alt="{{candidate.name}}" height="135" width="135" border="0" class="img-responsive img-circle img-candidato" itemprop="image">
    {% endthumbnail %}
    {% else %}
    <img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive img-circle img-candidato img-candidato">
  {% endif %}

  {% bootstrap_field form.image %}
  {% for field in form %}
    {% ifnotequal field.name 'image' %}

      {% ifequal field.name 'program_link' %}
        {% bootstrap_label "Adicione um link sobre sua candidatura" %}
        {% bootstrap_field field show_label=False %}
      {% else %}
        {% bootstrap_field field %}
      {% endifequal %}
    {% endifnotequal %}
  {% endfor %}

    <input type="submit" value="{% trans "Enviar" %}"  class="btn btn-default" />
    </form>

{% endblock main_content %}
