body {
    background-color: #00a9d9;
    background-image: url("/assets/FC3.png");
}
header {
    padding: .5em 0;
    border-bottom: 1px solid #582985;
}
.links.atual {
    color: #582985;
}
.links {
    color: #fff;
    font-weight: bolder;
    font-size: 1.1em;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 2em;
}
a.links:hover {
    font-size: 1.2em;
    text-decoration: none;
    transform: rotate(360deg);
    transition: font-size 1s, transform 2s;
}
h1 {
    color: #d8b212;
    font-size: 2.5em;
    text-transform: uppercase;
    transform: rotate(-3deg);
    text-shadow: -.1em .1em #582985;
    text-align: center;
    margin: 2em 0;
    font-family: ProximaNovaSoft-Bold;
}
h1:after {
    content: ":)";
    margin-left: .3em;
}
h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #582985;
    font-family: ProximaNovaSoft-Bold;
    margin: 2em 0 1em 0;
}
p {
    color: #fff;
}
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.parcerias {
    text-align: center;
}
@media screen and (min-width: 600px) {
    h1 {
        font-size: 3em;
    }
}
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 5em;
    }
}
