body {
    background-image: url('/static/img/merepresenta/FE3.png');
    background-color: #582985;
}
option {
    background-color: #582985;
}
main {
    color: #fff;
    font-family: ProximaNovaSoft-Bold;
}
.btn-3 {
    width: 40ch;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    max-width: 100%;
    white-space: normal;
}
h1 {
    color: #d8b212;
    text-transform: uppercase;
    text-shadow: -.1em 0 #097e74;
    font-size: 3em;
    width: 7em;
    letter-spacing: .2em;
    transform: rotate(-5deg);
    margin: 0 auto .5em auto;
}
.intro {
    margin-bottom: 2em;
}
#busca_cidade, #busca_cidade~input {
    display: none;
}
#busca_cidade:checked~input {
    display: block;
}
#busca_cidade + label {
    cursor: pointer;
    color: #d8b212;
}
.erros, .erro {
    margin: 0;
}
.login {
    box-shadow: 0 0 0 2000px rgba(61,61,61,.77);
    background-color: rgba(61,61,61,.77);
    position: fixed;
    z-index: 1;
    width: 100vw;
    top: 10%;
    left: 0;
    right: 0;
}
.login>.texto {
    background-color: #00a99d;
    color: #582985;
    padding:  1em;
    max-width: 100vw;
    width: 450px;
    /*margin: 0 auto;*/
    margin: 2em auto;
}
.login .nav {
    max-width: 450px;
    margin: 0 auto;
}
.login .nav button {
    width: 100%;
}
#btn_login_voltar {
    position: relative;
}
#btn_login_voltar:before {
    content: "<";
    position: absolute;
    left: 1em;
    font-weight: bold;
    font-size: 1.5em;
    top: .18em;
}
#btn_login_prosseguir {
    position: relative;
}
#btn_login_prosseguir:after {
    content: ">";
    position: absolute;
    right: 1em;
    font-weight: bold;
    font-size: 1.5em;
    top: .18em;
}
@media screen and (min-width: 500px) {
    h1 {
        font-size: 4em;
    }
    #busca_cidade + label {
        display: inline;
    }
    #btn_login_voltar {
        float: left;
    }
    #btn_login_prosseguir {
        float: right;
    }
    .login {
        top: 30%;
    }
    .login .nav button {
        width: 200px;
    }
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 5em;
    }
}
@media screen and (min-width: 900px) {
    .header {
        margin-bottom: 5em;
    }
    .header, .div-user {
        display: inline-block;
        width: 100%;
    }
    h1 {
        float: left;
    }
    .intro {
        display: block;
        top: 6em;
        width: 100%;
        left: -10em;
        font-size: 1em;
        text-transform: uppercase;
        position: relative;
    }
    .explicacao {
        font-size: .8em;
        position: initial;
    }
}
