body {
    font-size: 13px;
    background-color: #552e76;
    color: #fff;
    background-image: url('/static/img/merepresenta/FE1.png');
    background-size: cover;
}
.container {
    display: relative;
}
img.logo {
    max-width: 100%;
}
header {
    padding: 1em;
    border-bottom: 1px solid #7e5c9e;
}
.content>h2 {
    display: block;
    font-size: 1.2em;
    font-weight: bolder;
    padding: .5em 0 .5em 0;
}
.content {
    color: #fff;
    padding: 0 2em 0 1em;
}
.botao {
    display: block;
    width: 38ch;
    max-width: 100%;
    margin: 1.5em auto;
}
.botao span {
    width: 100%;
    text-align: center;
    display: block;
}
.btn  {
    color: #000;
    text-transform: uppercase;
    width: 38ch;
    max-width: 100%;
    white-space: normal;
}
header {
    border: none;
}
.link, .link:hover {
    color: transparent;
    position: relative;
    margin-right: .5em;
}
.link.about:hover {
    color: #fff;
    text-decoration: none;
}
.link.about {
    color: #fff;
    background-size: 2em;
    background-color: rgba(211, 211, 211, 0.35);
    background-repeat: no-repeat;
    height: 4em;
    display: inline-block;
    background-position: 1em;
    padding: 1.3em 1em .7em 1em;
    text-transform: uppercase;
}
.link.facebook:before, .link.contact:before {
    content: "";
    background-size: 2em;
    background-color: rgba(211, 211, 211, 0.35);
    background-repeat: no-repeat;
    height: 4em;
    width: 4em;
    display: inline-block;
    position: absolute;
    background-position: 1em;
}
.link.contact:before {
  background-image: url('/static/img/merepresenta/envelope.svg');
}
.link.facebook:before {
  background-image: url('/static/img/merepresenta/face.svg');
}

.links {
    position: absolute;
    top: 0;
}
.aviso {
    top: 6em;
    left: 10%;
    width: 100%;
    padding: 1.5em;
    background-color: rgba(200,200,200,0.8);
    border-radius: .5em;
    border: 1px solid white;
    font-weight: bolder;
    letter-spacing: .1em;
    margin-bottom: 2em;
}
.aviso input, .aviso label {
    display: none;
}
.aviso span {
    color: red;
}
@media screen and (min-width: 360px) {
    body {
        font-size: 1rem;
    }
}
@media screen and (min-width: 600px) {
    .link, .link:hover {
        color: transparent;
        position: relative;
        margin-right: 1.5em;
    }
    .link.facebook {
        margin-right: .665em;
    }
    .link.about {
        padding: 5.3em 1em 2.7em 1em;
        margin-right: 0;
    }
    .link.contact:before, .link.facebook:before {
        background-size: 3em;
        height: 8em;
        width: 5em;
        border-radius: 0;
    }
    .link.contact:before {
        background-position: 1em 5em;
    }
    .link.facebook:before {
        background-position: 1em 4.5em;
    }
}
@media screen and (min-width: 991px) {
    body {
        background-repeat: no-repeat;
    }
    main {
    }
    img.logo {
        display: none;
    }
    .content {
        float: right;
        width: 51%;
        margin: 15% 0;
    }
    .container {
        background-image: url("/static/img/merepresenta/01.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: -24% 60%;
    }
    .links {
        left: 10%;
    }
    nav a {
        margin-right: 2em;
    }
    .aviso {
        background-color: rgba(141, 114, 164,.8);
        position: absolute;
        left: 50%;
        width: 43%;
        top: 4%;
        padding: 1em;
        max-width: 519px;
    }
    .aviso span {
        color: #d8b212;
    }
}
@media screen and (min-width: 1200px) {
    .sistema {
        display: flex;
        justify-content: space-between;
    }
    .botao, .voluntario {
        width: 100%;
    }
    .sistema .botao {
        width: 26ch;
        margin: 0;
    }
}
.no-background {
    background-image: none;
}