.dados-ok {
    color: gold;
    animation: blinker .8s linear infinite;
}
.dados-erro {
    color: red;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {  
    50% { opacity: 0.0; }
}
body {
    background: #097e74;
    background-image: url('/assets/FC3.png');
    color: #fff;
    text-transform: uppercase;
}
h1 {
    color: #00a99d;
    font-size: 2em;
    transform: rotate(-3deg);
    margin: 1em 0;
    text-align: center;
    text-shadow: -.05em -.02em #3a497d;
    font-weight: bolder;
}
h2 {
    font-size: 1.1em;
    font-weight: bolder;
    color: #582985;
}
label {
    width: 23%;
    display: inline-block;
}
.opiniao {
    position: relative;
    left: 30%;
}
.question {
    margin: 1em 0;
}
.question+.alert {
    display: none;
}
.question.dados-erro+.alert {
    display: inline-block;
}
.resposta {
    display: none;
}
.resposta+span:before {
    content: "";
    background-size: contain;
    height: 1px;
    width: 1px;
    background-image: url('/assets/rb20p.svg');
    position: relative;
    padding-right: 1.32em;
    background-repeat: no-repeat;
    display: inline;
}
.resposta:checked+span:before {
    background-image: url('/assets/rb21p.svg');
}
.btn {
    margin: 0 auto;
    display: table;
    margin-top: 2em;
    font-size: 1em;
}
@media screen and (min-width: 400px) {
    main {
        font-size: 1.2em;
    }
}
@media screen and (min-width: 600px) {
    main {
        font-size: 2em;
    }
    h1 {
        font-size: 2em;
    }
}
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 3em;
    }
}
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4em;
    }
}
