.dados-ok {
    color: gold;
    animation: blinker .8s linear infinite;
}
.dados-erro {
    color: red;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% { opacity: 0.0; }
}
body {
    background: #582985;
    background-image: url('/static/img/merepresenta/FE3.png');
    color: #fff;
}
.container {
    text-transform: uppercase;
    font-weight: bolder;
}
h1 {
    text-shadow: -.05em -.02em #885c59;
    font-size: 2.4em;
    color: #00a99d;
    opacity: .6;
    text-align: center;
    font-family: ProximaNovaSoft-Bold;
    transform: rotate(-2deg);
}
h2 {
    text-align: justify;
    font-size: 1em;
    font-weight:  bolder;
    margin: 2em 0 1.5em 0;
    color: #fff;
}
.conteudo {
    margin: 0 auto;
}
.question {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}
.btn-1-inv {
    opacity: .8;
    margin: 2em auto;
    display: table;
    width: 40ch;
    max-width: 100%;
    display: block;
}
.answer {
    margin-right: .8em;
}
.answer input {
    display: none;
}
.answer label {
    font-size: 0;
}
.answer>input+label:after {
    content: "";
    background-image: url("/assets/cb0.svg");
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}
.answer>input:checked+label:after {
    background-image: url("/assets/cb1.svg");
}
@media screen and (min-width: 500px) {
    h1 {
        font-size: 3.5em;
    }
}
@media screen and (min-width: 992px) {
    h1 {
        font-size: 5em;
    }
    h2 {
        text-align: center;
    }
}
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 7em;
    }
    h2 {
        font-size: 1em;
    }
}
