header {
    padding-bottom: .3em;
    border-bottom: 1px solid #532985;
}
textarea {
    background-color: #532985;
    border: none;
    height: 80%;
    width: 100%;
    resize: none;
    color: #fff;
}
.container {
    margin-top: 2em;
    margin-bottom: 2em;
}
#votar {
    border: 3px solid #532985;
    position: relative;
    margin: 0 auto;
    display: block;        
}
body {
    background-color: #d8b212;            
}
.disclaimer, .legenda h3, .brother a, .btn-2 {
    text-transform: uppercase;
}
main {
    font-size: .8em;
    color: #532985;
}
main h3 {
    font-size: 2em;
}
.info-basica {
    background-color: #532985;
    color: #fff;
    padding: 1.5em 1.5em .5em 1.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.bio {
    background-color: #532985;
    color: #fff;
    padding: 1.5em 1.5em .5em 1.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.info-text {
    display: block;
}
.info-text.name {
    margin-top: 1em;
}
.info-text.number {
    margin: 1em 0;
}
.info-text.score.perigo {
    color: red;
}
.candidate-number {
    font-size: 2em;
}
.puxar .title {
        background-color: #532985;
    color: #fff;
}
.puxar h2 {
    text-transform: uppercase;
}
.can-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.votes-int {
    color: #d8b212;
    text-align: center;
    display: block;
}
.title {
    padding: 1em;
}
.brother td {
    background-color: #532985;
    color: #fff;
    padding: 1em;
}
.brother {
    margin: 1em 0;
    border-collapse: separate;
    border-spacing: 0 1em;
    width: 100%;
    font-size: 1.2em;
}
.partido span {
    display: block;
}
.partido {
    text-transform: uppercase;
    text-align: center;
    width: 10ch;
}
.nota {
    font-weight: bolder;
    color: #532985;
}
.votes-int p {
    font-size: .6em;
}
.respostas, .puxar {
    margin: 3em 0;
}
.respostas table {
    width: 100%;
    color: #fff;
    border-spacing: .3em;
    border-collapse: separate;
    text-transform: uppercase;
    font-family: ProximaNovaSoft-Bold;
}
.respostas td {
    background-color: #532985;
}
.resposta.perigo {
    font-size: 1.1em;
}
td.perigo {
    color: #532985;
    background-color: pink;
}
.pergunta, .resposta {
    padding: .5em;
}
.puxar {
    width: 100%;
}
main .nav a {
    display: block;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1em;
}
#btn-voltar {
    padding: .6em 0 .8em 0;
}
#btn-voltar:before {
    content: "<";
    margin-right: .5em;
    font-size: 1.8em;
    position: relative;
    top: .15em;
}
#btn-compartilhar {
    padding: .6em 0 1em 0;
}
#btn-compartilhar:before {
    content: "";
    display: inline-block;
    background-image: url('/assets/face2.svg');
    background-size: cover;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: .38em;
    margin-right: .5em;

}
.nota {
    background-color: #d8b212;
    font-size: .6em;
    padding: .3em;
    border-radius: .4em;
    white-space: nowrap;
}
span.info-text.score {
    margin-top: 2em;
    background-color: #d8b212;
    text-align: center;
    color: #532985;
    border-radius: 4px;
    font-size: .8em;
    position: relative;
    bottom: 0px;
}
@media screen and (min-width:500px) {
    main {
        font-size: 1rem;
    }
    .pergunta, .resposta {
        padding: 1em 3em;

    }
}
@media screen and (min-width:600px) {
    main .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main .nav a {
        width: 49%;
        margin-top: .5em;
        display: inline;
    }
}
@media screen and (min-width:800px) {
    .bio {
        min-height: 435px;
    }
    .can-pic {
        width: 150px;
        height: 150px;
    }
    .flex {
        display: flex;
        margin-bottom: 2em;
        position: relative;
    }
    .info-bio {
        font-size: 1.2em;
        margin: 0;
        width: 100%;
    }
    .info-basica {
        font-size: 1.2em;
        width: 40ch;
        margin: 0 3em 0 0;
        box-sizing: border-box;
    }
    .info-basica:after, #votar:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        background-color: #532985;
        height: .5em;
        z-index: -1;
    }            
    .info-basica:after {
        bottom: 5em;
    }            
    #votar {
        float: right;
        position: initial;
        display: inline-block;
    }            
    #votar:before {
        bottom: 1.1em;
    }
    .avaliacao {
        position: absolute;
        bottom: 1em;
    }
    .avaliacao>span {
        margin-right: 1em;
    }
    .legenda {
        margin-top: 2em;
    }
}
@media screen and (min-width:992px) {
    .partido span {
        display: inline-block;
    }
    .partido {
        width: 30%;
        text-align: right;
    }
    .nota {
        background-color: #d8b212;
        font-size: .6em;
        padding: 0.4em 1em .2em 1em;
        border-radius: .4em;
        margin-left: 1em;
    }
}

    span.info-text.city {
        font-size: 0.7em;
        margin: 1em 0;
    }

@media screen and (min-width:1200px) {
    .partido {
        width: 25%;
    }
    .puxar h2,.puxar h5 {
        display: inline;
    }
}

    .share-it {
        width: 87.5%;
        position: fixed;
        top: 7%;
        background-color: #532985;
        left: 6.25%;
        animation-name: treme;
        box-shadow: 0 0 0 calc( 100vw + 100vh ) rgba(0,0,0,.6);
        font-size: 1.2em;
        text-align: center;
        padding-bottom: 2em;
    }
    .share-it h4 {
        font-size: 1.1em;
        font-family: ProximaNovaSoft-Bold;
        background-color: #532985;
        color: #d8b212;
        padding: .4em .4em .4em .85em;
        text-transform: uppercase;
        padding: 1.5em;
    }
    .share-it p {
        margin: 0;
        color: #fff;
        padding: 0 2em 1.5em 2em;
    }
    .share-it>h4>a {
        position: absolute;
        right: .5em;
        color: transparent;
    }
    .share-it>h4>a:after {
        content: "X";
        position: absolute;
        right: 0.2em;
        color: #d8b212;
        top: -17px;
    }
    .share-it:after {
        content: "";
        position: absolute;
        background-image: url('/assets/01_.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
        width: 100px;
        bottom: -54px;
        right: 0px;
    }
    .btn-compartilhe, .btn-compartilhe:hover {
        /*color: #fff;*/
        text-decoration: none;
        width: 250px;
        position: relative;
        padding-left: 3em;
    }
    .btn-compartilhe:before, .btn-compartilhe:hover:before {
        content: "";
        background-image: url("/assets/face3.svg");
        background-size: cover;
        width: 1.5em;
        height: 2em;
        display: inline-block;
        position: absolute;
        left: .5em;
        top: .1em;
    }
    .btn-compartilhe:after, .btn-compartilhe:hover:after {
        content: "";
        border-left: 1px double #532985;
        position: absolute;
        top: .5em;
        left: 2.6em;
        height: 1.3em;
    }
    @media screen and (min-width: 650px) {
        .share-it {
            width: 550px;
            left: calc( ( 100% - 550px ) / 2 );
            padding-bottom: 1em;
        }
    }
