{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}
{% load bootstrap3 %}
{% block title %}- Tem Compromisso{% endblock title %}

{% block ogp %}
  <meta property="og:title" content="#TemCompromisso">
  <meta property="og:type" content="{{ config.WEBSITE_OGP_TYPE }}">
  <meta property="og:url" content="https://{% url_domain %}{% url 'medianaranja2:index' %}">
  <meta property="og:image" content="{% static 'img/compartilhar_tem_compromiso.png' %}">
  <meta property="og:description" content="Uma ferramenta para ajudar você a encontrar candidatos (as) comprometidos com o Rio!">
  <meta property="fb:app_id" content="201933520410976">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@CasaFluminense">
  <meta name="twitter:creator" content="@CasaFluminense">
  <meta name="twitter:title" content="#TemCompromisso">
  <meta name="twitter:description" content="Uma ferramenta para ajudar você a encontrar candidatos (as) comprometidos com o Rio!">
  <meta name="twitter:image" content="{% static 'img/compartilhar_tem_compromiso.png' %}">

  {% endblock ogp %}

{% block everything %}
<section class="media-naranja">
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <img src="{% static 'img/logo_tem_compromiso.svg' %}" class="img-responsive" alt="TemCompromiso">
    </div>
    <div class="col-md-5 col-md-offset-1 tem-compromisso-info">
      <h2>Estamos entrando na reta final de um dos momentos mais importantes do segundo semestre de 2018: você na urna!</h2>
      <p>Já parou pra pensar quais candidatos (as) estão de fato comprometidos em diminuir desigualdades e aumentar oportunidades na metrópole do rio? Tarefa nada fácil, né? Por isso, juntamos parte das nossas forças aqui!</p>
      <p>Depois de incentivar você a criar propostas para a cidade a partir da sua própria experiência com o território, criamos um jogo de perguntas para te conectar com as candidaturas que mais se relacionam com temas relevantes pra você!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 naranja-form">
      <div class="text-center paso_title">
      </div>
      {% block questions %}
      {% endblock questions %}
    </div>
  </div>
</div>
</section>
{% endblock everything %}
