{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}
{% load bootstrap3 %}
{% block title %}- {% blocktrans with step_number=wizard.steps.step1 %}
1/2 Naranja - Paso {{step_number}}
{% endblocktrans %}{% endblock title %}

{% block ogp %}
  <meta property="og:title" content="#TemCompromisso em RioPorInteiro">
  <meta property="og:type" content="{{ config.WEBSITE_OGP_TYPE }}">
  <meta property="og:url" content="https://{% url_domain %}{{object.get_absolute_url}}">
  <meta property="og:image" content="https:{{object.ogp_image }}">
  <meta property="og:description" content="{{object.object.get_name}} - #TemCompromisso em RioPorInteiro">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@CasaFluminense">
  <meta name="twitter:creator" content="{{object.object.twitter }}">
  <meta name="twitter:title" content="#TemCompromisso em RioPorInteiro">
  <meta name="twitter:description" content="{{object.object.get_name}} - #TemCompromisso em RioPorInteiro">
  <meta name="twitter:image" content="https:{{object.ogp_image }}">

  {% endblock ogp %}


{% block content %}
<div class="container">
  <h2>{% trans "Declaración pública" %}</h2>
  <p>
    Você também pode saber quem <a href="{% url 'medianaranja2:index' %}">#TemCompromisso</a>.
    </p>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <a href="{{object.object.get_absolute_url}}">
            <img src="{{object.ogp_image}}" class="img-responsive" alt="{{object.object.get_name}}" title="{{object.object.name}}">
          </a>
          <ul class="list-inline text-center">
            <li><a href="#" onclick="window.open('//twitter.com/share','twitter','width=450, height=250'); ga('send','event','share-media-naranja-tw','click')"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="#" onclick="window.open('//www.facebook.com/sharer/sharer.php','facebook','width=450, height=250'); ga('send','event','share-media-naranja-fb','click');"><i class="fa fa-facebook fa-2x"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content %}
