{% extends "medianaranja2/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}
{% load bootstrap3 %}
{% block body_class %}navbar_invisible{% endblock body_class %}
{% block questions %}
 
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ wizard.form.media }}
    {{ wizard.management_form }}
    <label>
    Se você pudesse priorizar temas que diminuíssem as desigualdades e aumentassem as oportunidades da metrópole do Rio, quais seriam? (Escolha apenas {{config.MEDIA_NARANJA_MAX_SELECT_PROPOSALS}} propostas)</label>

    {% for choice_id, choice_label in wizard.form.proposals.field.choices %}
    <div class="pregunta naranja-medida">
      <span class="label-default">{{choice_id|get_classification_from_str}}</span>

        {% for k,v in choice_label %}
        <br />
          <label for="id_{{wizard.steps.current}}-proposals_{{k}}">
            <input class="proposal_option" id="id_{{wizard.steps.current}}-proposals_{{k}}" name="{{wizard.steps.current}}-{{wizard.form.proposals.name}}" title="" type="checkbox" value="{{k}}" /> {{v|lower|capfirst}}
          </label>
        {% endfor %}
    </div>
    {% endfor %}


    {% if wizard.steps.prev %}
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-default pull-left" onclick="ga('send','event','anterior-paso-{{wizard.steps.step1}}-media-naranja','click')">Enviar</button>
    {% endif %}
    <input type="submit" name="submit" value="Enviar" class="btn btn-success pull-right" onclick="ga('send','event','siguiente-paso-{{wizard.steps.step1}}-media-naranja','click')" />
  </form>
  <script type="text/javascript">
  $(function(){

    $("input[type=checkbox][name={{wizard.steps.current}}-{{wizard.form.proposals.name}}]").click(function() {

        var bol = $("input[type=checkbox][name={{wizard.steps.current}}-{{wizard.form.proposals.name}}]:checked").length >= {{config.MEDIA_NARANJA_MAX_SELECT_PROPOSALS}};
        $("input[type=checkbox][name={{wizard.steps.current}}-{{wizard.form.proposals.name}}]").not(":checked").attr("disabled",bol);

    });
  });

  </script>
{% endblock questions %}
