{% load votainteligente_extras %} {% load thumbnail %} {% load staticfiles %} {% load i18n %} {% load thumbnail %} {% load bootstrap3 %} {% get_election_by_position position as election %}
<!-- Cata compañera cacha que podis hacer lo siguiente {{position}} y te va a imprimir alcalde o concejal dependiendo de lo que tu digai -->
<!-- <div class="row"> -->

{% if election.ranking.all %}
<div class="carousel-reviews broun-block">
  <!-- slide xs -->
  <div id="carousel-candidate-xs" class="carousel slide visible-xs" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for candidate in election.ranking.all|slice:":9" %}
      <div class="item {% if forloop.first %}active{% endif %}">
        {% if position != 'concejal' %}
          {% if candidate.image %}
            {% thumbnail candidate.image "x96" as im %}
              <a href="{{ candidate.get_absolute_url}}"><img src="{{ im.url }}" alt="{{ candidate.name }}" border="0" class="img-responsive img-circle img-candidato" /></a>
            {% endthumbnail %}
          {% else %}
            <a href="{{ candidate.get_absolute_url}}"><img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive img-circle img-candidato"></a>
          {% endif %}
        {% endif %}
        {% if config.SHOW_RIBBON_IN_CANDIDATE and not candidate.commitments.count%}
          <div class="ribbon label label-danger {% if position == 'concejal' %}ribbon-noimg{% endif %}">
            <p>{% trans "No se ha comprometido" %}</p>
          </div>
        {% endif %}
        <h3 class="caption text-white"><a href="{{ candidate.get_absolute_url}}">{{ candidate.name }}</a></h3>
        <p class="small text-white">{% get_personal_data candidate=candidate personal_data='Partido' as partido %}{{partido.value}}</p>
        {% if candidate.has_joined %}
          {% if candidate.has_won %}
        <div class="small label-info ranking text-white row text-center">
          <div class="ranking-content">
            <div class="col-md-2 num col-md-offset-1">{% trans "Electo" %}</div>
          </div>
        </div>
          {% endif %}
        {% endif %}
        {% if user.is_staff %}
          {% if candidate.has_joined %}
        <span class="label label-success">{% trans "Staff: ya se conectó." %}</span>
          {% else %}
        <span class="label label-danger">{% trans "Staff: NO se ha conectado." %}</span>
          {% endif %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <a class="left carousel-control" href="#carousel-candidate-xs" role="button" data-slide="prev">
      <svg width="18" height="100%" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
        <title>Anterior</title>
        <g stroke="#FFFFFF" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px">
            <path d="M9 1L.4 9 9 17M1.5 9h16"/>
        </g>
      </svg>
    </a>
    <a class="right carousel-control" href="#carousel-candidate-xs" role="button" data-slide="next">
      <svg width="18" height="100%" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
        <title>Siguiente</title>
        <g stroke="#FFFFFF" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px">
            <path d="M9 1l8.6 8L9 17M16.5 9H.5"/>
        </g>
      </svg>
    </a>
  </div>
  <!-- end slide xs -->

  <div id="carousel-{{area.id}}-{{position}}" class="carousel slide candidato hidden-xs" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            {% for candidate in election.ranking.all|slice:":9" %}
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="block-text rel zmin">
                {% if position != 'concejal' %}
                  {% if candidate.image %}
                    {% thumbnail candidate.image "x96" as im %}
                      <a href="{{ candidate.get_absolute_url}}"><img src="{{ im.url }}" alt="{{ candidate.name }}" border="0" class="img-responsive img-circle img-candidato" /></a>
                    {% endthumbnail %}
                  {% else %}
                    <a href="{{ candidate.get_absolute_url}}"><img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive img-circle img-candidato"></a>
                  {% endif %}
                {% endif %}
                <!-- Ribbon -->
                {% if config.SHOW_RIBBON_IN_CANDIDATE and not candidate.commitments.count%}
                <div class="ribbon label label-danger {% if position == 'concejal' %}ribbon-noimg{% endif %}">
                  <p>No se ha compormetido</p>
                </div>
                {% endif %}
                <h3 class="caption text-white"><a href="{{ candidate.get_absolute_url}}">{{ candidate.name }}</a></h3>
                <p class="small text-white">{% get_personal_data candidate=candidate personal_data='Partido' as partido %}{{partido.value}}</p>
                {% if candidate.has_joined %}
                  {% if candidate.has_won %}
                <div class="small label-info ranking text-white row text-center">
                  <div class="ranking-content">
                    <div class="col-md-2 num col-md-offset-1">Electo</div>
                  </div>
                </div>
                  {% endif %}
                {% endif %}
                {% if user.is_staff %}
                  {% if candidate.has_joined %}
                <span class="label label-success">{% trans "Staff: ya se conectó." %}</span>
                  {% else %}
                <span class="label label-danger">{% trans "Staff: NO se ha conectado." %}</span>
                  {% endif %}
                {% endif %}
              </div>
            </div>
              {% if forloop.counter|divisibleby:3 and not forloop.last%}
              </div>
              <div class="item">
              {% endif %}
            {% endfor %}

            {% if election.candidates.count > 8 %}
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="block-text rel zmin">
                <a href="{{ election.get_absolute_url }}" class="btn btn-primary">{% trans "Ver todos" %}</a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-{{area.id}}-{{position}}" role="button" data-slide="prev">
          <svg width="18" height="100%" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                      <title>{% trans "Anterior" %}</title>
                      <g stroke="#FFFFFF" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px">
                          <path d="M9 1L.4 9 9 17M1.5 9h16"/>
                      </g>
                  </svg>
        </a>
        <a class="right carousel-control" href="#carousel-{{area.id}}-{{position}}" role="button" data-slide="next">
          <svg width="18" height="100%" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                        <title>{% trans "Siguiente" %}</title>
                        <g stroke="#FFFFFF" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px">
                            <path d="M9 1l8.6 8L9 17M16.5 9H.5"/>
                        </g>
                    </svg>
        </a>
      </div>
</div>
{% endif %}
