{% load votainteligente_extras %}
{% load thumbnail %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% get_election_by_position position as election %}
<!-- Cata compañera cacha que podis hacer lo siguiente {{position}} y te va a imprimir alcalde o concejal dependiendo de lo que tu digai -->
<!-- <div class="row"> -->
  
    <script type="text/javascript">
    jQuery(document).ready(function($){
      screenwidth = $(".containerAccordion").width();
      $('#gridaccordion-{{position}}').gridAccordion({
        width:screenwidth, height:250, columns:{{election.candidates.all|length}}, 
        distance:2, closedPanelWidth:10, closedPanelHeight:10, alignType:'centerCenter', linkTarget: "_self", slideshow:true
      });
    });
    </script>

<div class="carousel-reviews broun-block">
  <div class="container">
        <div class="row">
            <div id="carousel-{{area.id}}-{{position}}" class="carousel slide candidato" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active">
                    {% for candidate in election.ranking.all|slice:":9" %}
                      <!-- Te traje 3 no más si quieres más me avisai =) -->
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="block-text rel zmin">
                              {% if position != 'concejal' %}
                                {% if candidate.image %}
                                  {% thumbnail candidate.image "x96" as im %}
                                    <a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.id %}"><img src="{{ im.url }}" alt="{{ candidate.name }}" border="0" class="img-responsive img-circle img-candidato"/></a>
                                  {% endthumbnail %}
                                {% else %}
                                  <a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.id %}"><img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive img-circle img-candidato"></a>
                                {% endif %}
                              {% endif %}
                              <!-- Ribbon -->
                              {% if not candidate.has_answered %}<div class="ribbon label label-danger {% if position == 'concejal' %}ribbon-noimg{% endif %}">No ha respondido</div>{% endif %}
                              <a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.id %}"><h3 class="caption text-white">{{ candidate.name }}</h3></a>
                              <p class="small text-white">{% get_personal_data candidate=candidate personal_data='Partido' as partido %}{{partido.value}}</p>
                              {% if candidate.has_joined %}
                                {% if candidate.ranking_in_election %}<!-- @camargozzini compañera acá puedes jugar con el ranking, si le quitas el 'and user.is_staff' funciona para todo el mundo-->
                                  <div class="small label-info ranking text-white row" data-toggle="tooltip" data-placement="top" title="{{candidate.naranja_completeness|floatformat}}% de la media naranja y se ha pronunciado sobre un {{candidate.commitmenness|floatformat}}% de las propuestas para {{area}}">
                                    <div class="ranking-content">
                                      <div class="col-md-2 num col-md-offset-1">{{candidate.ranking_in_election}}</div>
                                      <div class="col-md-8 text-left">en ranking <br> VotaInteligente</div>
                                    </div>
                                  </div>
                                {% endif %}
                              {% endif %}
                              {% if user.is_staff %}
                                {% if candidate.has_joined %}
                                  <span class="label label-success">Staff: ya se conectó.</span>
                                {% else %}
                                  <span class="label label-danger">Staff: NO se ha conectado.</span>
                                {% endif %}
                              {% endif %}
                            </div>
                          </div>
                      {% if forloop.counter|divisibleby:3 and not forloop.last%}
                  </div>
                  <div class="item">
                      {% endif %}
                    {% endfor %}
                    {% if election.candidates.count > 8 %}
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="block-text rel zmin">
                          <a href="{{ election.get_absolute_url }}" class="btn btn-primary">Ver todos</a>
                        </div>
                      </div>
                    {% endif %}
                  </div>
              </div>
                <a class="left carousel-control" href="#carousel-{{area.id}}-{{position}}" role="button" data-slide="prev">
                  <svg width="18" height="100%" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                      <title>Anterior</title>
                      <g stroke="#FFFFFF" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px">
                          <path d="M9 1L.4 9 9 17M1.5 9h16"/>
                      </g>
                  </svg>
                </a>
                <a class="right carousel-control" href="#carousel-{{area.id}}-{{position}}" role="button" data-slide="next">
                    <svg width="18" height="100%" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                        <title>Siguiente</title>
                        <g stroke="#FFFFFF" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px">
                            <path d="M9 1l8.6 8L9 17M16.5 9H.5"/>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
  </div>
</div>