{% load i18n %}
<ul>
	{% if candidate.candidacy_set.all %}
		{% for candidacy in candidate.candidacy_set.all %}
			{% if candidacy.candidacycontact_set.all %}
	    		{% for contact in candidacy.candidacycontact_set.all %}
	    			{% if contact.used_by_candidate %}
	    				<li>{% trans "Este candidato se ha conectado." %}</li>
	    			{% else %}
	    				<li>{% blocktrans with mail=contact.mail %}
	    					Este candidato no se ha conectado pero le enviamos el mail a {{mail}}
	    				{% endblocktrans %}</li>
	    			{% endif %}
	    		{% endfor %}
			{% else %}
				<li>{% trans "No tenemos contacto de este candidato" %}</li>
			{% endif %}
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregaMailCandidato" >{% trans "Agrégale mail a esta/e hermana/o" %}</button>
	    {% endfor %}
	{% else %}
    <span class="label label-danger">{% trans "No tenemos contacto de este candidato" %}</span>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregaMailCandidato" >{% trans "Agrégale mail a esta/e hermana/o" %}</button>
	{% endif %}
</ul>

	<script type="text/javascript">
		$(function(){
			$('#agregaMailCandidato').on('show.bs.modal', function (e) {
			  $('#agregaMailCandidatoBody').load('{% url "backend_staff:add_contact_and_send_mail" pk=candidate.pk %}')
			})
		})
	</script>
		<!-- Modal -->
	<div class="modal fade" id="agregaMailCandidato" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">wena jefa/e!</h4>
	      </div>
	      <div class="modal-body" id='agregaMailCandidatoBody'>
	        ...
	      </div>
	    </div>
	  </div>
	</div>
