{% load votainteligente_extras %}
<div class="candidate-answer">
    <div class="row">
        <div class="col-md-12">
            <strong>{{ answer.person.name }}</strong>
                {% comment %}
                <button type="submit" class="btn btn-primary"><i class="icon-twitter"></i>{% trans "Twittea al candidato" %}</button>
                {% endcomment %}

                {% with candidate=answer.person %}
                {% follow_on_twitter %}
                {% endwith %}
        </div>
    </div>
        <p>{{ answer.content|linebreaksbr }}</p>
</div>
