{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load ogp_tags %}
{% load votainteligente_extras %}


{% block extrajs %}
$(function(){
    $('.loadFromUrl').on('show.bs.modal', function (event) {
      var anchor = $(event.relatedTarget) // Button that triggered the modal
      var modal = $(this)
      var body = modal.find('.modal-body');
      body.load(anchor.data('url'));
    })
    $('[data-toggle="tooltip"]').tooltip();
});
{% endblock extrajs %}

{% block navbar_background %}yellow{% endblock navbar_background %}
{% block content_container %}{% endblock content_container %}

{% block ogp %}
  {% render_ogp area %}
{% endblock ogp %}

{% block content %}

{% url 'popular_proposals:area_embedded' slug=area.id as embedded_url%}



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
  <div class="profile">
    <div class="container">
      
        
        {% include '_incrusta_esto_en_tu_pagina.html' with url=embedded_url %}
      <h1 class="text-center text-white">{{area.name}}</h1>
        <!-- Candidatos -->



        <!-- Alcaldes -->
        {% if user.is_staff %} <!--user is staff-->
        <section class="comuna-alcaldes text-center">
         <h2 class="text-white">Candidatos a alcalde</h2>
         {% include 'elections/_election_with_position.html' with position='alcalde' area=area %}
        </section>
    </div>
  </div>
      
  <!-- Banner -->
  {% if area.proposals.count %}
  {% with area.proposals.count|stringformat:"04d" as n_created %}
  <section class="banner">
    <div class="container">
      <ul class="list-inline text-center">
         <li><h4 class="counter">
          <span>{{ n_created|slice:"0:1" }}</span>
          <span>{{ n_created|slice:"1:2" }}</span>
          <span>{{ n_created|slice:"2:3" }}</span>
          <span>{{ n_created|slice:"3:4" }}</span></h4></li>
        <li><h4 class="text-white">propuestas ciudadanas se han creado para {{area}}</h4></li>
        {% if not user|is_candidate %}
        <li><a class="btn btn-success" href="{% url 'popular_proposals:propose_wizard_full' %}">Crea la tuya</a></li>
        {% endif %}

      </ul>
    </div>
  </section>
  {% endwith %}
  {% endif %}


  <section class="comuna-concejales text-center">
    <div class="container">
      <h2 class="text-white">Candidatos a concejal</h2>
      <div class="line-space"></div>
      {% include 'elections/_election_with_position.html' with position='concejal' area=area %}
    </div>
  </section>
           
        <!-- Otras elecciones    -->
          {% for election in area.elections_without_position.all %}
        <ul>
          <li class="col-md-4 containerAccordion">
            <script type="text/javascript">
            jQuery(document).ready(function($){
              screenwidth = $(".containerAccordion").width();
              $('#gridaccordion-{{forloop.counter}}').gridAccordion({
                width:screenwidth, height:250, columns:{{election.candidates.all|length}}, 
                distance:2, closedPanelWidth:10, closedPanelHeight:10, alignType:'centerCenter', linkTarget: "_self", slideshow:true
              });
            });
            </script>
            <ul class="accordion" id="gridaccordion-{{forloop.counter}}">
              {% for candidate in election.candidates.all|slice:":8" %}
              <li>
                {% if candidate.image %}
                  {% thumbnail candidate.image "x300" as im %}
                    <a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.id %}"><img src="{{ im.url }}" alt="{{ candidate.name }}" border="0"/></a>
                  {% endthumbnail %}
                {% else %}
                  <a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.id %}"><img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive"></a>
                {% endif %}
                <div class="caption">{{ candidate.name }}</div>
              </li>
              {% endfor %}
            </ul>
            <a href="{{ election.get_absolute_url }}"><h3 class="portada">{{ election.name }}</h3></a>
            <div class="election-description">
              <p>{{ election.description|truncatewords:33 }}</p> 
            </div>
          </li>
           {% if forloop.counter|divisibleby:3 %}
        </ul>
        <ul>
          {% endif %}
          {% endfor %}
          {% if election.candidates > 7 %}
          Puedes ver el resto en <a href="{{ election.get_absolute_url }}"><h3 class="portada">{{ election.name }}</h3></a>
          {% endif %}
        </ul>
      {% endif %} <!--user is staff-->
      {% if not popular_proposals.all %}
      {% blocktrans %}
      <p>Acá aún no hay propuestas, pero puedes:</p>
      {% endblocktrans %}
      <a class="btn btn-info" href="{% url 'popular_proposals:propose_wizard' slug=area.id %}">{% blocktrans with area=area.name %}Crear una propuesta ciudadana para {{ area }}{% endblocktrans %}</a>
      {% endif %}
    </div>

  <!-- Featured Elections  -->
  <section class="comuna-propuestas">
    <div class="container">
      {% include 'popular_proposal/_lista_propuestas.html' with popular_proposals=popular_proposals form=proposal_filter_form %}
    </div>
  </section>
      

  <!-- /contenedorDestacado -->

      

{% endblock content %}


{% block extrafooter %}
{% endblock extrafooter %}
