{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load ogp_tags %}
{% load votainteligente_extras %}
{% load cache %}

{% block title %}- Candidatos para {{area}}{% endblock title %}

{% block extrajs %}
$(function(){
    $('.loadFromUrl').on('show.bs.modal', function (event) {
      var anchor = $(event.relatedTarget) // Button that triggered the modal
      var modal = $(this)
      var body = modal.find('.modal-body');
      body.load(anchor.data('url'));
    })
    $('[data-toggle="tooltip"]').tooltip();
});
{% endblock extrajs %}

{% block navbar_background %}yellow{% endblock navbar_background %}
{% block content_container %}{% endblock content_container %}

{% block ogp %}
  {% render_ogp area %}
{% endblock ogp %}

{% block description %}Todos los candidatos para estas elecciones.{% endblock description %}
{% block keywords %},{{area.name}}{% endblock keywords %}

{% block content %}
<div class="container">
  <h1>Candidatos para {{area}}</h1>
  {% include '_election_search_form.html' %}
</div>
{% for p in area.parents %}
  {% with p.elections.first as election %}
    {% if election %}
      {% display_election_card election %}
    {% endif %}
    {% endwith %}
{% endfor %}

{% endblock content %}

{% block extrafooter %}
{% endblock extrafooter %}
