{% extends "elections/election_base.html" %}
{% load i18n %}


{% block title %} - {{election}} - {% trans "Pregúntales"%}{% endblock title%}

{% block last_breadcrumb %}{% trans "Pregúntales"%}{% endblock last_breadcrumb %}

{% block tab_ask %}class="active"{% endblock %}

{% block mainelection %}
<!-- ask -->

<div class="ask-form">
	<form action="{% url 'ask_detail_view' election.slug %}"  role="form" method="post">{% csrf_token %}
		<div class="row">
			<div class="col-md-8">
				
				<div class="form-group">
					<label for="name">{% trans "Yo soy" %}</label>
					<input type="text" class="form-control" id="id_author_name" maxlength="512" name="author_name" type="text"  placeholder="{% trans "Identifícate como quieras" %}">
				</div>
				<div class="form-group">
					<label for="email">{% trans "Correo electrónico" %}</label>
					<input type="email" class="form-control" id="id_author_email" maxlength="75" name="author_email" placeholder="{% trans "Si deseas que te notifiquemos la respuesta del candidato" %}">
				</div>
				<div class="form-group">
					<label for="email">{% trans "Ponle un título" %}</label>
					<input id="id_subject" maxlength="512" class="form-control" name="subject" type="text" placeholder="{% trans "Cómo pretenden superar la pobreza?" %}">
				</div>
				<div class="form-group">
					<label for="question">{% trans "Escribe tu pregunta" %}</label>
					<textarea cols="40" id="id_content" name="content" class="form-control" rows="3" placeholder="{% trans "Escribe una pregunta clara y respetuosa. Revisa si otros han preguntado lo que a ti te interesa saber" %}"></textarea>
				</div>
			</div>
			<div class="col-md-4">
				<h5>{% trans "A quien quieres preguntar" %}:</h5>
				{{ form.people }}

				<p><div class="txt-gris">{% trans "Estos son los candidatos que tienen e-mail." %}</div>{% trans " ¿Eres candidato? " %}<a href="mailto:info@votainteligente.cl?Subject=Info%20candidato" target="_top">{% trans "escríbenos" %}</a>.</p>

			</div>
		</div>
		<div class="row">
			<a name="recent-ask"></a>
			<div class="col-md-8">
				<p>
					{% trans "Acepto que mis preguntas y respuestas sean publicadas en este mismo medio.<br>Confirmo que lo que aquí dice no atenta contra el candidato." %}
				</p>
			</div>
			<div class="col-md-4">
				<button type="submit" class="btn btn-success"><i class="icon-edit"></i> {% trans "Enviar pregunta" %}</button>
			</div>
		</div>
	</form>
</div>
<div>
	
	{% if writeitmessages %}
	
	<div class="row">
		<div class="col-md-8 recent-questions">
			<h3>{% trans 'Preguntas recientes' %}</h3>
		</div>

		<div class="col-md-4 search-questions">
			{% comment %}
			<form action="" class="form-inline" role="form">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Buscar pregunta">
					<span class="input-group-addon"><i class="icon-search"></i></span>
				</div>
			</form>
			{% endcomment %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% for message in writeitmessages %}
			{% include 'elections/message_in_list.html' with message=message %}
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
		</div>
	</div>
	{% else %}
	<div class="row">
		<div class="col-md-8 recent-questions">
			<h3>{% trans 'No hay mensajes aún. Sé la/el primer@ en preguntar' %}</h3>
		</div>
		{% comment %}
		<div class="col-md-4 search-questions">
			<form action="" class="form-inline" role="form">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Buscar pregunta">
					<span class="input-group-addon"><i class="icon-search"></i></span>
				</div>
			</form>
		</div>
		{% endcomment %}
	</div>
	{% endif %}
</div>
<!-- eof ask -->

{% endblock mainelection %}
