{% extends "elections/election_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load markdown_deux_tags %}
{% load votainteligente_extras %}
{% load thumbnail %}
{% load ogp_tags %}
{% load cache %}

{% block url_face_to_face %}{% url 'face_to_face_one_candidate_detail_view' slug=election.slug slug_candidate_one=candidate.id %}{% endblock url_face_to_face %}

{% block title %} - {{election}} - {{candidate.name}}{% endblock title%}
{% block navbar_background %}yellow{% endblock navbar_background %}

{% block tab_profile %}class="active"{% endblock %}
{% block content_container %}{% endblock content_container %}
{% block election_breadcrumbs %}{% endblock %}

{% block ogp %}
  {% render_ogp candidate %}
{% endblock ogp %}


{% block mainelection %}
<div class="container text-center">
  <h1>{{ candidate.name }}</h1>
  <h3>{% get_personal_data candidate=candidate personal_data='lema' as lema %}{{lema.value}}</h3>
</div>

<div class="profile">
  <div class="container">
    <div class="row content_padding">
      <div class="col-md-2 col-sm-2 col-xs-12">
          <div id="candidate-img-profile">
            {% if candidate.image %}
              {% thumbnail candidate.image "300x300" crop="center" as im %}
                  <img src="{{ im.url }}" alt="{{candidate.name}}" height="300" width="300" border="0" class="img-responsive img-circle img-candidato">
              {% endthumbnail %}
              {% else %}
              <img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive img-circle img-candidato img-candidato">
            {% endif %}
            {% if not candidate.has_answered %}<div class="ribbon label label-danger">No ha respondido</div>{% endif %}
          </div>
      </div>
      <div id="info-candidato" class="col-xs-12 col-sm-7 col-md-7">
        <table class="table">
          <tr>
            <td>
            {% get_personal_data candidate=candidate personal_data='Partido' as partido %}
              {% if partido.value %}
              <p><b>Partido</b></p>
              <p>{{partido.value}}</p>
            {% endif %}
            </td>
            <td>
              {% if candidate.elections.count %}
              <p><b>Circunscripción</b></p>
              <ul class="list-inline">
                {% for e in candidate.elections.all %}
                <li>{{e}}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </td>
          </tr>
          {% get_personal_data candidate=candidate personal_data='Pacto' as pacto %}
          {% if pacto.value %}
          <tr>
            <td colspan="2">
              <p><b>Pacto</b></p>
              <p>{{pacto.value}}</p>
            </td>
          </tr>
          {% endif %}
          {% if candidate.biography %}
          <tr>
            <td colspan="2">
              <p><b>Reseña</b></p>
              {{ candidate.biography|markdown }}
            </td>
          </tr>
          {% endif %}
          <tr>
            <td>
              <p><b>Compromisos Ciudadanos</b></p>
              <p>Este candidato se ha comprometido con</p>
              <p class="btn btn-info"><i class="fa fa-heart"></i>{{candidate.commitments.count}} Propuestas ciudadanas</p>
            </td>
            <td>
              <p><b>Contactos</b></p>
              <ul class="list-inline">
                {% include 'elections/candidates/social_media.html' with candidate=candidate %}
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-3">
        <h5 class="text-center">Agenda</h5>
        <ul id="agenda-candidato" class="list-unstyled">
          <li>
            <b>Agenda 01</b>
            <p>Alguna boludez</p>
          </li>
          <li>
            <b>Agenda 01</b>
            <p>Alguna boludez</p>
          </li>
          <li>
            <b>Agenda 01</b>
            <p>Alguna boludez</p>
          </li>
        </ul>
      </div>
    </div><!-- .row .content_padding -->
  </div><!-- container -->
</div><!-- profile -->
{% get_personal_data candidate=candidate personal_data='program_link' as program_link %}
{% if program_link.value %}
<div id="candidato-programa" class="container-fluid">
  <p class="text-center">Revisa su programa <a target="_blank" href="{{program_link.value}}" class="btn btn-default">aquí</a></p>
</div>
{% endif %}

<div id="candidato-propuestas" class="container">
  <h3 class="text-center">Compromisos Ciudadanos</h3>
  {% include 'elections/candidates/agenda.html' with candidate=candidate election=election %}
  {% include 'elections/candidates/propuestas_a_las_que_se_ha_comprometido.html' with candidate=candidate election=election %}
  {% include 'elections/candidates/posiciones_politicas_de_los_candidatos.html' with candidate=candidate election=election %}
</div>

{% endblock mainelection %}

{% block extrajs %}{% endblock extrajs %}