{% extends "base.html" %}
{% load i18n %}
{% load votainteligente_extras %}
{% load ogp_tags %}

{% block extrajs %}
{% endblock extrajs %}

{% block title %} - {{election}} - {% trans "Perfiles"%}{% endblock title%}

{% block keywords %}{% for tag in election.tags.all %}, {{tag}}{% endfor %}{% endblock keywords %}

{% block description %}{{election.description|truncatewords:100}}{% endblock description %}

{% block ogp %}
  {% render_ogp election %}
{% endblock ogp %}

{% block navbar_background %}yellow{% endblock navbar_background %}

{% block content %}
<section id="election">
	<div class="row breadscrumb-social hidden-xs">
		<div class="col-md-9">
			<ul class="breadcrumb">
				<li><a href="/">{% trans "Portada" %}</a></li>
				{% if election.area %}
					<li><a href="{% url 'area' slug=election.area.id %}">{{ election.area }}</a></li>
				{% endif %}
				<li><a href="{% url 'election_view' slug=election.slug %}">{{ election }}</a></li>
				<li class="active">{% block last_breadcrumb %}{% trans "Perfiles"%}{% endblock last_breadcrumb %}</li>
			</ul>
		</div>
	</div>

	{% block mainelection %}
	{% endblock mainelection %}

</section>
{% endblock content %}
