{% extends "base.html" %}
{% load i18n %}
{% load votainteligente_extras %}
{% load ogp_tags %}

{% block extrajs %}
{% endblock extrajs %}

{% block title %} - {{candidate.name}} - {{election}} - {% trans "Perfiles"%}{% endblock title%}

{% block keywords %}{% for tag in election.tags.all %}, {{tag}}{% endfor %}{% endblock keywords %}

{% block description %}{% trans "Conoce los candidatos a Senador, Diputado y Presidente para las elecciones de Chile 2017" %}{% endblock description %}

{% block ogp %}
  {% render_ogp election %}
{% endblock ogp %}

{% block content %}
<section id="election">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}" onclick="ga('send','event','breadcrumb-home-election','click')"><i class="fa fa-home"></i></a></li>
      <li><a href="{% url 'know_your_candidates' %}" onclick="ga('send','event','breadcrumb-candidaturas-election','click')">{% trans "Candidaturas" %}</a></li>
      {% if candidate.election and candidate.election.area %}
      <li><a href="{{candidate.election.area.get_absolute_url}}" onclick="ga('send','event','breadcrumb-area-election','click')">{{candidate.election.area}}</a></li>
      {% endif %}
      <li class="active">{{candidate.name}}</li>
    </ol>
    {% if candidate.election.area.get_related %}
    {% trans "También te podría interesar:" %}
        {% for area in candidate.election.area.get_related %}
          {% if area.elections.count %}
          <span class="label label-primary"><a href="{{area.get_absolute_url}}">{{area.name}}</a></span>
          {% endif %}
        {% endfor %}
    {% endif %}
  </div>

  {% block mainelection %}
  {% endblock mainelection %}

</section>
{% endblock content %}
