{% extends "elections/election_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load votainteligente_extras %}

{% block extrajs %}
{% endblock extrajs %}

{% block tab_profile %}class="active"{% endblock %}

{% block mainelection %}
<div class="row">
	<div class="container-candidates">
		{% for candidate in election.candidates.all %}
		<div class="col-md-2">
			
			{% if candidate.image %}
				{% thumbnail candidate.image "300x300" crop="center" as im %}
				<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.id %}"><img src="{{im.url}}" alt="{{candidate.name}}" border="0" class="img-responsive">{% if candidate.extra_info.custom_ribbon %}<div class="ribbon">{{ candidate.extra_info.custom_ribbon }}</div>{% endif %}</a>
				{% endthumbnail %}
			{% else %}
				<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.id %}"><img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive">{% if candidate.extra_info.custom_ribbon %}<div class="ribbon">{{ candidate.extra_info.custom_ribbon }}</div>{% endif %}</a>
			{% endif %}
			
			<p class="text-center">
				<a href="{% url 'candidate_detail_view' election_slug=election.slug slug=candidate.id %}">{{candidate.name}}</a>
				{% if not candidate.has_answered %}{% no_ha_respondido_twitter_button %}{% endif %}
			</p>

		</div>
		{% if forloop.counter|divisibleby:6 %}
			</div>
		</div>
		<div class="row">
			<div class="container-candidates">
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock mainelection %}
