{% load thumbnail %}
{% load staticfiles %}


<!-- Featured Elections  -->
  <div class="hidden-xs">
  {% if featured_elections|length = 1 %}
    <!-- Featured Election block -->
    <div class="contenedorDestacado fondo-blanco">
      <ul>
        {% for featured_election in featured_elections %}
          <li class="containerAccordion">
            <script type="text/javascript">
            jQuery(document).ready(function($){
              screenwidth = $(".containerAccordion").width();
              $('#gridaccordion-{{forloop.counter}}').gridAccordion({
                width:screenwidth, height:250, columns:{{ featured_election.candidates.all|length }},
                distance:2, closedPanelWidth:10, closedPanelHeight:10, alignType:'centerCenter', linkTarget: "_self", slideshow:true
              });
            });
            </script>
            <ul class="accordion" id="gridaccordion-{{forloop.counter}}">
              {% for candidate in featured_election.candidates.all %}
              <li>
                  {% if candidate.image %}
                  {% thumbnail candidate.image "x300" as im %}
                    <a href="{{ candidate.get_absolute_url}}"><img src="{{ im.url }}" alt="{{ candidate.name }}" border="0"/></a>
                  {% endthumbnail %}
                  {% else %}
                    <a href="{{ candidate.get_absolute_url}}"><img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive"></a>
                  {% endif %}
                  <div class="caption">{{ candidate.name }}</div>
              </li>
              {% endfor %}
            </ul>
            <a href="{{ featured_election.get_absolute_url }}"><h3 class="portada">{{featured_election.name}}</h3></a>
            <div class="election-description">
              <p>{{ featured_election.description|truncatewords:100 }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div><!-- /contenedorDestacado -->
    <!-- /FeaturedBlock -->

  {% elif featured_elections|length = 2 %}
    <!-- Featured Election block -->
    <div class="contenedorDestacado fondo-blanco">
      <ul>
        {% for featured_election in featured_elections %}
          <li class="col-md-6 containerAccordion">
            <script type="text/javascript">
            jQuery(document).ready(function($){
              screenwidth = $(".containerAccordion").width();
              $('#gridaccordion-{{forloop.counter}}').gridAccordion({
                width:screenwidth, height:250, columns:{{ featured_election.candidates.all|length }},
                distance:2, closedPanelWidth:10, closedPanelHeight:10, alignType:'centerCenter', linkTarget: "_self", slideshow:true
              });
            });
            </script>
            <ul class="accordion" id="gridaccordion-{{forloop.counter}}">
              {% for candidate in featured_election.candidates.all %}
              <li>
                {% if candidate.image %}
                  {% thumbnail candidate.image "300x300" crop="center" as im %}
                    <a href="{{ candidate.get_absolute_url}}"><img src="{{ im.url }}" alt="{{ candidate.name }}" border="0"/></a>
                  {% endthumbnail %}
                {% else %}
                  <a href="{{ candidate.get_absolute_url}}"><img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive"></a>
                {% endif %}
                <div class="caption">{{ candidate.name }}</div>
              </li>
              {% endfor %}
            </ul>
            <a href="{{ featured_election.get_absolute_url }}"><h3 class="portada">{{ featured_election.name }}</h3></a>
            <div class="election-description">
              <p>{{ featured_election.description|truncatewords:50 }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div><!-- /contenedorDestacado -->

  {% elif featured_elections|length >= 3 %}
      <!-- Featured Election block -->
    <div class="contenedorDestacado fondo-blanco">
      <ul>
        {% for featured_election in featured_elections %}
        <li class="col-md-4 containerAccordion">
          <script type="text/javascript">
          jQuery(document).ready(function($){
            screenwidth = $(".containerAccordion").width();
            $('#gridaccordion-{{forloop.counter}}').gridAccordion({
              width:screenwidth, height:250, columns:{{featured_election.candidates.all|length}},
              distance:2, closedPanelWidth:10, closedPanelHeight:10, alignType:'centerCenter', linkTarget: "_self", slideshow:true
            });
          });
          </script>
          <ul class="accordion" id="gridaccordion-{{forloop.counter}}">
            {% for candidate in featured_election.candidates.all %}
            <li>
              {% if candidate.image %}
                {% thumbnail candidate.image "x300" as im %}
                  <a href="{{ candidate.get_absolute_url}}"><img src="{{ im.url }}" alt="{{ candidate.name }}" border="0"/></a>
                {% endthumbnail %}
              {% else %}
                <a href="{{ candidate.get_absolute_url}}"><img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive"></a>
              {% endif %}
              <div class="caption">{{ candidate.name }}</div>
            </li>
            {% endfor %}
          </ul>
          <a href="{{ featured_election.get_absolute_url }}"><h3 class="portada">{{ featured_election.name }}</h3></a>
          <div class="election-description">
            <p>{{ featured_election.description|truncatewords:33 }}</p>
          </div>
        </li>
        {% if forloop.counter == 3 %}
      </ul>
      <ul>
        {% endif %}
        {% endfor %}
      </ul>
    </div><!-- /contenedorDestacado -->
  {% endif %}
  </div>

    <!-- mobile version -->
  <div class="visible-xs">
    {% for featured_election in featured_elections %}
      <h3><a href="{{ featured_election.get_absolute_url }}">{{featured_election.name}}</a></h3>

      <ul>
      {% for candidate in featured_election.candidates.all %}
        <li><a href="{{ candidate.get_absolute_url}}">{{ candidate.name }}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
  <!-- end mobile version -->
