{% load thumbnail %}
{% load static %}

<div id="election-area-{{election.area.id}}" class="container" itemscope>
  {% if election %}
  <div class="text-center">
  <h2>{{election.name}}</h2>
  {% if election.area.get_containing_filterable_areas %}
    <h4>Comunas</h4>
      {% for comuna in election.area.get_containing_filterable_areas %}
        {{comuna}}
        {% if not forloop.last %}
        ,
        {% endif%}
      {% endfor %}
  {% endif %}
  </div>
  <div class="row">
    {% for candidate in election.candidates.all %}
    <div class="col-md-3">
      <div class="panel-heading">
        {% if candidate.commitments.count %}
        <img src="{% static 'img/comprometido.jpg' %}" alt="comprometido" class="comprometido">
        {% endif %}
        {% if candidate.image %}
        {% thumbnail candidate.image "300x300" crop="center" as im %}
          <a href="{{candidate.get_absolute_url}}"><img src="{{ im.url }}" alt="{{ candidate.name }}" border="0" class="img-responsive img-circle" itemprop="image" /></a>
        {% endthumbnail %}
        {% else %}
          <a href="{{candidate.get_absolute_url}}"><img src="{% static 'img/candidate-default.jpg' %}" alt="{{candidate.name}}" border="0" class="img-responsive img-circle"></a>
        {% endif %}
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="{{candidate.get_absolute_url}}" itemprop="name"><h3>{{ candidate.name }}</h3></a>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}
    </div><div class="row">
    {% endif %}
    {% endfor %}
  </div>
  {% else %}
  {% endif %}
</div>
