{% extends "base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load cache %}
{% block extrajs %}
{% include 'elections/home.js'  with detail_url="area"  %}
{% endblock extrajs %}

{% block navbar_background %}white{% endblock navbar_background %}

{% block everything %}

<!-- <div class="extra text-white"><div class="container text-center small">Revisa quiénes son los candidatos electos, a qué se comprometieron y qué opinan.</div></div> -->
<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <h1>Todo lo que necesitas saber sobre las Elecciones Presidenciales 2017</h1>
        <!-- <h2 class='visible-xs-*'>Revisa los candidatos en tu comuna</h2> -->
        {% include '_election_search_form.html' %}
      </div>
    </div>
</section>

<!-- Destino de modales -->
<div id="modales"></div>
<script type="text/javascript">
  $(function(){
    $(".modal-proposal").appendTo("#modales");
  })
</script>

{% cache 600 home_total_proposals %}
{% if total_proposals %}
{% with total_proposals|stringformat:"04d" as n_created %}
<section class="banner">
  <div class="container">
    <ul class="list-inline text-center">
       <li><h4 class="counter">
        <span>{{ n_created|slice:"0:1" }}</span>
        <span>{{ n_created|slice:"1:2" }}</span>
        <span>{{ n_created|slice:"2:3" }}</span>
        <span>{{ n_created|slice:"3:4" }}</span></h4></li>
      <li><h4 class="text-white">propuestas ciudadanas se han creado</h4></li>
      {% if not user|is_candidate %}
      {% get_proposals_enabled as proposals_enabled %}
      {% if proposals_enabled  %}
      <li><a class="btn btn-success" href="{% url 'popular_proposals:propose_wizard_full' %}">Crea la tuya</a></li>
      {% endif %}
      {% else %}
      <li><a class="btn btn-success" href="{% url 'popular_proposals:home' %}">Revísalas</a></li>
      {% endif %}

    </ul>
  </div>
</section>
{% endwith %}
{% endif %}
{% endcache %}


{% if proposals_with_likers %}
<section id="propuestas-mas-apoyo">
{% if user.is_authenticated %}
    {% include '_slide_propuestas.html' with proposals=proposals_with_likers %}
  {% else %}
    {% cache 600 propuestas-mas-apoyo %}
      {% include '_slide_propuestas.html' with proposals=proposals_with_likers %}
    {% endcache %}
{% endif %}
</section>
{% endif %}

<section id="que-hago">
  <div class="container">
    <div class="row">
      {% if not user|is_candidate %}
      <div class="col-md-8">
        <h3 class="text-white">Tengo una idea para mejorar mi comuna ¿cómo empiezo?</h3>
        <p class="text-white">Regístrate, selecciona tu comuna y sigue los pasos para crear tu propuesta. Tiempo aprox. 20 minutos.</p>
      </div>
      {% get_proposals_enabled as proposals_enabled %}
      {% if proposals_enabled  %}
      <div class="col-md-4"><h3 class="pull-right"><a class="btn btn-success arrow btn-lg" href="{% url 'popular_proposals:propose_wizard_full' %}">Crea tu propuesta</a></h3></div>
      {% endif %}
      {% else %}
      <div class="col-md-8">
        <h3 class="text-white">Quiero conocer y comprometerme con propuestas de mi comuna</h3>
        <p class="text-white">Selecciona tu comuna, revisa las propuestas y comprométete con los ciudadanos.</p>
      </div>
      <div class="col-md-4"><h3 class=""><a class="width-cien btn btn-success arrow btn-lg" href="{% url 'popular_proposals:home' %}">Revisar propuestas</a></h3></div>
      {% endif %}
    </div>
  </div>
</section>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">


{% endblock everything %}


{% block extrafooter %}
  <div class="extra-footer">
        <div class="container">
          <div class="row">
              <div class="col-md-12">

              </div>
          </div>
      </div>
  </div>
{% endblock extrafooter %}
