{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% block extrajs %}
{% include 'elections/home.js'  %}
{% endblock extrajs %}

{% block everything %}

<section>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        Vuelve pronto
      </div>
    </div>  
</div>
</section> 

<section>
  <div class="container">
    {% include 'popular_proposal/_popular_proposal_stages.html' %}
  </div>
</section>  

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">

{% if user.is_authenticated %}
<section id="login-form">
  <div class="container">
    <div class="col-md-12 text-center">
      <a href="{% url 'backend_citizen:index' %}" class="btn btn-primary active" role="button">
          {% blocktrans %}Ir a mi perfil ciudadano{% endblocktrans %}
      </a>
    </div>
  </div>
</section>

{% else %}
<!-- formulario de registro -->
<section id="login-form">
  <div class="container">  
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <form  role="form" action="{% url 'registration_register' %}" method="post" class="landing-form">
                {% csrf_token %}
                {% bootstrap_form register_new_form show_label=false show_help=false %}
                <div class="form-actions">
                  <input type="submit" class="btn btn-primary" id="" value="{% trans 'Regístrame' %}"/>
                </div>
            </form>
          </div>
        </div>
        <!-- fin del formulario de registro -->
        <!-- formulario de loggeo -->
        <div class="panel panel-default">
          <div class="panel-body">    
            <form role="form" action="{% url 'auth_login' %}" method="post" class="landing-form">
              {% csrf_token %}
              {% bootstrap_form login_form show_label=false show_help=false %}
              <div class="form-actions">
                <p><a href="{% url 'auth_password_reset' %}">{% trans '¿Olvidaste tu password?' %}</a></p>
                <input type="submit" class="btn btn-primary" id="" value="{% trans 'Entrar' %}"/>
              </div>
            </form>
          </div>
        </div>
    <!-- fin del formulario de loggeo -->
      </div>
      <div class="col-md-4">
        <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}?next={% url 'backend_citizen:index' %}">
        <span class="fa fa-facebook"></span>{% trans 'Entra con Facebook' %}
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock everything %}


{% block extrafooter %}
  <div class="extra-footer">
        <div class="container">
          <div class="row">
              <div class="col-md-12">

              </div>
          </div>
      </div>
  </div>
{% endblock extrafooter %}
