{% load i18n %}
<div class="panel panel-default">
                
    <div class="panel-heading">
        <h4><a href="{{ message.get_absolute_url }}">{{ message.subject }}</a></h4>
        <p>
            {{ message.content }}
        </p>
        <p class="text-right">
            {{ message.author_name }}
        </p>
        <div class="row">
            <div class="col-md-8">
            {% for person in message.people.all %}
                <span class="label label-default">{{ person.name }}</span>
            {% endfor %}
            </div>
            <div class="col-md-4 text-right">
                {% if not message.status.accepted %}
                    <span class="label label-warning">{% trans "Esperando moderación" %}</span>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="panel-body">

        {% for answer in message.answers.all %}
        {% include "elections/answer_in_list.html" with message=message %}
        {% empty %}
        <div class="candidate-answer">
            {% trans 'No hay respuestas aún' %}
        </div>
        {% endfor %}
    </div>
</div>
