{% extends "elections/election_base.html" %}
{% load i18n %}
{% load votainteligente_extras %}

{% block title %} - {{election}} - {% trans "Ranking"%}{% endblock title%}

{% block last_breadcrumb %}{% trans "Ranking"%}{% endblock last_breadcrumb %}

{% block tab_ranking %}class="active"{% endblock %}

{% block mainelection %}
<!-- ranking -->
<div class="row">
	{% if not good %}
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>
					{% trans "Todavía no hay preguntas suficientes para construir el ranking" %}
				</h4>
			</div>
			<div class="panel-body">
				<a href="{% url 'ask_detail_view' slug=election.slug %}">{% trans "haz tu la primera" %}</a>
			</div>
		</div>
	</div>
	{% else %}
		<div class="col-md-6">
			<div class="panel panel-primary responden">
				<div class="panel-heading">
					<h4>
						{% trans "Candidatos que más responden a los ciudadanos" %}
					</h4>
				</div>

				<div class="panel-body">
					<table class="table">
						{% for bueno in good %}
						<tr class="primary">
							<td class="ranking-icon">
								<i class="icon-smile hidden-xs"></i>
							</td>
							<td>
								<p><strong>{{bueno.name}} </strong>de {{bueno.candidate.api_instance.election}}</p>
								<p><span>{% trans "Ha respondido" %} <strong>{{bueno.actual_answers}} de {{bueno.possible_answers}}</strong> {% trans "preguntas" %} </span><!-- con {{bueno.points }}--></p>

							</td>
							<td>
								{% with candidate=bueno.candidate %}
								{% twitter_on_ranking "Felicítalo/a" "Gracias por contestar nuestras inquietudes" %}
								{% endwith %}
							</td>
						</tr>
						<tr>
							<td class="second" colspan="3">
								{% comment 'Tengo que hacer el questions per candidate' %}
								<p class="ranking-urls"><a href="{% url 'questions_per_candidate' election_slug=election.slug slug=bueno.candidate.relation.candidate.slug %}">{% trans "Revisa las preguntas que le han realizado" %}</a> <span>o</span> <a href="{% url 'ask_detail_view' slug=election.slug %}">{% trans "Sigue preguntando" %}</a></p>
								{% endcomment %}
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-danger no-responden">
				<div class="panel-heading">
					<h4>
						{% trans "Candidatos que menos responden a los ciudadanos" %}
					</h4>
				</div>
				<div class="panel-body">
					<table class="table">
						{% for malo in bad %}
						<tr class="danger">
							<td class="ranking-icon">
								<i class="icon-frown hidden-xs"></i>
							</td>
							<td>
								<p><strong>{{malo.name}} </strong>de {{malo.candidate.api_instance.election}}</p>
								<p><span>{% trans "Ha respondido" %} <strong>{{malo.actual_answers}} de {{malo.possible_answers}}</strong> {% trans "preguntas" %} </span><!-- con {{malo.points }}--></p>

							</td>
							<td>
								{% with candidate=malo.candidate %}
								{% twitter_on_ranking "Exígele" "Contesta nuestras inquietudes" %}
								{% endwith %}
							</td>
						</tr>
						<tr>
							<td class="second" colspan="3">
								{% comment 'Tengo que hacer el questions per candidate primero' %}
								<p class="ranking-urls"><a href="{% url 'questions_per_candidate' election_slug=election.slug slug=malo.candidate.relation.candidate.slug %}">{% trans "Revisa las preguntas que le han realizado" %}</a> <span>o</span> <a href="{% url 'ask_detail_view' slug=election.slug %}">{% trans "Sigue preguntando" %}</a></p>
								{% endcomment %}
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	{% endif %}

</div>
<div class="row">
	<div class="col-md-12 right">
			<a data-toggle="modal" href="#rankingModal" onClick="ga('send', 'event', 'howto-ranking-modal', 'click');">{% trans "¿Cómo se calcula el ranking?" %}</a>
	</div>
</div>

<div class="modal fade" id="rankingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{% trans "Cómo se calcula el ranking?" %}</h4>
			</div>
			<div class="modal-body">
				{% blocktrans %}
				<p>Ordenamos a los candidatos por un índice que describe cuanto está respondiendo y cuanto es el interés que genera entre los ciudadanos.</p>
				<p>Este índice se calcula como se explica acá:</p>
				<p><strong>pr = Preguntas respondidas por el candidato</strong></p>
				<p><strong>ph = Preguntas hechas al candidato</strong></p>
				<p><strong>P = Total de preguntas</strong></p>
				<p><strong>R = Total de respuestas</strong></p>
				<p><strong>indice_por_candidato = (indice_de_premio + 1)*ph*pr - ph^2</strong></p>
				<p>Donde el índice de premio se calcula como sigue</p>
				<p><strong>indice_de_premio = P/R</strong></p>
				<p>Si quieres ser parte de la discusión sobre el cálculo del índice puedes <a href="https://github.com/ciudadanointeligente/votainteligente-portal-electoral/issues/145" target="blank">seguir el issue #145 en github</a>
				</p>
				{% endblocktrans %}
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- eof ranking -->
{% endblock mainelection %}
