{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load staticfiles %}
{% load mathfilters %}

{% if winner %}
<div id="soulmate-result">

	<div class="row">
		<div class="col-md-3" id="candidate-img-profile">
			{% if winner.candidate.image %}
				{% thumbnail winner.candidate.image "x300" crop="center" as im %}
				<img src="{{im.url}}" alt="{{winner.candidate.name}}" class="img-responsive img-circle img-candidato">
				{% endthumbnail %}
			{% else %}
				<img src="{% static 'img/candidate-default.jpg' %}" alt="{{winner.candidate.name}}" class="img-responsive img-circle img-candidato">
			{% endif %}
				<svg width="75" height="78" viewBox="0 0 75 78" xmlns="http://www.w3.org/2000/svg">
				    <path d="M35.795 27.241S32.968 2.515 18.957 2.515C8.277 2.515-.448 16.061.017 23.024 1.87 50.694 40.82 77.816 40.82 77.816S75 39.426 75 23.352C75 3.226 58.489-1.052 50.077.2 39.29 1.803 35.795 27.24 35.795 27.24" fill="#EEB902" fill-rule="evenodd"/>
				</svg>
		</div>
		<div class="col-md-9">
			<p class="small">{% trans "Tu 1/2 naranja política es" %}</p>
			<h2><a href="{{ candidate.get_absolute_url}}">{{winner.candidate.name}} ({% get_personal_data candidate=winner.candidate personal_data='Partido' as partido %}{{partido.value}})<br> con un {{winner.percentage|mul:100|floatformat}}% {% trans "de afinidad" %}</a><i class="icon-heart"></i></h2>
			<ul class="list-inline">
				<li>
					{% trans "Declara tu amor publicamente:" %}
				</li>
				<li><a href="#" onclick="window.open('https://twitter.com/share?url=https://{% url_domain %}{{ candidate.get_absolute_url}}&text={% if winner.candidate.twitter %}{{winner.candidate.twitter.value|extract_twitter_username}}{% else %}{{winner.candidate.name}}{% endif %}+<3&hashtags={{ 'hashtags'|website_twitter }}', 'twitter-share-dialog', 'width=626,height=436'); ga('send', 'event', 'share-soulmate-twitter', 'click');">
					<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
          </span></a>
        </li>
				<li><a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://{% url_domain %}{{ candidate.get_absolute_url}}', 'facebook-share-dialog', 'width=626,height=436'); ga('send', 'event', 'share-soulmate-facebook', 'click');">
						<span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </span></a>
          </li>
				</ul>
				<div class="inner-banner row">
					<div class="col-md-9"><h4>Este candidato/a se ha comprometido con {{winner.candidate.commitments.count}} propuestas de un total de {{winner.candidate.election.area.proposals.count}} en tu comuna</h4></div>
					<div class="col-md-3"><h4><a onclick="ga('send', 'event', 'desde-12-naranja-a-propuesta', 'click');"  href="{{winner.candidate.election.area.get_absolute_url}}" class="btn btn-primary">Revísalas</a></h4></div>
				</div>
		</div>
	</div>

</div>
{% endif%}


<div id="other-soulmate">
		{% if others %}
		<h3 class="text-center">Compatibilidad con otros candidatos</h3>
		{% elif not winner %}
		<h3 class="text-center"><i class="fa fa-heartbeat" aria-hidden="true"></i> No hemos podido encontrar tu 1/2 naranja política</h3>
		<h4 class="text-center">En {{election.name}} ningún candidato ha respondido. Recuerda que siempre puedes <a href="{% url 'help'  %}">ayudarnos a que se unan.</a></h4>
		{% endif %}

	<div class="row">
		{% if not winner and others %}
		<div class="alert alert-info soulmate-header text-center" role="alert">
		¡Tienes un empate!
		</div>
		{% endif %}
		{% for other in others %}
		<div class="col-md-6">
			<div class="other-soulmate-box row">
				<div id="candidate-img-profile" class="col-md-3">
				{% if other.candidate.image %}
					{% thumbnail other.candidate.image "x300" crop="center" as im %}
					<img src="{{im.url}}" alt="{{other.candidate.name}}" class="img-responsive img-circle img-candidato">
					{% endthumbnail %}
				{% else %}
					<img src="{% static 'img/candidate-default.jpg' %}" alt="{{other.candidate.name}}" class="img-responsive img-circle img-candidato">
				{% endif %}
				</div>
				<div class="col-md-9">
					<h2>{{other.percentage|mul:100|floatformat}}%</h2>
					<h4><a href="{{ other.candidate.get_absolute_url}}">{{other.candidate.name}}</a></h4>
					<p class="small text-light">{% get_personal_data candidate=other.candidate personal_data='Partido' as partido %}{{partido.value}}</p>
					<ul class="list-unstyled">
						{% for other_cat in other.category_score %}
						<li>{{other_cat.percentage|floatformat}}% {{other_cat.category}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		{% if forloop.counter|divisibleby:2 %}
	</div><div class="row no-first-row">
		{% endif %}
		{% endfor %}
	</div>
</div>
<script type="text/javascript">
var API_KEY = '{{ 'client_id'|website_imgur }}';
var candidate_name = '{{winner.candidate.name}}'
{% if winner %}
var twitter_url = '{% url_domain %}{{ winner.candidate.get_absolute_url}}';
{% else %}
var twitter_url = '{% url_domain %}{% url 'election_view' slug=election.slug %}';
{% endif %}
</script>
