{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load votainteligente_extras %}

{% if taken_position.position %}
    {{taken_position.position.label}}
    {% if taken_position.description %}
        <a href="" data-toggle="tooltip" data-placement="top" title="Comentario del candidato: {{taken_position.description}}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
    {% endif %}

    {% if taken_position.sources.all %}
        {% for source in taken_position.sources.all %}

            <small>{{source.note}} (<a href="{{source.url}}" target="_blank">{% trans "Fuente" %}</a>)</small>

        {% endfor %}
    {% endif %}

{% else %}
    {% trans "Esta(e) candidata(o) aún no responde" %}

    {% include 'elections/twitter/answer_this_question.html' with taken_position=taken_position candidate=candidate %}
{% endif %}

<script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
