{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}

{% block title %}- {% trans "Ayúdanos" %}{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
{% cache 60 ayudanos object.id %}
<div class="container">
  <h2>{% trans "¡Pidámosle a las candidaturas que se comprometan con nuestras propuestas!" %}</h2>
  <p>{% trans "Utiliza Ctrl+f (Cmd+f) para buscar tu distrito o tu candidato." %}</p>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "Twiteale!" %}</th>
          <th>{% trans "Candidato" %}</th>
          <th>{% trans "Pacto" %}</th>
          <th>{% trans "Partido" %}</th>
        </tr>
      </thead>
      <tbody>
      {% with object.twitter|extract_twitter_username_without_at as twitter_org %}
      {% with url="https://votainteligente.cl"|add:object.get_absolute_url|add:"#propuestas" %}
        {% for candidate in candidates %}
      <tr class="">
        <td>
          {% if candidate.twitter %}
            {% include 'twitter_poking_button.html' with url=url via=twitter_org texto=config.AYUDANOS_ORGANIZACIONES twitter=candidate.twitter.value button_text=config.AYUDANOS_ORGANIZACIONES %}
          {% else %}
            {% include 'twitter_poking_button.html' with url=url via=twitter_org texto=config.AYUDANOS_ORGANIZACIONES twitter="@A_TU_CANDIDATO" button_text=config.AYUDANOS_ORGANIZACIONES %}
          {% endif %}
          </td>
        <td><a href="{{ candidate.get_absolute_url }}">{{ candidate }}</a></td>
        <td>{% get_personal_data candidate=candidate personal_data='Pacto' as pacto %}{{pacto.value}}</td>
        <td>{% get_personal_data candidate=candidate personal_data='Partido' as partido %}{{partido.value}}</td>
      </tr>
      	{% endfor %}
        {% endwith %}
        {% endwith %}
      </tbody>
    </table>
   </div>
  </div>
</div>
{% endcache %}
{% endblock content %}
