{% extends "organization_profiles/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}

{% block title %}{% if title %}{{title}}{% else %}{{organization}}{% endif %}{% endblock title %}

{% block everything %}
<!--  primary data -->
<div class="org-background" style="background-image:url({{background_image}});">
  <div class="container">
    <div class="row landing-org">
      {% if logo_small %}
      <div class="col-xs-6 col-sm-6 col-md-6 hidden-xs logo-org">
        <img src="{{logo_small}}" alt="{{organization}}" width="150px">
      </div>
      {% endif %}
      <div class="col-xs-6 col-sm-6 col-md-6 social-networks">
        <ul class="list-inline pull-right" style="position:relative; top:125px;">
        {% if org_url %}
          <li><a href="{{org_url}}" target="_blank"><i class="fa fa-globe fa-2x visible-xs" aria-label="Website"></i></a></li>
        {% endif %}
        {% if facebook %}
          <li><a href="{{facebook}}" target="_blank"><i class="fa fa-facebook fa-2x visible-xs" aria-label="Facebook"></i></a></li>
        {% endif %}
        {% if twitter %}
          <li><a href="{{twitter}}" target="_blank"><i class="fa fa-twitter fa-2x visible-xs" aria-label="Twitter"></i></a></li>
        {% endif %}
        {% if instagram %}
          <li><a href="{{instagram}}" target="_blank"><i class="fa fa-instagram fa-2x visible-xs" aria-label="Instagram"></i></a></li>
        {% endif %}
        {% if rss_url %}
          <li><a href="{{rss_url}}" target="_blank"><i class="fa fa-rss fa-2x visible-xs" aria-label="RSS"></i></a></li>
        {% endif %}
        {% if is_owner %}
          <li><a href="{{update_url}}" class="hidden-xs btn btn-success btn-xs">{% trans "Edita esta página" %}</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- about -->
<div class="" style="background-color:{{primary_color}}; color:{{secondary_color}}; padding-bottom:10px;">
  <div class="container org-info">
    <h2 style="color:{{secondary_color}};">{% if title %}{{title}}{% else %}{{organization}}{% endif %}</h2>
    <p>{{sub_title}}</p>
  </div>
  <div class="container org-rrss">
    <ul class="list-inline hidden-xs" style="padding-top:15px;">
    {% if org_url %}
      <li><a href="{{org_url}}" style="color:{{secondary_color}};" target="_blank"><i class="fa fa-globe"></i> {% trans "Website" %}</a></li>
    {% endif %}
    {% if facebook %}
      <li><a href="{{facebook}}" style="color:{{secondary_color}};" target="_blank"><i class="fa fa-facebook"></i> {% trans "Facebook" %}</a></li>
    {% endif %}
    {% if twitter %}
      <li><a href="{{twitter}}" style="color:{{secondary_color}};" target="_blank"><i class="fa fa-twitter"></i> {% trans "Twitter" %}</a></li>
    {% endif %}
    {% if instagram %}
      <li><a href="{{instagram}}" style="color:{{secondary_color}};" target="_blank"><i class="fa fa-instagram"></i> {% trans "Instagram" %}</a></li>
    {% endif %}
    {% if rss_url %}
      <li><a href="{{rss_url}}" style="color:{{secondary_color}};" target="_blank"><i class="fa fa-rss"></i> {% trans "RSS" %}</a></li>
    {% endif %}
    </ul>
  </div>
</div>

<a name="propuestas"></a>
<!--div id="difunde">
  <div id="btn-difunde" class="container text-center">
      <p>
{% blocktrans with ayuranos=ayuranos %}
Ayúdanos a difundir nuestras propuestas entre las candidaturas <a href="{{ayuranos}}" class="btn btn-blue" onclick="ga('send','event','ayudanos-org','click')">aquí</a>
{% endblocktrans %}
      </p>

  </div>
</div-->
<!--  extra pages -->
<div class="container" style="padding-top:10px; padding-bottom:10px;">
  <ul class="nav nav-pills list-inline" role="tablist">
    <li role="presentation" class="active"><a href="#propuestas" aria-controls="propuestas" role="tab" data-toggle="tab" class="small">{% trans "Proponemos y apoyamos" %}</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="propuestas">
        <h3 class="page-header">{% trans "Proponemos" %}</h3>
        {% if proposals %}
        <div class="row">

          {% for proposal in proposals %}
            <div class="col-md-4">
              {% display_proposal_card proposal %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        {% if is_owner %}
        <p></p>
{% blocktrans with var1 as var2 %}
Comienza a generar tus propuestas en el siguiente <a href="{{create_proposal_url}}">enlace</a>
{% endblocktrans %}

        {% endif %}
      {% endif %}
      {% if sponsorships %}
      <h3 class="page-header">Nós apoiamos</h3>
      <div class="row">
        {% for sponsorship in sponsorships %}
          <div class="col-md-4">
             {% display_proposal_card sponsorship %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </div>
</div>

{% endblock everything %}
